<div mat-dialog-title class="ms-3 mt-3">
  <h4>{{translatedLangText.PREVIEW_PDF}} ({{estimate_no}})</h4>
</div>
<div mat-dialog-content>
  <div id="pdf-form-header" class="pdf-container pdf-header">
    <hr class="mt-2 mb-1" />
    <div class="header-content">
      <div class="logo-container">
        <img src="assets/images/logo.png" class="header-logo" />
      </div>
      <div class="company-container">
        <div>
          <h5 class="header-company-name mb-0">{{customerInfo.companyName}}</h5>
        </div>
        <div class="company-info">
          <span>{{customerInfo.companyAddress}}</span>
        </div>
        <div class="company-info">
          <span><b>{{translatedLangText.PHONE}}:</b> {{customerInfo.companyPhone}}</span>
          <span><b>{{translatedLangText.FAX}}:</b> {{customerInfo.companyFax}}</span>
          <span><b>{{translatedLangText.EMAIL}}:</b> {{customerInfo.companyEmail}}</span>
          <span><b>{{translatedLangText.WEB}}:</b> {{customerInfo.companyWebsite}}</span>
          <span><b>{{translatedLangText.CRN}}:</b> {{customerInfo.companyUen}}</span>
        </div>
      </div>
    </div>
    <hr class="mt-1 mb-2" />
  </div>

  <div id="pdf-form-body" class="pdf-container pdf-body">
    <table>
      <tbody>
        <tr>
          <td class="td-col-2-25">
            <b>{{translatedLangText.TANK_NO}}</b>
          </td>
          <td class="td-col-4-5">
            {{residueItem?.storing_order_tank?.tank_no}}
          </td>
          <td class="td-col-2-25">
            <b>{{translatedLangText.EIR_NO}}</b>
          </td>
          <td class="td-col-3">
            {{residueItem?.storing_order_tank?.in_gate?.[0]?.eir_no}}
          </td>
        </tr>
        <tr>
          <td>
            <b>{{translatedLangText.CUSTOMER}}</b>
          </td>
          <td>
            {{residueItem?.storing_order_tank?.storing_order?.customer_company?.name}}
          </td>
          <td>
            <b>{{translatedLangText.EIR_DATE}}</b>
          </td>
          <td>
            {{displayDate(residueItem?.storing_order_tank?.in_gate?.[0]?.eir_dt)}}
          </td>
        </tr>
        <tr>
          <td>
            <b>{{translatedLangText.JOB_NO}}</b>
          </td>
          <td>
            {{residueItem?.job_no}}
          </td>
          <td>
            <b>{{translatedLangText.ESTIMATE_NO}}</b>
          </td>
          <td>
            {{residueItem?.estimate_no}}
          </td>
        </tr>
        <tr>
          <td>
            <b>{{translatedLangText.CARGO_NAME}}</b>
          </td>
          <td>
            {{residueItem?.storing_order_tank?.tariff_cleaning?.cargo}}
          </td>
          <td>
            <b>{{translatedLangText.ESTIMATE_DATE}}</b>
          </td>
          <td>
            {{displayDate(residueItem?.create_dt)}}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="body-title pt-2 pb-2">
      <b class="text-decoration-underline">{{pdfTitle}}</b>
    </div>
    <table id="steam-temp-table" class="steam-temp-table">
      <tbody>
        <tr>
          <td class="td-col-0-5 text-center align-middle steam-temp-header">
            <b>{{translatedLangText.NO_DOT}}</b>
          </td>
          <td class="td-col-5 text-center align-middle steam-temp-header">
            <b>{{translatedLangText.DESCRIPTION}}</b>
          </td>
          <td class="td-col-1 text-center align-middle steam-temp-header">
            <b>{{translatedLangText.QTY}}</b>
          </td>
          <td class="td-col-1 text-center align-middle steam-temp-header">
            <b>{{translatedLangText.PRICE}}</b>
          </td>
          <td class="td-col-1-5 text-center align-middle steam-temp-header">
            <b>{{translatedLangText.ESTIMATE_COST}}</b>
          </td>
          <td class="td-col-1-5 text-center align-middle steam-temp-header">
            <b>{{translatedLangText.APPROVED_COST}}</b>
          </td>
        </tr>
        @for (residuePart of residuePartList; track residuePart) {
        <tr>
          <td class="td-col-0-5 text-center align-middle">
            <b>{{residuePart.index + 1}}</b>
          </td>
          <td class="td-col-2">
            {{residuePart.description}}
          </td>
          <td class="td-col-1-5 text-center align-middle">
            {{residuePart.quantity}} {{residuePart.qty_unit_type_cv}}
          </td>
          <td class="td-col-1-5 text-end align-middle">
            {{parse2Decimal(residuePart.cost)}}
          </td>
          <td class="td-col-1-5 text-end align-middle">
            {{parse2Decimal(residuePart.quantity * residuePart.cost)}}
          </td>
          <td class="td-col-4 text-end align-middle">
            {{parse2Decimal(residuePart.approved_cost)}}
          </td>
        </tr>
        }
      </tbody>
    </table>
    <div class="total-content">
      <div class="total-content-right">
        <div class="total-cost">
          <span class="font-bold">{{translatedLangText.TOTAL_SGD}}: </span>
          <span class="font-bold total-cost-value text-end">{{parse2Decimal(totalCost)}}</span>
        </div>
      </div>
    </div>
    <div class="approved-content">
      <div class="approved-cost">
        <span class="font-bold">{{translatedLangText.APPROVED_COST}}: </span>
        <span class="font-bold approved-cost-value text-end">{{parse2Decimal(approvedCost)}}</span>
      </div>
    </div>
  </div>

  <div id="pdf-form-footer" class="pdf-container pdf-footer">
    <hr class="mt-0 mb-1" />
    <div class="disclaimer">
      <span class="font-bold text-decoration-underline">{{translatedLangText.DISCLAIMER}}: </span>
      <span>{{disclaimerNote}}</span>
    </div>
    <div class="footer-info-content">
      <span>
        {{customerInfo.eirDisclaimerVer}}
      </span>
      <span>
        {{translatedLangText.PAGE}} <span id="current-page"></span> {{translatedLangText.OF}} <span
          id="total-pages"></span>
      </span>
    </div>
  </div>
</div>
<div mat-dialog-actions class="m-2 align-right">
  <button mat-flat-button (click)="onDownloadClick()" tabindex="-1"
    [disabled]="(residueDS.actionLoading$| async) || (isFileActionLoading$| async) || (generatingPdfLoading$| async)">
    <mat-icon>
      @if (!(residueDS.actionLoading$ | async) && !(isFileActionLoading$| async) && !(generatingPdfLoading$| async)) {
      file_download
      } @else {
      <mat-spinner color="primary" [diameter]="18"></mat-spinner>
      }
    </mat-icon>
    {{translatedLangText.DOWNLOAD}}
  </button>
  <!-- <button mat-flat-button color="accent" (click)="onRepublshClick()" tabindex="-1"
    [disabled]="(residueDS.actionLoading$| async) || (isFileActionLoading$| async) || (generatingPdfLoading$| async)">
    <mat-icon>
      @if (!(residueDS.actionLoading$ | async) && !(isFileActionLoading$| async) && !(generatingPdfLoading$| async)) {
      publish
      } @else {
      <mat-spinner color="primary" [diameter]="18"></mat-spinner>
      }
    </mat-icon>
    {{translatedLangText.EXPORT_NEW}}
  </button> -->
  @if ((generatingPdfLoading$| async)) {
  <mat-progress-bar mode="determinate" [value]="generatingPdfProgress"></mat-progress-bar>
  }
</div>