<div class="addContainer">
  <div class="modalHeader_left_align">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <h3>{{GetTitle()}}</h3>
      </div>
    </div>
    <!-- <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button> -->
  </div>
  <div mat-dialog-content>
    <form class="register-form" [formGroup]="pcForm" #formDirective="ngForm">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
              <mat-form-field class="example-full-width">
                <mat-label>{{translatedLangText.PROCESS_NAME}}</mat-label>
                <input matInput formControlName="name" type="text" required>
                <!-- @if (pcForm.get('name')?.hasError('required')) {
                <mat-error>
                  {{translatedLangText.PROCESS_NAME}} {{translatedLangText.CARGO_REQUIRED}}
                </mat-error>
                } -->
                @if (pcForm.get('name')?.hasError('existed')) {
                <mat-error>
                  {{translatedLangText.PROCESS_NAME}}: {{translatedLangText.EXISTED}}
                </mat-error>
                }
              </mat-form-field>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
              <mat-form-field class="example-full-width">
                <mat-label>{{translatedLangText.DESCRIPTION}}</mat-label>
                <input matInput formControlName="description" type="text">
              </mat-form-field>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
              <mat-form-field class="example-full-width">
                <mat-label>{{ translatedLangText.CATEGORY }}</mat-label>
                <mat-select formControlName="category" required>
                  <mat-option *ngFor="let category of cleanCategoryList" [value]="category">
                    {{ category.description }}
                  </mat-option>
                </mat-select>
                <!-- @if (pcForm.get('category')?.hasError('required')) {
                  <mat-error>
                    {{translatedLangText.CATEGORY}} {{translatedLangText.CARGO_REQUIRED}}
                  </mat-error>
                  } -->
              </mat-form-field>
            </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 mb-1">
              <mat-form-field class="example-full-width">
                <mat-label>{{translatedLangText.CLEANING_FORMULA}}</mat-label>
                <input matInput formControlName="formula" [formControl]="cleanFormulaControl"
                  [matAutocomplete]="formulaCode">
                <mat-autocomplete #formulaCode="matAutocomplete" [displayWith]="displayCleaningFormulaFn">
                  @for (cf of cleanFormulaList; track cf) {
                  <mat-option [value]="cf">
                    {{cf.description}} - {{cf.duration}} mins
                  </mat-option>
                  }
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 mb-1">
              <button mat-mini-fab color="primary" (click)="$event.stopPropagation()" (click)="AddCleaningStep()"
                [matTooltip]="translatedLangText.ADD" [disabled]="!canAddFormula()">
                <mat-icon class="col-white">add</mat-icon>
              </button>
            </div>
          </div>
          <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="card">
                <div class="header">
                  <h2>{{translatedLangText.CLEANING_STEPS}} ({{getCleaningFormulaTotalDuration()}})</h2>
                </div>
                <div class="body">
                  @if (updatedMethodFormulaLinkList.length) {
                  <div cdkDropList class="steps-list" (cdkDropListDropped)="drop2($event)">
                    @for (movie of updatedMethodFormulaLinkList; let i = $index; track movie) {
                    <div class="step-box cursor-pointer p-2 mb-2 rounded" cdkDrag>
                      <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                      <span class="">{{movie.cleaning_formula?.description}} - {{movie.cleaning_formula?.duration}}
                        mins</span>
                      <button mat-icon-button (click)="$event.stopPropagation()" (click)="cancelItem($event, i)"
                        [matTooltip]="translatedLangText.DELETE" class="tbl-action-btn text-custom-danger">
                        <mat-icon>close</mat-icon>
                      </button>
                    </div>
                    }
                  </div>
                  }
                  @else {
                  <div class="text-center">
                    <h5>{{translatedLangText.NO_RESULT}}</h5>
                  </div>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div mat-dialog-actions class="mb-1 align-right">
        @if (canEdit()) {
        <button mat-flat-button color="primary" (click)="save()">
          <mat-icon>save</mat-icon>
          {{GetButtonCaption()}}</button>
        }
        <button mat-flat-button (click)="onNoClick()" tabindex="-1">{{translatedLangText.CANCEL}}</button>
      </div>
    </form>
  </div>
</div>