
  
   mat-tab-group {
     width:50vh;
     //height: 70vh;
    // transition: transform 0.2s;
   }
  
td div img:hover {
    transform: scale(1.1);
    cursor: pointer;
  }


  
  td div {
    //display: flex;
    flex-wrap: nowrap; /* Prevent wrapping */
    justify-content: center;
    align-items: center;
    height: 95%;
    //overflow: hidden;
  }
  
  td div img {
    max-width: 50vh;
    height: 10vh;
   
    transition: transform 0.2s;
    padding-right: 10px;
  }

  .mat-tab-group {
    margin-bottom: 48px;
  }
  .mat-tab-labels{ 
    flex-wrap: wrap;
   }

   .selected {
    border: 3px solid #007bff; /* Blue border for the selected div */
    padding: 5px;
    background-color: #e9f5ff; /* Light blue background for selected div */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition for selection */
  }