<div class="addContainer">
  <div class="modalHeader_left_align">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <h4>{{this.data.langText.CARGO_CLASS_SELECT | translate}}</h4>
      </div>
    </div>
    <!-- <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button> -->
    <button mat-icon-button type="button" class="modal-close-button" color="primary" (click)="SelectNA('NA')">
      <i class="material-symbols-outlined m-t-5">no_meeting_room</i>
    </button>
  </div>

  <div mat-dialog-content>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <mat-tab-group [(selectedIndex)]="this.selectedTabIndex">
                  <mat-tab *ngFor="let tab of tabsData; let tabIndex = index" [label]="tab.label">
                    <div #tabHeader class="tab-header">
                      <table>
                        <tr>
                          <td *ngFor="let image of tab.images">
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 mb-1"
                              (click)="selectClassNo(image.classNo,tabIndex)">
                              <img [src]="image.src" [alt]="translatedLangText[image.alt]"
                                [class.selected]="image.isSelected" />
                            </div>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>