<div class="addContainer">
  <div class="modalHeader_left_align">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <h4>{{GetTitle()}}</h4>
      </div>
    </div>
  </div>
  <div mat-dialog-content class="auto-height">
    <form class="register-form" [formGroup]="pcForm" #formDirective="ngForm">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
              <mat-form-field class="example-full-width">
                <mat-label>{{translatedLangText.PROFILE_NAME }}</mat-label>
                <input matInput formControlName="name" type="text" required
                  (input)="onAlphaNumericWithSpace($event, 'name')">
                <!-- @if (pcForm.get('name')?.hasError('required')) {
                      <mat-error>
                        {{translatedLangText.PROFILE_NAME }} {{translatedLangText.CARGO_REQUIRED}}
                      </mat-error>
                      }
                      @if (pcForm.get('name')?.hasError('existed')) {
                        <mat-error>
                          {{translatedLangText.PROFILE_NAME }}: {{translatedLangText.EXISTED }}
                        </mat-error>
                        } -->
              </mat-form-field>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
              <mat-form-field class="example-full-width">
                <mat-label>{{translatedLangText.DESCRIPTION }}</mat-label>
                <input matInput formControlName="description" type="text" required>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
              <mat-form-field class="example-full-width">
                <mat-label>{{translatedLangText.PREINSPECTION_COST}}</mat-label>
                <input matInput formControlName="preinspection_cost" appNumericText type="text" required min="0"
                  #preinspection_cost (focus)="preinspection_cost.select()">
                <!-- @if (pcForm.get('preinspection_cost')?.hasError('required')) {
                      <mat-error>
                        {{translatedLangText.PREINSPECTION_COST }} {{translatedLangText.CARGO_REQUIRED}}
                      </mat-error>
                      } -->
              </mat-form-field>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
              <mat-form-field class="example-full-width">
                <mat-label>{{translatedLangText.LOLO_COST}}</mat-label>
                <input matInput formControlName="lolo_cost" appNumericText type="text" required min="0" #lolo_cost
                  (focus)="lolo_cost.select()">
                <!-- @if (pcForm.get('lolo_cost')?.hasError('required')) {
                      <mat-error>
                        {{translatedLangText.LOLO_COST }} {{translatedLangText.CARGO_REQUIRED }}
                      </mat-error>
                      } -->
              </mat-form-field>
            </div>

          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
              <mat-form-field class="example-full-width">
                <mat-label>{{translatedLangText.STORAGE_COST }}</mat-label>
                <input matInput formControlName="storage_cost" appNumericText type="text" required min="0" #storage_cost
                  (focus)="storage_cost.select()">
                <!-- @if (pcForm.get('storage_cost')?.hasError('required')) {
                      <mat-error>
                        {{translatedLangText.STORAGE_COST }} {{translatedLangText.CARGO_REQUIRED }}
                      </mat-error>
                      } -->
              </mat-form-field>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
              <mat-form-field class="example-full-width">
                <mat-label>{{translatedLangText.FREE_STORAGE }}</mat-label>
                <input matInput formControlName="free_storage" appNumericText type="text" min="0" #free_storage [allowDecimal]="false"
                  (focus)="free_storage.select()">
                <!-- @if (pcForm.get('free_storage')?.hasError('required')) {
                      <mat-error>
                        {{translatedLangText.FREE_STORAGE }} {{translatedLangText.CARGO_REQUIRED}}
                      </mat-error>
                      } -->
              </mat-form-field>
            </div>

          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
              <mat-form-field class="example-full-width">
                <mat-label>{{translatedLangText.GATE_IN_COST }}</mat-label>
                <input matInput formControlName="gate_in_cost" appNumericText type="text" required min="0" #gate_in_cost
                  (focus)="gate_in_cost.select()">
                <!-- @if (pcForm.get('gate_in_cost')?.hasError('required')) {
                      <mat-error>
                        {{translatedLangText.GATE_IN_COST }} {{translatedLangText.CARGO_REQUIRED }}
                      </mat-error>
                      } -->
              </mat-form-field>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
              <mat-form-field class="example-full-width">
                <mat-label>{{translatedLangText.GATE_OUT_COST }}</mat-label>
                <input matInput formControlName="gate_out_cost" appNumericText type="text" required min="0"
                  #gate_out_cost (focus)="gate_out_cost.select()">
                <!-- @if (pcForm.get('gate_out_cost')?.hasError('required')) {
                      <mat-error>
                        {{translatedLangText.GATE_OUT_COST }} {{translatedLangText.CARGO_REQUIRED}}
                      </mat-error>
                      } -->
              </mat-form-field>
            </div>

          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>{{langText.UNIT_TYPE | translate}}</mat-label>
                <mat-select formControlName="unit_types" multiple>
                  <mat-option *ngFor="let t of tnkItems" [value]="t">
                    {{ t.unit_type }}
                  </mat-option>
                </mat-select>
                @if (pcForm.get('unit_types')?.hasError('assigned')) {
                <mat-error>
                  {{translatedLangText.UNIT_TYPE }} {{translatedLangText.ASSIGNED }}
                </mat-error>
                }
              </mat-form-field>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
              <mat-form-field class="example-full-width">
                <mat-label>{{translatedLangText.LAST_UPDATED_DT | translate}}</mat-label>
                <input matInput formControlName="last_updated" type="text" [readonly]="true"
                  [value]="action === 'view' ? displayLastUpdated(this.selectedItem) : displayLastUpdated(pcForm.get('last_updated')?.value)">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div mat-dialog-actions class="mb-1 align-right">
        @if (canEdit()) {
        <button mat-flat-button color="primary" class="me-1" (click)="update()" [disabled]="!isAllowSave()">
          <mat-icon>
            save
          </mat-icon>
          {{translatedLangText.UPDATE}}
        </button>
        }
        <button mat-stroked-button (click)="onNoClick()" tabindex="-1">{{ translatedLangText.CLOSE}}</button>
      </div>
    </form>
  </div>
</div>