<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card p-0">
      <mat-accordion>
        <mat-expansion-panel [disabled]="true" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
            </mat-panel-title>
            <mat-panel-description>
              <!-- <div class="m-l-" [matTooltip]="translatedLangText.SEARCH">
                <button mat-mini-fab color="primary" (click)="search()" 
                  (click)="$event.stopPropagation()">
                  <mat-icon>search</mat-icon>
                </button>
              </div>
              <div class="m-l-10" [matTooltip]="translatedLangText.CLEAR_ALL">
                <button mat-mini-fab color="accent" (click)="resetDialog($event)"
                  (click)="$event.stopPropagation()">
                  <mat-icon>clear_all</mat-icon>
                </button>
              </div> -->
              <div class="m-l-" [matTooltip]="translatedLangText.ADD">
                <button mat-mini-fab color="primary" (click)="addCall()" (click)="$event.stopPropagation()">
                  <mat-icon class="col-white">add</mat-icon>
                </button>
              </div>
              <div class="m-l-10" [matTooltip]="translatedLangText.EDIT" hidden>
                <button mat-mini-fab color="primary" (click)="adjustCost()" (click)="$event.stopPropagation()">
                  <mat-icon class="col-white">edit</mat-icon>
                </button>
              </div>
              <div class="export-button m-l-10" [matTooltip]="translatedLangText.EXPORT">
                <img src="assets/images/icons/xlsx.png" alt="" (click)="exportExcel()"
                  (click)="$event.stopPropagation()" />
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form class="ms-0" [formGroup]="pcForm!" #formDirective="ngForm">
              <div class="row">
                <!-- <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.DESCRIPTION}}</mat-label>
                    <input matInput formControlName="buffer_type" type="string">
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.PACKAGE_MIN_COST}}</mat-label>
                    <input matInput formControlName="min_cost" type="number">
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.PACKAGE_MAX_COST }}</mat-label>
                    <input matInput formControlName="max_cost" type="number">
                  </mat-form-field>
                </div> -->
                <!-- <div
                  class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-0 d-flex align-items-center ms-auto justify-content-end">
                  <button mat-mini-fab color="primary" (click)="search()">
                    <mat-icon>search</mat-icon>
                  </button>
                  <button mat-flat-button class="m-l-10" (click)="resetDialog($event)">
                    {{translatedLangText.CLEAR_ALL}}
                  </button>
                </div> -->
              </div>
            </form>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="body overflow-auto">
        <div class="responsive_table">
          <table mat-table [dataSource]="tariffBufferItems" matSort
            class="mat-cell advance-table striped-rows hover-highlight dark-header">
            <ng-container matColumnDef="fName">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{this.translatedLangText.DESCRIPTION
                }}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span class="mobile-label">{{this.translatedLangText.DESCRIPTION
                  }}:</span>{{row.tariff_buffer?.buffer_type}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="lName">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{this.translatedLangText.COST }}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span class="mobile-label">{{this.translatedLangText.COST
                  }}:</span>{{row.tariff_buffer?.cost}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef
                mat-sort-header>{{this.translatedLangText.LAST_UPDATED}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span class="mobile-label">{{this.translatedLangText.LAST_UPDATED}}:</span>
                {{this.displayLastUpdated(row.tariff_buffer)}}</mat-cell>
            </ng-container>
            <!-- actions -->
            <ng-container matColumnDef="actions">
              <mat-header-cell
                [ngClass]="'pr-0 tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let row; let i=index;"
                [ngClass]="'pr-0 justify-content-end tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                @if (!row.tank_count) {
                <button mat-icon-button (click)="cancelItem($event, row.tariff_buffer)"
                  [matTooltip]="translatedLangText.DELETE" class="tbl-action-btn text-custom-danger">
                  <mat-icon>delete_forever</mat-icon>
                </button>
                }
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editCall(row.tariff_buffer)"
              [style.cursor]="'pointer'" matRipple>
            </mat-row>
          </table>
        </div>
        <!-- Loading spinner -->
        @if (!(tariffBufferDS.loading$ | async) && !tariffBufferItems.length) {
        <mat-divider></mat-divider>
        <div class="no-results m-l-20 pt-3" [style.display]="tariffBufferItems.length === 0 ? '' : 'none'">
          <h5 class="m-b-15">{{translatedLangText.NO_RESULT }}</h5>
        </div>
        }
        <!-- Loading spinner -->
        @if (tariffBufferDS.loading$ | async) {
        <div class="tbl-spinner">
          <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
          </mat-progress-spinner>
        </div>
        }
        <mat-paginator #paginator [length]="tariffBufferDS.totalCount" [pageIndex]="0" [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageEvent($event)">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>