/* Material Icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v143/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
/* Calibri */
@font-face {
    font-family: "Calibri Light";
    src: url("https://db.onlinewebfonts.com/t/8922aedb2c18008da7daf4f93fd60bdc.eot");
    src: url("https://db.onlinewebfonts.com/t/8922aedb2c18008da7daf4f93fd60bdc.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/8922aedb2c18008da7daf4f93fd60bdc.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/8922aedb2c18008da7daf4f93fd60bdc.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/8922aedb2c18008da7daf4f93fd60bdc.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/8922aedb2c18008da7daf4f93fd60bdc.svg#Calibri Light")format("svg");
}

// @font-face {
//   font-family: 'Calibri';
//   font-style: normal;
//   font-weight: 400;
//   src: url('/fonts/calibri-regular.woff2') format('woff2');
// }

// @font-face {
//   font-family: 'Calibri';
//   font-style: normal;
//   font-weight: 500;
//   src: url('/fonts/calibri-medium.woff2') format('woff2');
// }