<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div class="left-img">
        <img src="assets/images/logo2.png" alt="bg-01" />
        <mat-divider class="divider"></mat-divider>
        <h6 class="caption">{{translatedLangText.AUTH_CAPTION}} {{caption}}</h6>
      </div>
    </div>
    <div class="col-sm-6 auth-form-section">
      <div class="form-section">
        <div class="auth-wrapper">
          <h2 class="welcome-msg align-center">{{translatedLangText.FORGOT_PASSWORD}}</h2>
          <p class="forgot-psw-caption-text auth-signup-text text-muted">{{translatedLangText.FORGOT_PASSWORD_CAPTION}}</p>
          <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <!-- <span class="error-subheader2 p-t-20 p-b-15">
                  {{translatedLangText.ENTER_EMAIL}}
                </span> -->
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>{{translatedLangText.EMAIL}}</mat-label>
                  <input matInput formControlName="email" required>
                  <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>mail</mat-icon>
                  <!-- @if (authForm.get('email')?.hasError('required')) {
                  <mat-error>
                    {{translatedLangText.INVALID_EMAIL}}
                  </mat-error>
                  } -->
                  @if (authForm.get('email')?.hasError('notFound')) {
                  <mat-error>
                    {{translatedLangText.EMAIL_NOT_FOUND}}
                  </mat-error>
                  }
                  @if (authForm.get('email')?.hasError('commonError')) {
                  <mat-error>
                    {{translatedLangText.SOMETHING_WENT_WRONG_TRY_AGAIN_LATER}}
                  </mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
            <div class="container-auth-form-btn">
              <button mat-raised-button color="primary" class="auth-form-btn" [disabled]="!authForm.valid || loading"
                [class.auth-spinner]="loading" type="submit">
                {{translatedLangText.SUBMIT}}
              </button>
            </div>
            <div class="w-full p-t-25 text-center">
              <div>
                <a routerLink="/authentication/signin-staff" class="txt1">
                  {{translatedLangText.LOGIN}}?
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>