<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="pageTitle" [items]="breadcrumsMiddleList" [active_item]="pageTitle"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body overflow-auto">
            <mat-tab-group dynamicHeight >
              <mat-tab  [label]="translatedLangText.INVOICES" >
                <app-invoices></app-invoices>
              </mat-tab>
              <!-- <mat-tab [label]="translatedLangText.JOB_ORDER_TAB_TITLE">
                <app-job-order-task></app-job-order-task>
              </mat-tab> -->
              <!-- <mat-tab [label]="translatedLangText.CUSTOMER_INVOICE">
                 <app-customer-invoice></app-customer-invoice>
              </mat-tab> -->
              <!-- <mat-tab [label]="translatedLangText.RESIDUE_BILLING">
              
              </mat-tab> -->
              <!-- <mat-tab>
                <ng-template mat-tab-label>
                  <span [ngClass]="'m-r-10'">{{ translatedLangText.QC }}</span>
                </ng-template>
                <app-job-order-qc></app-job-order-qc>
              </mat-tab> -->
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>