@media (max-width: 1024px) {
    .left {
        height: auto;
    }

    .header-buttons-left {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        li {
            margin-bottom: 10px; // Space between items when they wrap

            &.tbl-title,
            &.tbl-search-box {
                flex: 1 1 100%; // Take full width on smaller screens

                // Medium breakpoint
                @media (min-width: 769px) {
                    flex: 0 1 auto; // Auto width on larger screens but smaller than 'lg'
                }

                // Large breakpoint
                @media (min-width: 992px) {
                    flex: 0 0 33.333%; // Equal division on large screens
                }
            }

            // Specific styles for search boxes to appear side by side
            &.tbl-search-box {
                @media (min-width: 769px) {
                    flex: 1 0 50%; // Each search box takes up half of the available space

                    &:first-of-type {
                        padding-right: 5px; // Space between the two search fields
                    }

                    &:last-of-type {
                        padding-left: 5px;
                    }
                }

                @media (min-width: 992px) {
                    flex: 0 0 33.333%; // Each box takes up a third on large screens
                }
            }

            &.tbl-header-btn {
                @media (min-width: 769px) {
                    flex: 0 0 auto;
                }

                @media (min-width: 992px) {
                    flex: 0 0 33.333%; // Align with other large elements
                }
            }
        }

        h2 {
            margin: 0; // Remove default margin from headings
        }
    }
}