<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="pageTitle" [items]="breadcrumsMiddleList" [active_item]="pageTitle"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body overflow-auto">
            <mat-tab-group class="tlx-mdc-tab-group" dynamicHeight (selectedTabChange)="onTabSelected($event)">
              <mat-tab [label]="translatedLangText.JOB_ALLOCATION">
                <div class="card p-0 tab-card-container">
                  <form [formGroup]="filterCleanForm!" (ngSubmit)="onFilterCleaning()" #formDirective="ngForm">
                    <mat-accordion>
                      <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                          </mat-panel-title>
                          <mat-panel-description>
                            <div class="m-l-" [matTooltip]="translatedLangText.SEARCH">
                              <button mat-mini-fab color="primary" (click)="onFilterCleaning()"
                                (click)="$event.stopPropagation()">
                                <mat-icon>search</mat-icon>
                              </button>
                            </div>
                            <div class="m-l-10" [matTooltip]="translatedLangText.CLEAR_ALL">
                              <button mat-mini-fab color="accent" (click)="resetDialog($event)"
                                (click)="$event.stopPropagation()">
                                <mat-icon>clear_all</mat-icon>
                              </button>
                            </div>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                            <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>
                                {{translatedLangText.TANK_NO}}
                              </mat-label>
                              <input matInput formControlName="filterClean">
                            </mat-form-field>
                          </div>
                          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                            <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>{{translatedLangText.CUSTOMER}}</mat-label>
                              <input matInput formControlName="customer" [matAutocomplete]="customerCode">
                              <mat-autocomplete #customerCode="matAutocomplete"
                                [displayWith]="displayCustomerCompanyFn">
                                @for (cc of customer_companyList; track cc) {
                                <mat-option [value]="cc">
                                  <div class="option-text"> {{ccDS.displayCodeDashName(cc)}}</div>
                                </mat-option>
                                }
                              </mat-autocomplete>
                            </mat-form-field>
                          </div>
                          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                            <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>{{translatedLangText.EIR_DATE}}</mat-label>
                              <mat-date-range-input [rangePicker]="eir_picker" [max]="todayDt">
                                <input matStartDate placeholder="Start date" formControlName="eir_dt_start">
                                <input matEndDate placeholder="End date" formControlName="eir_dt_end">
                              </mat-date-range-input>
                              <mat-datepicker-toggle matSuffix [for]="eir_picker"></mat-datepicker-toggle>
                              <mat-date-range-picker #eir_picker></mat-date-range-picker>
                            </mat-form-field>
                          </div>
                          <!-- <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                            <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>{{translatedLangText.PROCESS}}</mat-label>
                              <mat-select multiple formControlName="cleanMethod">
                                @for (codeValue of cleanMethodList; track codeValue) {
                                <mat-option [value]="codeValue">
                                  {{codeValue.name}}
                                </mat-option>
                                }
                              </mat-select>
                            </mat-form-field>
                          </div> -->
                          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                            <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>{{translatedLangText.PROCESS}}</mat-label>
                              <mat-chip-grid #chipGrid>
                                @if(selectedProcesses.length>0){
                                <mat-chip-row color="primary" (click)="removeAllSelectedProcesses()">
                                  <button matChipRemove hidden>
                                    <mat-icon>cancel</mat-icon>
                                  </button>
                                  {{getSelectedProcessesDisplay()}}
                                </mat-chip-row>
                                }
                                <input #procInput formControlName="cleanMethod" [matAutocomplete]="process"
                                  [matChipInputFor]="chipGrid" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                  (matChipInputTokenEnd)="add($event)">
                                <mat-autocomplete #process="matAutocomplete" (optionSelected)="selected($event)">
                                  @for (cc of cleanMethodList; track cc) {
                                  <mat-option [value]="cc" [class.mdc-list-item--selected]="itemSelected(cc)">
                                    <div class="horizontal-container">
                                      <mat-checkbox color="primary" [checked]="itemSelected(cc) || false"
                                        (click)="onCheckboxClicked(cc);$event.stopPropagation()"></mat-checkbox>
                                      <div class="option-text">{{cc.name}}</div>
                                    </div>
                                  </mat-option>
                                  }
                                </mat-autocomplete>
                              </mat-chip-grid>
                            </mat-form-field>
                          </div>
                          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                            <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>{{translatedLangText.STATUS}}</mat-label>
                              <mat-select multiple formControlName="status_cv">
                                @for (codeValue of processStatusCvList; track codeValue) {
                                @if (availableProcessStatus.includes(codeValue.code_val ?? '')) {
                                <mat-option [value]="codeValue.code_val">
                                  {{codeValue.description}}
                                </mat-option>
                                }
                                }
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </form>
                  <div class="body">
                    <div class="responsive_table">
                      <table mat-table [dataSource]="clnEstList" matSort
                        class="mat-cell advance-tab-table striped-rows hover-highlight dark-header curve-table">
                        <ng-container matColumnDef="id">
                          <mat-header-cell *matHeaderCellDef></mat-header-cell>
                          <mat-cell *matCellDef="let row">{{row.guid}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="tank_no">
                          <mat-header-cell mat-header-cell *matHeaderCellDef
                            [ngClass]="'tbl-col-width-per-1_25-xl tbl-col-width-per-1_25-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                            {{translatedLangText.TANK_NO}}
                          </mat-header-cell>
                          <mat-cell mat-cell *matCellDef="let row"
                            [ngClass]="'tbl-col-width-per-1_25-xl tbl-col-width-per-1_25-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                            <span
                              class="mobile-label">{{translatedLangText.TANK_NO}}:</span>{{row.storing_order_tank?.tank_no
                            ?
                            row.storing_order_tank.tank_no : '-'}}
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="customer">
                          <mat-header-cell mat-header-cell *matHeaderCellDef [ngClass]="''">
                            {{translatedLangText.CUSTOMER}}
                          </mat-header-cell>
                          <mat-cell mat-cell *matCellDef="let row" [ngClass]="''" class="">
                            <span class="mobile-label">{{translatedLangText.CUSTOMER}}:</span>
                            <span class="mobile-label-value truncate-2-line">
                              {{row.storing_order_tank?.storing_order?.customer_company?row.storing_order_tank?.storing_order?.customer_company.name:'-'}}
                            </span>
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="eir_no">
                          <mat-header-cell mat-header-cell *matHeaderCellDef
                            [ngClass]="'tbl-col-width-per-1_25-xl tbl-col-width-per-1_25-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                            {{translatedLangText.EIR_NO}}
                          </mat-header-cell>
                          <mat-cell mat-cell *matCellDef="let row"
                            [ngClass]="'tbl-col-width-per-1_25-xl tbl-col-width-per-1_25-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                            <span
                              class="mobile-label">{{translatedLangText.EIR_NO}}:</span>{{row.storing_order_tank?.in_gate[0].eir_no?row.storing_order_tank?.in_gate[0].eir_no:'-'}}
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="eir_dt">
                          <mat-header-cell mat-header-cell *matHeaderCellDef
                            [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-1-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                            {{translatedLangText.EIR_DATE}}
                          </mat-header-cell>
                          <mat-cell mat-cell *matCellDef="let row"
                            [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-1-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                            <span
                              class="mobile-label">{{translatedLangText.EIR_DATE}}:</span>{{displayDate(row.storing_order_tank?.in_gate[0].eir_dt)}}
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="last_cargo">
                          <mat-header-cell *matHeaderCellDef
                            [ngClass]="'tbl-col-width-per-2_5-xl tbl-col-width-per-3-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                            {{translatedLangText.LAST_CARGO}}
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"
                            [ngClass]="'tbl-col-width-per-2_5-xl tbl-col-width-per-3-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                            <span class="mobile-label">{{translatedLangText.LAST_CARGO}}:</span>
                            <span class="mobile-label-value truncate-2-line">
                              {{row.storing_order_tank?.tariff_cleaning?.cargo?row.storing_order_tank?.tariff_cleaning?.cargo:'-'}}
                            </span>
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="method">
                          <mat-header-cell mat-header-cell *matHeaderCellDef
                            [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-1-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                            {{translatedLangText.PROCESS}}
                          </mat-header-cell>
                          <mat-cell mat-cell *matCellDef="let row"
                            [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-1-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                            <span class="mobile-label">{{translatedLangText.PROCESS}}:</span>
                            {{row.storing_order_tank?.tariff_cleaning?.cleaning_method?.name}}

                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="status_cv">
                          <mat-header-cell mat-header-cell *matHeaderCellDef
                            [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-1-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                            {{translatedLangText.STATUS}}
                          </mat-header-cell>
                          <mat-cell mat-cell *matCellDef="let row"
                            [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-1-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                            <span
                              class="mobile-label">{{translatedLangText.STATUS}}:</span>{{displayTankStatus(row.status_cv)}}
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                          <mat-header-cell mat-header-cell *matHeaderCellDef
                            [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-0_75-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm align-right'">
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row; let i=index;"
                            [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-_75-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm justify-content-end'">
                            @if (canShowAction(row)) {
                              <!-- @if (canStartJob(row)) {
                              <button mat-icon-button (click)="toggleJobState($event, isStarted(row), row.job_order)"
                                [disabled]="anyResidueIncomplete(row)">
                                <mat-icon [ngClass]="{'custom-timer-icon': true}">timer</mat-icon>
                              </button>
                              } -->
                              
                            <!-- @if (canCompleteJob(row, isStarted(row))) {
                            <button mat-icon-button (click)="stopEventTrigger($event)" (click)="completeJob($event, row)">
                              <mat-icon>check_box</mat-icon>
                            </button>
                            } -->
                            }
                          </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumnsRepair"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsRepair;"
                          (click)="this.popupDialogForm(row,'allocation')" [style.cursor]="'pointer'" matRipple>
                        </mat-row>
                      </table>
                    </div>
                    <!-- No result -->
                    @if (!(cleanDS.loading$ | async) && !clnEstList.length) {
                    <mat-divider></mat-divider>
                    <div class="no-results m-l-20 pt-3" [style.display]="clnEstList.length === 0 ? '' : 'none'">
                      <h5 class="m-b-15">{{translatedLangText.NO_RESULT}}</h5>
                    </div>
                    }
                    <!-- Loading spinner -->
                    @if (cleanDS.loading$ | async) {
                    <div class="tbl-spinner">
                      <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                      </mat-progress-spinner>
                    </div>
                    }
                    <mat-paginator #paginator [length]="cleanDS.totalCount" [pageIndex]="pageIndexJobOrder"
                      [pageSize]="pageSizeClean" [pageSizeOptions]="[25, 50, 75, 100]"
                      (page)="onPageEventClean($event)">
                    </mat-paginator>

                    <!-- <div class="legend-container d-flex flex-wrap align-items-center border p-3 rounded">
                      <div class="legend-item d-flex align-items-center me-4 mb-2">
                        <mat-icon class="disabled-icon me-2">timer</mat-icon>
                        <span>{{translatedLangText.NOT_STARTED}}</span>
                      </div>
                      <div class="legend-item d-flex align-items-center me-4 mb-2">
                        <mat-icon class="me-2">timer</mat-icon>
                        <span>{{translatedLangText.TO_COMPLETE}}</span>
                      </div>
                    </div> -->
                  </div>
                </div>
              </mat-tab>
              <mat-tab [label]="translatedLangText.BAY_OVERVIEW">
                <app-bay-overview></app-bay-overview>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>