<!-- <div class="addContainer"> -->
  <div [ngClass]="getColumnClasses('addContainer',isMobile) ">
  <div class="modalHeader_left_align">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <h4>{{GetTitle()}}</h4>
      </div>
    </div>
    <!-- <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button> -->
  </div>
  <div mat-dialog-content class="auto-height">
    <form class="register-form" [formGroup]="pcForm" #formDirective="ngForm">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
              <mat-form-field class="example-full-width">
                <mat-label>{{translatedLangText.PROFILE_NAME | translate}}</mat-label>
                <input matInput formControlName="name" type="text" required
                  (input)="onAlphaNumericWithSpace($event, 'name')">
                <!-- @if (pcForm.get('name')?.hasError('required')) {
                      <mat-error>
                        {{langText.PROFILE_NAME | translate}} {{langText.CARGO_REQUIRED | translate}}
                      </mat-error>
                      } -->
                @if (pcForm.get('name')?.hasError('existed')) {
                <mat-error>
                  {{langText.PROFILE_NAME | translate}}: {{langText.EXISTED | translate}}
                </mat-error>
                }
              </mat-form-field>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
              <mat-form-field class="example-full-width">
                <mat-label>{{translatedLangText.DESCRIPTION | translate}}</mat-label>
                <input matInput formControlName="description" type="text" required>
                <!-- @if (pcForm.get('description')?.hasError('required')) {
                      <mat-error>
                        {{langText.DESCRIPTION | translate}} {{langText.CARGO_REQUIRED | translate}}
                      </mat-error>
                      } -->
              </mat-form-field>
            </div>

          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
              <mat-form-field class="example-full-width">
                <mat-label>{{translatedLangText.PREINSPECTION_COST | translate}}</mat-label>
                <input matInput formControlName="preinspection_cost" appNumericText type="text" min="0"
                  #preinspection_cost (focus)="preinspection_cost.select()" required>
                <!-- @if (pcForm.get('preinspection_cost')?.hasError('required')) {
                      <mat-error>
                        {{langText.PREINSPECTION_COST | translate}} {{langText.CARGO_REQUIRED | translate}}
                      </mat-error>
                      } -->
              </mat-form-field>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
              <mat-form-field class="example-full-width">
                <mat-label>{{translatedLangText.LOLO_COST | translate}}</mat-label>
                <input matInput formControlName="lolo_cost" appNumericText type="text" min="0" #lolo_cost
                  (focus)="lolo_cost.select()" required>
                <!-- @if (pcForm.get('lolo_cost')?.hasError('required')) {
                      <mat-error>
                        {{langText.LOLO_COST | translate}} {{langText.CARGO_REQUIRED | translate}}
                      </mat-error>
                      } -->
              </mat-form-field>
            </div>

          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
              <mat-form-field class="example-full-width">
                <mat-label>{{translatedLangText.STORAGE_COST | translate}}</mat-label>
                <input matInput formControlName="storage_cost" appNumericText type="text" min="0" #storage_cost
                  (focus)="storage_cost.select()" required>
                <!-- @if (pcForm.get('storage_cost')?.hasError('required')) {
                      <mat-error>
                        {{langText.STORAGE_COST | translate}} {{langText.CARGO_REQUIRED | translate}}
                      </mat-error>
                      } -->
              </mat-form-field>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
              <mat-form-field class="example-full-width">
                <mat-label>{{translatedLangText.FREE_STORAGE | translate}}</mat-label>
                <input matInput formControlName="free_storage" appNumericText type="text" min="0" #free_storage
                  (focus)="free_storage.select()">
                <!-- @if (pcForm.get('free_storage')?.hasError('required')) {
                      <mat-error>
                        {{langText.FREE_STORAGE | translate}} {{langText.CARGO_REQUIRED | translate}}
                      </mat-error>
                      } -->
              </mat-form-field>
            </div>

          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
              <mat-form-field class="example-full-width">
                <mat-label>{{translatedLangText.GATE_IN_COST }}</mat-label>
                <input matInput formControlName="gate_in_cost" appNumericText type="text" min="0" #gate_in_cost
                  (focus)="gate_in_cost.select()" required>
                <!-- @if (pcForm.get('gate_in_cost')?.hasError('required')) {
                      <mat-error>
                        {{translatedLangText.GATE_IN_COST }} {{translatedLangText.CARGO_REQUIRED }}
                      </mat-error>
                      } -->
              </mat-form-field>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
              <mat-form-field class="example-full-width">
                <mat-label>{{translatedLangText.GATE_OUT_COST }}</mat-label>
                <input matInput formControlName="gate_out_cost" appNumericText type="text" min="0" #gate_out_cost
                  (focus)="gate_out_cost.select()" required>
                <!-- @if (pcForm.get('gate_out_cost')?.hasError('required')) {
                      <mat-error>
                        {{translatedLangText.GATE_OUT_COST }} {{translatedLangText.CARGO_REQUIRED}}
                      </mat-error>
                      } -->
              </mat-form-field>
            </div>

          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>{{langText.UNIT_TYPE | translate}}</mat-label>
                <mat-select formControlName="unit_types" multiple required>
                  <mat-option *ngFor="let t of tnkItems" [value]="t">
                    {{ t.unit_type }}
                  </mat-option>
                </mat-select>
                @if (pcForm.get('unit_types')?.hasError('assigned')) {
                <mat-error>
                  {{langText.UNIT_TYPE | translate}} {{langText.ASSIGNED | translate}}
                </mat-error>
                }
              </mat-form-field>
            </div>
          </div>
        </div>

      </div>
      <div mat-dialog-actions class="mb-1 align-right">
        @if (canEdit()) {
        <button mat-flat-button color="primary" class="me-1" (click)="save()">
          <mat-icon>
            @if (this.trfDepotDS.loading$ | async) {
            <mat-spinner color="primary" [diameter]="20" mode="indeterminate"></mat-spinner>
            }
            @else {
            save
            }
          </mat-icon>
          {{translatedLangText.SAVE_AND_SUBMIT}}
        </button>
        }
        <button class="save-button-width" mat-stroked-button (click)="onNoClick()" tabindex="-1">{{ translatedLangText.CLOSE}}</button>
      </div>
    </form>
  </div>
</div>