::ng-deep {
    .multiline-tooltip {
      white-space: pre-line;
      
  
      .mdc-tooltip__surface {
        max-width: unset;
      }
    }
  }
  .selected-row {
    background-color: #FF00FF; /* Change to your desired color */
  }

  .ignore-click {
    pointer-events: none;
  }

  /* For Chrome, Edge, and Safari */
// input[type="number"]::-webkit-inner-spin-button, 
// input[type="number"]::-webkit-outer-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

// /* For Firefox */
// input[type="number"] {
//   -moz-appearance: textfield;
// }