<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="pageTitle" [items]="breadcrumsMiddleList" [active_item]="pageTitle"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="materialTableHeader">
            <div class="left">
              <ul class="header-buttons-left ms-0">
                <li class="tbl-title">
                  <h2>{{translatedLangText.RO_NO}}/{{translatedLangText.TANK_NO}}/{{translatedLangText.JOB_NO}}
                  </h2>
                </li>
                <li class="tbl-search-box">
                  <input placeholder="Search" type="text" [(ngModel)]="searchField" #filter (keydown.enter)="search()"
                    class="browser-default search-field no-prefix-search-field" aria-label="Search box">
                </li>
                <li class="ps-2">
                  <button mat-mini-fab color="primary" (click)="search()">
                    <mat-icon>search</mat-icon>
                  </button>
                </li>
              </ul>
            </div>
            <!-- <div class="right">
            </div> -->
          </div>
          <div class="body overflow-auto">
            <div class="responsive_table">
              <table mat-table [dataSource]="sotList" matSort class="mat-cell advance-table striped-rows hover-highlight dark-header">
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.guid}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="tank_no">
                  <mat-header-cell mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-1_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm tbl-col-width-per-12-xs'">
                    {{translatedLangText.TANK_NO}}
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-1_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm tbl-col-width-per-12-xs'">
                    <span class="mobile-label">{{translatedLangText.TANK_NO}}:</span>{{row.tank_no}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="job_no">
                  <mat-header-cell mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-1_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm tbl-col-width-per-12-xs'">
                    {{translatedLangText.JOB_NO}}
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-1_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm tbl-col-width-per-12-xs'">
                    <span class="mobile-label">{{translatedLangText.JOB_NO}}:</span>{{row.release_job_no}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="last_cargo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{translatedLangText.LAST_CARGO}}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                    <span class="mobile-label">{{translatedLangText.LAST_CARGO}}:</span>{{row.tariff_cleaning?.cargo}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="customer_code">
                  <mat-header-cell mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-2_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm tbl-col-width-per-12-xs'">
                    {{translatedLangText.CUSTOMER}}
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-2_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm tbl-col-width-per-12-xs'">
                    <span class="mobile-label">{{translatedLangText.CUSTOMER}}:</span>{{ccDS.displayName(roSotDS.getReleaseOrderSotItem(row.release_order_sot)?.release_order?.customer_company)}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="ro_no">
                  <mat-header-cell mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm tbl-col-width-per-12-xs'">
                    {{translatedLangText.RO_NO}}
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm tbl-col-width-per-12-xs'">
                    <span class="mobile-label">{{translatedLangText.RO_NO}}:</span>{{roSotDS.getReleaseOrderSotItem(row.release_order_sot)?.release_order?.ro_no}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="eir_no">
                  <mat-header-cell mat-header-cell *matHeaderCellDef [ngClass]="''">
                    {{translatedLangText.EIR_NO}}
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let row" class="">
                    <span class="mobile-label">{{translatedLangText.EIR_NO}}:</span>{{ogDS.getOutGateItem(row?.out_gate)?.eir_no}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="eir_dt">
                  <mat-header-cell mat-header-cell *matHeaderCellDef [ngClass]="''">
                    {{translatedLangText.EIR_DATE}}
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let row" class="">
                    <span class="mobile-label">{{translatedLangText.EIR_NO}}:</span>{{ogDS.getOutGateItem(row?.out_gate)?.eir_dt}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="eir_status_cv">
                  <mat-header-cell mat-header-cell *matHeaderCellDef [ngClass]="''">
                    {{translatedLangText.EIR_STATUS}}
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let row" class="">
                    <span class="mobile-label">{{translatedLangText.EIR_STATUS}}:</span>{{ogDS.getOutGateItem(row.storing_order?.out_gate)?.eir_status_cv}}
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"
                  [routerLink]="['/admin/inventory/out-gate/details', row.guid]" [style.cursor]="'pointer'" matRipple>
                </mat-row>
              </table>
            </div>
            <!-- No result -->
            @if (!(sotDS.loading$ | async) && !sotList.length) {
            <mat-divider></mat-divider>
            <div class="no-results m-l-20 pt-3" [style.display]="sotList.length === 0 ? '' : 'none'">
              <h5 class="m-b-15">{{translatedLangText.NO_RESULT}}</h5>
            </div>
            }
            <!-- Loading spinner -->
            @if (sotDS.loading$ | async) {
            <div class="tbl-spinner">
              <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
              </mat-progress-spinner>
            </div>
            }
            <mat-paginator #paginator [length]="sotDS.totalCount" [pageIndex]="0" [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageEvent($event)">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>