################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/graphql_sample/Dot6.HotChoc12.CRUD.Demo/.vs/Dot6.HotChoc12.CRUD.Demo/FileContentIndex/667d68b2-cc32-43d6-aac0-61833d7b53f3.vsidx
/backend/graphql_sample/Dot6.HotChoc12.CRUD.Demo/.vs/Dot6.HotChoc12.CRUD.Demo/FileContentIndex/e36bc73e-c009-4f9e-9044-b0a06426dd11.vsidx
