# Dependency directories
.vs/
backend/GqlMS/Inventory/StoringOrder - V4/IDMS.StoringOrder/Properties/PublishProfiles/tlx-idms-app - Web Deploy3.pubxml.user
backend/GqlMS/Inventory/InGateSurvey/IDMS.InGateSurvey/Properties/PublishProfiles/tlx-idms-inventory-ingate-survey - Web Deploy.pubxml.user
