# Dependency directories
.AzureTLX.txt
.vs/
backend/GqlMS/Inventory/StoringOrder - V4/IDMS.StoringOrder/Properties/PublishProfiles/tlx-idms-app - Web Deploy3.pubxml.user
backend/GqlMS/Inventory/InGateSurvey/IDMS.InGateSurvey/Properties/PublishProfiles/tlx-idms-inventory-ingate-survey - Web Deploy.pubxml.user
User Module.pdf
Tank Process Flow.pdf
*.pubxml
*.user
backend/GqlMS/Inventory/Booking - V1/IDMS.Booking.Application/Properties/serviceDependencies.tlx-idms-booking - Web Deploy2.json
backend/GqlMS/Inventory/StoringOrder - V4/IDMS.StoringOrder/Properties/PublishProfiles/tlx-idms-app - FTP.pubxml.user
backend/GqlMS/Inventory/Booking - V1/IDMS.Booking.Application/IDMS.Booking.Application.csproj.user
backend/GqlMS/Inventory/StoringOrder - V4/IDMS.StoringOrder/Properties/PublishProfiles/tlx-idms-app - FTP.pubxml.user
backend/GqlMS/Inventory/Booking - V1/IDMS.Booking.Application/IDMS.Booking.Application.csproj.user
backend/GqlMS/Inventory/Booking - V1/IDMS.Booking.Application/IDMS.Booking.Application.csproj.user
AzureTLX.txt
/backend/BatchJob/IDMS.BatchJob.Service/Config/app_config.json
backend/GqlMS/Inventory/InGate/IDMS.InGate/Properties/PublishProfiles/tlx-idms-inventory-ingate - Zip Deploy.pubxml.user
backend/GqlMS/Inventory/InGate/IDMS.InGate/Properties/PublishProfiles/tlx-idms-inventory-ingate - Zip Deploy.pubxml.user
backend/GqlMS/Inventory/StoringOrder - V4/IDMS.StoringOrder/Properties/PublishProfiles/tlx-idms-app - FTP.pubxml.user
backend/GqlMS/Inventory/StoringOrder - V4/IDMS.StoringOrder/Properties/PublishProfiles/tlx-idms-app - FTP.pubxml.user
backend/GqlMS/Inventory/StoringOrder - V4/IDMS.StoringOrder/Properties/PublishProfiles/tlx-idms-app - FTP.pubxml.user
backend/GqlMS/Inventory/InGateSurvey - V2/IDMS.InGateSurvey/appsettings.json
/backend/GqlMS/Inventory/StoringOrder - V4/IDMS.StoringOrder/Properties/PublishProfiles/tlx-idms-app - ReadOnly - FTP3.pubxml
/backend/GqlMS/Inventory/StoringOrder - V4/IDMS.StoringOrder/Properties/PublishProfiles/tlx-idms-app - Zip Deploy3.pubxml
backend/GqlMS/Inventory/StoringOrder - V4/IDMS.StoringOrder/Properties/PublishProfiles/tlx-idms-app - Zip Deploy3.pubxml.user
