

.table-container {
  max-height: 400px; /* Adjust height as needed */
  overflow: auto;
}

table.mat-table {
  width: 100%;
  border-collapse: collapse;
}

.mat-cell, .mat-header-cell {
  padding: 8px;
}
.auto-height {
  height: auto;
  max-height: none; /* Ensures there's no max-height limiting the container */
  overflow: auto;   /* Ensures scrollbars appear if content exceeds container size */
}
   mat-tab-group {
     width:50vh;
     //height: 70vh;
    // transition: transform 0.2s;
   }
  
td div img:hover {
    transform: scale(1.1);
    cursor: pointer;
  }


  
  td div {
    //display: flex;
    flex-wrap: nowrap; /* Prevent wrapping */
    justify-content: center;
    align-items: center;
    height: 95%;
    //overflow: hidden;
  }
  
  td div img {
    max-width: 50vh;
    height: 10vh;
   
    transition: transform 0.2s;
    padding-right: 10px;
  }

  .mat-tab-group {
    margin-bottom: 48px;
  }
  .mat-tab-labels{ 
    flex-wrap: wrap;
   }
   .card {
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */
  }
  
  /* Optional: Add a hover effect */
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Slightly deeper shadow on hover */
  }

  .mat-mdc-dialog-content {
    max-height: 90vh;
   }

   .div-padding {
    padding-left: 3.5%;
   }

   .card {
    padding: 10px;
  }

  .cost-label {
    display: flex;
    justify-content: center;    /* horizontal alignment */
    align-items: center;   
    width: 100%;
  }
  