<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="clearfix">
        <h4>{{GetTitle()}}</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <div class="card">
      <div class="header">
        <h2>
          {{translatedLangText.TANK_DETAILS}}
        </h2>
      </div>
      <div class="body">
        <mat-card-content>
          <div class="row">
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xs-12 m-b-5">
              <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5 m-b-5 align-right">
                  <span>{{translatedLangText.TANK_NO}}:</span>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-7 m-b-5">
                  <div class="contact-detail-info font-bold">{{sotItem?.tank_no}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5 m-b-5 align-right">
                  <span>{{translatedLangText.CUSTOMER}}:</span>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-7 m-b-5">
                  <div class="contact-detail-info font-bold">
                    {{ccDS.displayName(sotItem?.storing_order?.customer_company)}}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5 m-b-5 align-right">
                  <span>{{translatedLangText.LAST_CARGO}}:</span>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-7 m-b-5">
                  <div class="contact-detail-info font-bold">
                    {{sotItem?.tariff_cleaning?.cargo}}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5 m-b-5 align-right pt-2">
                  <span>{{translatedLangText.OWNER}}:</span>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-7 m-b-5 d-flex">
                  <div class="contact-detail-info font-bold pt-2">
                    {{ccDS.displayName(sotItem?.customer_company)}}
                  </div>
                  <mat-checkbox class="m-r-5" color="primary" [(ngModel)]="isOwner" [disabled]="true">
                  </mat-checkbox>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xs-12 m-b-5">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 m-b-5 align-right">
                  <span>{{translatedLangText.EIR_NO}}:</span>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 m-b-5">
                  <div class="contact-detail-info font-bold">
                    {{igDS.getInGateItem(sotItem?.in_gate)?.eir_no}}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 m-b-5 align-right">
                  <span>{{translatedLangText.EIR_DATE}}:</span>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 m-b-5">
                  <div class="contact-detail-info font-bold">
                    {{displayDate(igDS.getInGateItem(sotItem?.in_gate)?.eir_dt)}}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 m-b-5 align-right">
                  <span>{{translatedLangText.PURPOSE}}:</span>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 m-b-5">
                  <div class="contact-detail-info font-bold">{{displayTankPurpose(sotItem!)}}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 m-b-5 align-right">
                  <span>{{translatedLangText.LAST_TEST}}:</span>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 m-b-5">
                  <div class="contact-detail-info font-bold">
                    {{lastTestDesc}}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 m-b-5 align-right">
                  <span>{{translatedLangText.NEXT_TEST}}:</span>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 m-b-5">
                  <div class="contact-detail-info font-bold">
                    {{nextTestDesc}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
       </div>
      </div>
    </div>
  </div>
  <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              {{translatedLangText.ESTIMATE_DETAILS}}
            </h2>
          </div>
          <div class="body">
            @if (sotDS.loadingSubject | async) {
            <div class="tbl-spinner">
              <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
              </mat-progress-spinner>
            </div>
            }
           
            <div class="row">
              <div class="responsive_table">
                <table mat-table [dataSource]="deList||[]" matSort
                  class="mat-cell advance-table striped-rows hover-highlight dark-header curve-table">
                  <!-- ID Column -->
                  <ng-container matColumnDef="seq">
                    <mat-header-cell *matHeaderCellDef
                      [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">#</mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index"
                      [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">{{i+1}}</mat-cell>
                    <mat-footer-cell *matFooterCellDef class="bg-{{getFooterBackgroundColor()}}"
                      [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"></mat-footer-cell>
                  </ng-container>
                  <ng-container matColumnDef="desc">
                    <mat-header-cell mat-header-cell *matHeaderCellDef
                      [ngClass]="'tbl-col-width-per-4_25-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                      {{translatedLangText.DESCRIPTION}}
                    </mat-header-cell>
                    <mat-cell mat-cell *matCellDef="let row"
                      [ngClass]="'tbl-col-width-per-4_25-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                      <span class="mobile-label">{{translatedLangText.DESCRIPTION}}:</span>{{row.description}}
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef [ngClass]="''"
                      class="bg-{{getFooterBackgroundColor()}} tbl-col-width-per-4-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm">
                    </mat-footer-cell>
                  </ng-container>
                  <ng-container matColumnDef="qty">
                    <mat-header-cell mat-header-cell *matHeaderCellDef
                      [ngClass]="'tbl-col-width-per-1_25-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm justify-content-center'">
                      {{getQtyTable_Text()}}
                    </mat-header-cell>
                    <mat-cell mat-cell *matCellDef="let row"
                      [ngClass]="'tbl-col-width-per-1_25-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm justify-content-center'">
                       <span class="mobile-label">{{getQtyTable_Text()}}:</span>
                       @if(isSteamRepair)
                          {
                            @if(IsApproved())
                            {
                              {{row.approve_qty}}
                            }
                            @else
                            {
                              {{row.quantity}}
                            }
                          }
                          @else
                          {
                            {{labourHour}}

                          } 
                        
                    
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef
                      class="bg-{{getFooterBackgroundColor()}} tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm"></mat-footer-cell>
                  </ng-container>
                  <ng-container matColumnDef="hour">
                    <mat-header-cell mat-header-cell *matHeaderCellDef
                      [ngClass]="'tbl-col-width-per-1_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm justify-content-center'">
                      {{getResultTable_HourText()}}
                    </mat-header-cell>
                    <mat-cell mat-cell *matCellDef="let row"
                      [ngClass]="'tbl-col-width-per-1_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm justify-content-center'">
                      <span class="mobile-label">{{getResultTable_HourText()}}:</span>

                          @if(IsApproved())
                          {
                            {{row.approve_labour}}
                          }
                          @else
                          {
                            {{row.labour}}
                          }

                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef
                      class="bg-{{getFooterBackgroundColor()}} tbl-col-width-per-1_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm d-flex justify-content-center">
                      {{this.getTotalLabourHours()}}
                    </mat-footer-cell>
                  </ng-container>
                  <ng-container matColumnDef="unit_price">
                    <mat-header-cell mat-header-cell *matHeaderCellDef
                      [ngClass]="'tbl-col-width-per-1_25-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm justify-content-center'">
                      {{translatedLangText.PRICE}}
                    </mat-header-cell>
                    <mat-cell mat-cell *matCellDef="let row"
                      [ngClass]="'tbl-col-width-per-1_25-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm justify-content-center'">
                      <span class="mobile-label">{{translatedLangText.PRICE}}:</span>

                        @if(IsApproved())
                          {
                            {{this.parse2Decimal(row.approve_cost)}}
                         
                          }
                          @else
                          {
                            {{this.parse2Decimal(row.cost)}}
                          
                          }
                     
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef
                      class="bg-{{getFooterBackgroundColor()}} font-bold tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm d-flex justify-content-end p-0">{{translatedLangText.LABOUR}}
                      (${{parse2Decimal(getLabourCost())}}):</mat-footer-cell>
                  </ng-container>
                  <ng-container matColumnDef="approve_part">


                    @if(isSteamRepair)
                    {
                    <mat-header-cell *matHeaderCellDef
                      [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                      <mat-icon>more_vert</mat-icon>
                    </mat-header-cell>
                    <mat-cell mat-cell *matCellDef="let row"
                      [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm justify-content-center'">
                      <span class="mobile-label">{{translatedLangText.APPROVED}}:</span>
                      @if (row.approve_part === null || row.approve_part === undefined ||
                      IsApprovePart(row)){
                      <mat-icon class="col-green font-bold" >check</mat-icon>
                      }
                      @else {
                      <mat-icon class="col-red font-bold" >close</mat-icon>
                      }
                    </mat-cell>

                    }
                    @else{
                    <mat-header-cell *matHeaderCellDef
                      [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm justify-content-center'">
                      {{translatedLangText.RATE}}
                    </mat-header-cell>
                    <mat-cell mat-cell *matCellDef="let row"
                      [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                      <span class="mobile-label">{{translatedLangText.RATE}}:</span>{{getRateType()}}
                     

                    </mat-cell>
                    }
                    <mat-footer-cell *matFooterCellDef
                      class="bg-{{getFooterBackgroundColor()}} tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm"></mat-footer-cell>
                  </ng-container>
                  <ng-container matColumnDef="cost">
                    <mat-header-cell mat-header-cell *matHeaderCellDef
                      [ngClass]="'tbl-col-width-per-1_25-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                      {{translatedLangText.COST}}
                    </mat-header-cell>
                    <mat-cell mat-cell *matCellDef="let row"
                      [ngClass]="'tbl-col-width-per-1_25-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm justify-content-center'">
                      @if(isSteamRepair)
                      {
                      <span
                        class="mobile-label">{{translatedLangText.COST}}:</span>{{this.parse2Decimal(calculateSteamItemCost(row))}}<br />
                      }
                      @else
                      {
                      <span class="mobile-label">{{translatedLangText.COST}}:</span>{{this.parse2Decimal(this.getRate())}}<br />
                      }

                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef
                      class="bg-{{getFooterBackgroundColor()}} tbl-col-width-per-1_25-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm justify-content-center">
                      <span class="mobile-label"></span>
                      {{this.getTotalLabourCost()}}
                    </mat-footer-cell>
                  </ng-container>
                  <ng-container matColumnDef="actions">
                    <mat-header-cell class="pr-0"
                      [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                      *matHeaderCellDef>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row;"
                      class="tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm d-flex justify-content-left">
                      <!-- @if (steamDS.canAmend(this.selected!)) {
                      @if (!row.delete_dt){
                      <button mat-icon-button (click)="handleDelete($event, row, row.index)">
                        <mat-icon color="warn">delete_forever</mat-icon>
                      </button>
                      }
                      @if (row.delete_dt) {
                      <button mat-icon-button (click)="undeleteItem($event, row, row.index)">
                        <mat-icon>undo</mat-icon>
                      </button>
                      }
                      } -->
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef
                      class="bg-{{getFooterBackgroundColor()}} tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm"></mat-footer-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns; let i = index" [style.cursor]="'pointer'"
                    matRipple>
                  </mat-row>
                  <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
                </table>
                <div class="bg-{{getFooterBackgroundColor()}} col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-2">
                  <div class="row">
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-1"></div>
                    <div
                      class="col-xl-1-5 col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-2 d-flex font-bold justify-content-end font_15 pe-1">
                      {{translatedLangText.TOTAL_COST}}:
                    </div>
                    <div class="col-xl-1-5 col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-1 font-bold"></div>
                    <div class="col-xl-1-25 col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-10 font_15 d-flex  justify-content-end">
                      @if(this.isSteamRepair)
                      {
                      {{this.parse2Decimal(this.getTotalCost())}}
                      }
                      @else
                      {
                      {{getAutoSteamTotalCost()}}
                      }
                    </div>
                  </div>
                </div>
              </div>
              <!-- No result -->
           
             
          </div>

          <div class="row m-t-3">
             @if ( !deList?.length) {
              <mat-divider></mat-divider>
              <div class="no-results m-l-20 pt-3" [style.display]="deList?.length === 0 ? '' : 'none'">
                <h5 class="m-b-15">{{translatedLangText.NO_RESULT}}</h5>
              </div>
              }
    
              <div mat-dialog-actions class="pt-2 pb-2 pe-4 align-right">
              <button mat-stroked-button (click)="onNoClick()" tabindex="-1">{{ translatedLangText.CLOSE}}</button>
            </div>
           
          </div>
        </div>
      </div>
    </div>
      
</div>