<div class="tlx-container">
    <div class="row">
        @for(item of items; let i = $index; track item) {
        <div [ngClass]="colClass + ' tlx-row'">
            <div class="card p-0 mb-0 alternate-panel" [ngClass]="{ 'is-expanded': isExpanded(i) }">
                <div class="card-body tank-header ps-2 pe-2 pt-1 pb-1 d-flex justify-content-between align-items-start"
                    (click)="toggleExpanded(i)">
                    <div class="header-content flex-grow-1">
                        <ng-container *ngTemplateOutlet="cardTemplate; context: { $implicit: item }"></ng-container>
                    </div>

                    @if (expandedTemplate) {
                    <button class="btn btn-sm btn-link p-0 ms-2 mt-2" style="min-width: 1.5rem;">
                        <mat-icon>{{ isExpanded(i) ? 'expand_less' : 'expand_more' }}</mat-icon>
                    </button>
                    }
                </div>

                @if (expandedTemplate && isExpanded(i)) {
                <div [@expandCollapse] class="card-body ps-4 pe-4 pt-0 pb-2" style="overflow: hidden;">
                    <ng-container *ngTemplateOutlet="expandedTemplate; context: { $implicit: item }"></ng-container>
                </div>
                }
            </div>
        </div>
        }
    </div>
</div>