<div class="container">
    <h4 mat-dialog-title class="ps-3 pt-3 pb-3 align-center">{{data.langText.ARE_YOU_SURE_DELETE | translate}}</h4>
    <div mat-dialog-actions  class="ps-0 pt-2 mb-1 d-flex justify-content-center">
        <button mat-flat-button color="warn" [mat-dialog-close]="1" (click)="confirmDelete()">
            {{data.langText.DELETE | translate}}
        </button>
        <button mat-flat-button (click)="onNoClick()" tabindex="-1">
            {{data.langText.CLOSE | translate}}
        </button>
    </div>
</div>