@use 'sass:math';
@use '@angular/material' as mat;
@use '/src/assets/scss/theme/custom-material-theme.scss' as custom-theme;
@import '/src/assets/scss/common/_variables.scss';
@import '/src/assets/scss/theme/theme-color-variables.scss';

@mixin apply-disabled-style($bg, $text) {
  background-color: $bg !important;
  color: $text !important;
}

.left-img {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;

  img {
    max-width: 80%;
  }

  .caption {
    color: $theme-gold-purple-disabled-menu;
    font-style: italic;
    font-size: 1.2rem;
  }

  .divider {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
}

section.content {
  margin-top: 0px;

  .content-block {
    padding: 0px 0px 0px 0px;
  }
}

.header .header-button {
  margin-right: auto;
  margin-left: unset;
}

.m-l- {
  margin-left: auto;
}

.m-r- {
  margin-right: auto;
}

.m-t- {
  margin-top: auto;
}

.m-b- {
  margin-bottom: auto;
}

.col-0-25 {
  width: 2.08333334%;
}

.col-0-5 {
  width: 4.16666667%;
}

.col-0-75 {
  width: 6.25%;
}

.col-1-25 {
  width: 10.41666667%;
}

.col-1-5 {
  width: 12.5%;
}

.col-1-75 {
  width: 14.58333333%;
}

.col-2-25 {
  width: 18.75%;
}

.col-2-5 {
  width: 20.83333333%;
}

.col-2-75 {
  width: 22.91666667%;
}

.col-3-25 {
  width: 27.08333333%;
}

.col-3-5 {
  width: 29.16666667%;
}

.col-3-75 {
  width: 31.25%;
}

.col-4-5 {
  width: 37.5%;
}

.col-xl-5-25 {
  width: 43.75%;
}

.col-xl-5-5 {
  width: 45.83333333%;
}

.col-xl-5-75 {
  width: 47.91666667%;
}


.col-6-5 {
  width: 54.16666667%;
}

.col-7-5 {
  width: 62.5%;
}

.col-8-25 {
  width: 33.33333333%;
}

.col-8-5 {
  width: 70.83333333%;
}

.col-8-75 {
  width: 83.33333333%;
}

.col-9-5 {
  width: 79.16666667%;
}

.col-10-5 {
  width: 87.5%;
}

.col-11-5 {
  width: 95.83333333%;
}

@media (min-width: 430px) and (max-width: 575.98px) {
  .col-xs-0-25 {
    width: 2.08333334%;
  }

  .col-xs-0-5 {
    width: 4.16666667%;
  }

  .col-xs-0-75 {
    width: 6.25%;
  }

  .col-xs-1 {
    width: 8.33333333%;
  }

  .col-xs-1-25 {
    width: 10.41666667%;
  }

  .col-xs-1-5 {
    width: 12.5%;
  }

  .col-xs-1-75 {
    width: 14.58333333%;
  }

  .col-xs-2 {
    width: 16.66666667%;
  }

  .col-xs-2-25 {
    width: 18.75%;
  }

  .col-xs-2-5 {
    width: 20.83333333%;
  }

  .col-xs-2-75 {
    width: 22.91666667%;
  }

  .col-xs-3 {
    width: 25%;
  }

  .col-xs-3-25 {
    width: 27.08333333%;
  }

  .col-xs-3-5 {
    width: 29.16666667%;
  }

  .col-xs-3-75 {
    width: 31.25%;
  }

  .col-xs-4 {
    width: 33.33333333%;
  }

  .col-xs-4-5 {
    width: 37.5%;
  }

  .col-xs-5 {
    width: 41.66666667%;
  }

  .col-xl-5-25 {
    width: 43.75%;
  }

  .col-xl-5-5 {
    width: 45.83333333%;
  }

  .col-xl-5-75 {
    width: 47.91666667%;
  }

  .col-xs-6 {
    width: 50%;
  }

  .col-xs-6-5 {
    width: 54.16666667%;
  }

  .col-xs-7 {
    width: 58.33333333%;
  }

  .col-xs-7-5 {
    width: 62.5%;
  }

  .col-xs-8 {
    width: 66.66666667%;
  }

  .col-xs-8-25 {
    width: 33.33333333%;
  }

  .col-xs-8-5 {
    width: 70.83333333%;
  }

  .col-xs-8-75 {
    width: 83.33333333%;
  }

  .col-xs-9 {
    width: 75%;
  }

  .col-xs-9-5 {
    width: 79.16666667%;
  }

  .col-xs-10 {
    width: 83.33333333%;
  }

  .col-xs-10-5 {
    width: 87.5%;
  }

  .col-xs-11 {
    width: 91.66666667%;
  }

  .col-xs-11-5 {
    width: 95.83333333%;
  }

  .col-xs-12 {
    width: 100%;
  }
}

/* Responsive custom grid classes for 'sm' breakpoint */
@media (min-width: 576px) {
  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11-5 {
    width: 95.83333333%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10-5 {
    width: 87.5%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9-5 {
    width: 79.16666667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8-75 {
    width: 83.33333333%;
  }

  .col-md-8-5 {
    width: 70.83333333%;
  }

  .col-sm-8-25 {
    width: 33.33333333%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7-5 {
    width: 62.5%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6-5 {
    width: 54.16666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5-75 {
    width: 47.91666667%;
  }

  .col-sm-5-5 {
    width: 45.83333333%;
  }

  .col-sm-5-25 {
    width: 43.75%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4-5 {
    width: 37.5%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3-75 {
    width: 31.25%;
  }

  .col-sm-3-5 {
    width: 29.16666667%;
  }

  .col-sm-3-25 {
    width: 27.08333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2-75 {
    width: 22.91666667%;
  }

  .col-sm-2-5 {
    width: 20.83333333%;
  }

  .col-sm-2-25 {
    width: 18.75%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1-75 {
    width: 14.58333333%;
  }

  .col-sm-1-5 {
    width: 12.5%;
  }

  .col-sm-1-25 {
    width: 10.41666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }

  .col-sm-0-25 {
    width: 2.08333334%;
  }

  .col-sm-0-5 {
    width: 4.16666667%;
  }

  .col-sm-0-75 {
    width: 6.25%;
  }
}

/* Responsive custom grid classes for 'md' breakpoint */
@media (min-width: 768px) {
  .col-md-12 {
    width: 100%;
  }

  .col-md-11-5 {
    width: 95.83333333%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-10-5 {
    width: 87.5%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-9-5 {
    width: 79.16666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8-75 {
    width: 83.33333333%;
  }

  .col-md-8-5 {
    width: 70.83333333%;
  }

  .col-md-8-25 {
    width: 33.33333333%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-7-5 {
    width: 62.5%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-6-5 {
    width: 54.16666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5-75 {
    width: 47.91666667%;
  }

  .col-md-5-5 {
    width: 45.83333333%;
  }

  .col-md-5-25 {
    width: 43.75%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4-5 {
    width: 37.5%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-3-75 {
    width: 31.25%;
  }

  .col-md-3-5 {
    width: 29.16666667%;
  }

  .col-md-3-25 {
    width: 27.08333333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2-75 {
    width: 22.91666667%;
  }

  .col-md-2-5 {
    width: 20.83333333%;
  }

  .col-md-2-25 {
    width: 18.75%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-1-75 {
    width: 14.58333333%;
  }

  .col-md-1-5 {
    width: 12.5%;
  }

  .col-md-1-25 {
    width: 10.41666667%;
  }

  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-0-25 {
    width: 2.08333334%;
  }

  .col-md-0-5 {
    width: 4.16666667%;
  }

  .col-md-0-75 {
    width: 6.25%;
  }
}

/* Responsive custom grid classes for half-step increments at 'lg' breakpoint */
@media (min-width: 992px) {

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-11-5 {
    width: 95.83333333%;
  }

  .col-lg-11 {
    width: 91.66666667%;
  }

  .col-lg-10-5 {
    width: 87.5%;
  }

  .col-lg-10 {
    width: 83.33333333%;
  }

  .col-lg-9-5 {
    width: 79.16666667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8-75 {
    width: 83.33333333%;
  }

  .col-lg-8-5 {
    width: 70.83333333%;
  }

  .col-lg-8-25 {
    width: 33.33333333%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-7-5 {
    width: 62.5%;
  }

  .col-lg-7 {
    width: 58.33333333%;
  }

  .col-lg-6-5 {
    width: 54.16666667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5-75 {
    width: 47.91666667%;
  }

  .col-lg-5-5 {
    width: 45.83333333%;
  }

  .col-lg-5-25 {
    width: 43.75%;
  }

  .col-lg-5 {
    width: 41.66666667%;
  }

  .col-lg-4-5 {
    width: 37.5%;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }

  .col-lg-3-75 {
    width: 31.25%;
  }

  .col-lg-3-5 {
    width: 29.16666667%;
  }

  .col-lg-3-25 {
    width: 27.08333333%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2-75 {
    width: 22.91666667%;
  }

  .col-lg-2-5 {
    width: 20.83333333%;
  }

  .col-lg-2-25 {
    width: 18.75%;
  }

  .col-lg-2 {
    width: 16.66666667%;
  }

  .col-lg-1-75 {
    width: 14.58333333%;
  }

  .col-lg-1-5 {
    width: 12.5%;
  }

  .col-lg-1-25 {
    width: 10.41666667%;
  }

  .col-lg-1 {
    width: 8.33333333%;
  }

  .col-lg-0-25 {
    width: 2.08333334%;
  }

  .col-lg-0-5 {
    width: 4.16666667%;
  }

  .col-lg-0-75 {
    width: 6.25%;
  }
}

/* Responsive custom grid classes for half-step increments at 'xl' breakpoint */
@media (min-width: 1400px) {
  .col-xl-12 {
    width: 100%;
  }

  .col-xl-11-5 {
    width: 95.83333333%;
  }

  .col-xl-11 {
    width: 91.66666667%;
  }

  .col-xl-10-5 {
    width: 87.5%;
  }

  .col-xl-10 {
    width: 83.33333333%;
  }

  .col-xl-9-5 {
    width: 79.16666667%;
  }

  .col-xl-9 {
    width: 75%;
  }

  .col-xl-8-75 {
    width: 83.33333333%;
  }

  .col-xl-8-5 {
    width: 70.83333333%;
  }

  .col-xl-8-25 {
    width: 33.33333333%;
  }

  .col-xl-8 {
    width: 66.66666667%;
  }

  .col-xl-7-5 {
    width: 62.5%;
  }

  .col-xl-7 {
    width: 58.33333333%;
  }

  .col-xl-6-5 {
    width: 54.16666667%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-5-75 {
    width: 47.91666667%;
  }

  .col-xl-5-5 {
    width: 45.83333333%;
  }

  .col-xl-5-25 {
    width: 43.75%;
  }

  .col-xl-5 {
    width: 41.66666667%;
  }

  .col-xl-4-5 {
    width: 37.5%;
  }

  .col-xl-4 {
    width: 33.33333333%;
  }

  .col-xl-3-75 {
    width: 31.25%;
  }

  .col-xl-3-5 {
    width: 29.16666667%;
  }

  .col-xl-3-25 {
    width: 27.08333333%;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-2-75 {
    width: 22.91666667%;
  }

  .col-xl-2-5 {
    width: 20.83333333%;
  }

  .col-xl-2-25 {
    width: 18.75%;
  }

  .col-xl-2 {
    width: 16.66666667%;
  }

  .col-xl-1-75 {
    width: 14.58333333%;
  }

  .col-xl-1-5 {
    width: 12.5%;
  }

  .col-xl-1-25 {
    width: 10.41666667%;
  }

  .col-xl-1 {
    width: 8.33333333%;
  }

  .col-xl-0-25 {
    width: 2.08333334%;
  }

  .col-xl-0-5 {
    width: 4.16666667%;
  }

  .col-xl-0-75 {
    width: 6.25%;
  }
}

.label-container {
  display: flex;
  align-items: center;
  height: 30px;
}

.dialog-container-xl {
  margin: 0 auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  max-width: 90%;
  box-sizing: border-box;
}

.deleted-row {
  background-color: #b4b4b4 !important;
}

.edited-row {
  background-color: #fffb00 !important;
}

.new-row {
  background-color: #00ff88 !important;
}

.no-prefix-search-field {
  padding-left: 2vh !important;
}

@media (max-width: 768px) {
  .align-left-mobile {
    text-align: left !important;
  }

  .align-center-mobile {
    text-align: center !important;
  }

  .align-right-mobile {
    text-align: right !important;
  }

  .align-justify-mobile {
    text-align: justify !important;
  }
}

// Define breakpoints
$breakpoints: (
  "xs": 0px,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1400px
);

// Mixin to generate width classes
@mixin generate-width($name, $fraction) {
  $width: math.percentage(math.div($fraction, 12));

  // Responsive widths for breakpoints
  @each $breakpoint, $size in $breakpoints {
    @if $size !=0px {
      @media (min-width: $size) {
        .#{$name}-#{$breakpoint} {
          width: $width !important;
          flex: 0 0 $width !important;
          max-width: $width !important;
        }
      }
    }

    @else {
      .#{$name} {
        width: $width !important;
        flex: 0 0 $width !important;
        max-width: $width !important;
      }
    }
  }
}

// Mixin to generate "auto width" classes
@mixin generate-auto-width($name) {

  // Responsive widths for breakpoints
  @each $breakpoint, $size in $breakpoints {
    @if $size !=0px {
      @media (min-width: $size) {
        .#{$name}-#{$breakpoint} {
          flex: 1 1 auto !important; // Take the remaining space
          width: auto !important;
        }
      }
    }

    @else {
      .#{$name} {
        flex: 1 1 auto !important; // Take the remaining space
        width: auto !important;
      }
    }
  }
}

// Generate classes for each fraction
@for $i from 12 through 1 {
  @include generate-width("tbl-col-width-per-#{$i}", $i);
}

@include generate-auto-width("tbl-col-width-auto");

// Additional fractional widths
@include generate-width("tbl-col-width-per-0_5", 0.5);
@include generate-width("tbl-col-width-per-0_25", 0.25);
@include generate-width("tbl-col-width-per-0_75", 0.75);
@include generate-width("tbl-col-width-per-1_25", 1.25);
@include generate-width("tbl-col-width-per-1_5", 1.5);
@include generate-width("tbl-col-width-per-1_75", 1.75);
@include generate-width("tbl-col-width-per-2_25", 2.25);
@include generate-width("tbl-col-width-per-2_5", 2.5);
@include generate-width("tbl-col-width-per-2_75", 2.75);
@include generate-width("tbl-col-width-per-3_25", 3.25);
@include generate-width("tbl-col-width-per-3_5", 3.5);
@include generate-width("tbl-col-width-per-3_75", 3.75);
@include generate-width("tbl-col-width-per-4_25", 4.25);
@include generate-width("tbl-col-width-per-4_5", 4.5);
@include generate-width("tbl-col-width-per-4_75", 4.75);
@include generate-width("tbl-col-width-per-5_25", 5.25);
@include generate-width("tbl-col-width-per-5_5", 5.5);
@include generate-width("tbl-col-width-per-5_75", 5.75);
@include generate-width("tbl-col-width-per-6_5", 6.5);
@include generate-width("tbl-col-width-per-7_5", 7.5);
@include generate-width("tbl-col-width-per-8_5", 8.5);
@include generate-width("tbl-col-width-per-9_5", 9.5);
@include generate-width("tbl-col-width-per-10_5", 10.5);
@include generate-width("tbl-col-width-per-11_5", 11.5);

.empty-card-actions {
  min-height: 0 !important;
}

@media (max-width: 1400px) {
  .mobile-label {
    width: 100px;
    display: inline-block;
    font-weight: bold;
  }

  .advance-table .mdc-data-table__header-row {
    display: none;
  }

  .advance-table .mdc-data-table__row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
    display: grid;
  }

  mat-cell:first-of-type,
  mat-header-cell:first-of-type,
  mat-footer-cell:first-of-type {
    padding-left: 10px;
  }

  .flex-item-right,
  .flex-item-left {
    flex: 100%;
  }
}

.mobile-tab-label {
  display: none;
}

@media (max-width: 1023px) {
  .mobile-tab-label {
    width: 100px;
    display: inline-block;
    font-weight: bold;
  }

  .advance-tab-table .mdc-data-table__header-row {
    display: none;
  }

  .advance-tab-table .mdc-data-table__row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
    display: grid;
  }

  mat-cell:first-of-type,
  mat-header-cell:first-of-type,
  mat-footer-cell:first-of-type {
    padding-left: 10px;
  }

  .flex-item-right,
  .flex-item-left {
    flex: 100%;
  }
}

// .dark-header .mat-mdc-header-cell {
//   background-color: lighten($theme-gold-purple-legal-bg, 0%) !important;
//   color: #333;
// }

// /* Class for striped rows */
// .striped-rows .mdc-data-table__row:nth-child(odd) {
//   background-color: lighten($theme-gold-purple-legal-bg, 15%);
//   ;
// }

// .striped-rows .mdc-data-table__row:nth-child(even) {
//   background-color: #ffffff;
// }

// /* Class for mouseover effect */
// .hover-highlight .mdc-data-table__row {
//   transition: background-color 0.3s ease;
// }

// .hover-highlight .mdc-data-table__row:hover {
//   background-color: lighten($theme-gold-purple-legal-bg, 5%);
// }

.dark-header .mat-mdc-header-cell {
  background-color: lighten(#b3cbff, 0%) !important;
  color: #333;
}

/* Class for striped rows */
.striped-rows .mdc-data-table__row:nth-child(odd) {
  background-color: lighten(#b3cbff, 10%);
}

.striped-rows .mdc-data-table__row:nth-child(even) {
  background-color: #ffffff;
}

/* Class for mouseover effect */
.hover-highlight .mdc-data-table__row {
  transition: background-color 0.3s ease;
}

.hover-highlight .mdc-data-table__row:hover {
  background-color: lighten(#b3cbff, 5%);
}

/* Ensure text color remains legible */
.striped-rows .mdc-data-table__row:hover,
.striped-rows .mdc-data-table__row:nth-child(odd),
.striped-rows .mdc-data-table__row:nth-child(even),
.hover-highlight .mdc-data-table__row {
  color: #333;
}

.link-button {
  vertical-align: middle;
  text-decoration: underline;
  cursor: pointer;
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  padding: 2px 0;
  margin: 0;
  display: inline;
  justify-content: center;
  align-items: center;
}

.link-button:hover,
.link-button:focus {
  text-decoration: none;
  outline: none;
}

.image-previews-tank {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  // grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: repeat(2, auto);
  gap: 10px;
}

.image-previews {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  margin-top: 20px;
}

.image-preview {
  width: 100%;
  padding-top: 100%;
  position: relative;
  border: solid 1px;
}

.menu-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ffffffbd;
  border-radius: 25%;
  display: flex;
}

.menu-button:hover {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.preview-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.table-label {
  min-height: 21px;
}

.table-column {
  padding-top: 1rem;
  margin-bottom: 0;
}

.cost-label {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.image-preview .tbl-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.0);
}

.group-header-row {
  background-color: #00e1ff !important;
  font-weight: bold !important;
}

.selected-toggle-btn {
  background-color: color("lightest-purple") !important;
}

.fa-icon {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 24px;
  vertical-align: middle;
  display: inline-block;
  line-height: 1;
}

.legend-container {
  background-color: #f9f9f9;
}

.legend-item {
  font-size: 1rem;
}

.mat-icon {
  font-size: 24px;
}

@for $i from 1 through 10 {
  .p-t-#{$i} {
    padding-top: #{$i}px !important;
  }
}

@for $i from 1 through 10 {
  .p-b-#{$i} {
    padding-bottom: #{$i}px !important;
  }
}

@for $i from 1 through 10 {
  .p-l-#{$i} {
    padding-left: #{$i}px !important;
  }
}

@for $i from 1 through 10 {
  .p-r-#{$i} {
    padding-right: #{$i}px !important;
  }
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  color: #000000 !important;
  background-color: #8e8e8e09 !important;
}

.table-col-1 {
  width: 8.33%;
}

/* 1/12 */
.table-col-2 {
  width: 16.67%;
}

/* 2/12 */
.table-col-3 {
  width: 25%;
}

/* 3/12 */
.table-col-4 {
  width: 33.33%;
}

/* 4/12 */
.table-col-5 {
  width: 41.67%;
}

/* 5/12 */
.table-col-6 {
  width: 50%;
}

/* 6/12 */
.table-col-7 {
  width: 58.33%;
}

/* 7/12 */
.table-col-8 {
  width: 66.67%;
}

/* 8/12 */
.table-col-9 {
  width: 75%;
}

/* 9/12 */
.table-col-10 {
  width: 83.33%;
}

/* 10/12 */
.table-col-11 {
  width: 91.67%;
}

/* 11/12 */
.table-col-12 {
  width: 100%;
}

/* 12/12 */

.image-container {
  display: inline-block;
  position: relative;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
  /* Avoid inline spacing issues */
}

.grid-overlay,
.grid-overlay-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  gap: 1px;
}

.grid-overlay {
  grid-template-rows: repeat(11, 1fr);
  grid-template-columns: repeat(19, 1fr);
}

.grid-overlay-square {
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
}

.grid-overlay div,
.grid-overlay-square div {
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.3);
}

.grid-overlay div.highlighted,
.grid-overlay-square div.highlighted {
  position: relative;
  background-color: transparent;
}

.grid-overlay div.highlighted::before,
.grid-overlay-square div.highlighted::before,
.grid-overlay div.highlighted::after,
.grid-overlay-square div.highlighted::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 140%;
  height: 4px;
  background-color: rgba(255, 0, 0, 0.7);
}

.grid-overlay div.highlighted::before,
.grid-overlay-square div.highlighted::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.grid-overlay div.highlighted::after,
.grid-overlay-square div.highlighted::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.example-month-picker .mat-calendar {
  width: 300px;
}

.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.custom-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.outer-layer {
  display: grid;
  grid-template-rows: 10% 1fr 10%;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100%;
}

.outer-top,
.outer-bottom {
  display: grid;
  grid-template-columns: repeat(19, 1fr);
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.outer-top .grid-cell,
.outer-bottom .grid-cell {
  border: 1px solid transparent;
  background-color: rgb(255, 255, 255, 0);
}

.outer-middle {
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  height: 100%;
}

.outer-left,
.outer-right {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.outer-left .grid-cell,
.outer-right .grid-cell {
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0);
}

.inner-grid {
  display: grid;
  grid-template-rows: 25% 1fr 25%;
  grid-template-columns: 1fr;
  height: 100%;
}

.grid-top-row,
.grid-bottom-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
}

.grid-cell {
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.3);
  height: 100%;
}

.grid-middle-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100%;
}

.grid-middle-row .grid-cell {
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.3);
  height: 100%;
}

.grid-cell {
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.3);
  height: 100%;
  transition: background-image 0.3s ease;
  pointer-events: auto;
}

.grid-cell.walkway-highlighted {
  background-image: url('/assets/images/icons/walkway.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.disabled-cell {
  background-color: rgba(128, 128, 128, 0.3);
  pointer-events: none;
}

.damage-overlay {
  position: relative;
  overflow: hidden;
}

.damage-overlay::before,
.damage-overlay::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 4px;
  background-color: rgba(255, 0, 0, 0.7);
  transform-origin: center;
}

.damage-overlay::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.damage-overlay::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.to-mark {
  z-index: 5;
}

.td-col {
  width: 0;
}

.td-col-12 {
  width: 100%;
}

.td-col-11-5 {
  width: 95.83333333%;
}

.td-col-11 {
  width: 91.66666667%;
}

.td-col-10-5 {
  width: 87.5%;
}

.td-col-10 {
  width: 83.33333333%;
}

.td-col-9-5 {
  width: 79.16666667%;
}

.td-col-9 {
  width: 75%;
}

.td-col-8-75 {
  width: 83.33333333%;
}

.td-col-8-5 {
  width: 70.83333333%;
}

.td-col-8-25 {
  width: 33.33333333%;
}

.td-col-8 {
  width: 66.66666667%;
}

.td-col-7-5 {
  width: 62.5%;
}

.td-col-7 {
  width: 58.33333333%;
}

.td-col-6-5 {
  width: 54.16666667%;
}

.td-col-6 {
  width: 50%;
}

.td-col-5-5 {
  width: 45.83333333%;
}

.td-col-5 {
  width: 41.66666667%;
}

.td-col-4-5 {
  width: 37.5%;
}

.td-col-4 {
  width: 33.33333333%;
}

.td-col-3-5 {
  width: 29.16666667%;
}

.td-col-3 {
  width: 25%;
}

.td-col-2-75 {
  width: 22.91666667%;
}

.td-col-2-5 {
  width: 20.83333333%;
}

.td-col-2-25 {
  width: 18.75%;
}

.td-col-2 {
  width: 16.66666667%;
}

.td-col-1-75 {
  width: 14.58333333%;
}

.td-col-1-5 {
  width: 12.5%;
}

.td-col-1-25 {
  width: 10.41666667%;
}

.td-col-1 {
  width: 8.33333333%;
}

.td-col-0-75 {
  width: 6.25%;
}

.td-col-0-5 {
  width: 4.16666667%;
}

.td-col-0-25 {
  width: 2.08333334%;
}

.navbar-brand {
  margin-left: 0px;
}

.navbar-header {
  width: 240px;
}

.sidebar {
  width: 240px;
}

.sidebar .menu .list a span {
  // font-size: 1rem !important;
  margin-bottom: 5px;
}

// .sidebar .menu .list li.active-top .menu-top {
//   background-color: #fff;
// }

// .sidebar .menu .list li.active .menu-top {
//   background-color: #fff;
//   border-radius: 5px;
// }

// .logo-white .navbar-header {
//   background-color: #fff !important;
// }

section.content {
  margin-left: 272px;
  margin-right: 28px;
}

@media (min-width: 1200px) {
  nav.navbar {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 302px);
  }

  .side-closed nav.navbar {
    width: calc(100% - 4rem - 55px);
    transition: all 1s, width 1s;
    left: 81px;
  }
}

.mat-mdc-menu-content i.fas {
  width: var(--mat-menu-item-icon-size);
  height: var(--mat-menu-item-icon-size);
  margin-right: calc(var(--mat-menu-item-spacing) - 5px);
  font-size: 20px;
  padding: 3px 0 3px 3px;
}

table.advance-tab-table,
table.advance-table {
  mat-header-cell {
    font-weight: bold;
    font-family: "Calibri", "Arial", sans-serif;
  }

  mat-cell {
    font-family: "Calibri", "Arial", sans-serif;
  }

  mat-header-cell.justify-content-start {
    justify-content: flex-start !important;
  }

  mat-header-cell.justify-content-end {
    justify-content: flex-end !important;
  }
}

mat-tab-header .mat-mdc-tab-label-container .mdc-tab__text-label {
  font-weight: bold;
  font-family: "Calibri", "Arial", sans-serif;
}

.breadcrumb-title .page-title {
  font-weight: bold;
}

.card .header h2 {
  font-weight: bold;
}

body,
button,
input,
optgroup,
select,
textarea,
.mdc-form-field,
.mdc-text-field--filled .mdc-floating-label,
.mat-mdc-option,
.mat-step-label,
.mat-mdc-select,
.mat-stepper-vertical,
.mat-stepper-horizontal,
.mat-mdc-card-title,
.mat-mdc-dialog-container .mdc-dialog__content,
.mat-mdc-snack-bar-container.snackbar-success .mdc-snackbar__surface {
  font-family: "Calibri", "Arial", sans-serif !important;
}

.snackbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.snackbar-icon {
  font-size: 22px;
}

.mat-mdc-snack-bar-container {

  &.snackbar-success .mdc-snackbar__surface {
    background-color: #ffffff !important;
    text-align: center;

    .mdc-snackbar__label {
      color: #000 !important;
    }

    .snackbar-icon {
      color: mat.get-color-from-palette(custom-theme.$custom-success, 500);
    }
  }

  &.snackbar-info .mdc-snackbar__surface {
    background-color: #ffffff !important;
    text-align: center;

    .mdc-snackbar__label {
      color: #000 !important;
    }

    .snackbar-icon {
      color: mat.get-color-from-palette(custom-theme.$custom-info, 500);
    }
  }

  &.snackbar-error .mdc-snackbar__surface {
    background-color: #ffffff !important;
    text-align: center;

    .mdc-snackbar__label {
      color: #000 !important;
    }

    .snackbar-icon {
      color: mat.get-color-from-palette(custom-theme.$custom-warn, 500);
    }
  }

  &.snackbar-alert .mdc-snackbar__surface {
    background-color: #ffffff !important;
    text-align: center;

    .mdc-snackbar__label {
      color: #000 !important;
    }

    .snackbar-icon {
      color: #f5c105;
    }
  }
}

// .mat-mdc-snack-bar-container .mdc-snackbar__label {
//   color: var(--mdc-snackbar-supporting-text-color);
// }
// .mat-mdc-snack-bar-container.snackbar-info .mdc-snackbar__surface {
//   background-color: rgba(44, 168, 255, 0.8) !important;
//   color: #ffffff !important;
// }

// .mat-mdc-snack-bar-container.snackbar-warning .mdc-snackbar__surface {
//   background-color: rgba(255, 230, 0, 0.8) !important;
//   color: #ffffff !important;
// }

// .mat-mdc-snack-bar-container.snackbar-danger .mdc-snackbar__surface {
//   background-color: rgba(255, 0, 0, 0.8) !important;
//   color: #ffffff !important;
// }

.mat-mdc-form-field-error {
  color: #ff0000 !important;
}

.side-closed.side-closed-hover {
  .sidebar {
    width: 240px !important;

    .menu .list li .sidebarIcon {
      height: 25px !important;

      .active-top>a>i-feather {
        line-height: 1rem;
        top: -3px !important;
        position: relative;
      }
    }
  }

  section.content {
    margin-left: 272px !important;
  }

  nav.navbar {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 302px);
  }
}

.active-top>a>i-feather {
  line-height: 1rem;
  top: -3px !important;
  position: relative;
}

.nav-item.nav-toggle a {
  margin-left: 0px !important;
}

.navbar-header .logo img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 3px 0px;
}

.w-40 {
  width: 40% !important;
}

.w-30 {
  width: 30% !important;
}

.w-33 {
  width: 33.33333% !important;
}

$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@each $breakpoint, $breakpoint-val in $grid-breakpoints {
  @media (min-width: #{$breakpoint-val}) {
    @for $i from 1 through 100 {
      .w-#{$breakpoint}-#{$i} {
        width: #{$i + '%'} !important;
      }
    }
  }
}

.addContainer {
  overflow-y: auto; // 👈 allow vertical scrolling
}

.card {
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-shadow: none;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  // box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.mat-mdc-mini-fab {
  box-shadow: none !important;

  &:hover {
    box-shadow: none !important;
  }
}

.tlx-mdc-tab-group {

  .mat-mdc-tab {
    margin: 0 1px;
    border-radius: 6px 6px 0 0;
    transition: none;

    // Optional styling
    // background-color: $theme-blue-legal-bg;
    // color: $theme-gold-purple-nav-anchor;
    // font-weight: 600;

    .mat-ripple.mat-mdc-tab-ripple {
      border-radius: 8px;
    }

    .mdc-tab__ripple {
      display: none;
    }

    &:hover,
    &:focus {
      border-radius: 8px 8px 0 0;
      transition: none;

      // Optional styling
      // background-color: $theme-blue-legal-bg;
      // color: $theme-gold-purple-nav-anchor;
      // font-weight: 600;
    }

    .mdc-tab-indicator__content--underline {
      // border-color: $theme-blue-complement-bar;
    }

    &[aria-disabled='true'] {
      // @include apply-disabled-style($theme-gold-purple-menu-list-submenu, $theme-gold-purple-disabled-text);
    }
  }

  .mat-mdc-tab.mdc-tab--active {
    border-radius: 8px;

    // background-color: $theme-blue-complement-bar;

    .mdc-tab__text-label {
      // color: white;
      transition: none;
    }

    &:hover,
    &:focus {
      .mdc-tab__text-label {
        // color: white;
        transition: none;
      }
    }
  }

  .mat-mdc-tab-group .mat-mdc-tab-header {
    // background-color: $theme-gold-purple-bar !important;
  }
}

// .tlx-card {
//   background-color: #fff;

//   .header {
//     background-color: #fff;

//     h2 {
//       color: #000;
//     }
//   }
// }

// .mat-expansion-panel-header.tank-header {
//   background-color: lighten(#b3cbff, 10%);

//   &:hover,
//   &:focus {
//     background-color: lighten(#b3cbff, 5%) !important;
//   }

//   &.mat-expanded {
//     .header h2 {
//       // color: white;
//     }

//     &:hover,
//     &:focus {
//       background-color: lighten(#b3cbff, 10%) !important;
//     }
//   }
// }

.mat-expansion-panel.alternate-panel {

  // Default blue background for .tank-header
  .tank-header {
    background-color: lighten(#b3cbff, 10%);

    &:hover,
    &:focus {
      background-color: lighten(#b3cbff, 5%) !important;
    }
  }

  // Override when the panel is expanded
  &.mat-expanded {
    .tank-header {
      background-color: initial !important;

      &:hover,
      &:focus {
        background-color: initial !important;
      }
    }
  }
}

.yellow-timer-icon {
  color: lighten(#dfa805, 25%); //#25D366 //#0ec955b4; /* any custom color */
}

.green-timer-icon {
  color: lighten(#25D366, 10%); //#0ec955b4; /* any custom color */
}

.red-timer-icon {
  color: lighten(#f51111, 18%); //#0ec955b4; /* any custom color */
}


.yellow-button {
  background-color: lighten(#dfa805, 25%) !important;
  /* Material green */
  color: white !important;
}

.green-button {
  background-color: lighten(#35b435, 16%) !important; //#057930
  /* Material green */
  color: white !important;
}

.red-button {
  background-color: lighten(#f51111, 18%) !important;
  /* Material green */
  color: white !important;
}

.orange-button {
  background-color: lighten(#f5752a, 12%) !important;
  /* Material green */
  color: white !important;
}

.relative-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

// nav.navbar.active {
//   border-radius: 10%;
//   .container-fluid {
//     background-color: #000 !important;
//     color: #fff;

//     .header-icon svg,
//     .fas,
//     .m-r-5 {
//       color: #fff !important;
//     }

//     .mat-mdc-icon-button,
//     .mat-mdc-button {
//       color: #fff !important;
//     }

//     .mat-mdc-menu-trigger {
//       color: #fff !important;
//     }
//   }
// }

.card.cargo-nature {
  border: 0px;
  font-weight: 700;
  font-size: 1.5rem;

  .body {
    font-size: 1.25rem;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .mat-icon {
    font-size: 36px;
    line-height: 36px;
    width: 36px;
    height: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

// .card .header {
//   border-bottom: 1px solid;
// }

.sidemenu-collapse {
  height: 100%;
  padding: 20px;
  border: none;
}

.collapse-menu-button {
  height: 100%;
  display: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .collapse-menu-button {
    height: 100%;
    display: block;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .collapse-menu-button {
    height: 100%;
    display: block;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .collapse-menu-button {
    height: 100%;
    display: block;
  }
}

@media (min-width: 281px) and (max-width: 364px) {
  .collapse-menu-button {
    height: 100%;
    display: block;
  }
}

@media (max-width: 280px) {
  .collapse-menu-button {
    height: 100%;
    display: block;
  }
}

.small-font-tbl table.advance-tab-table mat-header-cell,
table.advance-table mat-header-cell,
table.advance-table mat-cell {
  font-size: 0.8rem;
}

.card .body {
  padding-left: 10px;
  padding-right: 10px;
}

mat-step-header.mat-step-header,
mat-step-header.mat-step-header:hover {
  border-radius: 20px !important;
}

.contact-detail-label {
  margin-right: 10px;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 10px !important;
}

.no-results {
  display: none;
}


mat-button-toggle-group.ng-invalid {
  border: 1px solid red;
  border-radius: 4px;
}

mat-button-toggle.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 36px;
}

.mat-button-toggle-appearance-standard.mat-button-toggle-checked {
  background-color: mat.get-color-from-palette(custom-theme.$custom-primary, 500) !important;
  color: mat.get-color-from-palette(custom-theme.$custom-primary, 500-contrast) !important;
}

.value-display-info {
  font-weight: bold;
}

.right-align-display {
  &>[class^="col-"] {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .label-display-info {
    display: block;
    text-align: right;
  }

  .value-display-info {
    display: block;
    text-align: left;
  }
}

.div-bg-blue {
  background-color: #b8cdf3;
}

table.curve-table {
  border-collapse: separate;
  /* Important for border-radius to work */
  border-spacing: 0;
  border-radius: 5px;
  overflow: hidden;
  /* Helps apply the radius to inner content */
}

.text-danger-bright {
  color: #ff0000
}

mat-form-field.textarea-line-1 textarea.mdc-text-field__input {
  line-height: 0.8 !important;
}

.text-normal {
  color: #222222;
}

.dollar-sign {
  margin-right: 5px;
}

table.squeeze-form-field mat-form-field div.mdc-text-field {
  padding: 0;
}

.watermark {
  position: relative;
  // z-index: 1;
}

.watermark::after {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('/assets/images/landing-logo.png');
  background-repeat: no-repeat;
  background-size: 1000px auto;
  background-position: center;
  opacity: 0.08;
  pointer-events: none;
  z-index: -1;
}

.mat-mdc-row.bg-warn-row {
  background-color: $theme-blue-complement-warn-bar !important;
}

.tank-title {
  font-size: 1.05rem;
  font-style: italic;
}

.tank-no-value {
  font-style: normal;
}

.previous-label {
  font-weight: bold;
  color: #000000;
}

.option-country-flag {
  margin-right: 6px;
}

.chg-psw-text,
.forgot-psw-caption-text {
  width: 100%;
  padding-bottom: 0px;
}

.mat-mdc-form-field-required-marker {
  display: none !important;
}

// .truncate-2-lines {
//   display: -webkit-box;
//   display: flex; // legacy fallback (not critical but harmless)
//   -webkit-box-orient: vertical;
//   box-orient: vertical; // legacy fallback
//   overflow: hidden;
//   text-overflow: ellipsis;
//   -webkit-line-clamp: 2;
//   line-clamp: 2; // modern standard property
// }

h6[matsuffix] {
  font-size: 0.9rem
}

button.mat-mdc-mini-fab.smaller-btn {
  width: 32px;
  height: 32px;
  min-width: 32px;
  font-size: 16px;

  .material-icons {
    font-size: 18px;
  }
}

mat-card.card-copied {
  background-color: $theme-blue-nav-anchor_focus;
}

button[mat-flat-button].center-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  mat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    margin-left: auto;
  }
}

.rotate-180 {
  transform: rotate(180deg);
}

.job-order-task-button{
  width:147px
}

.ellipsis-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: inherit;
}

mat-chip-grid.nowrap .mdc-evolution-chip-set__chips {
  flex-flow: nowrap !important;
}