::ng-deep {
    .multiline-tooltip {
        white-space: pre-line;
        .mdc-tooltip__surface {
            max-width: unset;
        }
    }
}

.div-bg-blue {
  background-color: #b8cdf3;
}

.mat-icon {
  overflow: visible !important;
}

.card .header-custom-padding{
  padding-left: 0.8%;
  padding-bottom: 0%;
}