<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="pageTitle" [items]="breadcrumsMiddleList" [active_item]="pageTitle"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <mat-accordion>
            <mat-expansion-panel [disabled]="true" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                </mat-panel-title>
                <mat-panel-description>
                  <div class="m-l-" [matTooltip]="translatedLangText.ADD">
                    <button mat-mini-fab color="primary" (click)="addCall()" (click)="$event.stopPropagation()">
                      <mat-icon class="col-white">add</mat-icon>
                    </button>
                  </div>
                  <div class="export-button m-l-10" [matTooltip]="translatedLangText.EXPORT">
                    <img src="assets/images/icons/xlsx.png" alt="" (click)="exportExcel()"
                      (click)="$event.stopPropagation()" />
                  </div>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form class="ms-0" [formGroup]="pcForm!" #formDirective="ngForm">
                  <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 mb-1">
                      <mat-form-field class="example-full-width">
                        <mat-label>{{translatedLangText.PACKAGE_MIN_LABOUR}}</mat-label>
                        <input matInput formControlName="min_labour" type="number">
                      </mat-form-field>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 mb-1">
                      <mat-form-field class="example-full-width">
                        <mat-label>{{translatedLangText.PACKAGE_MAX_LABOUR }}</mat-label>
                        <input matInput formControlName="max_labour" type="number">
                      </mat-form-field>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 mb-1">
                      <mat-form-field class="example-full-width">
                        <mat-label>{{translatedLangText.PACKAGE_MIN_COST}}</mat-label>
                        <input matInput formControlName="min_cost" type="number">
                      </mat-form-field>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 mb-1">
                      <mat-form-field class="example-full-width">
                        <mat-label>{{translatedLangText.PACKAGE_MAX_COST }}</mat-label>
                        <input matInput formControlName="max_cost" type="number">
                      </mat-form-field>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0 d-flex align-items-center ms-auto justify-content-end">
                      <button mat-mini-fab color="primary" (click)="search()">
                        <mat-icon>search</mat-icon>
                      </button>
                      <button mat-flat-button class="m-l-10 bg-light-gold" (click)="resetDialog($event)">
                        {{translatedLangText.CLEAR_ALL}}
                      </button>
                    </div>
                  </div>
                </form>
              </div> -->
            </mat-expansion-panel>
          </mat-accordion>
          <div class="body overflow-auto">
            <div class="responsive_table">
              <table mat-table [dataSource]="tariffSteamItems" matSort class="mat-cell advance-table striped-rows hover-highlight dark-header">
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-1 justify-content-start'">
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()" [ngClass]="'tbl-checkbox'">
                    </mat-checkbox>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-1'">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)" [ngClass]="'tbl-checkbox'">
                    </mat-checkbox>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="minTemp">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{this.translatedLangText.MIN_TEMP
                    }}</mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                    <span class="mobile-label">{{this.translatedLangText.MIN_TEMP
                      }}:</span>{{(row.temp_min===null||row.temp_min==undefined||
                    row.temp_min==9999)?"-":roundUpToDecimal(row.temp_min,2)}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="maxTemp">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{this.translatedLangText.MAX_TEMP
                    }}</mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                    <span class="mobile-label">{{this.translatedLangText.MAX_TEMP
                      }}:</span>{{(row.temp_max===null||row.temp_max==undefined ||
                    row.temp_max==9999)?"-":roundUpToDecimal(row.temp_max,2)}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="cost">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{this.translatedLangText.COST}}</mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                    <span class="mobile-label">{{this.translatedLangText.COST}}:</span>
                    {{row.cost?.toFixed(2)}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="labour">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{this.translatedLangText.LABOUR
                    }}</mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                    <span class="mobile-label">{{this.translatedLangText.LABOUR }}:</span>
                    {{row.labour?.toFixed(2)}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="qty">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{this.translatedLangText.QTY}}</mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                    <span class="mobile-label">{{this.translatedLangText.QTY}}:</span> {{row.qty }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="lastUpdate">
                  <mat-header-cell *matHeaderCellDef
                    mat-sort-header>{{this.translatedLangText.LAST_UPDATED}}</mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                    <span class="mobile-label">{{this.translatedLangText.LAST_UPDATED}}:</span>
                    {{this.displayLastUpdated(row)}}</mat-cell>
                </ng-container>
                <!-- actions -->
                <ng-container matColumnDef="actions">
                  <mat-header-cell class="pr-0" *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                    <button mat-icon-button color="accent" (click)="$event.stopPropagation()" (click)="deleteItem(row)"
                      class="tbl-action-btn">
                      <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                    </button>
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editCall(row)"
                  [style.cursor]="'pointer'" matRipple>
                </mat-row>
              </table>
            </div>
            <!-- Loading spinner -->
            @if (!(tariffSteamDS.loading$ | async) && !tariffSteamItems.length) {
            <mat-divider></mat-divider>
            <div class="no-results m-l-20 pt-3" [style.display]="tariffSteamItems.length === 0 ? '' : 'none'">
              <h5 class="m-b-15">{{translatedLangText.NO_RESULT }}</h5>
            </div>
            }
            <!-- Loading spinner -->
            @if (tariffSteamDS.loading$ | async) {
            <div class="tbl-spinner">
              <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
              </mat-progress-spinner>
            </div>
            }
            <mat-paginator #paginator [length]="tariffSteamDS.totalCount" [pageIndex]="0" [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 50]" (page)="onPageEvent($event)">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>