<form class="ms-0" [formGroup]="filterJobOrderForm!" (ngSubmit)="onFilterJobOrder()" #formDirective="ngForm">
  <div class="card">
    <div class="header">
      <h2>
        {{translatedLangText.BAY_ALLOCATION}}
      </h2>
    </div>
    <div class="body">
      <div class="team-container">
        <div class="team-buttons">
          
          @for (team of teamList; track team) {
        

            <div class="card team-button"  [ngClass]="{'selected': team.isOccupied}">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-0  d-flex align-items-center">
                  <mat-label style="display: flex; justify-content: left; font-size: 16px;">{{team.description}}</mat-label>
                </div>
              </div>
              <div class="row" style="margin-left: 20px;">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-0  d-flex align-items-center">
                  <mat-label style="display: flex; justify-content: left;"> {{translatedLangText.TANK_NO}} : &nbsp;</mat-label>
                
                @if(team.isOccupied)
                {
                  <mat-label style="display: flex; justify-content: left;"> {{team.jobOrderItem?.storing_order_tank?.tank_no}}</mat-label>
                
                }
                @else{
                  <mat-label style="display: flex; justify-content: left;"> - </mat-label>
                  }
                </div>
              </div>
              <div class="row" style="margin-left: 20px;">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-0  d-flex align-items-center">
                  <mat-label style="display: flex; justify-content: left;"> {{translatedLangText.CLEANING_METHOD}} : &nbsp;</mat-label>
                
                @if(team.isOccupied)
                {
                  <mat-label style="display: flex; justify-content: left;"> {{team.jobOrderItem?.storing_order_tank?.tariff_cleaning?.cleaning_method?.description}}</mat-label>
                
                }
                @else{
                  <mat-label style="display: flex; justify-content: left;"> - </mat-label>
                  }
                </div>
              </div>
              <div class="row" style="margin-top: 20px;">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-0  d-flex align-items-center">
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-0">
                    <button mat-button class="action-button"  [disabled]="!team.isOccupied" (click)="rollBackSteamingJob($event,team)" >

                      <mat-icon class="button-icon-size">
                        undo
                      </mat-icon>
                     
                    </button>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-0">
                    <button  mat-button class="action-button"  [disabled]="!team.isOccupied" (click)="showTankInfo($event,team)">
                      <mat-icon class="button-icon-size">
                        info_outline
                      </mat-icon>
                    </button>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-0">
                    <button  mat-button class="action-button"  [disabled]="!team.isOccupied" (click)="steamJob($event,team)">
                      <mat-icon class="button-icon-size">
                         whatshot
                      </mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- <button 
              mat-button 
              (click)="toggleTeam(team)"
              [ngClass]="{'selected': team.isSelected}"
              [disabled]="team.isOccupied"
              class="team-button">
              
              <span class="team-description">
                @if(team.isOccupied)
                {
                  {{team.tank_no}}
                }
                @else{
                {{team.description}}
                }


              </span>


            </button>  -->
          
        } 
        </div>
      </div>
      <div class="spacer"></div>
      <div mat-dialog-actions class="align-right">
        
        <!-- @if(canAbort())
        {
          
          <button mat-flat-button color="warn"  (click)="onAbort($event)" class="m-r-5">{{translatedLangText.ABORT}}</button>
        }

        @if (canEdit() && !buttonViewOnly()) {
          <button mat-flat-button color="primary"  (click)="save()" [disabled]="!canSave()" class="m-r-5">{{translatedLangText.SAVE_AND_SUBMIT}}</button>
        }

       
        <button mat-flat-button (click)="onNoClick()" tabindex="-1" class="m-r-5">
          @if(canEdit()){
          {{translatedLangText.CANCEL}}
          }
          @if(!canEdit()){
            {{translatedLangText.CLOSE}}
          } -->
        
        <!-- </button> -->
      </div>
    </div>
      @if (joDS.loading$ | async) {
      <div class="tbl-spinner">
        <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
        </mat-progress-spinner>
      </div>
      }
  </div>
</form>


