<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <h4>{{dialogTitle}}</h4>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form" [formGroup]="steamPartForm" #formDirective="ngForm">
      @if (sotDS.loadingSubject | async) {
      <div class="tbl-spinner">
        <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
        </mat-progress-spinner>
      </div>
      }
      @if (!(sotDS.loadingSubject | async)) {
      @if (steamDS.canAmend(this.steamItem!)) {
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
          <mat-form-field class="example-full-width">
            <mat-label>{{data.translatedLangText.DESCRIPTION}}</mat-label>
            <input matInput [formControl]="newDescControl" [matAutocomplete]="description" required="true">
            <mat-autocomplete #description="matAutocomplete" [displayWith]="displaySteamPart">
              @for (cc of displayPartSteamList; track cc) {
              <mat-option [value]="cc">
                {{cc.tariff_repair?.alias}}
              </mat-option>
              }
            </mat-autocomplete>
            @if (newDescControl.hasError('duplicated')) {
            <mat-error>
              {{data.translatedLangText.DESCRIPTION}} {{data.translatedLangText.EXISTED}}
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-6 mb-1">
          <mat-form-field class="example-full-width">
            <mat-label>{{data.translatedLangText.QUANTITY}}</mat-label>
            <input matInput formControlName="quantity" type="text" [min]="0" appNumericText required>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-6 mb-1">
          <mat-form-field class="example-full-width">
            <mat-label>{{data.translatedLangText.PRICE}}</mat-label>
            <input matInput formControlName="cost" type="text" [min]="0" appNumericText required>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-1">
          <mat-form-field class="example-full-width">
            <mat-label>{{data.translatedLangText.HOUR}}</mat-label>
            <input matInput formControlName="labour" type="text" [min]="0" appNumericText required>
          </mat-form-field>
        </div>
        <!-- <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-1 mt-2 p-t-2">
          <button mat-flat-button color="accent" type="button" [ngClass]="'m-r-10'" (click)="addEstDetails($event)">
            <mat-icon class="col-white">
              @if (!this.updateSelectedItem){
              add
              }
              @else {
              edit
              }
            </mat-icon>
            {{data.translatedLangText.DETAILS}}
          </button>
        </div> -->
      </div>
      }
      }
      <div mat-dialog-actions class="mb-1 align-center">
        @if(!isEdit()) {
        <button mat-flat-button color="accent"
          (click)="submit(true)">{{data.translatedLangText.ADD_ANOTHER}}</button>
        }
        @if (canEdit()) {
        <button mat-flat-button color="primary" class="m-l-5"
          (click)="submit(false)">{{data.translatedLangText.SAVE}}</button>
        }
        <button mat-flat-button (click)="onNoClick()" tabindex="-1"
          class="m-l-5">{{data.translatedLangText.CANCEL}}</button>
      </div>
    </form>
  </div>
</div>