<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="pageTitle" [items]="breadcrumsMiddleList" [active_item]="pageTitle"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <mat-accordion>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                </mat-panel-title>
                <mat-panel-description>
                  <div class="m-l-" [matTooltip]="translatedLangText.SEARCH">
                    <button mat-mini-fab color="primary" (click)="search()" (click)="$event.stopPropagation()">
                      <mat-icon>search</mat-icon>
                    </button>
                  </div>
                  <div class="m-l-10" [matTooltip]="translatedLangText.CLEAR_ALL">
                    <button mat-mini-fab color="accent" (click)="resetDialog($event)"
                      (click)="$event.stopPropagation()">
                      <mat-icon>clear_all</mat-icon>
                    </button>
                  </div>
                  <div class="m-l-10" [matTooltip]="translatedLangText.ADD">
                    <button mat-mini-fab color="primary" (click)="addCall()" (click)="$event.stopPropagation()">
                      <mat-icon class="col-white">add</mat-icon>
                    </button>
                  </div>
                  <!-- <div class="m-l-10" [matTooltip]="translatedLangText.REFRESH">
                    <button mat-mini-fab class="primary-light" color="" (click)="refresh()"
                      (click)="$event.stopPropagation()">
                      <mat-icon>refresh</mat-icon>
                    </button>
                  </div> -->
                  @if (modulePackageService.isGrowthPackage() || modulePackageService.isCustomizedPackage()) {
                  <div class="export-button m-l-10" [matTooltip]="translatedLangText.EXPORT">
                    <img src="assets/images/icons/xlsx.png" alt="" (click)="exportExcel()"
                      (click)="$event.stopPropagation()" />
                  </div>
                  }
                </mat-panel-description>
              </mat-expansion-panel-header>
              <form class="ms-0" [formGroup]="searchForm!" #formDirective="ngForm">
                <div class="row">
                  <!-- <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.FORMULA_NAME }}</mat-label>
                      <input matInput formControlName="name">
                    </mat-form-field>
                  </div> -->
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.FORMULA_DESCRIPTION }}</mat-label>
                      <input matInput formControlName="description">
                    </mat-form-field>
                  </div>
                  <!-- <div class="col-xl-2 col-lg-3 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.MIN_DURATION}}</mat-label>
                      <input matInput formControlName="duration_min" type="number">
                    </mat-form-field>
                  </div> -->
                  <!-- <div class="col-xl-2 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.MAX_DURATION}}</mat-label>
                      <input matInput formControlName="duration_max" type="number">
                    </mat-form-field>
                  </div> -->
                  <!-- <div
                    class="col-xl-2 col-lg-4 col-md-12 col-sm-12 mb-2 d-flex ms-auto align-items-center justify-content-end pe-4">
                    <button mat-mini-fab color="primary" (click)="search()" matTooltip={{translatedLangText.SEARCH}}>
                      <mat-icon>search</mat-icon>
                    </button>
                    <button mat-mini-fab class="m-l-5 bg-dark-gold" (click)="resetDialog($event)"
                      matTooltip={{translatedLangText.CLEAR_ALL}}>
                      <mat-icon>clear_all</mat-icon>
                    </button>
                  </div> -->
                </div>
              </form>
            </mat-expansion-panel>
          </mat-accordion>
          <div class="body overflow-auto">
            <div class="responsive_table">
              <table mat-table [dataSource]="clnFormulaList" matSort
                class="mat-cell advance-table striped-rows hover-highlight dark-header">
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.guid}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="category_name">
                  <mat-header-cell mat-header-cell *matHeaderCellDef [ngClass]="''">
                    {{translatedLangText.CLEANING_FORMULA}}
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let row" class="">
                    <span class="mobile-label">{{translatedLangText.CLEANING_FORMULA }}:</span>{{row.name}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="category_description">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{translatedLangText.DESCRIPTION }}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                    <span class="mobile-label">{{translatedLangText.DESCRIPTION}}:</span>{{row.description}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="category_duration">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{translatedLangText.DURATION }}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                    <span class="mobile-label">{{translatedLangText.DURATION}}:</span>{{row.duration}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="update_date">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{translatedLangText.LAST_UPDATED }}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                    <span class="mobile-label">{{translatedLangText.LAST_UPDATED }}:</span>{{displayLastUpdated(row)}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                  <mat-header-cell class="pr-0" [ngClass]="''" *matHeaderCellDef>
                  </mat-header-cell>

                  <mat-cell *matCellDef="let row; let i=index;" class="justify-content-end">
                    @if(CanDelete(row)){
                    <button mat-icon-button (click)="$event.stopPropagation()" (click)="handleDelete($event, row)"
                      [matTooltip]="translatedLangText.DELETE" class="tbl-action-btn text-custom-danger">
                      <mat-icon>delete_forever</mat-icon>
                    </button>
                    }
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editCall(row)"
                  [style.cursor]="'pointer'" matRipple>
                </mat-row>
              </table>
            </div>
            <!-- No result -->
            @if (!(fmlDS.loading$ | async) && !clnFormulaList.length) {
            <mat-divider></mat-divider>
            <div class="no-results m-l-20 pt-3" [style.display]="clnFormulaList.length === 0 ? '' : 'none'">
              <h5 class="m-b-15">{{translatedLangText.NO_RESULT }}</h5>
            </div>
            }
            <!-- Loading spinner -->
            @if (fmlDS.loading$ | async) {
            <div class="tbl-spinner">
              <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
              </mat-progress-spinner>
            </div>
            }
            <mat-paginator #paginator [length]="fmlDS.totalCount" [pageIndex]="0" [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageEvent($event)">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>