<div mat-dialog-title class="ms-3 mt-3">
  <h4>{{translatedLangText.PREVIEW_PDF}} : {{translatedLangText.CUSTOMER_INVOICE}}</h4>
</div>
<div #pdfTable id="pdfTable" mat-dialog-content>
  

  <div id="pdf-form-body" class="pdf-container pdf-body">
    @for (bCust of repBillingCustomers; track bCust) {
  <div class="card">
    
      <div class="pdf-body">
        <table  id="table_customer_info" class="table_customer_info">
          <tr>
            <td> {{translatedLangText.CUSTOMER}} :</td>
            <td> {{bCust.customer}}</td>
          </tr>
          <tr>
            <td> {{translatedLangText.INVOICE_PERIOD}} :</td>
            <td> {{bCust.invoice_period}}</td>
            <td class="sp"> {{translatedLangText.DATE}} :</td>
            <td>{{GeneratedDate()}}</td>
          </tr>
        </table>
      </div>
      <!-- <div class="row">&nbsp;</div> -->
      <!-- <div class="row pdf-body">
        {{translatedLangText.INVOICE_PERIOD}} : {{bCust.invoice_period}}
      </div> -->
      <table id="repair-part-table" class="repair-part-table">
        <tr class="group-header">
          <th class="th-w2">{{translatedLangText.NO}}</th>
          <th class="th-w5">{{translatedLangText.JOB_NO}}</th>
          <th class="th-w8">{{translatedLangText.TANK_NO}}</th>
          <th class="th-w8">{{translatedLangText.EIR_NO}}</th>
          <th class="th-w12">{{translatedLangText.LAST_CARGO}}</th>
          <th class="th-w6">{{translatedLangText.IN_DATE}}</th>
          <th class="th-w6">{{translatedLangText.OUT_DATE}}</th>
          <th class="th-w6">{{translatedLangText.CLEAN_COST}}</th>
          <th class="th-w6">{{translatedLangText.REPAIR_COST}}</th>
          <th class="th-w7">{{translatedLangText.PREINSP_COST}}</th>
          <th class="th-w6">{{translatedLangText.LOLO_COST}}</th>
          <th class="th-w3">{{translatedLangText.DAYS}}</th>
          <th class="th-w6">{{translatedLangText.STORAGE_COST}}</th>
          <th class="th-w6">{{translatedLangText.STEAM_COST}}</th>
          <th class="th-w7">{{translatedLangText.RESIDUE_COST}}</th>
          <th class="th-w6">{{translatedLangText.GATEIO_S}}</th>
          <th class="th-w8">{{translatedLangText.TOTAL}}</th>
        </tr>
        @for (itm of bCust.items; track itm;let index = $index) {
          <tr class="fixed_height_40px">
            <td class="text-center">{{ index + 1 }}</td> <!-- Row number -->
            <td><span class="overflow-text">{{ itm.job_no }}</span></td> 
            <td><span class="overflow-text">{{ itm.tank_no }}</span></td> 
            <td><span class="overflow-text">{{ itm.eir_no }}</span></td> 
            <td><span class="overflow-text"  matTooltip={{itm.last_cargo}}>{{ itm.last_cargo }}</span></td> 
            <td><span class="overflow-text text-center">{{ itm.in_date }}</span></td> 
            <td><span class="overflow-text text-center">{{ itm.out_date }}</span></td> 
            <td class="text-center">{{ (itm.clean_cost==="0.00"?'':itm.clean_cost) }}</td> 
            <td class="text-center">{{ (itm.repair_cost==="0.00"?'':itm.repair_cost) }}</td> 
            <td class="text-center">{{ (itm.preins_cost==="0.00"?'':itm.preins_cost) }}</td> 
            <td class="text-center">{{ (itm.lolo_cost==="0.00"?'':itm.lolo_cost) }}</td> 
            <td class="text-center">{{ itm.days }}</td> 
            <td class="text-center">{{ (itm.storage_cost==="0.00"?'':itm.storage_cost)}}</td> 
            <td class="text-center">{{ (itm.steam_cost==="0.00"?'':itm.steam_cost)}}</td> 
            <td class="text-center">{{ (itm.residue_cost==="0.00"?'':itm.residue_cost)}}</td> 
            <td class="text-center">{{ (itm.gateio_cost==="0.00"?'':itm.gateio_cost)}}</td> 
            <td class="text-center">{{ (itm.total==="0.00"?'':itm.total) }}</td> 
          </tr>
        }
      </table>
    
  </div>
  }
  </div>

 
</div>
<div mat-dialog-actions class="m-2 align-right">
  <button mat-flat-button color="accent" (click)="onDownloadClick()" tabindex="-1"
    [disabled]="(steamDS.actionLoading$| async) || (isFileActionLoading$| async) || (generatingPdfLoading$| async)">
    <mat-icon>
      @if (!(steamDS.actionLoading$ | async) && !(isFileActionLoading$| async) && !(generatingPdfLoading$| async)) {
        file_download
      } @else {
      <mat-spinner color="primary" [diameter]="18"></mat-spinner>
      }
    </mat-icon>
    {{translatedLangText.DOWNLOAD}}
  </button>
  @if ((generatingPdfLoading$| async)) {
  <mat-progress-bar mode="determinate" [value]="generatingPdfProgress"></mat-progress-bar>
  }
</div>