<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="pageTitle" [items]="breadcrumsMiddleList" [active_item]="pageTitle"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <mat-accordion>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <form class="ms-0" [formGroup]="searchForm!" #formDirective="ngForm">
                <div class="row">
                  <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.TANK_NO}}</mat-label>
                      <input matInput formControlName="tank_no">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.CUSTOMER}}</mat-label>
                      <input matInput formControlName="customer_code" [formControl]="customerCodeControl"
                        [matAutocomplete]="customerCode">
                      <mat-autocomplete #customerCode="matAutocomplete" [displayWith]="displayCustomerCompanyFn">
                        @for (cc of customer_companyList; track cc) {
                        <mat-option [value]="cc">
                          {{ccDS.displayName(cc)}}
                        </mat-option>
                        }
                      </mat-autocomplete>
                      @if (customerCodeControl.hasError('invalidAutocompleteSelection')) {
                      <mat-error>
                        {{translatedLangText.INVALID_SELECTION}}
                      </mat-error>
                      }
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.LAST_CARGO}}</mat-label>
                      <input matInput [formControl]="lastCargoControl" [matAutocomplete]="lastCargo"
                        formControlName="last_cargo">
                      <mat-autocomplete #lastCargo="matAutocomplete" [displayWith]="displayLastCargoFn">
                        @for (tc of last_cargoList; track tc) {
                        <mat-option [value]="tc">
                          {{tc.cargo}}
                        </mat-option>
                        }
                      </mat-autocomplete>
                      @if (lastCargoControl.hasError('invalidAutocompleteSelection')) {
                      <mat-error>
                        {{translatedLangText.INVALID_SELECTION}}
                      </mat-error>
                      }
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.EIR_DATE}}</mat-label>
                      <mat-date-range-input [rangePicker]="eir_dt_picker">
                        <input matStartDate placeholder="Start date" formControlName="eir_dt_start">
                        <input matEndDate placeholder="End date" formControlName="eir_dt_end">
                      </mat-date-range-input>
                      <mat-datepicker-toggle matSuffix [for]="eir_dt_picker"></mat-datepicker-toggle>
                      <mat-date-range-picker #eir_dt_picker></mat-date-range-picker>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.TANK_STATUS}}</mat-label>
                      <mat-select formControlName="tank_status_cv">
                        @for (codeValue of tankStatusCvList; track codeValue) {
                        <mat-option [value]="codeValue.code_val">
                          {{codeValue.description}}
                        </mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.EIR_NO}}</mat-label>
                      <input matInput formControlName="eir_no">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.REFERENCE}}</mat-label>
                      <input matInput formControlName="reference">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.PURPOSE}}</mat-label>
                      <mat-select multiple formControlName="purpose">
                        @for (codeValue of purposeOptionCvList; track codeValue) {
                        <mat-option [value]="codeValue.code_val">
                          {{codeValue.description}}
                        </mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.SURVEY_DATE}}</mat-label>
                      <mat-date-range-input [rangePicker]="survey_picker">
                        <input matStartDate placeholder="Start date" formControlName="survey_dt_start">
                        <input matEndDate placeholder="End date" formControlName="survey_dt_end">
                      </mat-date-range-input>
                      <mat-datepicker-toggle matSuffix [for]="survey_picker"></mat-datepicker-toggle>
                      <mat-date-range-picker #survey_picker></mat-date-range-picker>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.CLEAN_CERTIFICATE}}</mat-label>
                      <mat-select formControlName="certificate_cv">
                        @for (codeValue of yesnoCvList; track codeValue) {
                        <mat-option [value]="codeValue.code_val">
                          {{codeValue.description}}
                        </mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 mb-0 d-flex align-items-center">
                    <button mat-mini-fab class="" color="primary" (click)="search()"
                      [matTooltip]="translatedLangText.SEARCH">
                      <mat-icon>search</mat-icon>
                    </button>
                    <!-- <button mat-mini-fab color="primary" class="ms-1" (click)="addBookingDetails($event)"
                      [matTooltip]="translatedLangText.ADD_NEW_BOOKING" [disabled]="!sotSelection.hasValue()">
                      <mat-icon>add</mat-icon>
                    </button>
                    <mat-checkbox class="card-checkbox ms-1" (change)="masterToggle()"
                      [checked]="sotSelection.hasValue() && isAllSelected()"
                      [indeterminate]="sotSelection.hasValue() && !isAllSelected()" [disabled]="!sotList.length">
                      {{translatedLangText.SELECT_ALL}}
                    </mat-checkbox> -->
                    <button mat-flat-button class="m-l-10 bg-light-gold" (click)="resetDialog($event)">
                      {{translatedLangText.CLEAR_ALL}}
                    </button>
                  </div>
                </div>
              </form>
            </mat-expansion-panel>
          </mat-accordion>
          <div class="body overflow-auto">
            <div class="responsive_table">
              <table mat-table [dataSource]="sotList" matSort
                class="mat-cell advance-tab-table striped-rows hover-highlight dark-header">
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.guid}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="tank_no">
                  <mat-header-cell mat-header-cell mat-sort-header *matHeaderCellDef
                    [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-1_5-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                    {{translatedLangText.TANK_NO}}
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let row"
                    [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-1_5-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                    <span class="mobile-tab-label">{{translatedLangText.TANK_NO}}:</span>{{row.tank_no}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="customer">
                  <mat-header-cell mat-header-cell mat-sort-header *matHeaderCellDef
                    [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-2-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                    {{translatedLangText.CUSTOMER}}
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let row"
                    [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-2-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                    <span
                      class="mobile-tab-label">{{translatedLangText.CUSTOMER}}:</span>{{ccDS.displayName(row.storing_order?.customer_company)}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="eir_no">
                  <mat-header-cell *matHeaderCellDef mat-sort-header
                    [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-1_5-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                    {{translatedLangText.EIR_NO}}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row"
                    [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-1_5-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                    <span
                      class="mobile-tab-label">{{translatedLangText.EIR_NO}}:</span>{{igDS.getInGateItem(row.in_gate)?.eir_no}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="eir_dt">
                  <mat-header-cell mat-header-cell mat-sort-header *matHeaderCellDef
                    [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-1_5-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                    {{translatedLangText.EIR_DATE}}
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let row"
                    [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-1_5-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                    <span
                      class="mobile-tab-label">{{translatedLangText.EIR_DATE}}:</span>{{displayDate(igDS.getInGateItem(row.in_gate)?.eir_dt)}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="last_cargo">
                  <mat-header-cell mat-header-cell *matHeaderCellDef
                    [ngClass]="'tbl-col-width-per-2_25-xl tbl-col-width-per-2_25-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                    {{translatedLangText.LAST_CARGO}}
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let row"
                    [ngClass]="'tbl-col-width-per-2_25-xl tbl-col-width-per-2_25-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                    <span
                      class="mobile-tab-label">{{translatedLangText.LAST_CARGO}}:</span>{{row.tariff_cleaning?.cargo}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="purpose">
                  <mat-header-cell mat-header-cell *matHeaderCellDef
                    [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-2-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                    {{translatedLangText.PURPOSE}}
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let row"
                    [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-2-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                    <span class="mobile-tab-label">{{translatedLangText.PURPOSE}}:</span>{{displayTankPurpose(row)}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="status_cv">
                  <mat-header-cell mat-header-cell *matHeaderCellDef
                    [ngClass]="'tbl-col-width-auto-xl tbl-col-width-per-auto-lg tbl-col-width-per-auto-md tbl-col-width-per-auto-sm'">
                    {{translatedLangText.STATUS}}
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let row"
                    [ngClass]="'tbl-col-width-auto-xl tbl-col-width-per-auto-lg tbl-col-width-per-auto-md tbl-col-width-per-auto-sm'">
                    <span class="mobile-tab-label">{{translatedLangText.STATUS}}:</span>{{getTankStatusDescription(row?.tank_status_cv)}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="accept_status">
                  <mat-header-cell mat-header-cell *matHeaderCellDef [ngClass]="''">
                    <mat-icon>more_vert</mat-icon>
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let bookingRow" class="">
                    <span class="mobile-tab-label"><mat-icon>more_vert</mat-icon>:</span>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                  <mat-header-cell [ngClass]="'pr-0'" *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let bookingRow; let i=index;" [ngClass]="'pr-0 justify-content-end'">
                    <!-- @if (bookingDS.canCancel(bookingRow)) {
                    <button mat-icon-button color="warn" class="tbl-action-btn p-2"
                      (click)="cancelItem(row, bookingRow, $event)">
                      <mat-icon>cancel</mat-icon>
                    </button>
                    }
                    @else {
                    <span class="me-3">NA</span>
                    } -->
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'"
                  [routerLink]="['/admin/survey/periodic-test/details', row.guid]" matRipple>
                </mat-row>
              </table>
            </div>
            <!-- No result -->
            @if (!(sotDS.loading$ | async) && !sotList.length) {
            <mat-divider></mat-divider>
            <div class="no-results m-l-20 pt-3" [style.display]="sotList.length === 0 ? '' : 'none'">
              <h5 class="m-b-15">{{langText.NO_RESULT | translate}}</h5>
            </div>
            }
            <!-- Loading spinner -->
            @if (sotDS.loading$ | async) {
            <div class="tbl-spinner">
              <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
              </mat-progress-spinner>
            </div>
            }
            <mat-paginator #paginator [length]="sotDS.totalCount" [pageIndex]="pageIndex" [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageEvent($event)">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>