<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="pageTitle" [items]="breadcrumsMiddleList" [active_item]="'COMMON-FORM.DETAILS'"></app-breadcrumb>
    </div>
    
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              {{translatedLangText.TANK_DETAILS}}
            </h2>
          </div>
          <div class="body">
            @if (igDS.loading$ | async) {
            <div class="tbl-spinner">
              <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
              </mat-progress-spinner>
            </div>
            }
            @if (!(igDS.loading$ | async)) {
            <mat-card-content>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 col-xs-12 m-b-5">
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 m-b-5">
                      <span class="label-display-info">{{translatedLangText.TANK_NO}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 m-b-5">
                      <span class="value-display-info">
                        {{sotItem?.tank_no}}
                      </span>
                    </div>
                  </div>
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 m-b-5">
                      <span class="label-display-info">{{translatedLangText.CUSTOMER}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 m-b-5">
                      <span class="value-display-info">
                        {{ccDS.displayName(sotItem?.storing_order?.customer_company)}}
                      </span>
                    </div>
                  </div>
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 m-b-5">
                      <span class="label-display-info">{{translatedLangText.LAST_CARGO}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 m-b-5">
                      <span class="value-display-info">
                        {{sotItem?.tariff_cleaning?.cargo}}
                      </span>
                    </div>
                  </div>
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 m-b-5">
                      <span class="label-display-info">{{translatedLangText.OWNER}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 m-b-5">
                      <span class="value-display-info">
                        {{ccDS.displayName(sotItem?.customer_company)}}
                      </span>
                    </div>
                  </div>
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 m-b-5">
                      <span class="label-display-info">{{translatedLangText.CLEAN_STATUS}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 m-b-5">
                      <span class="value-display-info">
                        {{getCleanStatusDescription(sotItem?.clean_status_cv)}}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 col-xs-12 m-b-5">
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 m-b-5">
                      <span class="label-display-info">{{translatedLangText.EIR_NO}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 m-b-5">
                      <span class="value-display-info">
                        {{igDS.getInGateItem(sotItem?.in_gate)?.eir_no}}
                      </span>
                    </div>
                  </div>
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 m-b-5">
                      <span class="label-display-info">{{translatedLangText.EIR_DATE}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 m-b-5">
                      <span class="value-display-info">
                        {{displayDate(igDS.getInGateItem(sotItem?.in_gate)?.eir_dt)}}
                      </span>
                    </div>
                  </div>
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 m-b-5">
                      <span class="label-display-info">{{translatedLangText.PURPOSE}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 m-b-5">
                      <span class="value-display-info">
                        {{displayTankPurpose(sotItem)}}
                      </span>
                    </div>
                  </div>
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 m-b-5">
                      <span class="label-display-info">{{translatedLangText.LAST_TEST}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 m-b-5">
                      <span class="value-display-info">
                        {{last_test_desc}}
                      </span>
                    </div>
                  </div>
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 m-b-5">
                      <span class="label-display-info">{{translatedLangText.CURRENT_STATUS}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 m-b-5">
                      <span class="value-display-info">
                        {{getTankStatusDescription(sotItem?.tank_status_cv)}}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
            }
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              {{translatedLangText.SURVEY_DETAILS}}
            </h2>
          </div>
          <div class="body">
            @if (sotDS.loading$ | async) {
            <div class="tbl-spinner">
              <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
              </mat-progress-spinner>
            </div>
            }
            @if (!(sotDS.loading$ | async)) {
            <mat-card-content>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xs-12 m-b-5">
                  <button mat-flat-button color="accent" type="button" [ngClass]="'m-r-10'"
                    (click)="addSurveyDetail($event)">
                    <mat-icon class="col-white">add</mat-icon>
                    {{translatedLangText.SURVEY_DETAILS}}
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xs-12">
                  <div class="body">
                    <div class="responsive_table">
                      <table mat-table [dataSource]="surveyDetailItem" matSort
                        class="mat-cell advance-tab-table striped-rows hover-highlight dark-header curve-table">
                        <ng-container matColumnDef="id">
                          <mat-header-cell *matHeaderCellDef ></mat-header-cell>
                          <mat-cell *matCellDef="let row">{{row.guid}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="survey_type_cv">
                          <mat-header-cell mat-header-cell  *matHeaderCellDef
                            [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-2-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                            {{translatedLangText.SURVEY_TYPE}}
                          </mat-header-cell>
                          <mat-cell mat-cell *matCellDef="let row"
                            [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-2-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                            <span
                              class="mobile-tab-label">{{translatedLangText.SURVEY_TYPE}}:</span>{{getSurveyTypeDescription(row?.survey_type_cv)}}
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="surveyor">
                          <mat-header-cell mat-header-cell  *matHeaderCellDef
                            [ngClass]="'tbl-col-width-per-3-xl tbl-col-width-per-3-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                            {{translatedLangText.SURVEYOR}}
                          </mat-header-cell>
                          <mat-cell mat-cell *matCellDef="let row"
                            [ngClass]="'tbl-col-width-per-3-xl tbl-col-width-per-3-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                            <span
                              class="mobile-tab-label">{{translatedLangText.SURVEYOR}}:</span>{{getTestClassDescription(row?.test_class_cv)}}
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="survey_dt">
                          <mat-header-cell mat-header-cell  *matHeaderCellDef
                            [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-2-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                            {{translatedLangText.SURVEY_DATE}}
                          </mat-header-cell>
                          <mat-cell mat-cell *matCellDef="let row"
                            [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-2-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                            <span
                              class="mobile-tab-label">{{translatedLangText.SURVEY_DATE}}:</span>{{displayDate(row.survey_dt)}}
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="status_cv">
                          <mat-header-cell *matHeaderCellDef 
                            [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-1_5-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                            {{translatedLangText.STATUS}}
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row"
                            [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-1_5-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                            <span
                              class="mobile-tab-label">{{translatedLangText.STATUS}}:</span>{{getSurveyStatusDescription(row?.status_cv)}}
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="remarks">
                          <mat-header-cell mat-header-cell *matHeaderCellDef
                            [ngClass]="'tbl-col-width-auto-xl tbl-col-width-per-auto-lg tbl-col-width-per-auto-md tbl-col-width-per-auto-sm'">
                            {{translatedLangText.REMARKS}}
                          </mat-header-cell>
                          <mat-cell mat-cell *matCellDef="let row"
                            [ngClass]="'tbl-col-width-auto-xl tbl-col-width-per-auto-lg tbl-col-width-per-auto-md tbl-col-width-per-auto-sm'">
                            <span class="mobile-tab-label">{{translatedLangText.REMARKS}}:</span>{{row?.remarks}}
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="actions">
                          <mat-header-cell mat-header-cell *matHeaderCellDef
                            [ngClass]="'tbl-col-width-0_75-xl tbl-col-width-per-0_75-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          </mat-header-cell>
                          <mat-cell mat-cell *matCellDef="let row"
                            [ngClass]="'tbl-col-width-0_75-xl tbl-col-width-per-0_75-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                            @if (surveyDS.canDelete(row)) {
                            <button mat-icon-button color="warn"
                              (click)="deleteSurveyDialog($event, row)" [matTooltip]="translatedLangText.DELETE" class="tbl-action-btn text-custom-danger">
                              <mat-icon>cancel</mat-icon>
                            </button>
                            }
                          </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" (click)="editSurveyDetail($event, row)" matRipple>
                        </mat-row>
                      </table>
                    </div>
                    <!-- No result -->
                    @if (!(surveyDS.loading$ | async) && !surveyDetailItem.length) {
                    <mat-divider></mat-divider>
                    <div class="no-results m-l-20 pt-3" [style.display]="surveyDetailItem.length === 0 ? '' : 'none'">
                      <h5 class="m-b-15">{{langText.NO_RESULT | translate}}</h5>
                    </div>
                    }
                    <!-- Loading spinner -->
                    @if (surveyDS.loading$ | async) {
                    <div class="tbl-spinner">
                      <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                      </mat-progress-spinner>
                    </div>
                    }
                  </div>
                </div>
              </div>
            </mat-card-content>
            }
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <button mat-flat-button type="button" aria-label="Back to previous page"
                  (click)="$event.preventDefault();" [routerLink]="['/admin/survey/others']">
                  <mat-icon>chevron_left</mat-icon>{{translatedLangText.BACK}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>