<div class="addContainer">
  <div class="modalHeader_left_align">
  </div>
  <div mat-dialog-content class="auto-height">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
        <div class="row p-2">
          <div class="col-xl-4-5 col-lg-4-5 col-md-12 col-sm-12 mb-1">
            {{translatedLangText.TANK_NO}}:
            <span class="font-bold">
              {{DisplayTankNo(this.selectedItem)}}
            </span>
          </div>
          <div class="col-xl-4-5 col-lg-4-5 col-md-12 col-sm-11 mb-1">
            {{translatedLangText.EIR_NO }}
            <span class="font-bold">
              {{DisplayEirNo(this.selectedItem)}}</span>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-11 mb-1 align-right">
            {{translatedLangText.EIR_DATE }}
            <span class="font-bold">
              {{DisplayEirDate(this.selectedItem)}}</span>
          </div>
        </div>
      </div>
    </div>
    <form class="register-form" [formGroup]="pcForm" #formDirective="ngForm">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
          <!-- <div class="card"> -->
            <div class="row">
              <!-- <div class="materialTableHeader">
              </div> -->
              <div class="body overflow-auto">
                <div class="responsive_table">
                  <table mat-table [dataSource]="billingItems" matSort
                    class="mat-cell advance-table striped-rows hover-highlight dark-header curve-table">
                    <ng-container matColumnDef="fName">
                      <mat-header-cell
                        [ngClass]="'pr-0 tbl-col-width-per-3-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                        *matHeaderCellDef>{{translatedLangText.INVOICE_NO}}</mat-header-cell>
                      <mat-cell
                        [ngClass]="'pr-0 tbl-col-width-per-3-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                        *matCellDef="let row">
                        <span class="mobile-label">{{translatedLangText.INVOICE_NO
                          }}:</span>{{row.invoice_no}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="lName">
                      <mat-header-cell
                        [ngClass]="'pr-0 tbl-col-width-per-3-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                        *matHeaderCellDef>{{translatedLangText.INVOICE_DATE
                        }}</mat-header-cell>
                      <mat-cell
                        [ngClass]="'pr-0 tbl-col-width-per-3-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                        *matCellDef="let row">
                        <span class="mobile-label">{{translatedLangText.INVOICE_DATE
                          }}:</span>{{displayDate(row.invoice_dt)}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="gender">
                      <mat-header-cell *matHeaderCellDef
                        [ngClass]="'pr-0 tbl-col-width-per-3-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">{{translatedLangText.INVOICE_TYPE}}
                      </mat-header-cell>
                      <mat-cell
                        [ngClass]="'pr-0 tbl-col-width-per-3-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                        *matCellDef="let row">
                        <span class="mobile-label">{{translatedLangText.INVOICE_TYPE
                          }}:</span>{{DisplayBillingType(row.billing_type) }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="mobile">
                      <mat-header-cell *matHeaderCellDef
                        [ngClass]="'pr-0 tbl-col-width-per-3-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm justify-content-center'">{{translatedLangText.COST
                        }} </mat-header-cell>
                      <mat-cell
                        [ngClass]="'pr-0 tbl-col-width-per-3-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm justify-content-center'"
                        *matCellDef="let row">
                        <span class="mobile-label">{{translatedLangText.COST}}:</span>{{DisplayCost(row)}}</mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns" class="custom-body-row"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" class="custom-body-row"
                      [style.cursor]="'pointer'" matRipple>
                    </mat-row>
                  </table>
                </div>
              </div>
            </div>

          <!-- </div> -->
        </div>
      </div>
      <div mat-dialog-actions class="mt-2 mb-1 align-right">
        @if (canEdit()) {
        <button mat-flat-button color="primary" class="me-1" (click)="save()">
          <mat-icon>
            save
          </mat-icon>
          {{translatedLangText.UPDATE}}</button>
        }
        <button mat-stroked-button (click)="onNoClick()" tabindex="-1">{{translatedLangText.CLOSE}}</button>
      </div>
    </form>
  </div>
</div>