<div class="info-box8">
  <i class="material-icons bg-blue card1-icon"> <span class="material-symbols-outlined" style="font-variation-settings: &quot;FILL&quot; 0, &quot;wght&quot; 400, &quot;GRAD&quot; 0, &quot;opsz&quot; 24;">
earbud_case
</span></i>
  <!-- <i class="material-icons bg-orange card1-icon">people</i> -->
  <h5 class="col-blue font-bold">{{translatedLangText.TANK_IN_YARD}}</h5>
  @if (sotDS.loading$ | async) {
  <div class="tbl-spinner">
    <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
    </mat-progress-spinner>
  </div>
  }
  @if (!(sotDS.loading$ | async)) {
  <h2>{{this.sot_waiting}}</h2>
  }
</div>