<!-- <div class="addContainer"> -->
  <div [ngClass]="getColumnClasses('addContainer',isMobile) ">
  <div class="modalHeader_left_align">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <h4>{{GetTitle()}}</h4>
      </div>
    </div>
  </div>
  <div mat-dialog-content class="auto-height">
    <form class="register-form" [formGroup]="pcForm" #formDirective="ngForm">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
          
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
              <mat-form-field class="example-full-width">
                <mat-label>{{translatedLangText.CODE}}</mat-label>
                <input matInput formControlName="code"  type="text" required maxlength="3"  (input)="toUppercase($event)"
                  #preinspection_cost  >
                   @if (pcForm.get('code')?.hasError('duplicated')) {
                  <mat-error>
                    {{translatedLangText.CODE }} {{translatedLangText.EXISTED }}
                  </mat-error>
                  }
                <!-- @if (pcForm.get('preinspection_cost')?.hasError('required')) {
                      <mat-error>
                        {{translatedLangText.PREINSPECTION_COST }} {{translatedLangText.CARGO_REQUIRED}}
                      </mat-error>
                      } -->
              </mat-form-field>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
              <mat-form-field class="example-full-width">
                <mat-label>{{translatedLangText.DESCRIPTION}}</mat-label>
                <input matInput formControlName="description"  type="text"  maxlength="50"
                    >
                <!-- @if (pcForm.get('lolo_cost')?.hasError('required')) {
                      <mat-error>
                        {{translatedLangText.LOLO_COST }} {{translatedLangText.CARGO_REQUIRED }}
                      </mat-error>
                      } -->
              </mat-form-field>
            </div>

          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
              <mat-form-field class="example-full-width">
                <mat-label>{{translatedLangText.RATE }}</mat-label>
                <input matInput formControlName="rate" appNumericText type="text" required min="0" #storage_cost
                 #rate (focus)="rate.select()" [allowDecimal]="true" [decimalLimit]="5">
                 <!-- @if (pcForm.get('rate')?.hasError('positiveNumber')) {
                      <mat-error>
                        {{translatedLangText.RATE }} {{translatedLangText.VALUE_ZERO }}
                      </mat-error>
                      }  -->
              </mat-form-field>
            </div>
            <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
              <mat-form-field class="example-full-width">
                <mat-label>{{translatedLangText.FREE_STORAGE }}</mat-label>
                <input matInput formControlName="free_storage" appNumericText type="text" min="0" #free_storage [allowDecimal]="false"
                  (focus)="free_storage.select()">
                
              </mat-form-field>
            </div> -->

          </div>
        </div>
      </div>
      <div mat-dialog-actions class="mb-1 align-right">
       <!-- @if(isAllowEdit()) -->
        <!-- { -->
          <button mat-flat-button color="primary" class="me-1" (click)="update()" [disabled]="!isAllowSave()" [disabled]="!isDirty && !isNew()">
            <mat-icon>
              save
            </mat-icon>
            @if (isNew()) {
                {{translatedLangText.SAVE}}
            }
            @else{
              {{translatedLangText.UPDATE}}
            }
          </button>
      <!-- } -->
        
        <button mat-stroked-button (click)="onNoClick()" tabindex="-1">{{ translatedLangText.CLOSE}}</button>
      </div>
    </form>
  </div>
</div>