.custom-select {
    width: 300px; /* Adjust the width as needed */
  }
  
  ::ng-deep .cdk-overlay-pane .mat-select-panel {
    max-height: 200px; /* Adjust the height as needed */
  }
  mat-form-field {
    width:100%;
    margin-top: 20px;
    margin-left: 20px ;
    
  }