<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="pageTitle" [items]="breadcrumsMiddleList" [active_item]="pageTitle"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                </mat-panel-title>
                <mat-panel-description>
                  <div class="m-l-" [matTooltip]="translatedLangText.ADD">
                    <button mat-mini-fab color="primary" [routerLink]="['/admin/inventory/storing-order/new']">
                      <mat-icon class="col-white">add</mat-icon>
                    </button>
                  </div>
                  <div class="m-l-10" [matTooltip]="translatedLangText.REFRESH">
                    <button mat-mini-fab color="primary" (click)="refresh()" (click)="$event.stopPropagation()">
                      <mat-icon class="col-white">refresh</mat-icon>
                    </button>
                  </div>
                  <div class="m-l-10" [matTooltip]="translatedLangText.CANCEL" (click)="$event.stopPropagation()">
                    <button mat-mini-fab color="warn" (click)="cancelSelectedRows(soSelection.selected)"
                      [disabled]="canCancelSelectedRows()">
                      <mat-icon class="col-white">cancel</mat-icon>
                    </button>
                  </div>
                  <div class="export-button m-l-10" [matTooltip]="translatedLangText.EXPORT">
                    <img src="assets/images/icons/xlsx.png" alt="" (click)="exportExcel()"
                      (click)="$event.stopPropagation()" />
                  </div>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <form class="ms-0" [formGroup]="searchForm!" #formDirective="ngForm">
                <div class="row">
                  <div class="col-xl-2-5 col-lg-2-5 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.SO_NO}}</mat-label>
                      <input matInput formControlName="so_no">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-2-5 col-lg-2-5 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.CUSTOMER_CODE}}</mat-label>
                      <input matInput formControlName="customer_code" [formControl]="customerCodeControl"
                        [matAutocomplete]="customerCode">
                      <mat-autocomplete #customerCode="matAutocomplete" [displayWith]="displayCustomerCompanyFn">
                        @for (cc of customer_companyList; track cc) {
                        <mat-option [value]="cc">
                          {{ccDS.displayName(cc)}}
                        </mat-option>
                        }
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-2-5 col-lg-2-5 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.LAST_CARGO}}</mat-label>
                      <input matInput [formControl]="lastCargoControl" [matAutocomplete]="lastCargo"
                        formControlName="last_cargo">
                      <mat-autocomplete #lastCargo="matAutocomplete" [displayWith]="displayLastCargoFn">
                        @for (tc of last_cargoList; track tc) {
                        <mat-option [value]="tc">
                          {{tc.cargo}}
                        </mat-option>
                        }
                      </mat-autocomplete>
                      @if (lastCargoControl.hasError('invalidAutocompleteSelection')) {
                      <mat-error>
                        {{translatedLangText.INVALID_SELECTION}}
                      </mat-error>
                      }
                    </mat-form-field>
                  </div>
                  <div class="col-xl-2-5 col-lg-2-5 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.STATUS}}</mat-label>
                      <mat-select formControlName="so_status">
                        @for (codeValue of soStatusCvList; track codeValue) {
                        <mat-option [value]="codeValue.code_val">
                          {{codeValue.description}}
                        </mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-2-5 col-lg-2-5 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.TANK_NO}}</mat-label>
                      <input matInput formControlName="tank_no">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-2-5 col-lg-2-5 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.JOB_NO}}</mat-label>
                      <input matInput formControlName="job_no">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-2-5 col-lg-2-5 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.PURPOSE}}</mat-label>
                      <mat-select multiple formControlName="purpose">
                        @for (codeValue of purposeOptionCvList; track codeValue) {
                        <mat-option [value]="codeValue.code_val">
                          {{codeValue.description}}
                        </mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-2-5 col-lg-2-5 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.ETA_DATE}}</mat-label>
                      <mat-date-range-input [rangePicker]="eta_picker">
                        <input matStartDate placeholder="Start date" formControlName="eta_dt_start">
                        <input matEndDate placeholder="End date" formControlName="eta_dt_end">
                      </mat-date-range-input>
                      <mat-datepicker-toggle matSuffix [for]="eta_picker"></mat-datepicker-toggle>
                      <mat-date-range-picker #eta_picker></mat-date-range-picker>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-2">
                    <button mat-mini-fab color="primary" (click)="search()">
                      <mat-icon>search</mat-icon>
                    </button>
                  </div>
                </div>
              </form>
            </mat-expansion-panel>
          </mat-accordion>
          <div class="body overflow-auto">
            <div class="responsive_table">
              <table mat-table [dataSource]="soList" matSort class="mat-cell advance-table">
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <mat-header-cell *matHeaderCellDef
                    [ngClass]="'tbl-col-width-per-0_5-xl tbl-col-width-per-0_5-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="soSelection.hasValue() && isAllSelected()"
                      [indeterminate]="soSelection.hasValue() && !isAllSelected()" [ngClass]="'tbl-checkbox'">
                    </mat-checkbox>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row"
                    [ngClass]="'tbl-col-width-per-0_5-xl tbl-col-width-per-0_5-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? soSelection.toggle(row) : null"
                      [checked]="soSelection.isSelected(row)" [ngClass]="'tbl-checkbox'">
                    </mat-checkbox>
                  </mat-cell>
                </ng-container>
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.guid}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="so_no">
                  <mat-header-cell *matHeaderCellDef mat-sort-header
                    [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-2-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                    {{translatedLangText.SO_NO}}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row"
                    [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-2-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                    <span class="mobile-label">{{translatedLangText.SO_NO}}:</span>{{row.so_no}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="customer_code">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{translatedLangText.CUSTOMER_CODE}}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <span class="mobile-label">{{translatedLangText.CUSTOMER_CODE |
                      translate}}:</span>{{ccDS.displayName(row.customer_company)}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="no_of_tanks">
                  <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'justify-content-center'">
                    {{translatedLangText.NO_OF_TANKS}}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row"
                    [ngClass]="'justify-content-center'">
                    <span class="mobile-label">{{translatedLangText.NO_OF_TANKS}}:</span>
                    {{row.storing_order_tank.length}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="status">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{translatedLangText.STATUS}}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <span class="mobile-label">{{translatedLangText.STATUS}}:</span> {{row.status_cv}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="accept_status">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{translatedLangText.ACCEPTED}} {{translatedLangText.TANKS}}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <span class="mobile-label">{{translatedLangText.STATUS}}:</span> {{soDS.getAccepetedStatusCount(row)}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="waiting_status">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{translatedLangText.WAITING}} {{translatedLangText.TANKS}}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <span class="mobile-label">{{translatedLangText.STATUS}}:</span> {{soDS.getWaitingStatusCount(row)}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="cancel_status">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{translatedLangText.CANCELED}} {{translatedLangText.TANKS}}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <span class="mobile-label">{{translatedLangText.STATUS}}:</span> {{soDS.getCanceledStatusCount(row)}}</mat-cell>
                </ng-container>
                <!-- actions -->
                <ng-container matColumnDef="actions">
                  <mat-header-cell
                    [ngClass]="'pr-0 tbl-col-width-per-0_75-xl tbl-col-width-per-0_75-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                    *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let row; let i=index;"
                    [ngClass]="'pr-0 justify-content-end tbl-col-width-per-0_75-xl tbl-col-width-per-0_75-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                    <!-- <button mat-icon-button color="accent" (click)="$event.stopPropagation()" (click)="editCall(row)"
                      class="tbl-action-btn">
                      <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                    </button> -->
                    @if (soDS.canCancel(row)) {
                    <button mat-icon-button color="accent" (click)="$event.stopPropagation()" (click)="cancelItem(row)"
                      [matTooltip]="translatedLangText.CANCEL" class="tbl-action-btn">
                      <mat-icon>cancel</mat-icon>
                    </button>
                    }
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"
                  [routerLink]="['/admin/inventory/storing-order/edit', row.guid]" [style.cursor]="'pointer'" matRipple>
                </mat-row>
              </table>
            </div>
            <!-- No result -->
            @if (!(soDS.loadingSubject | async) && !soList.length) {
            <mat-divider></mat-divider>
            <div class="no-results m-l-20 pt-3" [style.display]="soList.length === 0 ? '' : 'none'">
              <h5 class="m-b-15">{{translatedLangText.NO_RESULT}}</h5>
            </div>
            }
            <!-- Loading spinner -->
            @if ((soDS.loadingSubject | async)) {
            <div class="tbl-spinner">
              <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
              </mat-progress-spinner>
            </div>
            }
            <mat-paginator #paginator [length]="soDS.totalCount" [pageIndex]="0" [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageEvent($event)">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>