<div class="container">
    <h4 mat-dialog-title>{{data.translatedLangText.ARE_YOU_SURE_DELETE}}</h4>
    <div mat-dialog-content>
        <ul class="clearfix">
            <li>
                <p>
                    <span class="font-weight-bold">
                        {{data.translatedLangText.TANK_NO}}:
                    </span>{{roSot.storing_order_tank?.tank_no}}
                </p>
            </li>
        </ul>
    </div>
    <div mat-dialog-actions class="mb-1">
        <button mat-flat-button color="warn" [mat-dialog-close]="1" (click)="confirmDelete()">
            {{data.translatedLangText.DELETE}}
        </button>
        <button mat-flat-button (click)="onNoClick()" tabindex="-1">
            {{data.translatedLangText.CLOSE}}
        </button>
    </div>
</div>