<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="this.branch_guid ? pageTitleEdit : pageTitleNew" [items]="breadcrumsMiddleList"
        [active_item]="this.branch_guid ? langText.EDIT : langText.NEW"></app-breadcrumb>
    </div>
    <form class="ms-0" [formGroup]="ccForm!" (ngSubmit)="onBillingBranchSubmit()" #formDirective="ngForm">
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="header">
              <h2>
                {{translatedLangText.BILLING_BRANCH_DETAILS}}
              </h2>
            </div>
            <div class="body">
              <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.CUSTOMER_CODE}}</mat-label>
                    <input matInput [formControl]="customerCodeControl" [matAutocomplete]="customerCode" required
                      [readonly]="!isAllowedToChangedMainCustomer">
                    <mat-autocomplete #customerCode="matAutocomplete" [displayWith]="displayCustomerCompanyFn">
                      @for (cc of customer_companyList; track cc) {
                      <mat-option [value]="cc">
                        {{ccDS.displayName(cc)}}
                      </mat-option>
                      }
                    </mat-autocomplete>
                    <!-- @if (ccForm?.get('customer_code')?.hasError('required')) {
                    <mat-error>
                      {{this.translatedLangText.CUSTOMER_CODE}} {{this.translatedLangText.SO_REQUIRED}}
                    </mat-error>
                    } -->
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.BRANCH_CODE }}</mat-label>
                    <input matInput formControlName="branch_code" class="text-uppercase" (input)="onAlphaOnly($event)"
                      maxlength="6" required [readonly]="!isAllowedToChangedMainCustomer">
                    <!-- @if (ccForm?.get('branch_code')?.hasError('required')) {
                    <mat-error>
                      {{this.translatedLangText.BRANCH_CODE}} {{this.translatedLangText.SO_REQUIRED}}
                    </mat-error>
                    } -->
                    @if (ccForm?.get('branch_code')?.hasError('existed')) {
                    <mat-error>
                      {{this.translatedLangText.BRANCH_CODE}} {{this.translatedLangText.EXISTED}}
                    </mat-error>
                    }
                    @if (ccForm?.get('branch_code')?.hasError('duplicated')) {
                    <mat-error>
                      {{this.translatedLangText.CUSTOMER_CODE}} & {{this.translatedLangText.BRANCH_CODE}}
                      {{this.translatedLangText.SAME}}
                    </mat-error>
                    }
                    @if (ccForm?.get('branch_code')?.hasError('minlength')) {
                    <mat-error>
                      {{this.translatedLangText.MIN_3_ALPHA}}
                    </mat-error>
                    }
                    @if (ccForm?.get('branch_code')?.hasError('pattern')) {
                    <mat-error>{{this.translatedLangText.ONLY_ALPHA_NUMERIC}}</mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.BRANCH_NAME }}</mat-label>
                    <input matInput formControlName="branch_name" maxLength="50" required>
                    <!-- @if (ccForm?.get('branch_name')?.hasError('required')) {
                    <mat-error>
                      {{this.translatedLangText.BRANCH_NAME}} {{this.translatedLangText.SO_REQUIRED}}
                    </mat-error>
                    } -->
                  </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-2 col-md-12 col-sm-12 mb-0 p-r-0">
                  <mat-form-field class="example-full-width">
                    <mat-label><mat-icon>flag</mat-icon></mat-label>
                    <input matInput formControlName="country_code" [matAutocomplete]="countryCode" required>
                    <mat-autocomplete #countryCode="matAutocomplete" [displayWith]="displayCountryCodeFn">
                      @for (cc of countryCodesFiltered; track cc) {
                      <mat-option [value]="cc">
                        <img [src]="cc.flagUrl" width="24" height="18" style="margin-right: 6px;">
                        {{ cc.country }} ({{cc.code}})
                      </mat-option>
                      }
                    </mat-autocomplete>
                    <!-- <mat-select formControlName="country_code">
                      @for (cc of countryCodes; track cc) {
                      <mat-option [value]="cc">
                        {{ cc.country }} ({{cc.code}})
                      </mat-option>
                      }
                    </mat-select> -->
                  </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-12 col-sm-12 mb-0 p-l-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.CONTACT_NO }}</mat-label>
                    <input matInput formControlName="phone" (input)="onNumericOnly($event)" required>
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.EMAIL }}</mat-label>
                    <input matInput formControlName="email" required>
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.WEB }}</mat-label>
                    <input matInput formControlName="web">
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.CONVERSION_CURRENCY }}</mat-label>
                    <mat-select formControlName="currency" required>
                      <mat-option *ngFor="let cc of this.currencyList" [value]="cc">
                        <ng-container *ngIf="cc !== null">
                          {{ cc.currency_code }}
                        </ng-container>
                      </mat-option>
                    </mat-select>
                    <!-- @if (ccForm?.get('currency')?.hasError('required')) {
                    <mat-error>
                      {{this.translatedLangText.CONVERSION_CURRENCY}} {{this.translatedLangText.SO_REQUIRED}}
                    </mat-error>
                    } -->
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.DEFAULT_PROFILE }}</mat-label>
                    <mat-select formControlName="default_profile">
                      <mat-option *ngFor="let t of this.tankItemList" [value]="t">
                        <ng-container *ngIf="t !== null">
                          {{ t.unit_type }}
                        </ng-container>
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.ADDRESS_LINE1}}</mat-label>
                    <input matInput formControlName="address1" required>
                    <!-- @if (ccForm?.get('address1')?.hasError('required')) {
                    <mat-error>
                      {{this.translatedLangText.ADDRESS_LINE1}} {{this.translatedLangText.SO_REQUIRED}}
                    </mat-error>
                    } -->
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.ADDRESS_LINE2 }}</mat-label>
                    <input matInput formControlName="address2">
                  </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.POSTAL_CODE }}</mat-label>
                    <input matInput formControlName="postal_code" required maxlength="10">
                    <!-- @if (ccForm?.get('postal_code')?.hasError('required')) {
                    <mat-error>
                      {{this.translatedLangText.POSTAL_CODE}} {{this.translatedLangText.SO_REQUIRED}}
                    </mat-error>
                    } -->
                  </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.CITY_NAME }}</mat-label>
                    <input matInput formControlName="city_name">
                  </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.COUNTRY }}</mat-label>
                    <mat-select formControlName="country" required>
                      @for (country of countryCodes; track country) {
                      <mat-option [value]="country.country">{{country.country}}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.REMARKS}}</mat-label>
                    <input matInput formControlName="remarks">
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-1 d-flex justify-content-end ms-auto">
                  @if (canEdit()) {
                  <button mat-flat-button color="primary" type="button" [ngClass]="'m-r-10'"
                    (click)="addContactPerson($event)">
                    <mat-icon class="col-white">add</mat-icon>{{translatedLangText.CONTACT_PERSON}}
                  </button>
                  <button mat-flat-button class="m-l-10 bg accent-light" (click)="resetDialog($event)">
                    <mat-icon>
                      close
                    </mat-icon>
                    {{translatedLangText.CLEAR_ALL}}
                  </button>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="header">
              <h2>
                {{translatedLangText.CONTACT_PERSON_DETAILS}}
              </h2>
            </div>
            <div class="body">
              <mat-divider></mat-divider>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                  <div class="responsive_table">
                    <table mat-table [dataSource]="repList" matSort
                      class="mat-cell advance-table striped-rows hover-highlight dark-header curve-table">
                      <!-- Index Column -->
                      <ng-container matColumnDef="index">
                        <mat-header-cell *matHeaderCellDef
                          [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          {{translatedLangText.S_N}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row; let i = index"
                          [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          {{i + 1}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="group_name_cv">
                        <mat-header-cell *matHeaderCellDef
                          [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          {{translatedLangText.CONTACT_PERSON}}
                        </mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let row"
                          [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          <span class="mobile-label">{{translatedLangText.CONTACT_PERSON}}:</span>
                          {{row.name}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="subgroup_name_cv">
                        <mat-header-cell *matHeaderCellDef
                          [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          {{translatedLangText.JOB_TITLE}}
                        </mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let row"
                          [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          <span class="mobile-label">{{translatedLangText.JOB_TITLE}}:</span>
                          {{row.job_title}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="damage">
                        <mat-header-cell *matHeaderCellDef
                          [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          {{translatedLangText.DEPARTMENT}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"
                          [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          <span class="truncate-text">
                            <span class="mobile-label">{{translatedLangText.DEPARTMENT}}:</span>
                            <span>
                              {{row.department}}
                            </span>
                          </span>
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="repair">
                        <mat-header-cell *matHeaderCellDef
                          [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          {{translatedLangText.EMAIL}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"
                          [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          <span class="mobile-label">{{translatedLangText.EMAIL}}:</span>
                          {{row.email}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="description">
                        <mat-header-cell *matHeaderCellDef
                          [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          {{translatedLangText.DID}}
                        </mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let row"
                          [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          <span class="mobile-label">{{translatedLangText.DID}}:</span>
                          {{row.did}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="quantity">
                        <mat-header-cell *matHeaderCellDef
                          [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          {{translatedLangText.CONTACT_NO}}
                        </mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let row"
                          [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          <span class="mobile-label">{{translatedLangText.CONTACT_NO}}:</span>
                          {{row.phone}}
                        </mat-cell>
                      </ng-container>

                      <!-- <ng-container matColumnDef="actions">
                        <mat-header-cell class="pr-0" [ngClass]="''" *matHeaderCellDef>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row; let i=index;" class="justify-content-end">
                          <button mat-icon-button [matMenuTriggerFor]="menu" (click)="stopEventTrigger($event)">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="handleDelete($event, row, i)">
                              <mat-icon>delete_forever</mat-icon>
                              <span>{{translatedLangText.DELETE}}</span>
                            </button>
                          </mat-menu>
                        </mat-cell>
                      </ng-container> -->

                      <ng-container matColumnDef="actions">
                        <mat-header-cell class="pr-0"
                          [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                          *matHeaderCellDef>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row; let i=index;"
                          class="tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm justify-content-end">
                          <button mat-icon-button (click)="handleDelete($event, row, i)"
                            [matTooltip]="translatedLangText.DELETE" class="tbl-action-btn text-custom-danger">
                            <mat-icon>delete_forever</mat-icon>
                          </button>
                        </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; let i=index; columns: displayedColumns;"
                        [ngClass]="{'deleted-row': row.delete_dt, 'edited-row': row.guid && !row.delete_dt && row.edited}"
                        (click)="editContactPerson($event, row, i)" [style.cursor]="'pointer'" matRipple>
                      </mat-row>
                    </table>
                  </div>
                  @if (!repList.data.length) {
                  <mat-divider></mat-divider>
                  <div class="no-results m-l-20 pt-3" [style.display]="repList.data.length === 0 ? '' : 'none'">
                    <!-- <h5 class="m-b-15">{{translatedLangText.NO_CONTACT_PERSON}}</h5> -->
                    <h5 class="m-b-15">-</h5>
                  </div>
                  }
                </div>
              </div>
              <mat-divider></mat-divider>
              <mat-error *ngIf="ccForm?.get('repList')?.hasError('required')">
                {{ translatedLangText.ADD_ATLEAST_ONE }}
              </mat-error>
              <div class="row m-t-5">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                  <button mat-flat-button type="button" aria-label="Back to previous page"
                    (click)="GoBackPrevious($event)">
                    <mat-icon>chevron_left</mat-icon>{{translatedLangText.BACK}}
                  </button>
                </div>
                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 align-right pt-2">
                  @if (isAnyItemEdited()) {
                  <button mat-flat-button color="primary">
                    <mat-icon>
                      save
                    </mat-icon>
                    {{translatedLangText.UPDATE}}
                  </button>
                  }
                </div> -->
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 align-right pt-2">
                  @if (canEdit()) {
                  <button mat-flat-button color="primary" [disabled]="!isAnyItemEdited()">
                    <mat-icon>save</mat-icon>
                    {{ translatedLangText.UPDATE }}
                  </button>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>