<div mat-dialog-title class="ms-3 mt-3">
  <h4>{{translatedLangText.PREVIEW_PDF}} : {{translatedLangText.REPORT_TITLE}}</h4>
</div>
<div #pdfTable id="pdfTable" mat-dialog-content>
  

  <div id="pdf-form-body" class="pdf-container pdf-body">
    @for (bCust of repBillingCustomers; track bCust) {
  <div class="card">
    
      <div class="pdf-body">
        <table  id="table_customer_info" class="table_customer_info">
          <tr>
            <td class="text_right"> {{translatedLangText.CUSTOMER}} :</td>
            <td class="text_left_width_wider"> {{bCust.customer}}</td>
            <td class="text_right"> {{translatedLangText.CUTOFF_DATE}} :</td>
            <td class="text_left"> {{cut_off_dt}}</td>
            <td class="text_right"> {{translatedLangText.DATE}} :</td>
            <td class="text_left">{{GeneratedDate()}}</td>
          </tr>
        </table>
      </div>
      <!-- <div class="row">&nbsp;</div> -->
      <!-- <div class="row pdf-body">
        {{translatedLangText.INVOICE_PERIOD}} : {{bCust.invoice_period}}
      </div> -->
      <table id="repair-part-table" class="repair-part-table">
        <tr class="group-header">
          <th class="th-w2">{{translatedLangText.NO}}</th>
          <th class="th-w8">{{translatedLangText.TANK_NO}}</th>
          <th class="th-w8">{{translatedLangText.EIR_NO}}</th>
          <th class="th-w6">{{translatedLangText.IN_DATE}}</th>
          <th class="th-w6">{{translatedLangText.OUT_DATE}}</th>
          <th class="th-w6">{{translatedLangText.JOB_NO}}</th>
          <th class="th-w8">{{translatedLangText.COST}}</th>
        </tr>
        @for (itm of bCust.items; track itm;let index = $index) {
          <tr class="fixed_height_40px">
            <td ><span class="overflow-text">{{ index + 1 }}</span></td> <!-- Row number -->
            <td ><span class="overflow-text">{{ itm.tank_no }}</span></td> 
            <td ><span class="overflow-text">{{ itm.eir_no }}</span></td> 
            <td >{{ itm.in_date }}</td> 
            <td >{{ itm.out_date }}</td> 
            <td >{{ itm.job_no }}</td> 
            <td >{{ (itm.total==="0.00"?'':itm.total) }}</td> 
          </tr>
        }
        <tr>
          <td class="text-right-border" colspan="6">{{translatedLangText.TOTAL_COST}}</td>
          <td>{{displayTotalCost(bCust)}}</td>
        </tr>
      </table>
    
  </div>
  }
  </div>

 
</div>
<div mat-dialog-actions class="m-2 align-right">
  <button mat-flat-button color="accent" (click)="onDownloadClick()" tabindex="-1"
    [disabled]="(steamDS.actionLoading$| async) || (isFileActionLoading$| async) || (generatingPdfLoading$| async)">
    <mat-icon>
      @if (!(steamDS.actionLoading$ | async) && !(isFileActionLoading$| async) && !(generatingPdfLoading$| async)) {
        file_download
      } @else {
      <mat-spinner color="primary" [diameter]="18"></mat-spinner>
      }
    </mat-icon>
    {{translatedLangText.DOWNLOAD}}
  </button>
  @if ((generatingPdfLoading$| async)) {
  <mat-progress-bar mode="determinate" [value]="generatingPdfProgress"></mat-progress-bar>
  }
</div>