<div class="addContainer">
  <div class="modalHeader_left_align">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <h3>{{this.translatedLangText.EDIT}} {{this.translatedLangText.PACKAGE_RESIDUE}} </h3>
      </div>
    </div>
  </div>
  <!-- <div mat-dialog-content class="auto-height"> -->
  <div mat-dialog-content class="auto-height">
    <form class="register-form" [formGroup]="pcForm" #formDirective="ngForm">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.PACKAGE_CLEANING_UPDATED_COST}}</mat-label>
                    <input matInput formControlName="cost_cust" type="number" min="0"
                      [required]="this.selectedItems.length===1">
                    <!-- @if (pcForm.get('cost_cust')?.hasError('required')) {
                    <mat-error>
                      {{translatedLangText.COST }} {{translatedLangText.CARGO_REQUIRED }}
                    </mat-error>
                    } -->
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.REMARKS}}</mat-label>
                    <input matInput formControlName="remarks" type="text">
                  </mat-form-field>
                </div>
            </div>
          <div class="card">
            <div class="row">
              <div class="materialTableHeader">
              </div>
              <div class="body overflow-auto">
                <div class="responsive_table">
                  <table mat-table [dataSource]="selectedItems" matSort
                    class="mat-cell advance-table striped-rows hover-highlight dark-header">
                    <ng-container matColumnDef="fName">
                      <mat-header-cell *matHeaderCellDef
                        [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">{{translatedLangText.CUSTOMER_CODE
                        }}</mat-header-cell>
                      <mat-cell *matCellDef="let row"
                        [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                        <span class="mobile-label">{{translatedLangText.CUSTOMER_CODE
                          }}:</span>{{row.customer_company.code}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="lName">
                      <mat-header-cell *matHeaderCellDef
                      [ngClass]="'tbl-col-width-per-3-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">{{translatedLangText.CUSTOMER_COMPANY_NAME
                        }}</mat-header-cell>
                      <mat-cell *matCellDef="let row"
                      [ngClass]="'tbl-col-width-per-3-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                        <span class="mobile-label">{{translatedLangText.CUSTOMER_COMPANY_NAME
                          }}:</span>{{row.customer_company.name}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="description">
                      <mat-header-cell *matHeaderCellDef>{{translatedLangText.DESCRIPTION
                        }}</mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label">{{translatedLangText.DESCRIPTION
                          }}:</span>{{row.tariff_residue?.description}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="customerCost">
                      <mat-header-cell *matHeaderCellDef
                      [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">{{translatedLangText.CUSTOMER_COST
                        }}</mat-header-cell>
                      <mat-cell *matCellDef="let row"
                      [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                        <span class="mobile-label">{{translatedLangText.COST
                          }}:</span>{{row.cost.toFixed(2)}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="tariffCost">
                      <mat-header-cell *matHeaderCellDef
                      [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">{{translatedLangText.TARIFF_COST}} $</mat-header-cell>
                      <mat-cell *matCellDef="let row"
                      [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                        <span class="mobile-label">{{translatedLangText.TARIFF_COST}} $</span>{{row.tariff_residue?.cost.toFixed(2)}}</mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
                    </mat-row>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div mat-dialog-actions class="mb-1 align-right">
        @if (canEdit()) {
        <button mat-flat-button color="primary" (click)="save()">
          <mat-icon>
            save
          </mat-icon>
          {{translatedLangText.UPDATE}}</button>
        }
        <button mat-flat-button (click)="onNoClick()" tabindex="-1">{{translatedLangText.CANCEL}}</button>
      </div>
    </form>
  </div>
</div>