<div class="addContainer">
  <div class="modalHeader_left_align">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <h4>{{dialogTitle}}</h4>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form mt-3" [formGroup]="surveyForm" #formDirective="ngForm">
      <h5>{{data.translatedLangText.SURVEY_DETAILS}}</h5>
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{data.translatedLangText.SURVEY_TYPE}}</mat-label>
            <mat-select formControlName="survey_type_cv" required>
              @for (codeValue of data.populateData.surveyTypeCvList; track codeValue) {
              @if (codeValue.code_val !== "PERIODIC_TEST") {
              <mat-option [value]="codeValue.code_val">
                {{codeValue.description}}
              </mat-option>
              }
              }
            </mat-select>
            <!-- @if (surveyForm.get('survey_type_cv')?.hasError('required')) {
            <mat-error>
              {{data.translatedLangText.SURVEY_TYPE}} {{data.translatedLangText.SO_REQUIRED}}
            </mat-error>
            } -->
            @if (surveyForm.get('survey_type_cv')?.hasError('existed')) {
            <mat-error>
              {{data.translatedLangText.SURVEY_TYPE}} {{data.translatedLangText.EXISTED}}
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
          <!-- <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{data.translatedLangText.SURVEYOR}}</mat-label>
            <mat-select formControlName="customer_company_guid" required>
              @for (cc of data.populateData.surveyorList; track cc) {
              <mat-option [value]="cc">
                {{ccDS.displayName(cc)}}
              </mat-option>
              }
            </mat-select>
          </mat-form-field> -->
          <mat-form-field class="example-full-width">
            <mat-label>{{data.translatedLangText.SURVEYOR}}</mat-label>
            <mat-select formControlName="test_class_cv" required>
              @for (codeValue of data.populateData.testClassCvList; track codeValue) {
              <mat-option [value]="codeValue.code_val">{{codeValue.description}}</mat-option>
              }
            </mat-select>
            <!-- @if (surveyForm.get('test_class_cv')?.hasError('required')) {
            <mat-error>
              {{data.translatedLangText.SURVEYOR}} {{data.translatedLangText.SO_REQUIRED}}
            </mat-error>
            } -->
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
          <mat-form-field class="example-full-width">
            <mat-label>{{data.translatedLangText.SURVEY_DATE}}</mat-label>
            <input matInput formControlName="survey_dt" [matDatepicker]="survey_dt_picker" [max]="maxDate" required>
            <mat-datepicker-toggle matSuffix [for]="survey_dt_picker"></mat-datepicker-toggle>
            <mat-datepicker #survey_dt_picker [startAt]="maxDate"></mat-datepicker>
            <!-- @if (surveyForm.get('survey_dt')?.hasError('required')) {
            <mat-error>
              {{data.translatedLangText.SURVEY_DATE}} {{data.translatedLangText.SO_REQUIRED}}
            </mat-error>
            } -->
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{data.translatedLangText.STATUS}}</mat-label>
            <mat-select formControlName="status_cv" required>
              @for (codeValue of data.populateData.surveyStatusCvList; track codeValue) {
              <mat-option [value]="codeValue.code_val">
                {{codeValue.description}}
              </mat-option>
              }
            </mat-select>
            <!-- @if (surveyForm.get('status_cv')?.hasError('required')) {
            <mat-error>
              {{data.translatedLangText.STATUS}} {{data.translatedLangText.SO_REQUIRED}}
            </mat-error>
            } -->
          </mat-form-field>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 mb-0">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{data.translatedLangText.REMARKS}}</mat-label>
            <input matInput formControlName="remarks">
          </mat-form-field>
        </div>
      </div>
      <div mat-dialog-actions class="mb-1 align-right">
        @if (canEdit()) {
        <button mat-flat-button color="primary" (click)="submit()">
          <mat-icon>
            save
          </mat-icon>
          {{data.translatedLangText.SAVE_AND_SUBMIT}}</button>
        }
        <button mat-flat-button (click)="onNoClick()" tabindex="-1">{{data.translatedLangText.CANCEL}}</button>
      </div>
    </form>
  </div>
</div>