<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <h3>{{this.translatedLangText.EDIT_PACKAGE_CLEANING}} </h3>
      </div>
    </div>
    <!-- <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button> -->
  </div>
  <div mat-dialog-content>
    <form class="register-form" [formGroup]="pcForm" #formDirective="ngForm">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
              <mat-form-field class="example-full-width">
                <mat-label>{{translatedLangText.CUSTOMER_COST}}</mat-label>
                <input matInput formControlName="adjusted_cost" type="number" required>
                @if (pcForm.get('adjusted_cost')?.hasError('required')) {
                <mat-error>
                  {{translatedLangText.CUSTOMER_COST}} {{translatedLangText.SO_REQUIRED}}
                </mat-error>
                }
              </mat-form-field>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
              <mat-form-field class="example-full-width">
                <mat-label>{{translatedLangText.REMARKS}}</mat-label>
                <input matInput formControlName="remarks" type="text" required>
                @if (pcForm.get('remarks')?.hasError('required')) {
                <mat-error>
                  {{translatedLangText.REMARKS}} {{translatedLangText.SO_REQUIRED}}
                </mat-error>
                }
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="materialTableHeader">
                </div>
                <div class="body overflow-auto">
                  <div class="responsive_table">
                    <table mat-table [dataSource]="selectedItems" matSort
                      class="mat-cell advance-table striped-rows hover-highlight dark-header">
                      <ng-container matColumnDef="fName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{translatedLangText.CUSTOMER_CODE
                          }}</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <span class="mobile-label">{{translatedLangText.CUSTOMER_CODE
                            }}:</span>{{row.customer_company.code}}</mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="lName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{translatedLangText.CUSTOMER_COMPANY_NAME
                          }}</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <span class="mobile-label">{{translatedLangText.CUSTOMER_COMPANY_NAME
                            }}:</span>{{row.customer_company.name}}</mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{translatedLangText.CARGO_CATEGORY
                          }}</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <span class="mobile-label">{{translatedLangText.CARGO_CATEGORY }}:</span>
                          {{row.cleaning_category.name}}</mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="gender">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{translatedLangText.CUSTOMER_COST
                          }}</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <span class="mobile-label">{{translatedLangText.CUSTOMER_COST }}:</span>
                          {{row.adjusted_price.toFixed(2)}}</mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="cost">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{translatedLangText.STANDARD_COST
                          }}</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <span class="mobile-label">{{translatedLangText.STANDARD_COST }}:</span>
                          {{row.cleaning_category.cost.toFixed(2)}}</mat-cell>
                      </ng-container>
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
                      </mat-row>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>

      </div>
      <div mat-dialog-actions class="mb-1 align-right">
        @if (canEdit()) {
        <button mat-flat-button color="primary" (click)="save()">{{translatedLangText.UPDATE}}</button>
        }
        <button mat-flat-button (click)="onNoClick()" tabindex="-1">{{translatedLangText.CANCEL}}</button>
      </div>
    </form>
  </div>
</div>