<div class="container confirmation-dialog">
    <h3 mat-dialog-title class="ps-3 pt-3 pb-3 align-center">{{headerText | translate}}</h3>
    <!-- <mat-divider class="pb-1"></mat-divider> -->
    <div mat-dialog-actions class="ps-0 pt-2 mb-1 d-flex justify-content-center">
        <button mat-flat-button color="warn" [mat-dialog-close]="1" (click)="confirm()">
            {{langText.CONFIRM | translate}}
        </button>
        <button mat-stroked-button (click)="onNoClick()" tabindex="-1" [hidden]="hideCancel()">
            {{getCloseButtonContent()}}
        </button>
    </div>
</div>