<div class="container">
    <h3 mat-dialog-title class="ps-3 pb-1 align-center ">{{headerText | translate}}</h3>
    <mat-divider class="pb-1"></mat-divider>
    <!-- <div mat-dialog-content>
        @if (data.messageText?.length) {
        <ul class="clearfix">
            @for (msg of data.messageText; track msg) {
            <li>
                <p>
                    <span class="font-weight-bold">
                        {{msg}}
                    </span>
                </p>
            </li>
            }
        </ul>
        }
    </div> -->
    <div mat-dialog-actions class="ps-0 mb-1 d-flex justify-content-center">
        <button mat-flat-button color="warn"  [mat-dialog-close]="1" (click)="confirm()">
            {{langText.CONFIRM | translate}}
        </button>
        <button mat-stroked-button (click)="onNoClick()"  tabindex="-1" [hidden]="hideCancel()">
            {{getCloseButtonContent()}}
        </button>
    </div>
</div>