.card-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    background: transparent;
    padding: 10px;
    border-radius: 12px;
    max-width: 500px;
    max-height: 110px;
    margin: auto;
    // box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  }

  .card-separator {
  width: 1px;
  background-color: #e9e5e5;
  padding-top:10px;
  height: 150px; /* Adjust as needed */
}

  .card-box {
    flex: 1;
    background: transparent;
    border:0px;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    min-width:100px;
  }

  .card-icon {
    width: 32px;
    height: 32px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-blue {
    background-color: transparent;
    color: #3f51b5;
  }

  .icon-green {
    background-color: transparent;
    color: #4caf50;
  }

  .card-number {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .card-label {
    font-size: 0.7rem;
    color: #888;
  }

 @keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.blink {
  animation: blink 0.5s ease-in-out 2; /* adjust duration and repeat count */
}