<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card p-0">
      <form class="ms-0" [formGroup]="pcForm!" #formDirective="ngForm">
        <mat-accordion>
          <mat-expansion-panel [disabled]="true" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
              </mat-panel-title>
              <mat-panel-description>
                <div class="m-l-" [matTooltip]="translatedLangText.ADD">
                  <button mat-mini-fab color="primary" (click)="addCall()" (click)="$event.stopPropagation()">
                    <mat-icon class="col-white">add</mat-icon>
                  </button>
                </div>
                <div class="export-button m-l-10" [matTooltip]="translatedLangText.EXPORT">
                  <img src="assets/images/icons/xlsx.png" alt="" (click)="exportExcel()"
                    (click)="$event.stopPropagation()" />
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="row">
                <!-- <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.DESCRIPTION}}</mat-label>
                    <input matInput formControlName="description" type="string">
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.PACKAGE_MIN_COST}}</mat-label>
                    <input matInput formControlName="min_cost" type="number">
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.PACKAGE_MAX_COST }}</mat-label>
                    <input matInput formControlName="max_cost" type="number">
                  </mat-form-field>
                </div> -->
                <div
                  class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-0 d-flex align-items-center ms-auto justify-content-end">
                  <button mat-mini-fab color="primary" (click)="search()">
                    <mat-icon>search</mat-icon>
                  </button>
                  <button mat-flat-button class="m-l-10 bg-light-gold" (click)="resetDialog($event)">
                    {{translatedLangText.CLEAR_ALL}}
                  </button>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </form>
      <div class="body">
        <div class="responsive_table">
          <table mat-table [dataSource]="tariffResidueItems" matSort
            class="mat-cell advance-table striped-rows hover-highlight dark-header curve-table">
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-1 justify-content-start'">
                <mat-checkbox (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()" [ngClass]="'tbl-checkbox'">
                </mat-checkbox>
              </mat-header-cell>
              <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-1'">
                <mat-checkbox (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(row.tariff_residue) : null"
                  [checked]="selection.isSelected(row.tariff_residue)" [ngClass]="'tbl-checkbox'">
                </mat-checkbox>
              </mat-cell>
            </ng-container>
            <!-- ID Column -->
            <ng-container matColumnDef="fName">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{this.translatedLangText.DESCRIPTION
                }}</mat-header-cell>
              <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row.tariff_residue)">
                <span class="mobile-label">{{this.translatedLangText.DESCRIPTION
                  }}:</span>{{row.tariff_residue?.description}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="lName">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{this.translatedLangText.COST }}</mat-header-cell>
              <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row.tariff_residue)">
                <span class="mobile-label">{{this.translatedLangText.COST
                  }}:</span>{{parse2Decimal(row.tariff_residue?.cost)}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef
                mat-sort-header>{{this.translatedLangText.LAST_UPDATED}}</mat-header-cell>
              <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row.tariff_residue)">
                <span class="mobile-label">{{this.translatedLangText.LAST_UPDATED}}:</span>
                {{this.displayLastUpdated(row.tariff_residue)}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
              <mat-header-cell
                [ngClass]="'pr-0 tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let row; let i=index;"
                [ngClass]="'pr-0 justify-content-end tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                @if (!row.tank_count) {
                <button mat-icon-button (click)="$event.stopPropagation()" (click)="cancelItem(row.tariff_residue)"
                  [matTooltip]="translatedLangText.DELETE" class="tbl-action-btn text-custom-danger">
                  <mat-icon>delete_forever</mat-icon>
                </button>
                }
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editCall(row.tariff_residue)"
              [style.cursor]="'pointer'" matRipple>
            </mat-row>
          </table>
        </div>
        <!-- Loading spinner -->
        @if (!(tariffResidueDS.loading$ | async) && !tariffResidueItems.length) {
        <mat-divider></mat-divider>
        <div class="no-results m-l-20 pt-3" [style.display]="tariffResidueItems.length === 0 ? '' : 'none'">
          <h5 class="m-b-15">{{translatedLangText.NO_RESULT }}</h5>
        </div>
        }
        <!-- Loading spinner -->
        @if (tariffResidueDS.loading$ | async) {
        <div class="tbl-spinner">
          <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
          </mat-progress-spinner>
        </div>
        }
        <mat-paginator #paginator [length]="tariffResidueDS.totalCount" [pageIndex]="0" [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 50]" (page)="onPageEvent($event)">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>