<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <h3>{{dialogTitle}}</h3>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    @if (this.getBackgroundColorFromNature()) {
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card l-bg-{{this.getBackgroundColorFromNature()}} pt-1 pb-1 cargo-nature">
          <mat-card-content class="d-flex align-items-center text-white font-bold">
            <mat-icon>error</mat-icon>
            <mat-label class="m-l-10">{{this.getNatureInGateAlert()}}</mat-label>
          </mat-card-content>
        </div>
      </div>
    </div>
    }
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              {{translatedLangText.TANK_DETAILS}}
            </h2>
          </div>
          <div class="body">
            <!-- @if (joDS.loading$ | async) {
            <div class="tbl-spinner">
              <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
              </mat-progress-spinner>
            </div>
            }
            @if (!(joDS.loading$ | async))  
          {-->
            <mat-card-content>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 col-xs-12 m-b-5">
                  <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 m-b-5 align-right">
                      <span>{{translatedLangText.TANK_NO}}:</span>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 m-b-5">
                      <div class="contact-detail-info font-bold">{{sotItem?.tank_no}}</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 m-b-5 align-right">
                      <span>{{translatedLangText.CUSTOMER}}:</span>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 m-b-5">
                      <div class="contact-detail-info font-bold">
                        {{ccDS.displayName(sotItem?.storing_order?.customer_company)}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 m-b-5 align-right">
                      <span>{{translatedLangText.LAST_CARGO}}:</span>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 m-b-5">
                      <div class="contact-detail-info font-bold">
                        {{sotItem?.tariff_cleaning?.cargo}}
                      </div>
                    </div>
                  </div>
                  <!-- <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5 m-b-5 align-right">
                      <span>{{translatedLangText.OWNER}}:</span>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-7 m-b-5 d-flex">
                      <div class="contact-detail-info font-bold">
                        {{ccDS.displayName(sotItem!.customer_company)}}
                      </div>
                    </div>
                  </div> -->
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 col-xs-12 m-b-5">
                  <!-- <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 m-b-5 align-right">
                      <span>{{translatedLangText.EIR_NO}}:</span>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 m-b-5">
                      <div class="contact-detail-info font-bold">
                        {{igDS.getInGateItem(sotItem?.in_gate)?.eir_no}}
                      </div>
                    </div>
                  </div> -->
                  <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 m-b-5 align-right">
                      <span>{{translatedLangText.EIR_DATE}}:</span>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 m-b-5">
                      <div class="contact-detail-info font-bold">
                        {{displayDateTime(igDS.getInGateItem(sotItem?.in_gate)?.eir_dt)}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 m-b-5 align-right">
                      <span>{{translatedLangText.PURPOSE}}:</span>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 m-b-5">
                      <div class="contact-detail-info font-bold">{{displayTankPurpose(sotItem!)}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 m-b-5 align-right">
                      <span>{{translatedLangText.CLEANING_METHOD}}:</span>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 m-b-5">
                      <div class="contact-detail-info font-bold">
                        {{sotItem!.tariff_cleaning?.cleaning_method?.description}}
                      </div>
                    </div>
                  </div>
                  <!-- <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 m-b-5 align-right">
                      <span>{{translatedLangText.LAST_TEST}}:</span>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 m-b-5">
                      <div class="contact-detail-info font-bold">
                        {{getLastTest(igDS.getInGateItem(sotItem?.in_gate)?.in_gate_survey)}}
                      </div>
                    </div>
                  </div> -->
                  <!-- <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 m-b-5 align-right">
                      <span>{{translatedLangText.NEXT_TEST}}:</span>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 m-b-5">
                      <div class="contact-detail-info font-bold">
                        {{getNextTest(igDS.getInGateItem(sotItem?.in_gate!)?.in_gate_survey)}}
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </mat-card-content>
            <!-- } -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>