<div class="addContainer">
  <div class="modalHeader_left_align">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <h4>{{dialogTitle}}</h4>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    @if (this.getBackgroundColorFromNature() && this.getNatureInGateAlert()) {
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card l-bg-{{this.getBackgroundColorFromNature()}} pt-1 pb-1 cargo-nature">
          <div class="row body">
            <div class="d-flex align-items-center text-white font-bold">
              <mat-icon>error</mat-icon>
              <mat-label class="m-l-10">{{this.getNatureInGateAlert()}}</mat-label>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
    <div class="row ">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card modal-card mb-0">
           <div class="table-wrapper">
    <div class="table-responsive custom-table">
          <div class="header">
           
          <div class="body">
            <mat-card-content >
              
              <div class="table-responsive">
                <table class="table table-bordered table-striped curve-table">
                  <tbody>
                    <!-- Tank No -->
                    <tr>
                      <th>{{translatedLangText.TANK_NO}}:</th>
                      <td>{{sotItem?.tank_no}}</td>
                    </tr>

                    <!-- Customer -->
                    <tr>
                      <th>{{translatedLangText.CUSTOMER}}:</th>
                      <td>{{sotItem?.storing_order?.customer_company?.code}}</td>
                    </tr>

                    <!-- Purpose -->
                    <!-- <tr>
                      <th>{{translatedLangText.PURPOSE}}:</th>
                      <td>{{displayTankPurpose(sotItem!)}}</td>
                    </tr> -->

                    <!-- EIR Date -->
                    <tr>
                      <th>{{translatedLangText.EIR_DATE}}:</th>
                      <td>{{displayDateTime(igDS.getInGateItem(sotItem?.in_gate)?.eir_dt)}}</td>
                    </tr>

                    <!-- Last Cargo -->
                    <tr>
                      <th>{{translatedLangText.LAST_CARGO}}:</th>
                      <td>{{sotItem?.tariff_cleaning?.cargo}}</td>
                    </tr>

                    <!-- Cleaning Method -->
                    <tr>
                      <th>{{translatedLangText.CLEANING_METHOD}}:</th>
                      <td>{{sotItem!.tariff_cleaning?.cleaning_method?.name}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </mat-card-content>
          </div>
        
        </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>