<div class="container">
  <!-- <div class="modalHeader ps-0">
    <h4 mat-dialog-title class="ps-1 pt-3 pb-3 mb-0">{{data.action === 'cancel' ?
      data.translatedLangText.ARE_YOU_SURE_CANCEL : data.translatedLangText.ARE_YOU_SURE_ROLLBACK}}</h4>
  </div> -->
  <h4 mat-dialog-title class="ps-1 pt-3 pb-3 mb-0 align-center">{{data.action === 'cancel' ?
    data.translatedLangText.ARE_YOU_SURE_CANCEL : data.translatedLangText.ARE_YOU_SURE_ROLLBACK}}</h4>
  <div mat-dialog-content class="ps-3 pe-3 pt-0 pb-0">
    <form class="register-form" [formGroup]="storingOrderTankForm" #formDirective="ngForm">
      <div formArrayName="storingOrderTank">
        @for (sot of getStoringOrderTanksArray().controls; track sot; let index = $index) {
        <div [formGroupName]="index">
          <p class="text-normal tank-title">
            {{sot.get('tank_no')?.value}}
          </p>
        </div>
        }
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
          <mat-form-field class="example-full-width">
            <mat-label>{{data.translatedLangText.REMARKS}}</mat-label>
            <input matInput formControlName="remarks">
            <!-- @if (storingOrderTankForm.get('remarks')?.hasError('required')) {
            <mat-error>
              {{data.translatedLangText.REMARKS}} {{data.translatedLangText.SO_REQUIRED}}
            </mat-error>
            } -->
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div mat-dialog-actions class="mb-4 align-center">
    <button mat-flat-button color="warn" class="me-2" (click)="confirm()">
      {{data.translatedLangText.CONFIRM | translate}}
    </button>
    <button mat-stroked-button (click)="onNoClick()" tabindex="-1">
      {{data.translatedLangText.CLOSE | translate}}
    </button>
  </div>
</div>