<div class="breadcrumb-main">
  <div class="row">
    <div class="col-auto">
      <div class="collapse-menu-button">
        <button mat-mini-fab (click)="mobileMenuSidebarOpen($event,'overlay-open')" class="sidemenu-collapse">
          <app-feather-icons [icon]="'menu'" [class]="'header-icon'"></app-feather-icons>
        </button>
      </div>
      @if (showTitle) {
      <div class="breadcrumb-title">
        <h4 class="page-title">{{title | translate}}</h4>
      </div>
      }
    </div>
    <div class="col">
      @if (showBreadList) {
      <ul class="breadcrumb-list">
        <li class="breadcrumb-item bcrumb-1">
          <a [routerLink]="'/'">
            <app-feather-icons [icon]="'home'" [class]="'breadcrumb-icon'"></app-feather-icons>
          </a>
        </li>
        @for (item of items; track item) {
        @if (isString(item)) {
        <li class="breadcrumb-item">{{item | translate}}</li>
        }
        @else {
        <li class="breadcrumb-item">
          <!-- <a [routerLink]="item.route" [queryParams]="item.queryParams">
            {{item.text | translate}}
          </a> -->
          <a class="cursor-pointer" (click)="onClickBreadcrumbs(item.route, item.queryParams, item.historyState)">
            {{item.text | translate}}
          </a>
        </li>
        }
        }
        @if (active_item) {
        <li class="breadcrumb-item active">{{active_item | translate}}</li>
        }
      </ul>
      }
    </div>
  </div>
</div>