<div class="container confirmation-dialog p-2">
  <h4 mat-dialog-title [ngClass]="{'pb-3 align-center': true}">{{dialogTitle}}
  </h4>
  @if (description?.length) {
  <div mat-dialog-content class="pb-2">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
        @for (d of description; track d) {
        <h5 class="text-danger">{{d}}</h5>
        }
      </div>
    </div>
  </div>
  }
  <div mat-dialog-actions [ngClass]="{'pt-2 mb-2 d-flex justify-content-center': true}">
    @if (canEdit()) {
    <button mat-flat-button color="warn" (click)="submit()">{{data.translatedLangText.CONFIRM}}</button>
    }
    <button mat-stroked-button (click)="onNoClick()" tabindex="-1">{{data.translatedLangText.CLOSE}}</button>
  </div>
</div>