<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card p-0">
      <form class="ms-0" [formGroup]="searchForm!" #formDirective="ngForm">
        <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
              </mat-panel-title>
              <mat-panel-description>
                <div class="m-l-" [matTooltip]="translatedLangText.SEARCH">
                  <button mat-mini-fab color="primary" (click)="search()" (click)="$event.stopPropagation()">
                    <mat-icon>search</mat-icon>
                  </button>
                </div>
                <div class="m-l-10" [matTooltip]="translatedLangText.CLEAR_ALL">
                  <button mat-mini-fab color="accent" (click)="resetDialog($event)" (click)="$event.stopPropagation()">
                    <mat-icon>clear_all</mat-icon>
                  </button>
                </div>
                <div class="m-l-10" [matTooltip]="translatedLangText.NEW">
                  <button mat-mini-fab class="primary-light" color=""
                    [routerLink]="['/admin/tariff/tariff-cleaning/new']">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
                <!-- <div class="m-l-10" [matTooltip]="translatedLangText.REFRESH">
                <button mat-mini-fab class="primary-light" color="" (click)="refresh()"
                  (click)="$event.stopPropagation()">
                  <mat-icon>refresh</mat-icon>
                </button>
              </div> -->
                @if (modulePackageService.isGrowthPackage() || modulePackageService.isCustomizedPackage()) {
                <!-- <div class="export-button m-l-10" [matTooltip]="translatedLangText.EXPORT">
                  <img src="assets/images/icons/xlsx.png" alt="" (click)="exportExcel()"
                    (click)="$event.stopPropagation()" />
                </div> -->
                }
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 mb-2">
                <!-- <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>{{translatedLangText.NAME}}</mat-label>
                  <input matInput [formControl]="lastCargoControl" [matAutocomplete]="lastCargo"
                    formControlName="last_cargo">
                  <mat-autocomplete #lastCargo="matAutocomplete" [displayWith]="displayLastCargoFn">
                    @for (tc of last_cargoList; track tc) {
                    <mat-option [value]="tc">
                      {{tc.cargo}}
                    </mat-option>
                    }
                  </mat-autocomplete>
                  @if (lastCargoControl.hasError('invalidAutocompleteSelection')) {
                  <mat-error>
                    {{translatedLangText.INVALID_SELECTION}}
                  </mat-error>
                  }
                </mat-form-field> -->
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>{{translatedLangText.NAME}}</mat-label>
                    <mat-chip-grid #chipGrid>
                      <!-- @for (cust of selectedCustomers; track cust) { -->
                       @if(this.selectedCargo.length>0){
                        <mat-chip-row color="primary" (click)="removeAllSelectedCargo()">
                          <span> {{getSelectedCargoDisplay()}}</span>
                          <button matChipRemove hidden>
                            <mat-icon>cancel</mat-icon>
                          </button>
                        </mat-chip-row>
                       }
                     
                      <!-- } -->
                   
                    <input #custInput formControlName="cargo_name" [matAutocomplete]="cargoCode"
                      [matChipInputFor]="chipGrid" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      (matChipInputTokenEnd)="add($event)">
                    <mat-autocomplete #cargoCode="matAutocomplete" (optionSelected)="selected($event)" class="no-tick-autocomplete">
                      @for (cc of last_cargoList; track cc) {
                      <mat-option [value]="cc">
                        <mat-checkbox color="primary" class="multiSelected_autocomplete"  (click)="onCheckboxClicked(cc);$event.stopPropagation()"
                          [checked]="itemSelected(cc) || false"></mat-checkbox>
                        {{cc.cargo}}
                      </mat-option>
                      }
                    </mat-autocomplete>
                  </mat-chip-grid>
                  </mat-form-field>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>{{translatedLangText.CARGO_CLASS }}</mat-label>
                  <mat-select formControlName="class_no">
                    @for (codeValue of classNoCvList; track codeValue) {
                    <mat-option [value]="codeValue">
                      {{codeValue.description}}
                    </mat-option>
                    }
                  </mat-select>
                  <!-- <input matInput formControlName="class_no" [formControl]="classNoControl"
                    [matAutocomplete]="class_no">
                  <mat-autocomplete #class_no="matAutocomplete" [displayWith]="displayCodeValueFn">
                    @for (cn of classNoCvList; track cn) {
                    <mat-option [value]="cn">
                      {{cn.code_val}}
                    </mat-option>
                    }
                  </mat-autocomplete> -->
                </mat-form-field>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 mb-1">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>{{translatedLangText.CARGO_UN_NO }}</mat-label>
                  <input matInput formControlName="un_no" (input)="onNumericOnly($event, 'un_no')">
                </mat-form-field>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>{{translatedLangText.CARGO_METHOD }}</mat-label>
                  <mat-select formControlName="method">
                    @for (cm of cMethodList; track cm) {
                    <mat-option [value]="cm">
                      {{cm.description}}
                    </mat-option>
                    }
                  </mat-select>
                  <!-- <input matInput formControlName="method" [formControl]="methodControl" [matAutocomplete]="method">
                  <mat-autocomplete #method="matAutocomplete" [displayWith]="displayMethodFn">
                    @for (cm of cMethodList; track cm) {
                    <mat-option [value]="cm">
                      {{cm.name}}
                    </mat-option>
                    }
                  </mat-autocomplete> -->
                </mat-form-field>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 mb-1">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>{{translatedLangText.CARGO_CATEGORY }}</mat-label>
                  <mat-select formControlName="category">
                    @for (cCat of cCategoryList; track cCat) {
                    <mat-option [value]="cCat">
                      {{cCat.name}}
                    </mat-option>
                    }
                  </mat-select>

                </mat-form-field>
              </div>
              <!-- <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 mb-1">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>{{translatedLangText.CARGO_BAN_TYPE}}</mat-label>
                  <input matInput formControlName="ban_type" [formControl]="banTypeControl"
                    [matAutocomplete]="ban_type">
                  <mat-autocomplete #ban_type="matAutocomplete" [displayWith]="displayCodeValueFn">
                    @for (bType of banTypeCvList; track bType) {
                    <mat-option [value]="bType">
                      {{bType.description}}
                    </mat-option>
                    }
                  </mat-autocomplete>
                </mat-form-field>
              </div> -->

              <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 mb-1">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>{{translatedLangText.CARGO_BAN_TYPE}}</mat-label>
                  <mat-select formControlName="ban_type">
                    @for (cn of banTypeCvList; track cn) {
                    <mat-option [value]="cn.code_val">
                      {{cn.description}}
                    </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
              <!-- <div
                class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 mb-0 d-flex align-items-center ms-auto d-flex justify-content-end pe-4">
                <button mat-mini-fab color="primary" (click)="search()" matTooltip={{translatedLangText.SEARCH}}>
                  <mat-icon>search</mat-icon>
                </button>
                <button mat-mini-fab class="m-l-5" color="accent" (click)="resetDialog($event)"
                  matTooltip={{translatedLangText.CLEAR_ALL}}>
                  <mat-icon>clear_all</mat-icon>
                </button>
              </div> -->
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </form>
      <div class="body">
        <div class="responsive_table">
          <table mat-table [dataSource]="tcList" matSort
            class="mat-cell advance-table striped-rows hover-highlight dark-header curve-table">
            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.tariff_cleaning?.guid}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="cargo">
              <mat-header-cell *matHeaderCellDef
                [ngClass]="''">
                {{translatedLangText.NAME }}</mat-header-cell>
              <mat-cell mat-cell
                [ngClass]="''"
                *matCellDef="let row">
                <span class="mobile-label">{{translatedLangText.NAME }}:</span>{{row.tariff_cleaning?.cargo}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="desc">
              <mat-header-cell *matHeaderCellDef
                [ngClass]="'tbl-col-width-per-1_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                {{translatedLangText.DESCRIPTION}}</mat-header-cell>
              <mat-cell mat-cell
                [ngClass]="'tbl-col-width-per-1_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                *matCellDef="let row">
                <span
                  class="mobile-label">{{translatedLangText.DESCRIPTION}}:</span>{{row.tariff_cleaning?.description}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="class">
              <mat-header-cell *matHeaderCellDef
                [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm justify-content-center'">{{translatedLangText.CARGO_CLASS}}</mat-header-cell>
              <mat-cell *matCellDef="let row"
                [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm justify-content-center'"
                (contextmenu)="onContextMenu($event, row)">
                <span class="mobile-label">{{translatedLangText.CARGO_CLASS }}:</span>
                {{row.tariff_cleaning?.class_cv}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="un_no">
              <mat-header-cell *matHeaderCellDef
                [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">{{translatedLangText.CARGO_UN_NO
                }}</mat-header-cell>
              <mat-cell *matCellDef="let row"
                [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                (contextmenu)="onContextMenu($event, row)">
                <span class="mobile-label">{{translatedLangText.CARGO_UN_NO }}:</span>
                {{row.tariff_cleaning?.un_no}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="category">
              <mat-header-cell *matHeaderCellDef
                [ngClass]="'tbl-col-width-per-1_25-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">{{translatedLangText.CARGO_CATEGORY}}</mat-header-cell>
              <mat-cell *matCellDef="let row"
                [ngClass]="'tbl-col-width-per-1_25-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                (contextmenu)="onContextMenu($event, row)">
                <span class="mobile-label">{{translatedLangText.CARGO_CATEGORY }}:</span>
                {{row.tariff_cleaning?.cleaning_category?.name}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="ban_type">
              <mat-header-cell *matHeaderCellDef
                [ngClass]="'tbl-col-width-per-1_25-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">{{translatedLangText.CARGO_BAN_TYPE}}</mat-header-cell>
              <mat-cell *matCellDef="let row"
                [ngClass]="'tbl-col-width-per-1_25-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                (contextmenu)="onContextMenu($event, row)">
                <span class="mobile-label">{{translatedLangText.CARGO_BAN_TYPE }}:</span>
                {{getbanTypeDescription(row.tariff_cleaning?.ban_type_cv)}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="method">
              <mat-header-cell *matHeaderCellDef
                [ngClass]="'tbl-col-width-per-1_25-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">{{translatedLangText.CARGO_METHOD}}</mat-header-cell>
              <mat-cell *matCellDef="let row"
                [ngClass]="'tbl-col-width-per-1_25-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                (contextmenu)="onContextMenu($event, row)">
                <span class="mobile-label">{{translatedLangText.CARGO_METHOD }}:</span>
                {{row.tariff_cleaning?.cleaning_method?.name}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="flash_point">
              <mat-header-cell *matHeaderCellDef
                [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm justify-content-center'">{{translatedLangText.CARGO_FLASH_POINT}}</mat-header-cell>
              <mat-cell *matCellDef="let row"
                [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm justify-content-center'"
                (contextmenu)="onContextMenu($event, row)">
                <span class="mobile-label">{{translatedLangText.CARGO_FLASH_POINT}}:</span>
                {{row.tariff_cleaning?.flash_point}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="cost">
              <mat-header-cell *matHeaderCellDef>{{translatedLangText.CARGO_COST}}</mat-header-cell>
              <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                <span class="mobile-label">{{translatedLangText.CARGO_COST}}:</span>
                {{row.tariff_cleaning?.cleaning_category_with_tariff?.cost}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
              <mat-header-cell
                [ngClass]="'pr-0 tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let row; let i=index;"
                [ngClass]="'pr-0 justify-content-end tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                @if (!row.tank_count) {
                <button mat-icon-button (click)="$event.stopPropagation()" (click)="cancelItem(row.tariff_cleaning)"
                  [matTooltip]="translatedLangText.DELETE" class="tbl-action-btn text-custom-danger">
                  <mat-icon>delete_forever</mat-icon>
                </button>
                }
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editCall(row.tariff_cleaning)"
              [style.cursor]="'pointer'" matRipple>
              <!-- [routerLink]="['/admin/tariff/tariff-cleaning/edit', row.guid]" [style.cursor]="'pointer'" matRipple> -->
            </mat-row>
          </table>
        </div>
        <!-- No result -->
        @if (!(tcDS.loading$ | async) && !tcList.length) {
        <mat-divider></mat-divider>
        <div class="no-results m-l-20 pt-3" [style.display]="tcList.length === 0 ? '' : 'none'">
          <h5 class="m-b-15">{{translatedLangText.NO_RESULT }}</h5>
        </div>
        }
        <!-- Loading spinner -->
        @if (tcDS.loading$ | async) {
        <div class="tbl-spinner">
          <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
          </mat-progress-spinner>
        </div>
        }
        <mat-paginator #paginator [length]="tcDS.totalCount" [pageIndex]="0" [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageEvent($event)">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>