.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 640px;
    /* Set a fixed width */
    height: 480px;
    /* Set a fixed height */
    overflow: hidden;
    /* Prevents scrollbars */
    background-color: #f0f0f0;
    /* Optional background color */
}

// .responsive-image {
//     max-width: 100%;
//     max-height: 100%;
//     object-fit: contain; /* Ensures the image scales within the container without being cropped */
//     display: block;
// }

.responsive-image {
    max-width: 100%; /* Make sure the image doesn't exceed container width */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure the image is contained within the container */
    display: block;
}

@media only screen and (max-width: 768px) {
    .image-container {
        width: 100%;
        /* Ensure the container takes up the full width on smaller screens */
        height: auto;
        /* Adjust height as needed */
    }

    .responsive-image {
        width: 100%;
        /* The image will take the full width of the screen */
        height: auto;
        /* Maintain aspect ratio */
    }
}

@media (max-width: 480px) {
    .responsive-image {
        max-width: 100%;
        /* Adjust image size for mobile devices */
    }
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.arrow.left {
    left: 0px;
}

.arrow.right {
    right: 0px;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.arrow:disabled {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.5);
    cursor: not-allowed;
}