<div class="addContainer">
  <div class="modalHeader_align_left">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <h4>{{this.translatedLangText.EDIT}} {{this.translatedLangText.PACKAGE_DEPOT}} </h4>
      </div>
    </div>
    <!-- <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button> -->
  </div>
  <div mat-dialog-content class="auto-height">
    <form class="register-form" [formGroup]="pcForm" #formDirective="ngForm">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.GATE_IN_COST}}</mat-label>
                    <input matInput #gateInInput formControlName="gate_in_cost_cust" appNumericText type="text" min="0"
                      [required]="this.selectedItems.length===1" (focus)="gateInInput.select()">
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.GATE_OUT_COST}}</mat-label>
                    <input matInput #gateOutInput formControlName="gate_out_cost_cust" appNumericText type="text"
                      min="0" [required]="this.selectedItems.length===1" (focus)="gateOutInput.select()">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.PREINSPECTION_COST}}</mat-label>
                    <input matInput #costInput formControlName="preinspection_cost_cust" appNumericText type="text"
                      min="0" [required]="this.selectedItems.length===1" (focus)="costInput.select()">
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.LOLO_COST}}</mat-label>
                    <input matInput #loloInput formControlName="lolo_cost_cust" appNumericText type="text" min="0"
                      [required]="this.selectedItems.length===1" (focus)="loloInput.select()">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.STORAGE_COST}}</mat-label>
                    <input matInput #storageInput formControlName="storage_cost_cust" appNumericText type="text" min="0"
                      [required]="this.selectedItems.length===1" (focus)="storageInput.select()">
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.FREE_STORAGE}}</mat-label>
                    <input matInput #freeStorageInput formControlName="free_storage_days" type="number" min="0"
                      [allowDecimal]="false" (focus)="freeStorageInput.select()">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="row" hidden>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.GATE_OUT_COST}}</mat-label>
                    <input matInput #gateOutInput formControlName="gate_out_cost_cust" appNumericText type="text"
                      min="0" [required]="this.selectedItems.length===1" (focus)="gateOutInput.select()">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-1">
              <mat-form-field class="example-full-width">
                <mat-label>{{translatedLangText.STORAGE_CALCULATE_BY}}</mat-label>
                <mat-select formControlName="storage_cal_cv">
                  <!-- <mat-option [value]="null">None</mat-option> -->
                  <mat-option *ngFor="let cc of this.storageCalCvList" [value]="cc.code_val">
                    {{ cc.description }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-1">
              <mat-form-field class="example-full-width">
                <mat-label>{{translatedLangText.REMARKS}}</mat-label>
                <input matInput formControlName="remarks" type="text">
              </mat-form-field>
            </div>
          </div>
          <div class="body mb-4">
            <div class="responsive_table">
              <table mat-table [dataSource]="selectedItems" matSort
                class="mat-cell advance-table striped-rows hover-highlight dark-header curve-table curve-table" >
                <ng-container matColumnDef="customer_code">
                  <mat-header-cell *matHeaderCellDef
                    [ngClass]="'tbl-col-width-per-3-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">{{translatedLangText.CUSTOMER_CODE
                    }}</mat-header-cell>
                  <mat-cell *matCellDef="let row"
                    [ngClass]="'tbl-col-width-per-3-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                    <span class="mobile-label">{{translatedLangText.CUSTOMER_CODE
                      }}:</span>{{row.customer_company.code}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="customer_name">
                  <mat-header-cell *matHeaderCellDef>{{translatedLangText.CUSTOMER_COMPANY_NAME
                    }}</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <span class="mobile-label">{{translatedLangText.CUSTOMER_COMPANY_NAME
                      }}:</span>{{row.customer_company.name}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="profile_name">
                  <mat-header-cell *matHeaderCellDef>{{translatedLangText.PROFILE_NAME
                    }}</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <span class="mobile-label">{{translatedLangText.PROFILE_NAME
                      }}:</span>{{row.tariff_depot?.profile_name}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="storage_cost">
                  <mat-header-cell *matHeaderCellDef>{{translatedLangText.STORAGE_COST
                    }}</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <span class="mobile-label">{{translatedLangText.STORAGE_COST
                      }}:</span>{{row.tariff_depot?.storage_cost.toFixed(2)}}
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
                </mat-row>
              </table>
            </div>
          </div>
          <div mat-dialog-actions class="mb-1 align-right">
            @if (canEdit()) {
            <button mat-flat-button color="primary" class="me-1" (click)="save()" autofocus>
              <mat-icon>
                save
              </mat-icon>
              {{translatedLangText.UPDATE}}</button>
            }
            <button mat-stroked-button (click)="onNoClick()" tabindex="0">{{translatedLangText.CANCEL}}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>