<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <h3>{{dialogTitle}}</h3>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form" [formGroup]="schedulingForm" #formDirective="ngForm">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-0">
          <h5>{{data.translatedLangText.SCHEDULING_DETAILS}}</h5>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>{{data.translatedLangText.BOOKING_TYPE}}</mat-label>
                <mat-select formControlName="book_type_cv" required>
                  @for (codeValue of data.populateData.bookingTypeCvList; track codeValue) {
                  <mat-option [value]="codeValue.code_val">
                    {{codeValue.description}}
                  </mat-option>
                  }
                </mat-select>
                @if (schedulingForm.get('book_type_cv')?.hasError('required')) {
                <mat-error>
                  {{data.translatedLangText.BOOKING_TYPE}} {{data.translatedLangText.SO_REQUIRED}}
                </mat-error>
                }
                @if (schedulingForm.get('book_type_cv')?.hasError('existed')) {
                <mat-error>
                  {{data.translatedLangText.BOOKING_TYPE}} {{data.translatedLangText.EXISTED}}
                </mat-error>
                }
              </mat-form-field>
            </div>
            @if (getSchedulingArray().controls.length > 1) {
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
              <mat-form-field class="example-full-width">
                <mat-label>{{data.translatedLangText.SCHEDULING_DATE}}</mat-label>
                <input matInput formControlName="scheduling_dt" [matDatepicker]="scheduling_dt_picker"
                  [min]="startDateToday">
                <mat-datepicker-toggle matSuffix [for]="scheduling_dt_picker"></mat-datepicker-toggle>
                <mat-datepicker #scheduling_dt_picker></mat-datepicker>
                @if (schedulingForm.get('scheduling_dt')?.hasError('required')) {
                <mat-error>
                  {{data.translatedLangText.SCHEDULING_DATE}} {{data.translatedLangText.SO_REQUIRED}}
                </mat-error>
                }
              </mat-form-field>
            </div>
            }
          </div>
          <div formArrayName="schedulingSot">
            @for(row of getSchedulingArray().controls; track row; let index = $index){
            <mat-card [formGroupName]="index" [ngClass]="{'card-content p-0 m-b-10': true}" matRipple>
              <mat-card-content [ngClass]="">
                <div class="row">
                  <div class="col-xl-5-25 col-lg-5-25 col-md-12 col-sm-12 mb-1">
                    <span class="font-bold">{{data.translatedLangText.TANK_NO}}:</span>
                    {{row.get('tank_no')?.value}}
                    @if (row.get('scheduled')?.value){
                    <div [ngClass]="'badge badge-solid-green ms-1'">{{data.translatedLangText.SCHEDULED}}</div>
                    }
                    @else if (row.get('booked')?.value){
                    <div [ngClass]="'badge badge-solid-orange ms-1'">{{data.translatedLangText.BOOKED}}</div>
                    }
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-1">
                    <mat-form-field class="example-full-width">
                      <mat-label>{{data.translatedLangText.SCHEDULING_DATE}}</mat-label>
                      <input matInput formControlName="scheduling_dt" [matDatepicker]="scheduling_dt_picker"
                        [min]="getStartDate(row.get('scheduling_dt')?.value)" required>
                      <mat-datepicker-toggle matSuffix [for]="scheduling_dt_picker"></mat-datepicker-toggle>
                      <mat-datepicker #scheduling_dt_picker></mat-datepicker>
                      @if (row.get('scheduling_dt')?.hasError('required')) {
                      <mat-error>
                        {{data.translatedLangText.SCHEDULING_DATE}} {{data.translatedLangText.SO_REQUIRED}}
                      </mat-error>
                      }
                      @if (row.get('scheduling_dt')?.hasError('existed')) {
                      <mat-error>
                        {{data.translatedLangText.BOOKING_TYPE}} {{data.translatedLangText.EXISTED}}
                      </mat-error>
                      }
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-1 d-flex">
                    <mat-form-field class="example-full-width">
                      <mat-label>{{data.translatedLangText.REFERENCE}}</mat-label>
                      <input matInput formControlName="reference">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-0-75 col-lg-0-75 col-md-12 col-sm-12 mb-1 d-flex">
                    <button mat-icon-button color="warn" (click)="removeSot($event, index)"
                      [matTooltip]="data.translatedLangText.CANCEL" class="tbl-action-btn">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
            }
          </div>
        </div>
      </div>
      <div mat-dialog-actions class="mb-1 align-right">
        @if (canEdit()) {
        <button mat-flat-button color="primary" (click)="submit()">{{data.translatedLangText.SAVE_AND_SUBMIT}}</button>
        }
        <button mat-flat-button (click)="onNoClick()" tabindex="-1">{{data.translatedLangText.CANCEL}}</button>
      </div>
    </form>
  </div>
</div>