.booking-tbl table.advance-tab-table mat-header-cell, table.advance-table mat-header-cell, table.advance-table mat-cell {
    font-size: 0.8rem;
}

table.curve-table {
    border-collapse: separate; /* Important for border-radius to work */
    border-spacing: 0;
    border-radius: 15px;
    overflow: hidden; /* Helps apply the radius to inner content */
  }