/* For Chrome, Safari, Edge, and Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.card .body {
    padding-left: 2px;
    padding-right: 2px;
  }

  mat-chip-row[color="primary"] {
    background-color: #b3cbde !important
  }
  
  /* Optional: Ensure the remove button icon is also white */
  mat-chip-row[color="primary"] button[matChipRemove] mat-icon {
    color: red !important;
  }