<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div class="left-img">
        <img src="assets/images/logo2.png" alt="bg-01" />
        <mat-divider class="divider"></mat-divider>
        <h6 class="caption">{{translatedLangText.AUTH_CAPTION}} {{caption}}</h6>
      </div>
    </div>
    <div class="col-sm-6 auth-form-section">
      <div class="form-section">
        <div class="auth-wrapper">
          <h2 class="welcome-msg align-center">{{translatedLangText.CHANGE_PASSWORD}}</h2>
          <!-- <p class="chg-psw-text auth-signup-text text-muted align-center">{{translatedLangText.ENTER_NEW_PASSWORD_FOR}} {{username}}</p> -->
          <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <!-- <span class="error-subheader2 p-t-20 p-b-15">
                  {{translatedLangText.ENTER_NEW_PASSWORD_FOR}} {{email}}
                </span> -->
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>{{translatedLangText.NEW_PASSWORD}}</mat-label>
                  <input matInput [type]="hidePsw ? 'password' : 'text'" formControlName="npassword" required>
                  <a href="#" onClick="return false;" matSuffix (click)="hidePsw = !hidePsw"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePsw">
                    <mat-icon class="material-icons-two-tone color-icon m-3" matSuffix>
                      {{hidePsw ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </a>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>{{translatedLangText.CONFIRM_PASSWORD}}</mat-label>
                  <input matInput [type]="hideCPsw ? 'password' : 'text'" formControlName="cpassword" required>
                  <a href="#" onClick="return false;" matSuffix (click)="hideCPsw = !hideCPsw"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCPsw">
                    <mat-icon class="material-icons-two-tone color-icon m-3" matSuffix>
                      {{hideCPsw ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </a>
                  @if (authForm.get('cpassword')?.hasError('not_match')) {
                  <mat-error>
                    {{translatedLangText.DOES_NOT_MATCH}}
                  </mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
            <div class="container-auth-form-btn mt-0">
              <button mat-raised-button color="primary" class="auth-form-btn" [disabled]="!authForm.valid || loading"
                [class.auth-spinner]="loading" type="submit">
                {{translatedLangText.CHANGE_PASSWORD}}
              </button>
            </div>
            <div class="w-full p-t-25 text-center">
              <div>
                <a routerLink="/authentication/signin-staff" class="txt1">
                  {{translatedLangText.LOGIN}}?
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>