
:host ::ng-deep .password-rules {
  margin-top: 8px;
  font-size: 13px;
}


:host ::ng-deep .password-rules div {
  color: #d32f2f;   /* red */
  margin-bottom: 2px;
}

:host ::ng-deep .password-rules div.valid {
  color: #2e7d32;
}

:host ::ng-deep .no-bottom-line .mat-mdc-form-field-bottom-align::before {
  display: none;
}