<div class="container">
  <div class="modalHeader ps-0">
    <h4 mat-dialog-title class="ps-1 pt-3 pb-3 mb-0">{{data.translatedLangText.CONFIRM_CANCEL}}</h4>
  </div>
  <div mat-dialog-content class="ps-3 pe-3 pt-0">
    <form class="register-form" [formGroup]="releaseOrderForm" #formDirective="ngForm">
      <div formArrayName="releaseOrder">
        @for (so of releaseOrderArray().controls; track so; let index = $index) {
        <!-- <mat-card [formGroupName]="index" [ngClass]="{'card-content p-0 m-b-10': true, 'bg-light-grey': false}"
          matRipple>
          <mat-card-header class="pt-2 pe-2 pb-0">
            <mat-card-title class="pt-1">
              {{data.translatedLangText.RO_NO}}: {{so.get('ro_no')?.value}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            @for (sot of getReleaseOrderTanksArray(so).controls; track sot) {
            <div [class]="'row mb-1'">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 clearfix">
                <mat-label>
                  {{data.translatedLangText.TANK_NO}}: {{sot.get('tank_no')?.value}}
                  @if (sot.get('status_cv')?.value === 'WAITING') {
                  <span class="badge bg-red">{{data.translatedLangText.TO_BE_CANCELED}}</span>
                  }
                </mat-label>
              </div>
            </div>
            }
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
                <mat-form-field class="example-full-width">
                  <mat-label>{{data.translatedLangText.REMARKS}}</mat-label>
                  <input matInput formControlName="remarks">
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions [ngClass]="'empty-card-actions'">
          </mat-card-actions>
        </mat-card> -->
        <div [formGroupName]="index" [ngClass]="{'p-0 m-b-10': true, 'bg-light-grey': false}" matRipple>
          <span class="font-bold text-decoration-underline text-normal">{{so.get('ro_no')?.value}}</span>
          <div>
            <!-- @for (sot of getStoringOrderTanksArray(so).controls; track sot) {
            @if (sot.get('status_cv')?.value === 'WAITING' || sot.get('status_cv')?.value === 'PREORDER') {
            <span>{{sot.get('tank_no')?.value}}</span>
            }
            } -->
            <p class="text-normal">
              {{displayTargetedSot(getReleaseOrderTanksArray(so))}}
            </p>
            <!-- <div class="row mt-3">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
                <mat-form-field class="example-full-width">
                  <mat-label>{{data.translatedLangText.REMARKS}}</mat-label>
                  <input matInput formControlName="remarks">
                </mat-form-field>
              </div>
            </div> -->
          </div>
          <!-- <mat-card-actions [ngClass]="'empty-card-actions'">
          </mat-card-actions> -->
        </div>
        <!-- <div [formGroupName]="index" [class]="'row ' + (index % 2 == 0 ? '' : 'bg-light-grey')">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div [class]="'row pt-2'">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 clearfix">
                <h5>{{data.langText.RO_NO | translate}}: {{so.get('ro_no')?.value}}</h5>
              </div>
            </div>
            @for (sot of getReleaseOrderTanksArray(so).controls; track sot) {
            <div [class]="'row'">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 clearfix">
                <mat-label>
                  {{data.langText.TANK_NO | translate}}: {{sot.get('tank_no')?.value}}
                  @if (sot.get('status_cv')?.value === 'WAITING') {
                  <span class="badge bg-red">{{data.langText.TO_BE_CANCELED | translate}}</span>
                  }
                </mat-label>
              </div>
            </div>
            }
          </div>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
              <mat-form-field class="example-full-width">
                <mat-label>{{data.langText.REMARKS | translate}}</mat-label>
                <input matInput formControlName="remarks">
              </mat-form-field>
            </div>
          </div>
        </div> -->
        }
      </div>
      <div class="row mt-3">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
          <mat-form-field class="example-full-width">
            <mat-label>{{data.translatedLangText.REMARKS}}</mat-label>
            <input matInput formControlName="remarks">
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div mat-dialog-actions class="mb-3 align-right">
    <button mat-flat-button color="warn" (click)="confirmCancel()">
      {{data.translatedLangText.CONFIRM}}
    </button>
    <button mat-flat-button class="me-20" (click)="onNoClick()" tabindex="-1">
      {{data.translatedLangText.CLOSE}}
    </button>
  </div>
</div>