<div class="container">
  <div class="modalHeader">
    <h3 mat-dialog-title>{{data.langText.ARE_YOU_SURE_CANCEL | translate}}</h3>
  </div>
  <div mat-dialog-content class="ps-3 pe-3 pt-0 pb-3">
    <mat-divider></mat-divider>
    <form class="register-form" [formGroup]="releaseOrderForm" #formDirective="ngForm">
      <div formArrayName="releaseOrder">
        @for (so of releaseOrderArray().controls; track so; let index = $index) {
          <mat-card [formGroupName]="index" [ngClass]="{'card-content p-0 m-b-10': true, 'bg-light-grey': index % 2 == 1}"
            matRipple>
            <mat-card-header class="pt-2 pe-2 pb-0">
              <mat-card-title class="pt-1">
                {{data.langText.RO_NO | translate}}: {{so.get('ro_no')?.value}}
              </mat-card-title>
            </mat-card-header> 
            <mat-card-content>
              @for (sot of getReleaseOrderTanksArray(so).controls; track sot) {
                <div [class]="'row mb-1'">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 clearfix">
                    <mat-label>
                      {{data.langText.TANK_NO | translate}}: {{sot.get('tank_no')?.value}}
                      @if (sot.get('status_cv')?.value === 'WAITING') {
                      <span class="badge bg-red">{{data.langText.TO_BE_CANCELED | translate}}</span>
                      }
                    </mat-label>
                  </div>
                </div>
              }

              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{data.langText.REMARKS | translate}}</mat-label>
                    <input matInput formControlName="remarks">
                    <!-- @if (so?.get('remarks')?.hasError('required')) {
                    <mat-error>
                      {{data.langText.REMARKS | translate}} {{data.langText.SO_REQUIRED | translate}}
                    </mat-error>
                    } -->
                  </mat-form-field>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions [ngClass]="'empty-card-actions'">
            </mat-card-actions>
          </mat-card>
        <!-- <div [formGroupName]="index" [class]="'row ' + (index % 2 == 0 ? '' : 'bg-light-grey')">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div [class]="'row pt-2'">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 clearfix">
                <h5>{{data.langText.RO_NO | translate}}: {{so.get('ro_no')?.value}}</h5>
              </div>
            </div>
            @for (sot of getReleaseOrderTanksArray(so).controls; track sot) {
            <div [class]="'row'">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 clearfix">
                <mat-label>
                  {{data.langText.TANK_NO | translate}}: {{sot.get('tank_no')?.value}}
                  @if (sot.get('status_cv')?.value === 'WAITING') {
                  <span class="badge bg-red">{{data.langText.TO_BE_CANCELED | translate}}</span>
                  }
                </mat-label>
              </div>
            </div>
            }
          </div>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
              <mat-form-field class="example-full-width">
                <mat-label>{{data.langText.REMARKS | translate}}</mat-label>
                <input matInput formControlName="remarks">
              </mat-form-field>
            </div>
          </div>
        </div> -->
        }
      </div>
    </form>
  </div>
  <div mat-dialog-actions class="mb-3 align-right">
    <button mat-flat-button color="warn" (click)="confirmCancel()">
      {{data.langText.CONFIRM | translate}}
    </button>
    <button mat-flat-button class="me-20" (click)="onNoClick()" tabindex="-1">
      {{data.langText.CLOSE | translate}}
    </button>
  </div>
</div>