<div class="addContainer">
  <div class="modalHeader_left_align">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <h4>{{GetTitle()}}</h4>
      </div>
    </div>
  </div>
  <div mat-dialog-content class="content-block">
    <div class="card modal-card">
      <div class="header">
        <h2>
          {{translatedLangText.TANK_DETAILS}}
        </h2>
      </div>
      <div class="body">
        <mat-card-content>
          <div class="row">
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xs-12 m-b-5">
              <div class="row right-align-display">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5 col-xs-3-75 m-b-0">
                  <span class="label-display-info">{{translatedLangText.TANK_NO}}:</span>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-7 col-xs-8-25 m-b-0">
                  <span class="value-display-info">
                    {{sotItem?.tank_no}}
                  </span>
                </div>
              </div>
              <div class="row right-align-display">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5 col-xs-3-75 m-b-0">
                  <span class="label-display-info">{{translatedLangText.CUSTOMER}}:</span>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-7 col-xs-8-25 m-b-0">
                  <span class="value-display-info">
                    {{ccDS.displayName(sotItem?.storing_order?.customer_company)}}
                  </span>
                </div>
              </div>
              <div class="row right-align-display">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5 col-xs-3-75 m-b-0">
                  <span class="label-display-info">{{translatedLangText.LAST_CARGO}}:</span>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-7 col-xs-8-25 m-b-0">
                  <span class="value-display-info">
                    {{sotItem?.tariff_cleaning?.cargo}}
                  </span>
                </div>
              </div>
              <div class="row right-align-display">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5 col-xs-3-75 m-b-0">
                  <span class="label-display-info">{{translatedLangText.OWNER}}:</span>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-7 col-xs-8-25 m-b-0">
                  <span class="value-display-info">
                    {{ccDS.displayName(sotItem?.customer_company)}}
                  </span>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xs-12 m-b-5">
              <div class="row right-align-display">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 m-b-0">
                  <span class="label-display-info">{{translatedLangText.EIR_NO}}:</span>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 m-b-0">
                  <span class="value-display-info">
                    {{igDS.getInGateItem(sotItem?.in_gate)?.eir_no}}
                  </span>
                </div>
              </div>
              <div class="row right-align-display">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 m-b-0">
                  <span class="label-display-info">{{translatedLangText.EIR_DATE}}:</span>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 m-b-0">
                  <span class="value-display-info">
                    {{displayDate(igDS.getInGateItem(sotItem?.in_gate)?.eir_dt)}}
                  </span>
                </div>
              </div>
              <div class="row right-align-display">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 m-b-0">
                  <span class="label-display-info">{{translatedLangText.PURPOSE}}:</span>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 m-b-0">
                  <span class="value-display-info">
                    {{displayTankPurpose(sotItem!)}}
                  </span>
                </div>
              </div>
              <div class="row right-align-display">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 m-b-0">
                  <span class="label-display-info">{{translatedLangText.LAST_TEST}}:</span>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 m-b-0">
                  <span class="value-display-info">
                    {{lastTestDesc}}
                  </span>
                </div>
              </div>
              <div class="row right-align-display">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 m-b-0">
                  <span class="label-display-info">{{translatedLangText.NEXT_TEST}}:</span>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 m-b-0">
                  <span class="value-display-info">
                    {{nextTestDesc}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </div>
    </div>
    <div class="card modal-card">
      <div class="header">
        <h2>
          {{translatedLangText.ESTIMATE_DETAILS}}
        </h2>
      </div>
      <div class="body">
        <div class="row">
          <div class="responsive_table">
            <table mat-table [dataSource]="deList!" matSort
              class="mat-cell advance-table striped-rows hover-highlight dark-header curve-table">
              <!-- ID Column -->
              <ng-container matColumnDef="seq">
                <mat-header-cell *matHeaderCellDef
                  [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">#</mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index"
                  [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">{{i+1}}</mat-cell>
                <mat-footer-cell *matFooterCellDef class="bg-{{getFooterBackgroundColor()}}"
                  [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"></mat-footer-cell>
              </ng-container>
              <ng-container matColumnDef="desc">
                <mat-header-cell mat-header-cell *matHeaderCellDef [ngClass]="''">
                  {{translatedLangText.DESCRIPTION}}
                </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let row" [ngClass]="''">
                  <span class="mobile-label">{{translatedLangText.DESCRIPTION}}:</span>{{row.description}}
                </mat-cell>
                <mat-footer-cell *matFooterCellDef [ngClass]="''"
                  class="bg-{{getFooterBackgroundColor()}}"></mat-footer-cell>
              </ng-container>
              <ng-container matColumnDef="qty">
                <mat-header-cell mat-header-cell *matHeaderCellDef
                  [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm justify-content-center'">
                  {{translatedLangText.QUANTITY}}
                </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let row"
                  [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm justify-content-center'">
                  <span class="mobile-label">{{translatedLangText.QTY}}:</span>
                  @if(IsApproved())
                  {
                  {{row.approve_qty}}

                  }
                  @else
                  {
                  {{row.quantity}}
                  }
                </mat-cell>
                <mat-footer-cell *matFooterCellDef class="bg-{{getFooterBackgroundColor()}}"
                  [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"></mat-footer-cell>
              </ng-container>
              <ng-container matColumnDef="qty_unit">
                <mat-header-cell mat-header-cell *matHeaderCellDef
                  [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm justify-content-center'">
                  {{translatedLangText.TYPE}}
                </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let row"
                  [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm justify-content-center' ">
                  <span class="mobile-label">{{translatedLangText.TYPE}}:</span>
                  {{row.qty_unit_type_cv}}
                </mat-cell>
                <mat-footer-cell *matFooterCellDef class="bg-{{getFooterBackgroundColor()}}"
                  [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"></mat-footer-cell>
              </ng-container>
              <ng-container matColumnDef="unit_price">
                <mat-header-cell mat-header-cell *matHeaderCellDef
                  [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm justify-content-center'">
                  {{translatedLangText.PRICE}}
                </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let row"
                  [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm justify-content-center'">
                  <span class="mobile-label">{{translatedLangText.PRICE}}:</span>
                  @if(IsApproved())
                  {
                  {{parse2Decimal(row.approve_cost)}}

                  }
                  @else
                  { {{parse2Decimal(row.cost)}}

                  }
                </mat-cell>
                <mat-footer-cell *matFooterCellDef class="bg-{{getFooterBackgroundColor()}} font-bold"
                  [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm justify-content-end'">
                  {{translatedLangText.TOTAL_COST}}:
                </mat-footer-cell>
              </ng-container>
              <ng-container matColumnDef="approve_part">
                <mat-header-cell *matHeaderCellDef
                  [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                  <mat-icon>more_vert</mat-icon>
                </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let row"
                  [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                  <span class="mobile-label">{{translatedLangText.APPROVED}}:</span>
                  @if (row.approve_part === null || row.approve_part === undefined ||
                  IsApprovePart(row)){
                  <mat-icon class="col-green font-bold">check</mat-icon>
                  }
                  @else {
                  <mat-icon class="col-red font-bold">close</mat-icon>
                  }
                </mat-cell>
                <mat-footer-cell *matFooterCellDef
                  [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                  class="bg-{{getFooterBackgroundColor()}}"></mat-footer-cell>
              </ng-container>
              <ng-container matColumnDef="cost">
                <mat-header-cell mat-header-cell *matHeaderCellDef
                  [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm justify-content-center'">
                  {{translatedLangText.COST}}
                </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let row"
                  [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm justify-content-center'">
                  <span
                    class="mobile-label">{{translatedLangText.COST}}:</span>{{this.parse2Decimal(calculateResidueItemCost(row))}}
                </mat-cell>
                <mat-footer-cell *matFooterCellDef class="bg-{{getFooterBackgroundColor()}}"
                  [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm justify-content-center'">
                  <span class="mobile-label"> </span>{{this.parse2Decimal(getTotalCost()) }}
                </mat-footer-cell>
              </ng-container>
              <ng-container matColumnDef="actions">
                <mat-header-cell class="pr-0"
                  [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                  *matHeaderCellDef>
                </mat-header-cell>
                <mat-footer-cell *matFooterCellDef class="bg-{{getFooterBackgroundColor()}}"
                  [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"></mat-footer-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns; let i = index"
                [ngClass]="{'deleted-row': row.action === 'cancel', 'edited-row': (row.guid || row.action=='NEW') && !row.delete_dt&&row.edited}"
                [style.cursor]="'pointer'" matRipple>
              </mat-row>
              <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
            </table>
          </div>
          <!-- No result -->
          @if ( !deList?.length) {
          <div class="no-results m-l-20 pt-3" [style.display]="deList?.length === 0 ? '' : 'none'">
            <h5 class="m-b-15">{{translatedLangText.NO_RESULT}}</h5>
          </div>
          }
        </div>
      </div>
    </div>
    <div mat-dialog-actions class="pt-2 pb-2 align-right">
      <button mat-stroked-button (click)="onNoClick()" tabindex="-1">{{ translatedLangText.CLOSE}}</button>
    </div>
  </div>
</div>