::ng-deep {
  .multiline-tooltip {
    white-space: pre-line;

    .mdc-tooltip__surface {
      max-width: unset;
    }
  }
}

.button-bordered {
  border: 1px solid #ccc;
}

.card .header-custom-padding{
  padding-left: 0.6%;
  padding-bottom: 0%;
}

.div-bg-blue {
  background-color: #b8cdf3;
}