<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="pageTitleDetails" [items]="breadcrumsMiddleList"
        [active_item]="translatedLangText.VIEW"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header header-custom-padding">
            <h2>
              {{translatedLangText.TANK_DETAILS}}
            </h2>
          </div>
          <div class="body">
            @if (sotDS.loading$ | async) {
            <div class="tbl-spinner">
              <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
              </mat-progress-spinner>
            </div>
            }
            @if (!(sotDS.loading$ | async)) {
            <mat-card-content>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-xs-12 m-b-5">
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3-75 col-md-3-75 col-sm-3-75 col-xs-3-75 m-b-5">
                      <span class="label-display-info">{{translatedLangText.TANK_NO}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-8-25 col-md-8-25 col-sm-8-25 col-xs-8-25 m-b-5">
                      <div class="value-display-info">{{sotItem?.tank_no}}</div>
                    </div>
                  </div>
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3-75 col-md-3-75 col-sm-3-75 col-xs-3-75 m-b-5">
                      <span class="label-display-info">{{translatedLangText.CUSTOMER}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-8-25 col-md-8-25 col-sm-8-25 col-xs-8-25 m-b-5">
                      <div class="value-display-info">
                        {{ccDS.displayName(sotItem?.storing_order?.customer_company)}}
                      </div>
                    </div>
                  </div>
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3-75 col-md-3-75 col-sm-3-75 col-xs-3-75 m-b-5">
                      <span class="label-display-info">{{translatedLangText.OWNER}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-8-25 col-md-8-25 col-sm-8-25 col-xs-8-25 m-b-5 d-flex">
                      <div class="value-display-info">
                        {{ccDS.displayName(sotItem?.storing_order?.customer_company)}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-xs-12 m-b-5">
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3-75 col-md-3-75 col-sm-3-75 col-xs-3-75 m-b-5">
                      <span class="label-display-info">{{translatedLangText.EIR_NO}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-8-25 col-md-8-25 col-sm-8-25 col-xs-8-25 m-b-5">
                      <div class="value-display-info">
                        {{igDS.getInGateItem(sotItem?.in_gate)?.eir_no}}
                      </div>
                    </div>
                  </div>
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3-75 col-md-3-75 col-sm-3-75 col-xs-3-75 m-b-5">
                      <span class="label-display-info">{{translatedLangText.EIR_DATE}}:</span>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 m-b-5">
                      <div class="value-display-info">
                        {{displayDateTime(igDS.getInGateItem(sotItem?.in_gate)?.eir_dt)}}
                      </div>
                    </div>
                  </div>
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3-75 col-md-3-75 col-sm-3-75 col-xs-3-75 m-b-5">
                      <span class="label-display-info">{{translatedLangText.LAST_CARGO}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-8-25 col-md-8-25 col-sm-8-25 col-xs-8-25 m-b-5">
                      <div class="value-display-info">
                        {{sotItem?.tariff_cleaning?.cargo}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-xs-12 m-b-5">
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3-75 col-md-3-75 col-sm-3-75 col-xs-3-75 m-b-5">
                      <span class="label-display-info">{{translatedLangText.PURPOSE}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-8-25 col-md-8-25 col-sm-8-25 col-xs-8-25 m-b-5">
                      <div class="value-display-info">{{displayTankPurpose(sotItem!)}}
                      </div>
                    </div>
                  </div>
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3-75 col-md-3-75 col-sm-3-75 col-xs-3-75 m-b-5">
                      <span class="label-display-info">{{translatedLangText.LAST_TEST}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-8-25 col-md-8-25 col-sm-8-25 col-xs-8-25 m-b-5">
                      <div class="value-display-info">
                        {{getLastTest(igDS.getInGateItem(sotItem?.in_gate)?.in_gate_survey)}}
                      </div>
                    </div>
                  </div>
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3-75 col-md-3-75 col-sm-3-75 col-xs-3-75 m-b-5">
                      <span class="label-display-info">{{translatedLangText.NEXT_TEST}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-8-25 col-md-8-25 col-sm-8-25 col-xs-8-25 m-b-5">
                      <div class="value-display-info">
                        {{getNextTest(igDS.getInGateItem(sotItem?.in_gate)?.in_gate_survey)}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
            }
          </div>
        </div>
      </div>
    </div>
    <form class="ms-0" [formGroup]="steamEstForm!" #formDirective="ngForm">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="header header-custom-padding">
              <h2>
                {{translatedLangText.BILLING_PROFILE}}
              </h2>
            </div>
            <div class="body">
              @if (sotDS.loading$ | async) {
              <div class="tbl-spinner">
                <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                </mat-progress-spinner>
              </div>
              }
              @if (!(sotDS.loading$ | async)) {
              <mat-card-content>
                <div class="row">
                  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xs-12 m-b-0">
                    <div class="row">
                      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 m-b-0">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>{{translatedLangText.BILLING_TO}}</mat-label>
                          <input matInput formControlName="customer_code" readonly>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 m-b-0">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>{{translatedLangText.DEPOT_REFERENCE}}</mat-label>
                          <input matInput formControlName="job_no" readonly>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xs-12 m-b-0">
                    <div class="row">
                      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 m-b-0">
                        <div class="contact-detail-info font-bold">
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>{{translatedLangText.BILLING_BRANCH}}</mat-label>
                            <input matInput formControlName="billing_branch" readonly>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 m-b-0">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>{{translatedLangText.REMARKS}}</mat-label>
                          <input matInput formControlName="remarks" readonly>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card-content>
              }
            </div>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="header header-custom-padding">
              <h2>
                {{translatedLangText.TEAM_ALLOCATION}}
              </h2>
            </div>
            <div class="body">
              @if (steamDs.loadingSubject | async) {
              <div class="tbl-spinner">
                <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                </mat-progress-spinner>
              </div>
              }
              @if (!(steamDs.loadingSubject | async)) {
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-sm-12 m-b-0">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.TEAM}}</mat-label>
                    <mat-select formControlName="team_allocation">
                      @for (team of teamList; track team) {
                      <mat-option [value]="team">{{team.description}}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-sm-12 m-b-0 p-t-10">
                  <button mat-flat-button color="accent" [disabled]="!isAssignEnabled()" (click)="assignTeam($event)">
                    <mat-icon>person_add</mat-icon>
                    {{translatedLangText.ASSIGN}}
                  </button>
                </div>
              </div>
              }
            </div>
          </div>
        </div>
      </div>

      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="header header-custom-padding">
              <h2>
                {{translatedLangText.ESTIMATE_DETAILS}}
              </h2>
            </div>
            <div class="body">
              @if (sotDS.loadingSubject | async) {
              <div class="tbl-spinner">
                <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                </mat-progress-spinner>
              </div>
              }
              @if (!(sotDS.loadingSubject | async)) {
              <div class="row">
                <div class="responsive_table">
                  <table mat-table [dataSource]="deList" matSort
                    class="mat-cell advance-table striped-rows hover-highlight dark-header curve-table">
                    <!-- ID Column -->
                    <ng-container matColumnDef="seq">
                      <mat-header-cell *matHeaderCellDef
                        [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">#</mat-header-cell>
                      <mat-cell *matCellDef="let row; let i = index"
                        [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">{{i+1}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="desc">
                      <mat-header-cell mat-header-cell *matHeaderCellDef [ngClass]="''">
                        {{translatedLangText.DESCRIPTION}}
                      </mat-header-cell>
                      <mat-cell mat-cell *matCellDef="let row" class="">
                        <span class="mobile-label">{{translatedLangText.DESCRIPTION}}:</span>
                        <span class="mobile-label-value">
                          {{row.description}}
                        </span>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="qty">
                      <mat-header-cell mat-header-cell *matHeaderCellDef [ngClass]="''">
                        {{translatedLangText.QUANTITY}}
                      </mat-header-cell>
                      <mat-cell mat-cell *matCellDef="let row" class="">
                        <span class="mobile-label">{{translatedLangText.QUANTITY}}:</span>{{row.quantity}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="unit_price">
                      <mat-header-cell mat-header-cell *matHeaderCellDef [ngClass]="''">
                        {{translatedLangText.UNIT_PRICE}}
                      </mat-header-cell>
                      <mat-cell mat-cell *matCellDef="let row" class="">
                        <span class="mobile-label">{{translatedLangText.UNIT_PRICE}}:</span>{{
                        this.parse2Decimal(row.cost)}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="cost">
                      <mat-header-cell mat-header-cell *matHeaderCellDef [ngClass]="''">
                        {{translatedLangText.COST}}
                      </mat-header-cell>
                      <mat-cell mat-cell *matCellDef="let row" class="">
                        <span
                          class="mobile-label">{{translatedLangText.COST}}:</span>{{this.parse2Decimal(row.quantity*row.cost)}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="approve_part">
                      <mat-header-cell *matHeaderCellDef
                        [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                        <mat-icon>more_vert</mat-icon>
                      </mat-header-cell>
                      <mat-cell mat-cell *matCellDef="let row"
                        [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                        <span class="mobile-label">{{translatedLangText.APPROVED}}:</span>
                        @if (row.approve_part === null || row.approve_part === undefined ||
                        IsApprovePart(row)){
                        <mat-icon class="col-green font-bold">check</mat-icon>
                        }
                        @else {
                        <mat-icon class="col-red font-bold">close</mat-icon>
                        }
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="team">
                      <mat-header-cell *matHeaderCellDef
                        [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-1_5-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                        {{translatedLangText.TEAM}}
                        <!-- <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                          [checked]="repSelection.hasValue() && isAllSelected()"
                          [indeterminate]="repSelection.hasValue() && !isAllSelected()" [ngClass]="'tbl-checkbox'">
                        </mat-checkbox> -->
                      </mat-header-cell>
                      <mat-cell mat-cell *matCellDef="let row"
                        [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-1_5-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm font-bold'">
                        <span class="mobile-tab-label">{{translatedLangText.TEAM}}:</span>
                        {{row.job_order?.team?.description || 'NA'}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                      <mat-header-cell class="pr-0" [ngClass]="''" *matHeaderCellDef>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row;" class="justify-content-end">
                        <button mat-icon-button [matMenuTriggerFor]="menu" (click)="stopEventTrigger($event)">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                          @if (sotDS.canAddRemove(row)) {
                          <button mat-menu-item (click)="handleDelete($event, row, row.index)">
                            <mat-icon>delete_forever</mat-icon>
                            <span>{{translatedLangText.DELETE}}</span>
                          </button>
                          }
                        </mat-menu>
                      </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns; let i = index" (click)="toggleRep(row)"
                      [ngClass]="repSelection.isSelected(row) ? selectedJobTaskClass : ''" [style.cursor]="'pointer'"
                      matRipple>
                    </mat-row>
                  </table>
                </div>
                <!-- No result -->
                @if (!(igDS.loading$ | async) && !deList.length) {
                <div class="no-results m-l-20 pt-3" [style.display]="deList.length === 0 ? '' : 'none'">
                  <h5 class="m-b-15">{{translatedLangText.NO_RESULT}}</h5>
                </div>
                }
                <!-- Loading spinner -->
                @if (igDS.loading$ | async) {
                <div class="tbl-spinner">
                  <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                  </mat-progress-spinner>
                </div>
                }
              </div>
              }
              @if (steamEstForm?.get('deList')?.hasError('required')) {
              <mat-error class="ps-3">
                {{translatedLangText.ADD_ATLEAST_ONE}}
              </mat-error>
              }
            </div>

            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 m-b-5">
                <button mat-flat-button type="button" aria-label="Back to previous page"
                  (click)="GoBackPrevious($event)">
                  <mat-icon>chevron_left</mat-icon>{{translatedLangText.BACK}}
                </button>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 align-right">
                <!-- @if (canExport()) {
                <button mat-flat-button color="accent" [disabled]="(residueDS.loading$ | async)" class="m-r-5">
                  @if (!(residueDS.loading$ | async)) {
                  <i class="fas fa-file-export"></i>
                  } @else if ((residueDS.loading$ | async)) {
                  <mat-icon>
                    <mat-spinner color="primary" [diameter]="18"></mat-spinner>
                  </mat-icon>
                  }
                  {{translatedLangText.EXPORT}}
                </button>
                } -->
                <!-- @if (steamDs.canAbort(steamItem, deList)) {
                <button mat-flat-button color="warn" [disabled]="(steamDs.loading$ | async)" class="m-r-5"
                  (click)="onAbort($event)">
                  <mat-icon>
                    @if (!(steamDs.loading$ | async)) {
                    close
                    } @else if ((steamDs.loading$ | async)) {
                    <mat-spinner color="primary" [diameter]="18"></mat-spinner>
                    }
                  </mat-icon>
                  {{translatedLangText.ABORT}}
                </button>
                } -->
                <!-- <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 align-right"> -->
                @if (canUnassignTeam(steamItem)) {
                <button mat-flat-button color="warn" [disabled]="(steamDs.loading$ | async)" class="m-r-5"
                  (click)="onUnassignTeam($event, steamItem?.guid!)">
                  <mat-icon>
                    @if (!(steamDs.loading$ | async)) {
                    remove_circle_outline
                    } @else if ((steamDs.loading$ | async)) {
                    <mat-spinner color="primary" [diameter]="18"></mat-spinner>
                    }
                  </mat-icon>
                  {{translatedLangText.UNASSIGN}}
                </button>
                }
                @if (canEdit()) {
                <button mat-flat-button color="primary" (click)="save()" class="m-r-5"
                  [disabled]="(steamDs.loading$ | async) || !isAnyAssignedToTeam()">
                  <mat-icon>
                    save
                  </mat-icon>
                  {{this.translatedLangText.SAVE}}
                </button>
                }
                @if (canRollBack()) {
                <button mat-flat-button color="accent" [disabled]="(steamDs.loading$ | async)" class="m-r-5"
                  (click)="rollbackJobs($event)">
                  <mat-icon>
                    @if (!(steamDs.loading$ | async)) {
                    undo
                    } @else if ((steamDs.loading$ | async)) {
                    <mat-spinner color="primary" [diameter]="18"></mat-spinner>
                    }
                  </mat-icon>
                  {{translatedLangText.ROLLBACK}}
                </button>
                }
                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
</section>