<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="pageTitle" [items]="breadcrumsMiddleList" [active_item]="pageTitle"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <mat-accordion>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                </mat-panel-title>
                <mat-panel-description>
                  <div class="m-l-" [matTooltip]="translatedLangText.SEARCH">
                    <button mat-mini-fab color="primary" (click)="search()" (click)="$event.stopPropagation()">
                      <mat-icon>search</mat-icon>
                    </button>
                  </div>
                  <div class="m-l-10" [matTooltip]="translatedLangText.CLEAR_ALL">
                    <button mat-mini-fab color="accent" (click)="resetDialog($event)"
                      (click)="$event.stopPropagation()">
                      <mat-icon>clear_all</mat-icon>
                    </button>
                  </div>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <form class="ms-0" [formGroup]="searchForm!" #formDirective="ngForm">
                <div class="row">
                  <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.TANK_NO}}</mat-label>
                      <input matInput formControlName="tank_no">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.CUSTOMER}}</mat-label>
                      <input matInput formControlName="customer_code" [formControl]="customerCodeControl"
                        [matAutocomplete]="customerCode">
                      <mat-autocomplete #customerCode="matAutocomplete" [displayWith]="displayCustomerCompanyFn">
                        @for (cc of customer_companyList; track cc) {
                        <mat-option [value]="cc">
                          {{ccDS.displayName(cc)}}
                        </mat-option>
                        }
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                  <!-- <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.EIR_NO}}</mat-label>
                      <input matInput formControlName="eir_no">
                    </mat-form-field>
                  </div> -->
                  <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.LAST_CARGO}}</mat-label>
                      <input matInput [formControl]="lastCargoControl" [matAutocomplete]="lastCargo"
                        formControlName="last_cargo">
                      <mat-autocomplete #lastCargo="matAutocomplete" [displayWith]="displayLastCargoFn">
                        @for (tc of last_cargoList; track tc) {
                        <mat-option [value]="tc">
                          {{tc.cargo}}
                        </mat-option>
                        }
                      </mat-autocomplete>
                      @if (lastCargoControl.hasError('invalidAutocompleteSelection')) {
                      <mat-error>
                        {{translatedLangText.INVALID_SELECTION}}
                      </mat-error>
                      }
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.APPROVAL_STATUS}}</mat-label>
                      <mat-select multiple formControlName="approval_status">
                        @for (codeValue of processStatusCvList; track codeValue) {
                        @if (availableProcessStatus.includes(codeValue.code_val ?? '')) {
                        <mat-option [value]="codeValue.code_val">
                          {{codeValue.description}}
                        </mat-option>
                        }
                        }
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <!-- <div
                    class="col-xl-2 col-lg-3 col-md-12 col-sm-12 col-xs-12 mb-0 d-flex align-items-center ms-auto justify-content-end">
                    <button mat-mini-fab color="primary" (click)="search()" matTooltip={{translatedLangText.SEARCH}}>
                      <mat-icon>search</mat-icon>
                    </button>
                    <button mat-mini-fab class="m-l-5 bg-dark-gold" (click)="resetDialog($event)"
                      matTooltip={{translatedLangText.CLEAR_ALL}}>
                      <mat-icon>clear_all</mat-icon>
                    </button>
                  </div> -->
                </div>
              </form>
            </mat-expansion-panel>
          </mat-accordion>
          <div class="body overflow-auto">
            <div class="responsive_table">
              <table mat-table [dataSource]="inGateList" matSort
                class="mat-cell advance-table striped-rows hover-highlight dark-header">
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.guid}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="tank_no">
                  <mat-header-cell mat-header-cell *matHeaderCellDef
                    [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                    {{translatedLangText.TANK_NO}}
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let row"
                    [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                    <span class="mobile-label">{{translatedLangText.TANK_NO}}:</span>{{row.storing_order_tank?.tank_no ?
                    row.storing_order_tank.tank_no : '-'}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="customer">
                  <mat-header-cell mat-header-cell *matHeaderCellDef [ngClass]="''">
                    {{translatedLangText.CUSTOMER}}
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let row" class="">
                    <span
                      class="mobile-label">{{translatedLangText.CUSTOMER}}:</span>{{row.storing_order_tank?.storing_order?.customer_company?ccDS.displayName(row.storing_order_tank?.storing_order?.customer_company):'-'}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="eir_no">
                  <mat-header-cell mat-header-cell *matHeaderCellDef
                    [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                    {{translatedLangText.EIR_NO}}
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let row"
                    [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                    <span
                      class="mobile-label">{{translatedLangText.EIR_NO}}:</span>{{row.storing_order_tank?.in_gate[0].eir_no?row.storing_order_tank?.in_gate[0].eir_no:'-'}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="eir_dt">
                  <mat-header-cell mat-header-cell *matHeaderCellDef
                    [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                    {{translatedLangText.EIR_DATE}}
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let row"
                    [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                    <span
                      class="mobile-label">{{translatedLangText.EIR_DATE}}:</span>{{displayDate(row.storing_order_tank?.in_gate[0].eir_dt)}}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="last_cargo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{translatedLangText.LAST_CARGO}}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                    <span
                      class="mobile-label">{{translatedLangText.LAST_CARGO}}:</span>{{row.storing_order_tank?.tariff_cleaning?.cargo?row.storing_order_tank?.tariff_cleaning?.cargo:'-'}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="method">
                  <mat-header-cell mat-header-cell *matHeaderCellDef
                    [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                    {{translatedLangText.METHOD}}
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let row"
                    [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                    <span
                      class="mobile-label">{{translatedLangText.METHOD}}:</span>{{row.storing_order_tank?.tariff_cleaning?.cleaning_method?.description?row.storing_order_tank?.tariff_cleaning?.cleaning_method?.description:'-'}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="purpose">
                  <mat-header-cell mat-header-cell *matHeaderCellDef
                    [ngClass]="'tbl-col-width-per-1_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                    {{translatedLangText.PURPOSE}}
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let row"
                    [ngClass]="'tbl-col-width-per-1_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                    <span
                      class="mobile-label">{{translatedLangText.PURPOSE}}:</span>{{displayTankPurpose(row.storing_order_tank)}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="tank_status_cv">
                  <mat-header-cell mat-header-cell *matHeaderCellDef
                    [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                    {{translatedLangText.STATUS}}
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let row"
                    [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                    <span class="mobile-label">{{translatedLangText.STATUS}}:</span>{{displayTankStatus(row.status_cv)}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                  <mat-header-cell
                    [ngClass]="'pr-0 tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                    *matHeaderCellDef>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row;"
                    [ngClass]="'pr-0 tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm justify-content-end'">
                    <button mat-icon-button [matMenuTriggerFor]="menu" (click)="stopEventTrigger($event)"
                      [hidden]="MenuButtonHidden(row)">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="ApproveTank(row)" [hidden]="HiddenMenu(row,'APPROVED')">
                        <mat-icon>check_circle</mat-icon>
                        <span>{{translatedLangText.APPROVE}}</span>
                      </button>
                      <button mat-menu-item (click)="KIVTank(row)" [hidden]="HiddenMenu(row,'KIV')">
                        <mat-icon>block</mat-icon>
                        <span>{{translatedLangText.KIV}}</span>
                      </button>
                      <button mat-menu-item (click)="NoActionTank(row)" [hidden]="HiddenMenu(row,'NO_ACTION')">
                        <mat-icon>remove_circle_outline</mat-icon>
                        <span>{{translatedLangText.NO_ACTION}}</span>
                      </button>
                      @if (canExport(row)) {
                      <button mat-menu-item (click)="onExport($event, row)">
                        <i class="fas fa-file-export"></i>
                        {{translatedLangText.EXPORT}}
                      </button>
                      }
                    </mat-menu>
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple (click)="ViewTank(row)"
                  [style.cursor]="'pointer'" />
              </table>
            </div>
            <!-- No result -->
            @if (!(igCleanDS.loading$ | async) && !inGateList.length) {
            <mat-divider></mat-divider>
            <div class="no-results m-l-20 pt-3" [style.display]="inGateList.length === 0 ? '' : 'none'">
              <h5 class="m-b-15">{{translatedLangText.NO_RESULT}}</h5>
            </div>
            }
            <!-- Loading spinner -->
            @if (igCleanDS.loading$ | async) {
            <div class="tbl-spinner">
              <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
              </mat-progress-spinner>
            </div>
            }
            <mat-paginator #paginator [length]="igCleanDS.totalCount" [pageIndex]="pageIndex" [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageEvent($event)">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>