<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="this.so_guid ? pageTitleEdit : pageTitleNew" [items]="breadcrumsMiddleList"
        [active_item]="this.so_guid ? langText.EDIT : langText.NEW"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form class="ms-0" [formGroup]="soForm!" (ngSubmit)="onSOFormSubmit()" #formDirective="ngForm">
          <div class="card">
            <div class="header">
              <h2>
                {{langText.HEADER | translate}}
                @if (this.so_guid) {
                ({{ soForm?.get('so_no')?.value}})
                }
              </h2>
            </div>
            <div class="body">
              @if (soDS.soLoading$ | async) {
              <div class="tbl-spinner">
                <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                </mat-progress-spinner>
              </div>
              }
              @if (!(soDS.soLoading$ | async)) {
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{langText.CUSTOMER_CODE | translate}}</mat-label>
                    <input type="text" matInput [formControl]="customerCodeControl" [matAutocomplete]="customerCode"
                      formControlName="customer_code" required>
                    <mat-autocomplete #customerCode="matAutocomplete" [displayWith]="displayCustomerCompanyFn">
                      @for (cc of ccDS.connect() | async; track cc) {
                      <mat-option [value]="cc">
                        {{ccDS.displayName(cc)}}
                      </mat-option>
                      }
                    </mat-autocomplete>
                    @if (soForm?.get('customer_code')?.hasError('required')) {
                    <mat-error>
                      {{langText.CUSTOMER_CODE | translate}} {{langText.SO_REQUIRED | translate}}
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{langText.SO_NOTES | translate}}</mat-label>
                    <input matInput formControlName="so_notes" required>
                    @if (soForm?.get('so_notes')?.hasError('required')) {
                    <mat-error>
                      {{langText.SO_NOTES | translate}} {{langText.SO_REQUIRED | translate}}
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{langText.HAULIER | translate}}</mat-label>
                    <input matInput formControlName="haulier">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                  <div class="responsive_table">
                    <table mat-table [dataSource]="sotList" matSort class="mat-cell advance-table table-hover">
                      <!-- Checkbox Column -->
                      <ng-container matColumnDef="select">
                        <mat-header-cell *matHeaderCellDef [ngClass]="''">
                          <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="sotSelection.hasValue() && isAllSelected()"
                            [indeterminate]="sotSelection.hasValue() && !isAllSelected()" [ngClass]="'tbl-checkbox'">
                          </mat-checkbox>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" [ngClass]="''">
                          <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? sotSelection.toggle(row) : null" [checked]="sotSelection.isSelected(row)"
                            [ngClass]="'tbl-checkbox'">
                          </mat-checkbox>
                        </mat-cell>
                      </ng-container>
                      <!-- ID Column -->
                      <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="tank_no">
                        <mat-header-cell *matHeaderCellDef [ngClass]="''">{{langText.TANK_NO |
                          translate}}</mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let row" [ngClass]="''">
                          <span class="mobile-label">
                            {{ langText.TANK_NO | translate}}:
                          </span>
                          {{row.tank_no}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="tank_no_validity">
                        <mat-header-cell *matHeaderCellDef [ngClass]="''" mat-sort-header>
                          <i class="fas fa-ellipsis-h"></i>
                        </mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"
                          [ngClass]="''">
                          <span class="mobile-label">Validity:</span>
                          @if (row.tank_no_validity==='valid') {
                          <div>
                            <span class="badge badge-solid-green">
                              <mat-icon>done</mat-icon>
                            </span>
                          </div>
                          }
                          @if (row.tank_no_validity==='invalid') {
                          <div>
                            <span class="badge badge-solid-purple">
                              <mat-icon>clear</mat-icon>
                            </span>
                          </div>
                          }
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="last_cargo">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{langText.LAST_CARGO |
                          translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"
                          matTooltip="{{row.last_cargo}}">
                          <span class="truncate-text">
                            <span class="mobile-label">{{langText.LAST_CARGO | translate}}:</span>
                            {{row.tariff_cleaning?.cargo}}
                          </span>
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="job_no">
                        <mat-header-cell *matHeaderCellDef [ngClass]="''" mat-sort-header>{{langText.JOB_NO |
                          translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)" [ngClass]="''">
                          <span class="mobile-label">{{langText.JOB_NO | translate}}:</span>
                          {{row.job_no}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="purpose_storage">
                        <mat-header-cell *matHeaderCellDef [ngClass]="''" mat-sort-header>{{langText.STORAGE |
                          translate}}</mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"
                          [ngClass]="''">
                          <span class="mobile-label">{{langText.STORAGE | translate}}:</span>
                          @if (row.purpose_storage) {
                          <div>
                            <span class="badge badge-solid-green">
                              <mat-icon>done</mat-icon>
                            </span>
                          </div>
                          }
                          @if (!row.purpose_storage) {
                          <div>
                            <span class="badge badge-solid-purple">
                              <mat-icon>clear</mat-icon>
                            </span>
                          </div>
                          }
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="purpose_cleaning">
                        <mat-header-cell *matHeaderCellDef [ngClass]="''" mat-sort-header>{{langText.CLEANING |
                          translate}}</mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"
                          [ngClass]="''">
                          <span class="mobile-label">{{langText.CLEANING | translate}}:</span>
                          @if (row.purpose_cleaning) {
                          <div>
                            <span class="badge badge-solid-green">
                              <mat-icon>done</mat-icon>
                            </span>
                          </div>
                          }
                          @if (!row.purpose_cleaning) {
                          <div>
                            <span class="badge badge-solid-purple">
                              <mat-icon>clear</mat-icon>
                            </span>
                          </div>
                          }
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="purpose_steam">
                        <mat-header-cell *matHeaderCellDef [ngClass]="''" mat-sort-header>{{langText.STEAM |
                          translate}}</mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"
                          [ngClass]="''">
                          <span class="mobile-label">{{langText.STEAM | translate}}:</span>
                          @if (row.purpose_steam) {
                          <div>
                            <span class="badge badge-solid-green">
                              <mat-icon>done</mat-icon>
                            </span>
                          </div>
                          }
                          @if (!row.purpose_steam) {
                          <div>
                            <span class="badge badge-solid-purple">
                              <mat-icon>clear</mat-icon>
                            </span>
                          </div>
                          }
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="purpose_repair_cv">
                        <mat-header-cell *matHeaderCellDef [ngClass]="''" mat-sort-header>{{langText.REPAIR |
                          translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)" [ngClass]="''">
                          <span class="mobile-label">{{langText.REPAIR | translate}}:</span>
                          {{row.purpose_repair_cv}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="status_cv">
                        <mat-header-cell *matHeaderCellDef [ngClass]="''" mat-sort-header>{{langText.STATUS |
                          translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)" [ngClass]="''">
                          <span class="mobile-label">{{langText.STATUS | translate}}:</span>
                          <span [matTooltip]="row.remarks ? ('Remarks: ' + row.remarks) : ''">{{row.status_cv}}</span>
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="certificate_cv">
                        <mat-header-cell *matHeaderCellDef [ngClass]="''" mat-sort-header>{{langText.CERTIFICATE |
                          translate}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)" [ngClass]="''">
                          <span class="mobile-label">{{langText.CERTIFICATE | translate}}:</span>
                          {{row.certificate_cv}}
                        </mat-cell>
                      </ng-container>
                      <!-- actions -->
                      <ng-container matColumnDef="actions">
                        <mat-header-cell class="pr-0" [ngClass]="''" *matHeaderCellDef>
                        </mat-header-cell>
                        <!-- <mat-cell *matCellDef="let row; let i=index;" class="pr-0"
                          [ngClass]="'tbl-col-width-per-10 justify-content-end'">
                          <button mat-icon-button color="primary" (click)="handleDuplicateRow($event, row)"
                            [matTooltip]="translatedLangText.DUPLICATE" class="tbl-action-btn">
                            <mat-icon [class]="''">add_to_photos</mat-icon>
                          </button>
                          @if (row.status_cv === "WAITING" || !row.status_cv) {
                          <button mat-icon-button color="accent" (click)="handleDelete($event, row, i)"
                            [matTooltip]="translatedLangText.DELETE" class="tbl-action-btn">
                            <mat-icon [class]="'tbl-fav-delete'">delete_forever</mat-icon>
                          </button>
                          }
                        </mat-cell> -->
                        <mat-cell *matCellDef="let row; let i=index;" class="psl-3 justify-content-end">
                          {{row.action}}
                          <button mat-icon-button [matMenuTriggerFor]="menu" (click)="stopEventTrigger($event)">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            @if (soDS.canAdd(storingOrderItem)) {
                            <button mat-menu-item (click)="handleDuplicateRow($event, row)">
                              <mat-icon>add_to_photos</mat-icon>
                              <span>{{translatedLangText.DUPLICATE}}</span>
                            </button>
                            }
                            @if (sotDS.canAddRemove(row)) {
                            <button mat-menu-item (click)="handleDelete($event, row, i)">
                              <mat-icon>delete_forever</mat-icon>
                              <span>{{translatedLangText.DELETE}}</span>
                            </button>
                            }
                            @if (!row.action.includes('cancel') && sotDS.canCancel(row)) {
                            <button mat-menu-item (click)="cancelItem($event, row)">
                              <mat-icon>cancel</mat-icon>
                              <span>{{sotSelection.hasValue() ? translatedLangText.BULK + " " :
                                ""}}{{translatedLangText.CANCEL}}</span>
                            </button>
                            }
                            @if (!row.action.includes('rollback') && sotDS.canRollbackStatus(row)) {
                            <button mat-menu-item (click)="rollbackItem($event, row)">
                              <mat-icon>undo</mat-icon>
                              <span>{{sotSelection.hasValue() ? translatedLangText.BULK + " " :
                                ""}}{{translatedLangText.ROLLBACK_STATUS}}</span>
                            </button>
                            }
                            @if (row.action.includes('cancel')) {
                            <button mat-menu-item (click)="undoAction($event, row, 'cancel')">
                              <mat-icon>undo</mat-icon>
                              <span>{{translatedLangText.UNDO}} {{translatedLangText.CANCEL}}</span>
                            </button>
                            }
                            @if (row.action.includes('rollback')) {
                            <button mat-menu-item (click)="undoAction($event, row, 'rollback')">
                              <mat-icon>undo</mat-icon>
                              <span>{{translatedLangText.UNDO}} {{translatedLangText.ROLLBACK_STATUS}}</span>
                            </button>
                            }
                          </mat-menu>
                        </mat-cell>
                      </ng-container>
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; let i=index; columns: displayedColumns;"
                        [ngClass]="{'deleted-row': row.delete_dt, 'edited-row': row.guid && !row.delete_dt && row.edited}"
                        (click)="editOrderDetails($event, row, i)" [style.cursor]="'pointer'" matRipple>
                      </mat-row>
                    </table>
                  </div>
                  @if (!sotList.data.length) {
                  <mat-divider></mat-divider>
                  <div class="no-results m-l-20 pt-3" [style.display]="sotList.data.length === 0 ? '' : 'none'">
                    <h5 class="m-b-15">{{langText.NO_RESULT | translate}}</h5>
                  </div>
                  }
                  @if (sotDS.loading$ | async) {
                  <div class="tbl-spinner">
                    <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                    </mat-progress-spinner>
                  </div>
                  }
                </div>
              </div>
              }
              <mat-divider></mat-divider>
              @if (soForm?.get('sotList')?.hasError('required')) {
              <mat-error class="ps-3">
                {{langText.ADD_ATLEAST_ONE | translate}}
              </mat-error>
              }
              <div class="row m-t-10">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                  <button mat-flat-button aria-label="Back to previous page" (click)="$event.preventDefault();"
                    [routerLink]="['/admin/storing-order']">
                    <mat-icon>chevron_left</mat-icon>{{langText.BACK | translate}}
                  </button>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 align-right">
                  @if (soDS.canAdd(storingOrderItem)) {
                  <button mat-flat-button color="accent" [ngClass]="'m-r-10'" (click)="addOrderDetails($event)">
                    <mat-icon class="col-white">add</mat-icon>{{langText.ORDER_DETAILS | translate}}
                  </button>
                  }
                  @if (isAnyItemEdited()) {
                  <button mat-flat-button color="primary">
                    <mat-icon>save</mat-icon>{{langText.SAVE_AND_SUBMIT | translate}}
                  </button>
                  }
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>