::ng-deep {
  .multiline-tooltip {
    white-space: pre-line;

    .mdc-tooltip__surface {
      max-width: unset;
    }
  }
}
.card{
  margin-bottom:0px;
 padding: 20px 20px 0px 20px;
}
// .content-block {
//   padding: 15px;
// }