::ng-deep {
  .multiline-tooltip {
    white-space: pre-line;

    .mdc-tooltip__surface {
      max-width: unset;
    }
  }
}

.card {
  .header {
    padding-left: 0px;
    padding-right: 0px;
  }

  .body {
    padding-left: 0px;
    padding-right: 0px;
  }
}