<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
            </mat-panel-title>
            <mat-panel-description>
              <div class="m-l-" [matTooltip]="translatedLangText.SEARCH">
                <button mat-mini-fab color="primary" (click)="search()" (click)="$event.stopPropagation()">
                  <mat-icon>search</mat-icon>
                </button>
              </div>
              <div class="m-l-10" [matTooltip]="translatedLangText.CLEAR_ALL">
                <button mat-mini-fab color="accent" (click)="resetDialog($event)" (click)="$event.stopPropagation()">
                  <mat-icon>clear_all</mat-icon>
                </button>
              </div>
              @if (modulePackageService.isGrowthPackage() || modulePackageService.isCustomizedPackage()) {
              <div class="m-l-10" [matTooltip]="translatedLangText.EDIT">
                <button mat-mini-fab color="primary" (click)="adjustCost()" (click)="$event.stopPropagation()">
                  <mat-icon class="col-white">edit</mat-icon>
                </button>
              </div>
              }
              @if (modulePackageService.isGrowthPackage() || modulePackageService.isCustomizedPackage()) {
              <div class="export-button m-l-10" [matTooltip]="translatedLangText.EXPORT"
                matTooltip={{translatedLangText.EXPORT}}>
                <img src="assets/images/icons/xlsx.png" alt="" (click)="exportExcel()"
                  (click)="$event.stopPropagation()" />
              </div>
              }
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form class="ms-0" [formGroup]="pcForm!" #formDirective="ngForm">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>{{translatedLangText.CUSTOMER}}</mat-label>
                    <mat-chip-grid #chipGrid>
                      @if (this.selectedCustomers.length > 0) {
                      <mat-chip-row color="primary" (click)="removeAllSelectedCustomers()">
                        <span> {{getSelectedCustomersDisplay()}}</span>
                        <button matChipRemove hidden>
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip-row>
                      }
                      <input #custInput [formControl]="customerCodeControl" [matAutocomplete]="customerCode"
                        [matChipInputFor]="chipGrid" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        (matChipInputTokenEnd)="add($event)">
                      <mat-autocomplete #customerCode="matAutocomplete" (optionSelected)="selected($event)">
                        @for (cc of customer_companyList; track cc) {
                        <mat-option [value]="cc">
                          <mat-checkbox color="primary"
                            (click)="onCheckboxClicked(cc);$event.stopPropagation()"
                            [checked]="itemSelected(cc) || false"></mat-checkbox>
                          {{ccDS.displayName(cc)}}
                        </mat-option>
                        }
                      </mat-autocomplete>
                    </mat-chip-grid>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>{{translatedLangText.PROFILE_NAME}}</mat-label>
                    <mat-chip-grid #chipProfile>
                      @if(this.selectedProfiles.length>0){
                      <mat-chip-row (click)="removeSelectedProfiles()">
                        {{getSelectedProfilesDisplay()}}
                        <button matChipRemove hidden>
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip-row>
                      }
                      <input #profileInput [formControl]="profileNameControl" [matAutocomplete]="profileName"
                        [matChipInputFor]="chipProfile" [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                      <mat-autocomplete #profileName="matAutocomplete" (optionSelected)="selectedProfile($event)">
                        @for (p of profile_nameList; track p) {
                        <mat-option [value]="p">
                          <mat-checkbox color="primary"
                            (click)="onCheckboxProfileClicked(p);$event.stopPropagation()"
                            [checked]="itemProfileSelected(p) || false"></mat-checkbox>
                          {{p.profile_name}}
                        </mat-option>
                        }
                      </mat-autocomplete>
                    </mat-chip-grid>
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="body overflow-auto">
        <div class="responsive_table">
          <table mat-table [dataSource]="packDepotItems" matSort
            class="mat-cell advance-table striped-rows hover-highlight dark-header curve-table">
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef
                [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                <mat-checkbox (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()" [ngClass]="'tbl-checkbox'" hidden>
                </mat-checkbox>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"
                [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="toggleEstimate(row)"
                  [checked]="selection.isSelected(row)" [ngClass]="'tbl-checkbox'" [hidden]="HideCheckBox(row)">
                </mat-checkbox>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="profile">
              <mat-header-cell *matHeaderCellDef
                [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">{{this.translatedLangText.PROFILE_NAME
                }}</mat-header-cell>
              <mat-cell *matCellDef="let row"
                [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                <span class="mobile-label">{{this.translatedLangText.PROFILE_NAME
                  }}:</span>{{row.tariff_depot.profile_name}}</mat-cell>
            </ng-container>
            <!-- <ng-container matColumnDef="customer_code">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{this.translatedLangText.CUSTOMER_CODE
                }}</mat-header-cell>
              <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                <span class="mobile-label">{{this.translatedLangText.CUSTOMER_CODE
                  }}:</span>{{row.customer_company.code}}</mat-cell>
            </ng-container> -->
            <ng-container matColumnDef="customer">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{this.translatedLangText.CUSTOMER
                }}</mat-header-cell>
              <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                <span class="mobile-label">{{this.translatedLangText.CUSTOMER
                  }}:</span>{{ccDS.displayName(row.customer_company)}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="preinspection_cost">
              <mat-header-cell *matHeaderCellDef
                [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">{{this.translatedLangText.PREINSPECTION_COST
                }}</mat-header-cell>
              <mat-cell *matCellDef="let row"
                [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                <span class="mobile-label">{{this.translatedLangText.PREINSPECTION_COST }}:</span>
                {{row.preinspection_cost.toFixed(2)}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="lolo_cost">
              <mat-header-cell *matHeaderCellDef
                [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">{{this.translatedLangText.LOLO_COST
                }}</mat-header-cell>
              <mat-cell *matCellDef="let row"
                [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                <span class="mobile-label">{{this.translatedLangText.LOLO_COST }}:</span>
                {{row.lolo_cost.toFixed(2)}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="gate_surcharge">
              <mat-header-cell *matHeaderCellDef
                [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">{{this.translatedLangText.GATE_SURCHARGE_COST
                }}</mat-header-cell>
              <mat-cell *matCellDef="let row"
                [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                <span class="mobile-label">{{this.translatedLangText.GATE_SURCHARGE_COST }}:</span>
                {{row.gate_in_cost.toFixed(2)}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="storage_cost">
              <mat-header-cell *matHeaderCellDef
                [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">{{this.translatedLangText.STORAGE_COST
                }}</mat-header-cell>
              <mat-cell *matCellDef="let row"
                [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                <span class="mobile-label">{{this.translatedLangText.STORAGE_COST}}:</span>
                {{row.storage_cost.toFixed(2)}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="free_days">
              <mat-header-cell *matHeaderCellDef
                [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">{{this.translatedLangText.FREE_DAYS
                }}</mat-header-cell>
              <mat-cell *matCellDef="let row"
                [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                <span class="mobile-label">{{this.translatedLangText.FREE_DAYS}}:</span>
                {{row.free_storage.toFixed(2)}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="last_update">
              <mat-header-cell *matHeaderCellDef
                [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">{{this.translatedLangText.LAST_UPDATE
                }}</mat-header-cell>
              <mat-cell *matCellDef="let row"
                [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                <span class="mobile-label">{{this.translatedLangText.LAST_UPDATE}}:</span>
                {{this.displayLastUpdated(row)}}</mat-cell>
            </ng-container>
            <!-- actions -->
            <ng-container matColumnDef="actions">
              <mat-header-cell class="pr-0" *matHeaderCellDef>Actions</mat-header-cell>
              <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                <button mat-icon-button color="accent" (click)="$event.stopPropagation()" (click)="editCall(row)"
                  class="tbl-action-btn">
                  <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                </button>
                <button mat-icon-button color="accent" (click)="$event.stopPropagation()" (click)="deleteItem(row)"
                  class="tbl-action-btn">
                  <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                </button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editCall(row)" [style.cursor]="'pointer'"
              matRipple>
            </mat-row>
          </table>
        </div>
        <!-- Loading spinner -->
        @if (!(packDepotDS.loading$ | async) && !packDepotItems.length) {
        <mat-divider></mat-divider>
        <div class="no-results m-l-20 pt-3" [style.display]="packDepotItems.length === 0 ? '' : 'none'">
          <h5 class="m-b-15">{{translatedLangText.NO_RESULT}}</h5>
        </div>
        }
        <!-- Loading spinner -->
        @if (packDepotDS.loading$ | async) {
        <div class="tbl-spinner">
          <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
          </mat-progress-spinner>
        </div>
        }
        <mat-paginator #paginator [length]="packDepotDS.totalCount" [pageIndex]="0" [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageEvent($event)">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>