<div class="card p-0 tab-card-container">
  <mat-accordion>
    <mat-expansion-panel expanded="true" disabled="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
        </mat-panel-title>
        <mat-panel-description>
          <div class="m-l-" [matTooltip]="translatedLangText.EDIT">
            <button mat-mini-fab color="primary" (click)="adjustCost()" (click)="$event.stopPropagation()">
              <mat-icon class="col-white">edit</mat-icon>
            </button>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form class="ms-0" [formGroup]="pcForm!" #formDirective="ngForm">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-11 mb-1">
              <div class="card shadow">
                <div class="tbl-title margin-left-10">
                  <h5>{{ translatedLangText.COST_DETAILS}}</h5>
                </div>
                <div class="row justify-content-center">
                  <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 mb-0">
                    <mat-form-field class="example-full-width">
                      <mat-label>{{translatedLangText.DESCRIPTION}}</mat-label>
                      <input matInput formControlName="description" type="text" readonly>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 mb-0">
                    <mat-form-field class="example-full-width">
                      <mat-label>{{translatedLangText.COST}}</mat-label>
                      <input matInput formControlName="cost" type="number" min="0" readonly>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 mb-0">
                    <mat-form-field class="example-full-width">
                      <mat-label>{{translatedLangText.REMARKS}}</mat-label>
                      <input matInput formControlName="remarks" type="text" readonly>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 mb-0">
                    <mat-form-field class="example-full-width">
                      <mat-label>{{translatedLangText.LAST_UPDATED}}</mat-label>
                      <input matInput formControlName="lastUpdated" type="text" readonly>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>