<div class="info-box8">
  <i class="material-icons bg-purple card1-icon"> <span class="material-symbols-outlined" >
credit_card_clock
</span></i>
  <!-- <i class="material-icons bg-orange card1-icon">people</i> -->
  <h5 class="col-purple font-bold">{{translatedLangText.TANK_PERIODIC_TEST_DUE}}</h5>
  @if (sotDS.loading$ | async) {
  <div class="tbl-spinner">
    <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
    </mat-progress-spinner>
  </div>
  }
  @if (!(sotDS.loading$ | async)) {
  <h2 [ngClass]="blinkClass">{{ this.sot_waiting }}</h2>
  }
</div>