<div class="container">
  <div class="modalHeader">
    <h3 mat-dialog-title>{{data.action === 'cancel' ? data.translatedLangText.ARE_YOU_SURE_CANCEL :
      data.translatedLangText.ARE_YOU_SURE_ROLLBACK}}</h3>
  </div>
  <div mat-dialog-content class="ps-3 pe-3 pt-0 pb-0">
    <mat-divider></mat-divider>
    <form class="register-form" [formGroup]="roSotListForm" #formDirective="ngForm">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-2 mb-0">
          <mat-label>
            {{data.translatedLangText.TANK_NO}}: {{sot?.tank_no}}
          </mat-label>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-2 mb-0">
          <mat-label>
            {{data.translatedLangText.BOOKING_TYPE}}: {{getBookTypeDescription(booking?.book_type_cv)}}
          </mat-label>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-2 mb-0">
          <mat-form-field class="example-full-width">
            <mat-label>{{data.translatedLangText.REMARKS}}</mat-label>
            <input matInput formControlName="remarks">
            <!-- @if (roSotListForm.get('remarks')?.hasError('required')) {
            <mat-error>
              {{data.translatedLangText.REMARKS}} {{data.translatedLangText.SO_REQUIRED}}
            </mat-error>
            } -->
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div mat-dialog-actions class="pt-0 mb-4 align-right">
    <button mat-flat-button color="warn" (click)="confirm()">
      {{data.translatedLangText.CONFIRM | translate}}
    </button>
    <button mat-flat-button (click)="onNoClick()" tabindex="-1">
      {{data.translatedLangText.CLOSE | translate}}
    </button>
  </div>
</div>