.transactions-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}


.icon-box {
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.icon-box:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.icon-clicked {
  transform: scale(0.95);
  opacity: 0.8;
}

.card_min_width{
    min-width:500px;
}