<div class="info-box8">
  <i class="material-icons bg-red card1-icon"><span class="material-symbols-outlined" >
output_circle
</span></i>
  <!-- <i class="material-icons bg-orange card1-icon">people</i> -->
  <h5 class="col-red font-bold">{{translatedLangText.GATE_OUT_PUBLISH_PENDING}}</h5>
  @if (ogDS.loading$ | async) {
  <div class="tbl-spinner">
    <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
    </mat-progress-spinner>
  </div>
  }
  @if (!(ogDS.loading$ | async)) {
  <h2 [ngClass]="blinkClass">{{ this.sot_waiting }}</h2>
  }
</div>