<div mat-dialog-title class="ms-3 mt-3">
  <h4>{{translatedLangText.PREVIEW_PDF}} ({{eir_no}})</h4>
</div>

<div mat-dialog-content>
  <div id="eir-form-header" class="pdf-container pdf-header">
    <hr class="mt-2 mb-1" />
    <div class="header-content">
      <div class="logo-container">
        <img src="assets/images/logo.png" class="header-logo" />
      </div>
      <div class="company-container">
        <div>
          <h5 class="header-company-name mb-0">{{customerInfo.companyName}}</h5>
        </div>
        <div class="company-info">
          <span>{{customerInfo.companyAddress}}</span>
        </div>
        <div class="company-info">
          <span><b>{{translatedLangText.PHONE}}:</b> {{customerInfo.companyPhone}}</span>
          <span><b>{{translatedLangText.FAX}}:</b> {{customerInfo.companyFax}}</span>
          <span><b>{{translatedLangText.EMAIL}}:</b> {{customerInfo.companyEmail}}</span>
          <span><b>{{translatedLangText.WEB}}:</b> {{customerInfo.companyWebsite}}</span>
          <span><b>{{translatedLangText.CRN}}:</b> {{customerInfo.companyUen}}</span>
        </div>
      </div>
    </div>
    <hr class="mt-1 mb-2" />
  </div>
  <div id="eir-form-body" class="pdf-container pdf-body">
    <div class="eir-title">
      <span class="mb-0"><b>{{reportTitle}}</b></span>
    </div>
    <div #frameinfosection class="row">
      <div #captureWalkwayElement class="col-xl-4-5 col-lg-4-5 col-md-12 col-sm-12 col-xs-12 m-b-0">
        <div class="frame-walkway-legend mb-2">
          <app-mapping-chart [markedCells]="markedCells" [circularMarkedSections]="circularMarkedSections"
            [showGrid]="true" [readonly]="true">
          </app-mapping-chart>
        </div>

      </div>
      <div #captureMalidElement class="col-xl-7-5 col-lg-7-5 col-md-12 col-sm-12 col-xs-12 m-b-0">
        <div class="card modal-card">
          <div class="header header-custom-padding">
            <h2>
              {{data.translatedLangText.INSPECTION_TYPES}}
            </h2>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-0">
                <mat-card-content>
                  <div class="legend-items">
                    @for (type of inspectionTypes; track type.type) {
                    <div class="legend-item" [class.disabled]="!type.enabled">
                      <div class="legend-symbol-wrapper" [style.background-color]="type.backgroundColor">
                        <div class="legend-symbol" [ngStyle]="getSymbolStyle(type)" [style.--shape-color]="'#FFFFFF'"
                          [class.shape-circle]="type.shape === 'circle'" [class.shape-square]="type.shape === 'square'"
                          [class.shape-triangle]="type.shape === 'triangle'"
                          [class.shape-cross]="type.shape === 'cross'"
                          [class.shape-diagonal]="type.shape === 'diagonal'">
                        </div>
                      </div>
                      <div class="legend-info">
                        <span class="legend-label">{{ type.displayName }}</span>
                        @if (type.description) {
                        <span class="legend-description">{{ type.description }}</span>
                        }
                      </div>
                    </div>
                    }
                  </div>
                </mat-card-content>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-5">
          <div class="card p-0 tlx-card">
            <mat-card-content class="p-2">
              @for (item of activeSurfaceTypes; track item.type_cv; let i = $index) {
              <div class="row mb-2 pb-2" [formGroup]="getSurfaceTypeFormGroup(i)">
                <div class="col-auto d-flex align-items-center">
                  <span class="header-label font-bold">{{ i + 1 }}</span>
                </div>
                <div class="col-2-5 d-flex align-items-center">
                  <div class="shape-wrapper" [ngStyle]="getSurfaceTypeSymbolStyle(item)">
                    <div [ngClass]="'shape-' + getInspectionTypeShape(item.type_cv)"></div>
                  </div>
                  <span class="type-description">{{ getInspectionTypeDesc(item.type_cv) }}</span>
                </div>
                <div class="col d-flex align-items-center justify-content-center">
                  <div class="w-100">
                    <div>
                      {{ item.value }} {{ data.translatedLangText.PERCENTAGE_SYMBOL }}
                    </div>
                  </div>
                </div>
                <div class="col d-flex align-items-center justify-content-center">
                  <div class="w-100">
                    <div>
                      {{ item.remarks }}
                    </div>
                  </div>
                </div>
              </div>
              }
            </mat-card-content>
          </div>
        </div>
      </div>

    </div>

    <div id="eir-form-footer" class="pdf-container pdf-footer">
      <hr class="mt-0 mb-1" />

      <div class="footer-info-content">
        <span>

        </span>
        <span>
          {{translatedLangText.COMPUTER_GENERATED_NOTE}}
        </span>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="mb-2 mt-2 me-2 align-right">

    @if ((generatingPdfLoading$| async)) {
    <mat-progress-bar mode="determinate" [value]="generatingPdfProgress"></mat-progress-bar>
    }
  </div>