<div class="body overflow-auto">
  <form class="ms-0" [formGroup]="searchForm!" #formDirective="ngForm">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>{{translatedLangText.SO_NO}}/{{translatedLangText.TANK_NO}}</mat-label>
          <input matInput formControlName="search_field">
        </mat-form-field>
      </div>
      <!-- <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>{{translatedLangText.SO_NO}}</mat-label>
          <input matInput formControlName="search_field">
        </mat-form-field>
      </div> -->
      <div
        class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0 d-flex align-items-center ms-auto justify-content-end">
        <button mat-mini-fab color="primary" (click)="search()" matTooltip={{translatedLangText.SEARCH}}>
          <mat-icon>search</mat-icon>
        </button>
        <!-- <button mat-mini-fab class="m-l-10 bg-blue" (click)="resetDialog($event)">
              <mat-icon>cached</mat-icon>
            </button> -->
        <!-- <button mat-flat-button class="m-l-10 bg-light-gold" (click)="resetDialog($event)">
              {{translatedLangText.CLEAR_ALL}}
            </button> -->
      </div>
    </div>
  </form>
  <div class="responsive_table">
    <table mat-table [dataSource]="sotList" matSort
      class="mat-cell advance-table striped-rows hover-highlight dark-header">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.guid}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="tank_no">
        <mat-header-cell mat-header-cell *matHeaderCellDef
          [ngClass]="'tbl-col-width-per-1_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm tbl-col-width-per-12-xs'">
          {{translatedLangText.TANK_NO}}
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row"
          [ngClass]="'tbl-col-width-per-1_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm tbl-col-width-per-12-xs'">
          <span class="mobile-label">{{translatedLangText.TANK_NO}}:</span>{{row.tank_no}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="job_no">
        <mat-header-cell mat-header-cell *matHeaderCellDef
          [ngClass]="'tbl-col-width-per-1_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm tbl-col-width-per-12-xs'">
          {{translatedLangText.JOB_NO}}
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row"
          [ngClass]="'tbl-col-width-per-1_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm tbl-col-width-per-12-xs'">
          <span class="mobile-label">{{translatedLangText.JOB_NO}}:</span>{{row.job_no}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="last_cargo">
        <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="''">
          {{translatedLangText.LAST_CARGO}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row" [ngClass]="''">
          <span class="mobile-label">{{translatedLangText.LAST_CARGO}}:</span>{{row.tariff_cleaning?.cargo}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="customer_code">
        <mat-header-cell mat-header-cell *matHeaderCellDef
          [ngClass]="'tbl-col-width-per-2_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm tbl-col-width-per-12-xs'">
          {{translatedLangText.CUSTOMER}}
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row"
          [ngClass]="'tbl-col-width-per-2_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm tbl-col-width-per-12-xs'">
          <span
            class="mobile-label">{{translatedLangText.CUSTOMER}}:</span>{{ccDS.displayName(row.storing_order?.customer_company)}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="so_no">
        <mat-header-cell mat-header-cell *matHeaderCellDef
          [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm tbl-col-width-per-12-xs'">
          {{translatedLangText.SO_NO}}
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row"
          [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm tbl-col-width-per-12-xs'">
          <span class="mobile-label">{{translatedLangText.SO_NO}}:</span>{{row.storing_order?.so_no}}
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
        [routerLink]="['/admin/inventory/in-gate-main/details', row.guid]" [style.cursor]="'pointer'" matRipple>
      </mat-row>
    </table>
  </div>
  <!-- No result -->
  @if (!(sotDS.loading$ | async) && !sotList.length) {
  <mat-divider></mat-divider>
  <div class="no-results m-l-20 pt-3" [style.display]="sotList.length === 0 ? '' : 'none'">
    <h5 class="m-b-15">{{translatedLangText.NO_RESULT}}</h5>
  </div>
  }
  <!-- Loading spinner -->
  @if (sotDS.loading$ | async) {
  <div class="tbl-spinner">
    <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
    </mat-progress-spinner>
  </div>
  }
  <mat-paginator #paginator [length]="sotDS.totalCount" [pageIndex]="0" [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageEvent($event)">
  </mat-paginator>
</div>