<div class="card p-0 tab-card-container">
  <form class="ms-0" [formGroup]="searchForm!" #formDirective="ngForm">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
          </mat-panel-title>
          <mat-panel-description>
            <div class="m-l-" [matTooltip]="translatedLangText.SEARCH">
              <button mat-mini-fab color="primary" (click)="search()" (click)="$event.stopPropagation()">
                <mat-icon>search</mat-icon>
              </button>
            </div>
            <div class="m-l-10" [matTooltip]="translatedLangText.CLEAR_ALL">
              <button mat-mini-fab color="accent" (click)="resetDialog($event)" (click)="$event.stopPropagation()">
                <mat-icon>clear_all</mat-icon>
              </button>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>{{translatedLangText.SO_NO}}/{{translatedLangText.TANK_NO}}</mat-label>
              <input matInput formControlName="search_field">
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
  <div class="body">
    <div class="responsive_table">
      <table mat-table [dataSource]="sotList" matSort
        class="mat-cell advance-table striped-rows hover-highlight dark-header curve-table">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.guid}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="tank_no">
          <mat-header-cell mat-header-cell *matHeaderCellDef
            [ngClass]="'tbl-col-width-per-1_25-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm tbl-col-width-per-12-xs'">
            {{translatedLangText.TANK_NO}}
          </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let row"
            [ngClass]="'tbl-col-width-per-1_25-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm tbl-col-width-per-12-xs'">
            <span class="mobile-label">{{translatedLangText.TANK_NO}}:</span>{{row.tank_no}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="job_no">
          <mat-header-cell mat-header-cell *matHeaderCellDef
            [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm tbl-col-width-per-12-xs'">
            {{translatedLangText.JOB_NO}}
          </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let row"
            [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm tbl-col-width-per-12-xs'">
            <span class="mobile-label">{{translatedLangText.JOB_NO}}:</span>{{row.job_no}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="last_cargo">
          <mat-header-cell *matHeaderCellDef [ngClass]="''">
            {{translatedLangText.LAST_CARGO}}
          </mat-header-cell>
          <mat-cell *matCellDef="let row" [ngClass]="''">
            <span class="mobile-label">{{translatedLangText.LAST_CARGO}}:</span>
            <span class="mobile-label-value truncate-2-line">
              {{row.tariff_cleaning?.cargo}}
            </span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="customer_code">
          <mat-header-cell mat-header-cell *matHeaderCellDef
            [ngClass]="'tbl-col-width-per-3_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm tbl-col-width-per-12-xs'">
            {{translatedLangText.CUSTOMER}}
          </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let row"
            [ngClass]="'tbl-col-width-per-3_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm tbl-col-width-per-12-xs'">
            <span class="mobile-label">{{translatedLangText.CUSTOMER}}:</span>
            <span class="mobile-label-value truncate-2-line">
              {{row.storing_order?.customer_company.name}}
            </span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="so_no">
          <mat-header-cell mat-header-cell *matHeaderCellDef
            [ngClass]="'tbl-col-width-per-1_25-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm tbl-col-width-per-12-xs'">
            {{translatedLangText.SO_NO}}
          </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let row"
            [ngClass]="'tbl-col-width-per-1_25-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm tbl-col-width-per-12-xs'">
            <span class="mobile-label">{{translatedLangText.SO_NO}}:</span>{{row.storing_order?.so_no}}
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
          [routerLink]="['/admin/inventory/in-gate-main/details', row.guid]" [style.cursor]="'pointer'" matRipple>
        </mat-row>
      </table>
    </div>
  </div>
  <!-- No result -->
  @if (!(sotDS.loading$ | async) && !sotList.length) {
  <mat-divider></mat-divider>
  <div class="no-results m-l-20 pt-3" [style.display]="sotList.length === 0 ? '' : 'none'">
    <h5 class="m-b-15">{{translatedLangText.NO_RESULT}}</h5>
  </div>
  }
  <!-- Loading spinner -->
  @if (sotDS.loading$ | async) {
  <div class="tbl-spinner">
    <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
    </mat-progress-spinner>
  </div>
  }
  <mat-paginator #paginator [length]="sotDS.totalCount" [pageIndex]="pageIndex" [pageSize]="pageSize"
    [pageSizeOptions]="[25, 50, 75, 100]" (page)="onPageEvent($event)">
  </mat-paginator>
</div>