<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <h3>{{this.translatedLangText.PAGE_TITLE}} - {{this.getAction()}} </h3>
      </div>  
    </div>
    <!-- <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button> -->
  </div>
  
  <div mat-dialog-content >
    <form class="register-form" [formGroup]="pcForm" #formDirective="ngForm">
      <div class="row justify-content-center">
        <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 mb-1">
        
          <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="header">
                  <h2>
                    {{translatedLangText.TEAM_ALLOCATION}}
                  </h2>
                </div>
                <div class="body">
                
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                      <mat-form-field class="example-full-width">
                        <mat-label>{{translatedLangText.TEAM}}</mat-label>
                        <mat-select formControlName="team_allocation" required>
                          @for (team of teamList; track team) {
                          <mat-option [value]="team">{{team.description}}</mat-option>
                          }
                        </mat-select>

                        @if (pcForm?.get('team_allocation')?.hasError('required')) {
                          <mat-error>
                            {{translatedLangText.TEAM | translate}} {{data.langText.SO_REQUIRED | translate}}
                          </mat-error>
                          }
                      </mat-form-field>

                    </div>
                  </div>
                  <div mat-dialog-actions class="mb-1 align-right">
                    @if (canEdit()) {
                      <button mat-flat-button color="primary" (click)="save()">{{translatedLangText.SAVE_AND_SUBMIT}}</button>
                    }
                    <button mat-flat-button (click)="onNoClick()" tabindex="-1">
                      @if(canEdit()){
                      {{translatedLangText.CANCEL}}
                      }
                      @if(!canEdit()){
                        {{translatedLangText.CLOSE}}
                      }
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="card l-bg-{{this.getBackgroundColorFromNature()}}">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-0  d-flex align-items-center">
              <mat-icon style="margin-right: 10px;">error</mat-icon>
              <mat-label style="display: flex; justify-content: left;">{{this.getNatureInGateAlert()}}</mat-label>
            </div>
          </div>
        </div>
        <div class="card">
        
          
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
                    <mat-form-field class="example-full-width">
                        <mat-label>{{translatedLangText.TANK_NO}}</mat-label>
                        <input matInput formControlName="tank_no"  readonly="true">
                      </mat-form-field>
                </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
                    <mat-form-field class="example-full-width">
                        <mat-label>{{translatedLangText.CUSTOMER_CODE}}</mat-label>
                        <input matInput formControlName="customer"  readonly="true">
                      </mat-form-field>
                </div>
               
              </div>
           </div>
          </div>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-11 mb-1">
                    <mat-form-field class="example-full-width">
                        <mat-label>{{translatedLangText.EIR_NO}}</mat-label>
                        <input matInput formControlName="eir_no"  readonly="true">
                      </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-11 mb-1">
                  <mat-form-field class="example-full-width">
                      <mat-label>{{translatedLangText.EIR_DATE}}</mat-label>
                      
                      <input matInput formControlName="eir_dt" readonly="true" >
                      
                    </mat-form-field>
              </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-11 mb-1">
                  <mat-form-field class="example-full-width">
                      <mat-label>{{translatedLangText.QUOTATION_DATE }}</mat-label>
                      <input matInput formControlName="quotation_dt" type="text" readonly="true">
                    
                    </mat-form-field>
                </div>
              </div>
          </div>
          
          
          </div>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
                    <mat-form-field class="example-full-width">
                        <mat-label>{{translatedLangText.CARGO_NAME}}</mat-label>
                        <input matInput formControlName="cargo"  readonly="true" >
                      </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.JOB_NO}}</mat-label>
                    <input matInput formControlName="job_no"  readonly="true" >
                  
                  </mat-form-field>
                </div>
              </div>
          </div>
          
          
          </div>
          <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1" [hidden]="!this.ShowStatusView()">
                  <mat-form-field class="example-full-width">
                      <mat-label>{{translatedLangText.STATUS}}</mat-label>
                      <input matInput formControlName="status_cv" readonly>
                    </mat-form-field>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1" [hidden]="!this.ShowApproveDtView()">
                <mat-form-field class="example-full-width">
                  <mat-label>{{translatedLangText.APPROVED_DATE}}</mat-label>
                  <input matInput formControlName="approve_dt" readonly>
                </mat-form-field>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1" [hidden]="!this.ShowNoActionDtView()">
                <mat-form-field class="example-full-width">
                  <mat-label>{{translatedLangText.NO_ACTION}}</mat-label>
                  <input matInput formControlName="na_dt" readonly >
                </mat-form-field>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1" [hidden]="!this.ShowRemarksView()">
                <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.REMARKS}}</mat-label>
                    <input matInput formControlName="remarks" readonly >
                
                  </mat-form-field>
              </div>
            </div>
          
          </div>
          </div>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-11 mb-1 text-center">
                  <mat-label style="text-decoration: underline; font-weight: bold;">{{translatedLangText.LAST_CARGO_CLEANING_QUOTATION }}</mat-label>
            </div>
          </div>
          <div class="body overflow-auto">
            <div class="responsive_table">
              <table mat-table [dataSource]="igCleanItems" matSort
                class="mat-cell advance-table striped-rows hover-highlight dark-header">
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.guid}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="index">
                  <mat-header-cell mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-1'">
                   #
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let row ; let i = index " class="" [ngClass]="'tbl-col-width-per-1'">
                    <span class="mobile-label">#:</span>  {{ i + 1 }}
                  </mat-cell>
                  <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="desc">
                  <mat-header-cell mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-7'">
                    {{translatedLangText.DESCRIPTION}}
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let row" class="" [ngClass]="'tbl-col-width-per-7'">
                    <span
                      class="mobile-label">{{translatedLangText.DESCRIPTION}}:</span>{{row.description}}
                  </mat-cell>
                  <mat-footer-cell *matFooterCellDef style="text-align: right;">
                    <mat-label style="font-weight: bold;"> {{this.translatedLangText.TOTAL_COST}}</mat-label>
                  </mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="depot">
                  <mat-header-cell mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-2'">
                    {{translatedLangText.DEPOT_ESTIMATE}}
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let row" class="" [ngClass]="'tbl-col-width-per-2'">
                    <span class="mobile-label">{{translatedLangText.DEPOT_ESTIMATE}}:</span>{{row.depotEstimate}}
                  </mat-cell>
                  <mat-footer-cell *matFooterCellDef [ngClass]="'tbl-col-width-per-2'">{{this.totalCost_depot.toFixed(2)}}</mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="package">
                  <mat-header-cell mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-2'">
                    {{translatedLangText.CUSTOMER_APPROVAL}}
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let row" class="" [ngClass]="'tbl-col-width-per-2'">
                    <span class="mobile-label">{{translatedLangText.CUSTOMER_APPROVAL}}:</span>{{row.customerApproval}}
                  </mat-cell>
                  <mat-footer-cell *matFooterCellDef [ngClass]="'tbl-col-width-per-2'">{{this.totalCost_customer.toFixed(2)}}</mat-footer-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple>
                </mat-row>
                <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
              </table>
            </div>
            <!-- No result -->
            @if (!igCleanItems.length) {
            <mat-divider></mat-divider>
            <div class="no-results m-l-20 pt-3" [style.display]="igCleanItems.length === 0 ? '' : 'none'">
              <h5 class="m-b-15">{{translatedLangText.NO_RESULT}}</h5>
            </div>
            }
          </div>
       
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 text-center ">
              <mat-label style="display: flex; justify-content: left;">{{translatedLangText.REMARKS_NOTIFICATION}}</mat-label>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 text-center ">
              <mat-label style="display: flex; justify-content: left;">&nbsp;</mat-label>
            </div>
          </div>

          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 m-b-0">
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 ps-4 border text-center bg-light-grey">
                      <span class="font-bold">{{translatedLangText.DESCRIPTION}}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                      <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                          <div class="row">
                            <div
                              class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                              <div class="table-label cost-label">
                               {{translatedLangText.APPROVAL}}
                              </div>
                            </div>
                            <div
                              class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                              <div class="table-label cost-label">
                                {{translatedLangText.JOB_ALLOCATION}}
                              </div>
                            </div>
                            <div
                              class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                              <div class="table-label cost-label">
                                {{translatedLangText.JOB_COMPLETION}}
                              </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 border">
                              <div class="table-label cost-label">
                                {{translatedLangText.BILLING_DETAILS}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 m-b-0">
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 ps-4 border text-center bg-light-grey">
                      <span class="font-bold">{{translatedLangText.UPDATED_BY}}</span>
                    </div>
                  </div>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                        <div class="row">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                            <div class="row">
                              <div
                                class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                <div class="table-label cost-label">
                                  <span></span><span>{{this.pcForm.get('update_by')?.value?this.pcForm.get('update_by')?.value:'-'}}</span>
                                  <!-- <span></span><span>+</span> -->
                                </div>
                              </div>
                              <div
                                class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                <div class="table-label cost-label">
                                  <span></span><span>-</span>
                                </div>
                              </div>
                              <div
                                class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                <div class="table-label cost-label">
                                  <span></span><span>-</span>
                                </div>
                              </div>
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                <div class="table-label cost-label">
                                  <span></span><span>-</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                   
                  
                </div>
                <div class="col-xl col-lg col-md col-sm m-b-0">
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 ps-4 border text-center bg-light-grey">
                      <span class="font-bold">{{translatedLangText.UPDATED_ON}}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                      <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                          <div class="row">
                            <div
                              class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                              <div class="table-label cost-label">
                                <span></span><span>{{this.pcForm.get('update_on')?.value!=='-'?this.displayDateFromEpoch(this.pcForm.get('update_on')?.value):'-'}}</span>
                              </div>
                            </div>
                            <div
                              class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                              <div class="table-label cost-label">
                                <span></span><span>-</span>
                              </div>
                            </div>
                            <div
                              class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                              <div class="table-label cost-label">
                                <span></span><span>-</span>
                              </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                              <div class="table-label cost-label">
                                <span></span><span>-</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
   
    </form>
  </div>
</div>