table.mat-table {
  width: 100%;
  border-collapse: collapse;
}

.mat-cell,
.mat-header-cell {
  padding: 8px;
}

td div img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

td div {
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 95%;
}

td div img {
  max-width: 50vh;
  height: 10vh;

  transition: transform 0.2s;
  padding-right: 10px;
}

.mat-tab-group {
  margin-bottom: 48px;
}

.mat-tab-labels {
  flex-wrap: wrap;
}

.team-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.team-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.team-button {
  width: 150px;
  padding: 10px;
  text-align: center;
}

.team-button:disabled {
  background-color: #8b8b8b;
  /* Change to your desired color */
  color: rgb(245, 242, 242);
}

.team-button {
  background-color: #deeffa;
  /* Change to your desired color */
  color: black;
}

.team-button.selected {
  background-color: #5579f5;
  /* Change to your desired color */
  color: white;
}

.spacer {
  height: 20px;
  /* Adjust to increase spacing further */
}

.cost-label {
  display: flex;
  justify-content: center;    /* horizontal alignment */
  align-items: center;   
  width: 100%;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    width: 100%;
    height:auto;
    /* height: 100%; */
}

::ng-deep .card{
  margin-bottom: 0px !important;
}