.image-container {
    display: inline-block;
    position: relative;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.grid-overlay,
.grid-overlay-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    gap: 1px;
}

.grid-overlay {
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(19, 1fr);
}

.grid-overlay-square {
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
}

.grid-overlay div,
.grid-overlay-square div {
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.3);
}

.grid-overlay div.highlighted,
.grid-overlay-square div.highlighted {
    position: relative;
    background-color: transparent;
}

.grid-overlay div.highlighted::before,
.grid-overlay-square div.highlighted::before,
.grid-overlay div.highlighted::after,
.grid-overlay-square div.highlighted::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140%;
    height: 4px;
    background-color: rgba(255, 0, 0, 0.7);
}

.grid-overlay div.highlighted::before,
.grid-overlay-square div.highlighted::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.grid-overlay div.highlighted::after,
.grid-overlay-square div.highlighted::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

// .grid-overlay div.walkway-highlighted,
// .grid-overlay-square div.walkway-highlighted {
//     position: relative;
//     background-image: url('/assets/images/icons/walkway.jpg');
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;
// }

.example-month-picker .mat-calendar {
    width: 300px;
}

.example-month-picker .mat-calendar-period-button {
    pointer-events: none;
}

.custom-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.outer-layer {
    display: grid;
    grid-template-rows: 10% 1fr 10%;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
}

.outer-top,
.outer-bottom {
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.outer-top .grid-cell,
.outer-bottom .grid-cell {
    border: 1px solid transparent;
    background-color: rgb(255, 255, 255, 0);
}

.outer-middle {
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    height: 100%;
}

.outer-left,
.outer-right {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.outer-left .grid-cell,
.outer-right .grid-cell {
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0);
}

.inner-grid {
    display: grid;
    grid-template-rows: 25% 1fr 25%;
    grid-template-columns: 1fr;
    height: 100%;
}

.grid-top-row,
.grid-bottom-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
}

.grid-cell {
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.3);
    height: 100%;
}

.grid-middle-row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 100%;
}

.grid-middle-row .grid-cell {
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.3);
    height: 100%;
}

.grid-cell {
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.3);
    height: 100%;
    transition: background-image 0.3s ease;
    pointer-events: auto;
}

.grid-cell.walkway-highlighted {
    background-image: url('/assets/images/icons/walkway.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.disabled-cell {
    background-color: rgba(128, 128, 128, 0.3);
    pointer-events: none;
}

.damage-overlay {
    position: relative;
    overflow: hidden;
}

.damage-overlay::before,
.damage-overlay::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 4px;
    background-color: rgba(255, 0, 0, 0.7);
    transform-origin: center;
}

.damage-overlay::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.damage-overlay::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}