<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="pageTitle" [items]="breadcrumsMiddleList"
        [active_item]="langText.SURVEY_FORM"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              {{translatedLangText.ORDER_DETAILS}}
            </h2>
          </div>
          <div class="body">
            @if (igDS.loading$ | async) {
            <div class="tbl-spinner">
              <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
              </mat-progress-spinner>
            </div>
            }
            @if (!(igDS.loading$ | async)) {
            <mat-card-content>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 m-b-5">
                  <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 m-b-5 align-right">
                      <span>{{translatedLangText.TANK_NO}}:</span>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 m-b-5">
                      <div class="contact-detail-info font-bold">{{in_gate?.tank?.tank_no}}</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 m-b-5 align-right">
                      <span>{{translatedLangText.CUSTOMER}}:</span>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 m-b-5">
                      <div class="contact-detail-info font-bold">
                        {{ccDS.displayName(in_gate?.tank?.storing_order?.customer_company)}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 m-b-5 align-right">
                      <span>{{translatedLangText.OWNER}}:</span>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 m-b-5">
                      <div class="contact-detail-info font-bold">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 m-b-5">
                  <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 m-b-5 align-right">
                      <span>{{translatedLangText.EIR_NO}}:</span>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 m-b-5">
                      <div class="contact-detail-info font-bold">
                        {{in_gate?.eir_no}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 m-b-5 align-right">
                      <span>{{translatedLangText.EIR_DATE}}:</span>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 m-b-5">
                      <div class="contact-detail-info font-bold">
                        {{displayDateTime(in_gate?.eir_dt)}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 m-b-5 align-right">
                      <span>{{translatedLangText.LAST_CARGO}}:</span>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 m-b-5">
                      <div class="contact-detail-info font-bold">{{in_gate?.tank?.tariff_cleaning?.cargo}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 m-b-5">
                  <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 m-b-5 align-right">
                      <span>{{translatedLangText.PURPOSE}}:</span>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 m-b-5">
                      <div class="contact-detail-info font-bold">
                        {{displayTankPurpose(in_gate?.tank!)}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 m-b-5 align-right">
                      <span>{{translatedLangText.CLEAN_STATUS}}:</span>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 m-b-5">
                      <div class="contact-detail-info font-bold">
                        {{getCleanStatusDescription(in_gate?.tank?.clean_status_cv)}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 m-b-5 align-right">
                      <span>{{translatedLangText.CURRENT_STATUS}}:</span>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 m-b-5">
                      <div class="contact-detail-info font-bold">{{in_gate?.tank?.tank_status_cv}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
            }
          </div>
        </div>
      </div>
    </div>
    <form class="ms-0" [formGroup]="surveyForm!" (ngSubmit)="onSOFormSubmit()" #formDirective="ngForm">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="header">
                  <h2>
                    {{translatedLangText.SURVEY_INFO}}
                  </h2>
                </div>
                <div class="body">
                  @if (igDS.loading$ | async) {
                  <div class="tbl-spinner">
                    <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                    </mat-progress-spinner>
                  </div>
                  }
                  @if (!(igDS.loading$ | async)) {
                  <mat-card-content>
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 m-b-5">
                        <div class="row">
                          <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 m-b-5 align-right">
                            <span>{{translatedLangText.DATE_OF_INSPECTION}}:</span>
                          </div>
                          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 m-b-5">
                            <div class="contact-detail-info font-bold">{{displayDate(dateOfInspection)}}</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 m-b-5">
                        <div class="row">
                          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 m-b-5 align-right">
                            <span>{{translatedLangText.OWNER}}:</span>
                          </div>
                          <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 m-b-5">
                            <div class="contact-detail-info font-bold">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-card-content>
                  }
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="header">
                  <h2>
                    {{translatedLangText.TANK_DETAILS}}
                  </h2>
                </div>
                <div class="body">
                  @if (igDS.loading$ | async) {
                  <div class="tbl-spinner">
                    <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                    </mat-progress-spinner>
                  </div>
                  }
                  @if (!(igDS.loading$ | async)) {
                  <mat-card-content>
                    <div class="row">
                      <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 m-b-5">
                        <mat-form-field class="example-full-width">
                          <mat-label>{{translatedLangText.UNIT_TYPE}}</mat-label>
                          <mat-select formControlName="unit_type_guid" required>
                            @for (option of unit_typeList; track option) {
                            <mat-option [value]="option.guid">{{option.unit_type}}</mat-option>
                            }
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 m-b-5">
                        <mat-form-field class="example-full-width">
                          <mat-label>{{translatedLangText.MANUFACTURER_DOM}}</mat-label>
                          <mat-select formControlName="manufacturer_dom_cv">
                            @for (codeValue of manufacturerCvList; track codeValue) {
                            <mat-option [value]="codeValue.code_val">{{codeValue.description}}</mat-option>
                            }
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 m-b-5">
                        <mat-form-field class="example-full-width">
                          <mat-label>{{translatedLangText.DATE}}</mat-label>
                          <input matInput formControlName="manufacturer_dom_dt"
                            [matDatepicker]="manufacturer_dom_picker" [max]="maxManuDOMDt">
                          <mat-datepicker-toggle matSuffix [for]="manufacturer_dom_picker"></mat-datepicker-toggle>
                          <mat-datepicker #manufacturer_dom_picker [startAt]="maxManuDOMDt"></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 m-b-5">
                        <mat-form-field class="example-full-width">
                          <mat-label>{{translatedLangText.CLADDING}}</mat-label>
                          <mat-select formControlName="cladding_cv">
                            @for (codeValue of claddingCvList; track codeValue) {
                            <mat-option [value]="codeValue.code_val">{{codeValue.description}}</mat-option>
                            }
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 m-b-5">
                        <mat-form-field class="example-full-width">
                          <mat-label>{{translatedLangText.CAPACITY}}</mat-label>
                          <input matInput formControlName="capacity" type="number">
                          <h6 class="color-icon p-t-15 p-r-5" matSuffix>ℓ</h6>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 m-b-5">
                        <mat-form-field class="example-full-width">
                          <mat-label>{{translatedLangText.TARE_WEIGHT}}</mat-label>
                          <input matInput formControlName="tare_weight" type="number">
                          <h6 class="color-icon p-t-15 p-r-5" matSuffix>KG</h6>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 m-b-5">
                        <mat-form-field class="example-full-width">
                          <mat-label>{{translatedLangText.MAX_GROSS_WEIGHT}}</mat-label>
                          <mat-select formControlName="max_gross_weight_cv">
                            @for (codeValue of maxGrossWeightCvList; track codeValue) {
                            <mat-option [value]="codeValue.code_val">{{codeValue.description}}</mat-option>
                            }
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 m-b-5">
                        <mat-form-field class="example-full-width">
                          <mat-label>{{translatedLangText.TANK_HEIGHT}}</mat-label>
                          <mat-select formControlName="tank_height_cv">
                            @for (codeValue of tankHeightCvList; track codeValue) {
                            <mat-option [value]="codeValue.code_val">{{codeValue.description}}</mat-option>
                            }
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 m-b-5">
                        <mat-form-field class="example-full-width">
                          <mat-label>{{translatedLangText.WALKWAY}}</mat-label>
                          <mat-select formControlName="walkway_cv">
                            @for (codeValue of walkwayCvList; track codeValue) {
                            <mat-option [value]="codeValue.code_val">{{codeValue.description}}</mat-option>
                            }
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </mat-card-content>
                  }
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="header">
                      <h2>
                        {{translatedLangText.PERIODIC_TEST}}
                      </h2>
                    </div>
                    <div class="body">
                      @if (igDS.loading$ | async) {
                      <div class="tbl-spinner">
                        <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                        </mat-progress-spinner>
                      </div>
                      }
                      @if (!(igDS.loading$ | async)) {
                      <mat-card-content>
                        <div class="row">
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 m-b-5">
                            <div class="row">
                              <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 m-b-5 align-right">
                                <span>{{translatedLangText.LAST_TEST}}:</span>
                              </div>
                              <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 m-b-5">
                                <div class="contact-detail-info font-bold">{{displayDate(dateOfInspection)}}</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 m-b-5">
                            <div class="row">
                              <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 m-b-5 align-right">
                                <span>{{translatedLangText.NEXT_TEST}}:</span>
                              </div>
                              <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 m-b-5">
                                <div class="contact-detail-info font-bold">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 m-b-0">
                            <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.TEST_TYPE}}</mat-label>
                              <mat-select formControlName="test_type_cv">
                                @for (codeValue of testTypeCvList; track codeValue) {
                                <mat-option [value]="codeValue.code_val">{{codeValue.description}}</mat-option>
                                }
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 m-b-0">
                            <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.DATE}}</mat-label>
                              <input matInput formControlName="test_dt" [matDatepicker]="test_dt_picker"
                                [min]="startDateTest">
                              <mat-datepicker-toggle matSuffix [for]="test_dt_picker"></mat-datepicker-toggle>
                              <mat-datepicker #test_dt_picker [startAt]="startDateTest"></mat-datepicker>
                            </mat-form-field>
                          </div>
                          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 m-b-0">
                            <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.CLASS}}</mat-label>
                              <input matInput formControlName="test_class_cv" required>
                              @if (surveyForm?.get('test_class_cv')?.hasError('required')) {
                              <mat-error>
                                {{translatedLangText.CLASS}} {{translatedLangText.SO_REQUIRED}}
                              </mat-error>
                              }
                            </mat-form-field>
                          </div>
                        </div>
                      </mat-card-content>
                      }
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="header">
                      <h2>
                        {{translatedLangText.IN_GATE_DETAILS}}
                      </h2>
                    </div>
                    <div class="body">
                      @if (igDS.loading$ | async) {
                      <div class="tbl-spinner">
                        <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                        </mat-progress-spinner>
                      </div>
                      }
                      @if (!(igDS.loading$ | async)) {
                      <mat-card-content>
                        <div class="row">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-5">
                            <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.IN_GATE_REMARKS}}</mat-label>
                              <textarea matInput formControlName="in_gate_remarks"></textarea>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 m-b-5">
                            <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.VEHICLE_NO}}</mat-label>
                              <input matInput formControlName="vehicle_no" required>
                              @if (surveyForm?.get('vehicle_no')?.hasError('required')) {
                              <mat-error>
                                {{translatedLangText.VEHICLE_NO}} {{translatedLangText.SO_REQUIRED}}
                              </mat-error>
                              }
                            </mat-form-field>
                          </div>
                          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 m-b-5">
                            <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.DRIVER_NAME}}</mat-label>
                              <input matInput formControlName="driver_name" required>
                              @if (surveyForm?.get('driver_name')?.hasError('required')) {
                              <mat-error>
                                {{translatedLangText.DRIVER_NAME}} {{translatedLangText.SO_REQUIRED}}
                              </mat-error>
                              }
                            </mat-form-field>
                          </div>
                          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 m-b-5">
                            <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.HAULIER}}</mat-label>
                              <input matInput formControlName="haulier" required>
                              @if (surveyForm?.get('haulier')?.hasError('required')) {
                              <mat-error>
                                {{translatedLangText.HAULIER}} {{translatedLangText.SO_REQUIRED}}
                              </mat-error>
                              }
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 m-b-5">
                            <div class="row">
                              <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 m-b-5 align-right">
                                <span>{{translatedLangText.LAST_UPDATE_BY}}:</span>
                              </div>
                              <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 m-b-5">
                                <div class="contact-detail-info font-bold">{{in_gate?.update_by}}</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 m-b-5">
                            <div class="row">
                              <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 m-b-5 align-right">
                                <span>{{translatedLangText.LAST_UPDATE_ON}}:</span>
                              </div>
                              <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 m-b-5">
                                <div class="contact-detail-info font-bold">{{displayDateTime(in_gate?.update_dt)}}</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </mat-card-content>
                      }
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="header">
                  <h2>
                    {{translatedLangText.COMPARTMENT_TYPE}}
                  </h2>
                </div>
                <div class="body">
                  @if (igDS.loading$ | async) {
                  <div class="tbl-spinner">
                    <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                    </mat-progress-spinner>
                  </div>
                  }
                  @if (!(igDS.loading$ | async)) {
                  <mat-horizontal-stepper [linear]="isLinear" #stepper>
                    <mat-step [stepControl]="bottomFormGroup!">
                      <form [formGroup]="bottomFormGroup!">
                        <ng-template matStepLabel>{{translatedLangText.BOTTOM_DIS_COMP}}</ng-template>
                        <div class="row">
                          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 m-b-0">
                            <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.BOTTOM_DIS_COMP}}</mat-label>
                              <mat-select formControlName="btm_dis_comp_cv">
                                @for (codeValue of disCompCvList; track codeValue) {
                                <mat-option [value]="codeValue.code_val">{{codeValue.description}}</mat-option>
                                }
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 m-b-0">
                            <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.FOOT_VALVE}}</mat-label>
                              <mat-select formControlName="foot_valve_cv">
                                @for (codeValue of footValveCvList; track codeValue) {
                                <mat-option [value]="codeValue.code_val">{{codeValue.description}}</mat-option>
                                }
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 m-b-0">
                            <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.BOTTOM_DIS_VALVE}}</mat-label>
                              <mat-select formControlName="btm_dis_valve_cv">
                                @for (codeValue of disValveCvList; track codeValue) {
                                <mat-option [value]="codeValue.code_val">{{codeValue.description}}</mat-option>
                                }
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 m-b-0">
                            <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.SPECIFICATION}}</mat-label>
                              <mat-select formControlName="btm_dis_valve_spec_cv">
                                @for (codeValue of disValveSpecCvList; track codeValue) {
                                <mat-option [value]="codeValue.code_val">{{codeValue.description}}</mat-option>
                                }
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 m-b-0">
                            <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.THERMOMETER}}</mat-label>
                              <input matInput formControlName="thermometer" type="number">
                              <h6 class="color-icon p-t-15 p-r-5" matSuffix>&deg;C</h6>
                            </mat-form-field>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 m-b-0">
                            <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.SPECIFICATION}}</mat-label>
                              <mat-select formControlName="thermometer_cv">
                                @for (codeValue of thermometerCvList; track codeValue) {
                                <mat-option [value]="codeValue.code_val">{{codeValue.description}}</mat-option>
                                }
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 m-b-0">
                            <mat-checkbox formControlName="ladder" class="m-r-5" color="primary">
                              {{translatedLangText.LADDER}}
                            </mat-checkbox>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            <mat-checkbox formControlName="data_scs_transportplate" class="m-r-5" color="primary">
                              {{translatedLangText.DATA_SCS_TRANSPORT_PLATE}}
                            </mat-checkbox>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 align-right">
                            <button mat-raised-button matStepperNext type="button" color="primary" class="msr-2" [disabled]="!bottomFormGroup!.valid"><mat-icon>chevron_right</mat-icon></button>
                          </div>
                        </div>
                      </form>
                    </mat-step>
                    <mat-step [stepControl]="topFormGroup!">
                      <form [formGroup]="topFormGroup!">
                        <ng-template matStepLabel>{{translatedLangText.TOP_DIS_COMP}}</ng-template>
                        <div class="row">
                          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.TOP_DIS_COMP}}</mat-label>
                              <mat-select formControlName="top_dis_comp_cv">
                                @for (codeValue of disCompCvList; track codeValue) {
                                <mat-option [value]="codeValue.code_val">{{codeValue.description}}</mat-option>
                                }
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 m-b-0">
                            <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.TOP_DIS_VALVE}}</mat-label>
                              <mat-select formControlName="top_dis_valve_cv">
                                @for (codeValue of disValveCvList; track codeValue) {
                                <mat-option [value]="codeValue.code_val">{{codeValue.description}}</mat-option>
                                }
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 m-b-0">
                            <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.SPECIFICATION}}</mat-label>
                              <mat-select formControlName="top_dis_valve_spec_cv">
                                @for (codeValue of disValveSpecCvList; track codeValue) {
                                <mat-option [value]="codeValue.code_val">{{codeValue.description}}</mat-option>
                                }
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 m-b-0">
                            <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.AIRLINE_VALVE}}</mat-label>
                              <mat-select formControlName="airline_valve_cv">
                                @for (codeValue of airlineCvList; track codeValue) {
                                <mat-option [value]="codeValue.code_val">{{codeValue.description}}</mat-option>
                                }
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 m-b-0">
                            <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.PIECES}}</mat-label>
                              <input matInput formControlName="airline_valve_pcs" type="number">
                              <h6 class="color-icon p-t-15 p-r-5" matSuffix>pcs</h6>
                            </mat-form-field>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 m-b-0">
                            <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.DIAMITER}}</mat-label>
                              <input matInput formControlName="airline_valve_dim" type="number">
                              <h6 class="color-icon p-t-15 p-r-5" matSuffix>inch</h6>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 m-b-0">
                            <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.AIRLINE_VALVE_CONNECTIONS}}</mat-label>
                              <mat-select formControlName="airline_valve_conn_cv">
                                @for (codeValue of airlineCvList; track codeValue) {
                                <mat-option [value]="codeValue.code_val">{{codeValue.description}}</mat-option>
                                }
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 m-b-0">
                            <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.SPECIFICATION}}</mat-label>
                              <mat-select formControlName="airline_valve_conn_spec_cv">
                                @for (codeValue of manlidCoverCvList; track codeValue) {
                                <mat-option [value]="codeValue.code_val">{{codeValue.description}}</mat-option>
                                }
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <button mat-raised-button matStepperPrevious type="button" color="" class="msr-2"><mat-icon>chevron_left</mat-icon></button>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 align-right">
                            <button mat-raised-button matStepperNext type="button" color="primary" class="msr-2" [disabled]="!topFormGroup!.valid"><mat-icon>chevron_right</mat-icon></button>
                          </div>
                        </div>
                      </form>
                    </mat-step>
                    <mat-step [stepControl]="manlidFormGroup!">
                      <form [formGroup]="manlidFormGroup!">
                        <ng-template matStepLabel>{{translatedLangText.MANLID_COMPARTMENT}}</ng-template>
                        <div class="row">
                          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 m-b-0">
                            <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.MANLID_COMPARTMENT}}</mat-label>
                              <mat-select formControlName="manlid_comp_cv">
                                @for (codeValue of disCompCvList; track codeValue) {
                                <mat-option [value]="codeValue.code_val">{{codeValue.description}}</mat-option>
                                }
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 m-b-0">
                            <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.MANLID_COVER}}</mat-label>
                              <mat-select formControlName="manlid_cover_cv">
                                @for (codeValue of manlidCoverCvList; track codeValue) {
                                <mat-option [value]="codeValue.code_val">{{codeValue.description}}</mat-option>
                                }
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 m-b-0">
                            <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.PIECES}}</mat-label>
                              <input matInput formControlName="manlid_cover_pcs" type="number">
                              <h6 class="color-icon p-t-15 p-r-5" matSuffix>pcs</h6>
                            </mat-form-field>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 m-b-0">
                            <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.VOLUME}}</mat-label>
                              <input matInput formControlName="manlid_cover_pts" type="number">
                              <h6 class="color-icon p-t-15 p-r-5" matSuffix>pts</h6>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 m-b-0 p-r-0">
                            <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.PV}}</mat-label>
                              <mat-select formControlName="pv_type_cv">
                                @for (codeValue of pvTypeCvList; track codeValue) {
                                <mat-option [value]="codeValue.code_val">{{codeValue.description}}</mat-option>
                                }
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 m-b-0 p-l-1">
                            <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.PIECES}}</mat-label>
                              <input matInput formControlName="pv_type_pcs" type="number">
                              <h6 class="color-icon p-t-15 p-r-5" matSuffix>pcs</h6>
                            </mat-form-field>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 m-b-0 p-r-0">
                            <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.SPECIFICATION}}</mat-label>
                              <mat-select formControlName="pv_spec_cv">
                                @for (codeValue of pvSpecCvList; track codeValue) {
                                <mat-option [value]="codeValue.code_val">{{codeValue.description}}</mat-option>
                                }
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 m-b-0 p-l-1">
                            <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.PIECES}}</mat-label>
                              <input matInput formControlName="pv_spec_pcs" type="number">
                              <h6 class="color-icon p-t-15 p-r-5" matSuffix>pcs</h6>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            <mat-checkbox formControlName="safety_handrail" class="m-r-5" color="primary">
                              {{translatedLangText.SAFETY_HANDRAIL}}
                            </mat-checkbox>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 m-b-0">
                            <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.BUFFER_PLATE}}</mat-label>
                              <input matInput formControlName="buffer_plate" type="number">
                              <h6 class="color-icon p-t-15 p-r-5" matSuffix>pcs</h6>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 m-b-0">
                            <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.RESIDUE}}</mat-label>
                              <input matInput formControlName="residue" type="number">
                              <h6 class="color-icon p-t-15 p-r-5" matSuffix>KG</h6>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            <mat-checkbox formControlName="dipstick" class="m-r-5" color="primary">
                              {{translatedLangText.DIPSTICK}}
                            </mat-checkbox>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <button mat-raised-button matStepperPrevious type="button" color="" class="msr-2"><mat-icon>chevron_left</mat-icon></button>
                          </div>
                        </div>
                      </form>
                    </mat-step>
                  </mat-horizontal-stepper>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>