.custom-select {
    width: 300px; /* Adjust the width as needed */
  }
  
  ::ng-deep .cdk-overlay-pane .mat-select-panel {
    max-height: 200px; /* Adjust the height as needed */
  }
  mat-form-field {
    width:100%;
    margin-top: 3px;
    margin-left: 10px ;
    
  }


  .auto-height {
    height: auto;
    max-height: none; /* Ensures there's no max-height limiting the container */
    overflow: auto;   /* Ensures scrollbars appear if content exceeds container size */
  }

  mat-chip-row[color="primary"] {
    background-color: #b3cbde !important
  }
  
  /* Optional: Ensure the remove button icon is also white */
  mat-chip-row[color="primary"] button[matChipRemove] mat-icon {
    color: red !important;
  }

  ::ng-deep .custom-body-row:last-of-type {
    border-radius: 0px 0px 12px 12px;
    overflow: hidden;
    //background-color: #fff;
    //box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }
  
  ::ng-deep .custom-body-row:first-of-type {
    border-radius: 12px 12px 0 0;
  }