<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              <div class="m-l-" [matTooltip]="translatedLangText.ADD">
                <button mat-mini-fab color="primary" (click)="addCall()" (click)="$event.stopPropagation()">
                  <mat-icon class="col-white">add</mat-icon>
                </button>
              </div>
              <div class="m-l-10" [matTooltip]="translatedLangText.REFRESH">
                <button mat-mini-fab color="" (click)="refresh()" (click)="$event.stopPropagation()">
                  <mat-icon>refresh</mat-icon>
                </button>
              </div>
              <div class="export-button m-l-10" [matTooltip]="translatedLangText.EXPORT">
                <img src="assets/images/icons/xlsx.png" alt="" (click)="exportExcel()"
                  (click)="$event.stopPropagation()" />
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <form class="ms-0" [formGroup]="tdForm!" #formDirective="ngForm">
            <div class="row">
              <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 mb-1">
                <mat-form-field class="example-full-width">
                  <mat-label>{{langText.PROFILE_NAME | translate}}</mat-label>
                  <input matInput formControlName="profile_name" type="text">
                </mat-form-field>
              </div>
              <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 mb-1">
                <mat-form-field class="example-full-width">
                  <mat-label>{{translatedLangText.DESCRIPTION}}</mat-label>
                  <input matInput formControlName="description" type="text">
                </mat-form-field>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 mb-2">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>{{translatedLangText.UNIT_TYPE}}</mat-label>
                  <input matInput formControlName="unit_type" [matAutocomplete]="unitType">
                  <mat-autocomplete #unitType="matAutocomplete" [displayWith]="displayUnitTypeFn">
                    @for (cc of tankItemList; track cc) {
                    <mat-option [value]="cc">
                      {{cc.unit_type}}
                    </mat-option>
                    }
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <!-- <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 mb-1">
                <mat-form-field class="example-full-width">
                  <mat-label>{{translatedLangText.UNIT_TYPE}}</mat-label>
                  <mat-select formControlName="unit_type" multiple>
                    <mat-option *ngFor="let t of tankItemList?.length ? tankItemList : []" [value]="t">
                      {{ t.unit_type }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div> -->
              <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-0 d-flex align-items-center ms-auto justify-content-end">
                <button mat-mini-fab color="primary" (click)="search()">
                  <mat-icon>search</mat-icon>
                </button>
                <button mat-flat-button class="m-l-10 bg-light-gold" (click)="resetDialog($event)">
                  {{translatedLangText.CLEAR_ALL}}
                </button>
              </div>
            </div>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="body overflow-auto">
        <div class="responsive_table">
          <table mat-table [dataSource]="tariffDepotItems" matSort
            class="mat-cell advance-table striped-rows hover-highlight dark-header">
            <ng-container matColumnDef="fName">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{this.translatedLangText.PROFILE_NAME
                }}</mat-header-cell>
              <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                <span class="mobile-label">{{this.translatedLangText.PROFILE_NAME
                  }}:</span>{{row.profile_name}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="lName">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{this.langText.DESCRIPTION |
                translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                <span class="mobile-label">{{this.translatedLangText.DESCRIPTION
                  }}:</span>{{row.description}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="mobile">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{CLEANING_LAST_UPDATED_DT |
                translate}}</mat-header-cell>
              <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                <span class="mobile-label">{{CLEANING_LAST_UPDATED_DT | translate}}:</span>
                {{this.displayLastUpdated(row)}}</mat-cell>
            </ng-container>
            <!-- actions -->
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editCall(row)" [style.cursor]="'pointer'"
              matRipple>
            </mat-row>
          </table>
        </div>
        <!-- Loading spinner -->
        @if (!(tfDepotDS.loading$ | async) && !tariffDepotItems.length) {
        <mat-divider></mat-divider>
        <div class="no-results m-l-20 pt-3" [style.display]="tariffDepotItems.length === 0 ? '' : 'none'">
          <h5 class="m-b-15">{{langText.NO_RESULT | translate}}</h5>
        </div>
        }
        <!-- Loading spinner -->
        @if (tfDepotDS.loading$ | async) {
        <div class="tbl-spinner">
          <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
          </mat-progress-spinner>
        </div>
        }
        <mat-paginator #paginator [length]="tfDepotDS.totalCount" [pageIndex]="0" [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageEvent($event)">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>