<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="pageTitleNew" [items]="breadcrumsMiddleList"
        [active_item]="langText.DETAILS"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form class="ms-0" [formGroup]="inGateForm!" (ngSubmit)="onInGateFormSubmit()" #formDirective="ngForm">
          <div class="card">
            <div class="header">
              <h2>
                {{translatedLangText.ORDER_DETAILS}}
              </h2>
            </div>
            <div class="body">
              @if (sotDS.loading$ | async) {
              <div class="tbl-spinner">
                <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                </mat-progress-spinner>
              </div>
              }
              @if (!(sotDS.loading$ | async)) {
              <mat-card-content>
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 m-b-5">
                    <div class="row">
                      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 m-b-5 align-right">
                        <span>{{translatedLangText.SO_NO}}:</span>
                      </div>
                      <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 m-b-5">
                        <div class="contact-detail-info font-bold">{{storingOrderTankItem?.storing_order?.so_no}}</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 m-b-5 align-right">
                        <span>{{translatedLangText.SO_NOTES}}:</span>
                      </div>
                      <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 m-b-5">
                        <div class="contact-detail-info font-bold">{{storingOrderTankItem?.storing_order?.so_notes}}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 m-b-5">
                    <div class="row">
                      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 m-b-5 align-right">
                        <span>{{translatedLangText.CUSTOMER}}:</span>
                      </div>
                      <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 m-b-5">
                        <div class="contact-detail-info font-bold">
                          {{ccDS.displayName(storingOrderTankItem?.storing_order?.customer_company)}}</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 m-b-5 align-right">
                        <span>{{translatedLangText.BRANCH_NAME}}:</span>
                      </div>
                      <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 m-b-5">
                        <div class="contact-detail-info font-bold">
                          {{ccDS.displayName(customerBranch) || 'N.A.'}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 m-b-5">
                    <div class="row">
                      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 m-b-5 align-right">
                        <span>{{translatedLangText.SO_DATE}}:</span>
                      </div>
                      <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 m-b-5">
                        <div class="contact-detail-info font-bold">
                          {{displayDate(storingOrderTankItem?.storing_order?.create_dt)}}
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 m-b-5 align-right">
                        <span>{{translatedLangText.STATUS}}:</span>
                      </div>
                      <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 m-b-5">
                        <div class="contact-detail-info font-bold">{{storingOrderTankItem?.storing_order?.status_cv}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card-content>
              }
            </div>
          </div>
          <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 m-b-5">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <div class="card">
                    <div class="header">
                      <h2>
                        {{translatedLangText.TANK_DETAILS}}
                      </h2>
                    </div>
                    <div class="body">
                      @if (sotDS.loading$ | async) {
                      <div class="tbl-spinner">
                        <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                        </mat-progress-spinner>
                      </div>
                      }
                      @if (!(sotDS.loading$ | async)) {
                      <mat-card-content>
                        <div class="row">
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 m-b-5">
                            <div class="row">
                              <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 m-b-5 align-right">
                                <span>{{translatedLangText.TANK_NO}}:</span>
                              </div>
                              <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 m-b-5">
                                <div class="contact-detail-info font-bold">{{storingOrderTankItem?.tank_no}}</div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 m-b-5 align-right">
                                <span>{{translatedLangText.PURPOSE}}:</span>
                              </div>
                              <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 m-b-5">
                                <div class="contact-detail-info font-bold">{{displayTankPurpose()}}</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 m-b-5">
                            <div class="row">
                              <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 m-b-5 align-right">
                                <span>{{translatedLangText.EIR_NO}}:</span>
                              </div>
                              <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 m-b-5">
                                <span
                                  [class]="'font-bold'">{{igDS.getInGateItem(storingOrderTankItem?.in_gate)?.eir_no}}</span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 m-b-5 align-right">
                                <span>{{translatedLangText.CLEANING_CONDITIONS}}:</span>
                              </div>
                              <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 m-b-5">
                                <div class="contact-detail-info">
                                  <span
                                    [class]="'font-bold ' + cleanStatusColor(storingOrderTankItem?.clean_status_cv)">{{storingOrderTankItem?.clean_status_cv
                                    ? storingOrderTankItem?.clean_status_cv : "NA"}}</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </mat-card-content>
                      }
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <div class="card">
                    <div class="header">
                      <h2>
                        {{translatedLangText.IN_GATE}}
                      </h2>
                    </div>
                    <div class="body">
                      @if (sotDS.loading$ | async) {
                      <div class="tbl-spinner">
                        <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                        </mat-progress-spinner>
                      </div>
                      }
                      @if (!(sotDS.loading$ | async)) {
                      <mat-card-content>
                        <div class="row">
                          <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 m-b-0">
                            <div class="row">
                              <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 m-b-0">
                                <mat-form-field class="example-full-width">
                                  <mat-label>{{translatedLangText.HAULIER}}</mat-label>
                                  <input matInput formControlName="haulier" required>
                                  @if (inGateForm?.get('haulier')?.hasError('required')) {
                                  <mat-error>
                                    {{translatedLangText.HAULIER}} {{translatedLangText.SO_REQUIRED}}
                                  </mat-error>
                                  }
                                </mat-form-field>
                              </div>
                              <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 m-b-0">
                                <mat-form-field class="example-full-width">
                                  <mat-label>{{translatedLangText.OWNER}}</mat-label>
                                  <input type="text" matInput [formControl]="ownerControl" [matAutocomplete]="ownerCode"
                                    formControlName="owner" required>
                                  <mat-autocomplete #ownerCode="matAutocomplete" [displayWith]="displayCustomerCompanyFn">
                                    @for (cc of ownerList; track cc) {
                                    <mat-option [value]="cc">
                                      {{ccDS.displayName(cc)}}
                                    </mat-option>
                                    }
                                  </mat-autocomplete>
                                  @if (inGateForm?.get('owner')?.hasError('required')) {
                                  <mat-error>
                                    {{translatedLangText.CUSTOMER}} {{translatedLangText.SO_REQUIRED}}
                                  </mat-error>
                                  }
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 m-b-0">
                                <mat-form-field class="example-full-width">
                                  <mat-label>{{translatedLangText.VEHICLE_NO}}</mat-label>
                                  <input matInput formControlName="vehicle_no" class="text-uppercase" required>
                                  @if (inGateForm?.get('vehicle_no')?.hasError('required')) {
                                  <mat-error>
                                    {{translatedLangText.VEHICLE_NO}} {{translatedLangText.SO_REQUIRED}}
                                  </mat-error>
                                  }
                                </mat-form-field>
                              </div>
                              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 m-b-0">
                                <mat-form-field class="example-full-width">
                                  <mat-label>{{translatedLangText.DRIVER_NAME}}</mat-label>
                                  <input matInput formControlName="driver_name" required>
                                  @if (inGateForm?.get('driver_name')?.hasError('required')) {
                                  <mat-error>
                                    {{translatedLangText.DRIVER_NAME}} {{translatedLangText.SO_REQUIRED}}
                                  </mat-error>
                                  }
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 m-b-0">
                                <mat-form-field class="example-full-width">
                                  <mat-label>{{translatedLangText.REMARKS}}</mat-label>
                                  <textarea matInput formControlName="remarks"></textarea>
                                </mat-form-field>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 m-b-0">
                                <mat-form-field class="example-full-width">
                                  <mat-label>{{translatedLangText.YARD}}</mat-label>
                                  <mat-select formControlName="yard_cv" required>
                                    @for (codeValue of yardCvList; track codeValue) {
                                    <mat-option [value]="codeValue.code_val">{{codeValue.description}}</mat-option>
                                    }
                                  </mat-select>
                                  @if (inGateForm?.get('yard_cv')?.hasError('required')) {
                                  <mat-error>
                                    {{translatedLangText.YARD}} {{translatedLangText.SO_REQUIRED}}
                                  </mat-error>
                                  }
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                          <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 m-b-0">
                            <div class="row">
                              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 m-b-0">
                                <mat-form-field class="example-full-width">
                                  <mat-label>{{translatedLangText.EIR_DATE}}</mat-label>
                                  <input matInput formControlName="eir_dt" [matDatepicker]="eir_picker">
                                  <mat-datepicker-toggle matSuffix [for]="eir_picker"></mat-datepicker-toggle>
                                  <mat-datepicker #eir_picker></mat-datepicker>
                                </mat-form-field>
                              </div>
                              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 m-b-0">
                                <mat-form-field class="example-full-width">
                                  <mat-label>{{translatedLangText.JOB_NO}}</mat-label>
                                  <input matInput formControlName="job_no" required>
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                                <mat-form-field class="example-full-width">
                                  <mat-label>{{translatedLangText.LAST_CARGO}}</mat-label>
                                  <input matInput [formControl]="lastCargoControl" [matAutocomplete]="lastCargo"
                                    formControlName="last_cargo" required>
                                  <mat-autocomplete #lastCargo="matAutocomplete" [displayWith]="displayLastCargoFn">
                                    @for (tc of last_cargoList; track tc) {
                                    <mat-option [value]="tc">
                                      {{tc.cargo}}
                                    </mat-option>
                                    }
                                  </mat-autocomplete>
                                  @if (lastCargoControl.get('last_cargo')?.hasError('required')) {
                                  <mat-error>
                                    {{translatedLangText.LAST_CARGO}} {{translatedLangText.SO_REQUIRED}}
                                  </mat-error>
                                  }
                                  @if (lastCargoControl.hasError('invalidAutocompleteSelection')) {
                                  <mat-error>
                                    {{translatedLangText.INVALID_SELECTION}}
                                  </mat-error>
                                  }
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3 p-t-10">
                                <label>{{translatedLangText.OPEN_ON_GATE}}:</label>
                                <mat-radio-group formControlName="open_on_gate">
                                  @for (codeValue of yesnoCvList; track codeValue) {
                                  <mat-radio-button [value]="codeValue.code_val" color="primary">
                                    {{codeValue.description}}
                                  </mat-radio-button>
                                  }
                                </mat-radio-group>
                              </div>
                            </div>
                          </div>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="row m-t-10">
                          <div class="col-xl-6 col-lg-4 col-md-12 col-sm-12">
                            <button mat-flat-button aria-label="Back to previous page"
                              (click)="$event.preventDefault();" [routerLink]="['/admin/inventory/in-gate-main']" [queryParams]="{ tabIndex: 0 }">
                              <mat-icon>chevron_left</mat-icon>{{translatedLangText.BACK}}
                            </button>
                          </div>
                          <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12 align-right">
                            <button mat-flat-button class="bg-light-gold m-r-10" (click)="resetDialog($event)">
                              {{translatedLangText.CLEAR_ALL}}
                            </button>
                            <button mat-flat-button color="primary" [ngClass]="'m-r-10'"
                              [disabled]="(igDS.actionLoading$| async)">
                              <mat-icon>
                                @if (!(igDS.actionLoading$ | async)) {
                                move_to_inbox
                                } @else if ((igDS.actionLoading$ | async)) {
                                <mat-spinner color="primary" [diameter]="18"></mat-spinner>
                                }
                              </mat-icon>
                              {{translatedLangText.ACCEPT}}
                            </button>
                            <!-- <button mat-flat-button color="primary">
                              <i class="fas fa-file-alt m-r-10"></i>{{translatedLangText.EIR_FORM}}
                            </button> -->
                          </div>
                        </div>
                      </mat-card-content>
                      }
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 m-b-5">
              <div class="card">
                <div class="header">
                  <h2>
                    {{translatedLangText.CARGO_DETAILS}}
                  </h2>
                </div>
                <div class="body p-1">
                  @if (sotDS.loading$ | async) {
                  <div class="tbl-spinner">
                    <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                    </mat-progress-spinner>
                  </div>
                  }
                  @if (!(sotDS.loading$ | async)) {
                  <mat-card-content>
                    <div class="container pt-2">
                      <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 mb-2 align-right">
                          {{translatedLangText.CARGO_NAME}}:
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 mb-2">
                          {{cargoDetails?.cargo ?? "-"}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 mb-2 align-right">
                          {{translatedLangText.DESCRIPTION}}:
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 mb-2">
                          {{cargoDetails?.description ?? "-"}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 mb-2 align-right">
                          {{translatedLangText.ALIAS_NAME}}:
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 mb-2">
                          {{cargoDetails?.alias ?? "-"}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 mb-2 align-right">
                          {{translatedLangText.CARGO_CLASS}}:
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 mb-2">
                          {{cargoDetails?.class_cv ?? "-"}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 mb-2 align-right">
                          {{translatedLangText.CARGO_UN_NO}}:
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 mb-2">
                          {{cargoDetails?.un_no ?? "-"}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 mb-2 align-right">
                          {{translatedLangText.CARGO_FLASH_POINT}}:
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 mb-2">
                          {{cargoDetails?.flash_point ?? "-"}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 mb-2 align-right">
                          {{translatedLangText.CARGO_HAZARD_LEVEL}}:
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 mb-2">
                          {{getHazardLevelDescription(cargoDetails?.hazard_level_cv) ?? "-"}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 mb-2 align-right">
                          {{translatedLangText.CARGO_BAN_TYPE}}:
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 mb-2">
                          {{getBanTypeDescription(cargoDetails?.ban_type_cv) ?? "-"}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 mb-2 align-right">
                          {{translatedLangText.CARGO_NATURE}}:
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 mb-2">
                          {{getNatureTypeDescription(cargoDetails?.nature_cv) ?? "-"}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 mb-2 align-right">
                          {{translatedLangText.CLEANING_CATEGORY}}:
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 mb-2">
                          {{cargoDetails?.cleaning_category?.name ?? "-"}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 mb-2 align-right">
                          {{translatedLangText.TOTAL_CLEANED}}:
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 mb-2">
                          {{cargoDetails?.cargo ?? "-"}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 mb-2 align-right">
                          {{translatedLangText.IN_GATE_ALERT}}:
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 mb-2 text-uppercase">
                          <b class="text-danger">{{cargoDetails?.in_gate_alert ?? "-"}}</b>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 mb-2 align-right">
                          {{translatedLangText.MSDS}}:
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 mb-2">
                          <span class="text-decoration-underline cursor-pointer" (click)="onDownloadClick()">{{sdsPdf?.description ? cargoDetails?.cargo + ".pdf" : ""}}</span>
                        </div>
                      </div>
                    </div>
                  </mat-card-content>
                  }
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>