<div class="addContainer">
  <div class="modalHeader_left_align">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <h4 mat-dialog-title>{{dialogTitle}}</h4>
      </div>
    </div>
  </div>
  <div mat-dialog-content>
    <form class="register-form" [formGroup]="purposeForm" #formDirective="ngForm">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-0">
          @if (action === 'add' && (type === 'cleaning' || type === 'steaming')) {
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-0">
              <mat-form-field class="example-full-width">
                <mat-label>{{data.translatedLangText.JOB_NO}}</mat-label>
                <input matInput formControlName="job_no" required>
                <!-- @if (purposeForm.get('job_no')?.hasError('required')) {
                <mat-error>
                  {{data.translatedLangText.JOB_NO}} {{data.translatedLangText.SO_REQUIRED}}
                </mat-error>
                } -->
              </mat-form-field>
            </div>
          </div>
          }
          @if (action === 'add' && type === 'repair') {
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-0">
              <mat-form-field class="example-full-width">
                <mat-label>{{data.translatedLangText.REPAIR}}</mat-label>
                <mat-select formControlName="purpose_repair_cv" required>
                  @for (codeValue of data.populateData.repairOptionCvList; track codeValue) {
                  <mat-option [value]="codeValue.code_val">{{codeValue.description}}</mat-option>
                  }
                </mat-select>
                <!-- @if (purposeForm.get('purpose_repair_cv')?.hasError('required')) {
                <mat-error>
                  {{data.translatedLangText.REPAIR}} {{data.translatedLangText.SO_REQUIRED}}
                </mat-error>
                } -->
              </mat-form-field>
            </div>
          </div>
          }
          @if (action === 'add' && type === 'steaming') {
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-0">
              {{data.translatedLangText.FLASH_POINT}}: {{sot.tariff_cleaning?.flash_point}}
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-0">
              <mat-form-field class="example-full-width">
                <mat-label>{{data.translatedLangText.REQUIRED_TEMP}}</mat-label>
                <input matInput formControlName="required_temp" type="number" (wheel)="preventDefault($event)" required>
                <h6 class="color-icon p-t-15 p-r-5" matSuffix>&deg;C</h6>
                <!-- @if (purposeForm.get('required_temp')?.hasError('required')) {
                <mat-error>
                  {{data.translatedLangText.REQUIRED_TEMP}} {{data.translatedLangText.SO_REQUIRED}}
                </mat-error>
                } -->
                @if (purposeForm.get('required_temp')?.hasError('max')) {
                <mat-error>
                  {{data.translatedLangText.EXCEEDED}} {{data.translatedLangText.FLASH_POINT}}
                </mat-error>
                }
                @if (purposeForm.get('required_temp')?.hasError('min')) {
                <mat-error>
                  {{data.translatedLangText.MUST_MORE_THAN_ZERO}}
                </mat-error>
                }
              </mat-form-field>
            </div>
          </div>
          }
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-0">
              <mat-form-field class="example-full-width">
                <mat-label>{{data.translatedLangText.REMARKS}}</mat-label>
                <textarea matInput formControlName="remarks" required></textarea>
                <!-- @if (purposeForm.get('remarks')?.hasError('required')) {
                <mat-error>
                  {{data.translatedLangText.REMARKS}} {{data.translatedLangText.SO_REQUIRED}}
                </mat-error>
                } -->
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div mat-dialog-actions class="mb-1 align-right">
        @if (canEdit()) {
        <button mat-flat-button color="warn" (click)="submit()">
          <mat-icon>
            save
          </mat-icon>
          {{data.translatedLangText.CONFIRM}}</button>
        }
        <button mat-flat-button (click)="onNoClick()" tabindex="-1">{{data.translatedLangText.CANCEL}}</button>
      </div>
    </form>
  </div>
</div>