<div class="container">
    <h3 mat-dialog-title>{{data.langText.ARE_YOU_SURE_DELETE | translate}}</h3>
    <div mat-dialog-content>
        <ul class="clearfix">
            <li>
                <span class="font-weight-bold">
                    {{data.langText.PART | translate}}:
                </span>{{ getDescription(rep)}}
            </li>
        </ul>
    </div>
    <div mat-dialog-actions class="mb-1">
        <button mat-flat-button color="warn" [mat-dialog-close]="1" (click)="confirmDelete()">
            {{data.langText.DELETE | translate}}
        </button>
        <button mat-flat-button (click)="onNoClick()" tabindex="-1">
            {{data.langText.CLOSE | translate}}
        </button>
    </div>
</div>