.mat-mdc-dialog-content.mdc-dialog__content {
  overflow-x: hidden;
}

// .card-content-body {
//   background-color: #96c4f0; /* Change to your preferred color */
// }




::ng-deep .table.table-bordered tbody tr td,
::ng-deep .table.table-bordered tbody tr th {
  border: 1px solid #cfcfd4;
}

.curve-table {
  width: 100%;

  th {
    width: 200px;
    white-space: nowrap;
    text-align: left;
    vertical-align: top;

    @media (max-width: 767px) {
      word-wrap: break-word;
      white-space: normal;
    }
  }

  td {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }
}

.card .header {
  border-bottom: unset;
}