<div class="addContainer">
  <div class="modalHeader_left_align">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <h4>{{dialogTitle}}</h4>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card modal-card">
          <div class="header">
            <h2>
              {{translatedLangText.TANK_DETAILS}}
            </h2>
          </div>
          <div class="body">
            <mat-card-content>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 m-b-0">
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3-75 col-md-3-75 col-sm-3-75 col-xs-3-75">
                      <span class="label-display-info">{{translatedLangText.TANK_NO}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-8-25 col-md-8-25 col-sm-8-25 col-xs-8-25">
                      <span class="value-display-info">
                        {{sotItem?.tank_no}}
                        @if (tiItem?.previous_tank_no) {
                        (<span class="previous-label">{{tiItem?.previous_tank_no}}</span>)
                        }
                      </span>
                    </div>
                  </div>
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3-75 col-md-3-75 col-sm-3-75 col-xs-3-75">
                      <span class="label-display-info">{{translatedLangText.CUSTOMER}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-8-25 col-md-8-25 col-sm-8-25 col-xs-8-25">
                      <span class="value-display-info">
                        {{ccDS.displayName(sotItem?.storing_order?.customer_company)}}
                      </span>
                    </div>
                  </div>
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3-75 col-md-3-75 col-sm-3-75 col-xs-3-75">
                      <span class="label-display-info">{{translatedLangText.OWNER}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-8-25 col-md-8-25 col-sm-8-25 col-xs-8-25">
                      <span class="value-display-info">
                        {{ccDS.displayName(sotItem?.customer_company)}}
                        @if (tiItem?.previous_customer_company) {
                        (<span class="previous-label">{{tiItem?.previous_customer_company?.code}}</span>)
                        }
                      </span>
                    </div>
                  </div>
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3-75 col-md-3-75 col-sm-3-75 col-xs-3-75">
                      <span class="label-display-info">{{translatedLangText.CURRENT_STATUS}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-8-25 col-md-8-25 col-sm-8-25 col-xs-8-25">
                      <span class="value-display-info">
                        {{getTankStatusDescription(sotItem?.tank_status_cv)}}
                      </span>
                    </div>
                  </div>
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3-75 col-md-3-75 col-sm-3-75 col-xs-3-75">
                      <span class="label-display-info">{{translatedLangText.CLEANING_METHOD}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-8-25 col-md-8-25 col-sm-8-25 col-xs-8-25">
                      <span class="value-display-info">
                        {{sotItem!.tariff_cleaning?.cleaning_method?.name}}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4-5 col-lg-4-5 col-md-12 col-sm-12 col-xs-12 m-b-0">
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3-75 col-md-3-75 col-sm-3-75 col-xs-3-75">
                      <span class="label-display-info">{{translatedLangText.EIR_NO}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-8-25 col-md-8-25 col-sm-8-25 col-xs-8-25">
                      <span class="value-display-info">
                        {{igDS.getInGateItem(sotItem?.in_gate)?.eir_no ||"-"}}
                      </span>
                    </div>
                  </div>
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3-75 col-md-3-75 col-sm-3-75 col-xs-3-75">
                      <span class="label-display-info">{{translatedLangText.EIR_DATE}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-8-25 col-md-8-25 col-sm-8-25 col-xs-8-25">
                      <span class="value-display-info">
                        {{displayDateTime(igDS.getInGateItem(sotItem?.in_gate)?.eir_dt)|| "-"}}
                      </span>
                    </div>
                  </div>
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3-75 col-md-3-75 col-sm-3-75 col-xs-3-75">
                      <span class="label-display-info">{{translatedLangText.LAST_CARGO}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-8-25 col-md-8-25 col-sm-8-25 col-xs-8-25">
                      <span class="value-display-info">
                        {{sotItem?.tariff_cleaning?.cargo}}
                      </span>
                    </div>
                  </div>
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3-75 col-md-3-75 col-sm-3-75 col-xs-3-75">
                      <span class="label-display-info">{{translatedLangText.CLEAN_STATUS}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-8-25 col-md-8-25 col-sm-8-25 col-xs-8-25">
                      <span class="value-display-info">
                        {{getCleanStatusDescription(sotItem?.clean_status_cv)}}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3-5 col-lg-3-5 col-md-12 col-sm-12 col-xs-12 m-b-0">
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3-75 col-md-3-75 col-sm-3-75 col-xs-3-75">
                      <span class="label-display-info">{{translatedLangText.PURPOSE}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-8-25 col-md-8-25 col-sm-8-25 col-xs-8-25">
                      <span class="value-display-info">
                        {{displayTankPurpose(sotItem!)}}
                      </span>
                    </div>
                  </div>
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3-75 col-md-3-75 col-sm-3-75 col-xs-3-75">
                      <span class="label-display-info">{{translatedLangText.LAST_TEST}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-8-25 col-md-8-25 col-sm-8-25 col-xs-8-25 m-b-5">
                      <span class="value-display-info">
                        {{last_test_desc || '-'}}
                      </span>
                    </div>
                  </div>
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3-75 col-md-3-75 col-sm-3-75 col-xs-3-75 m-b-5">
                      <span class="label-display-info">{{translatedLangText.NEXT_TEST}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-8-25 col-md-8-25 col-sm-8-25 col-xs-8-25 m-b-5">
                      <span class="value-display-info">
                        {{next_test_desc|| '-'}}
                      </span>
                    </div>
                  </div>
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3-75 col-md-3-75 col-sm-3-75 col-xs-3-75 m-b-5">
                      <span class="label-display-info">{{translatedLangText.YARD}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-8-25 col-md-8-25 col-sm-8-25 col-xs-8-25 m-b-5">
                      <span class="value-display-info">
                        {{getYardDescription(getLastLocation())}}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>