<div class="addContainer">
  <div class="modalHeader_left_align">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <h4>{{dialogTitle}}</h4>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card modal-card mb-0">
          <div class="header">
            <h2>
              {{translatedLangText.TANK_DETAILS}}
            </h2>
          </div>
          <div class="body">
            <mat-card-content>
              <!-- <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 m-b-0">
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3-75 col-md-3-75 col-sm-3-75 col-xs-3-75">
                      <span class="label-display-info">{{translatedLangText.TANK_NO}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-8-25 col-md-8-25 col-sm-8-25 col-xs-8-25">
                      <span class="value-display-info">
                        {{sotItem?.tank_no}}
                        @if (tiItem?.previous_tank_no) {
                        (<span class="previous-label">{{tiItem?.previous_tank_no}}</span>)
                        }
                      </span>
                    </div>
                  </div>
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3-75 col-md-3-75 col-sm-3-75 col-xs-3-75">
                      <span class="label-display-info">{{translatedLangText.CUSTOMER}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-8-25 col-md-8-25 col-sm-8-25 col-xs-8-25">
                      <span class="value-display-info">
                        {{ccDS.displayName(sotItem?.storing_order?.customer_company)}}
                      </span>
                    </div>
                  </div>
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3-75 col-md-3-75 col-sm-3-75 col-xs-3-75">
                      <span class="label-display-info">{{translatedLangText.PURPOSE}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-8-25 col-md-8-25 col-sm-8-25 col-xs-8-25">
                      <span class="value-display-info">
                        {{displayTankPurpose(sotItem!)}}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6-5 col-lg-4-5 col-md-12 col-sm-12 col-xs-12 m-b-0">
                  <div class="row right-align-display">
                    <div class="col-xl-4 col-lg-4-75 col-md-3-75 col-sm-3-75 col-xs-3-75">
                      <span class="label-display-info">{{translatedLangText.EIR_DATE}}:</span>
                    </div>
                    <div class="col-xl-8 col-lg-7-25 col-md-8-25 col-sm-8-25 col-xs-8-25">
                      <span class="value-display-info">
                        {{displayDateTime(igDS.getInGateItem(sotItem?.in_gate)?.eir_dt)|| "-"}}
                      </span>
                    </div>
                  </div>
                  <div class="row right-align-display">
                    <div class="col-xl-4 col-lg-4-75 col-md-3-75 col-sm-3-75 col-xs-3-75">
                      <span class="label-display-info">{{translatedLangText.LAST_CARGO}}:</span>
                    </div>
                    <div class="col-xl-8 col-lg-7-25 col-md-8-25 col-sm-8-25 col-xs-8-25">
                      <span class="value-display-info">
                        {{sotItem?.tariff_cleaning?.cargo}}
                      </span>
                    </div>
                  </div>
                  <div class="row right-align-display">
                    <div class="col-xl-4 col-lg-4-75 col-md-3-75 col-sm-3-75 col-xs-3-75">
                      <span class="label-display-info">{{translatedLangText.CLEANING_METHOD}}:</span>
                    </div>
                    <div class="col-xl-8 col-lg-7-25 col-md-8-25 col-sm-8-25 col-xs-8-25">
                      <span class="value-display-info">
                        {{sotItem!.tariff_cleaning?.cleaning_method?.name}}
                      </span>
                    </div>
                  </div>
                </div> -->

              <div class="table-responsive">
                <table class="table table-bordered table-striped curve-table">
                  <tbody>
                    <!-- Tank No -->
                    <tr>
                      <th>{{translatedLangText.TANK_NO}}:</th>
                      <td>
                        {{sotItem?.tank_no}}
                        @if (tiItem?.previous_tank_no) {
                        (<span class="previous-label">{{tiItem?.previous_tank_no}}</span>)
                        }
                      </td>
                    </tr>

                    <!-- Customer -->
                    <tr>
                      <th>{{translatedLangText.CUSTOMER}}:</th>
                      <td>
                        {{ccDS.displayName(sotItem?.storing_order?.customer_company)}}
                      </td>
                    </tr>

                    <!-- Purpose -->
                    <tr>
                      <th>{{translatedLangText.PURPOSE}}:</th>
                      <td>{{displayTankPurpose(sotItem!)}}</td>
                    </tr>

                    <!-- EIR Date -->
                    <tr>
                      <th>{{translatedLangText.EIR_DATE}}:</th>
                      <td>
                        {{displayDateTime(igDS.getInGateItem(sotItem?.in_gate)?.eir_dt) || "-"}}
                      </td>
                    </tr>

                    <!-- Last Cargo -->
                    <tr>
                      <th>{{translatedLangText.LAST_CARGO}}:</th>
                      <td>{{sotItem?.tariff_cleaning?.cargo}}</td>
                    </tr>

                    <!-- Cleaning Method -->
                    <tr>
                      <th>{{translatedLangText.CLEANING_METHOD}}:</th>
                      <td>{{sotItem!.tariff_cleaning?.cleaning_method?.name}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>


              <!-- <div class="col-xl-3-5 col-lg-3-5 col-md-12 col-sm-12 col-xs-12 m-b-0">
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3-75 col-md-3-75 col-sm-3-75 col-xs-3-75">
                      <span class="label-display-info">{{translatedLangText.PURPOSE}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-8-25 col-md-8-25 col-sm-8-25 col-xs-8-25">
                      <span class="value-display-info">
                        {{displayTankPurpose(sotItem!)}}
                      </span>
                    </div>
                  </div>
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3-75 col-md-3-75 col-sm-3-75 col-xs-3-75">
                      <span class="label-display-info">{{translatedLangText.LAST_TEST}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-8-25 col-md-8-25 col-sm-8-25 col-xs-8-25 m-b-5">
                      <span class="value-display-info">
                        {{last_test_desc || '-'}}
                      </span>
                    </div>
                  </div>
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3-75 col-md-3-75 col-sm-3-75 col-xs-3-75 m-b-5">
                      <span class="label-display-info">{{translatedLangText.NEXT_TEST}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-8-25 col-md-8-25 col-sm-8-25 col-xs-8-25 m-b-5">
                      <span class="value-display-info">
                        {{next_test_desc|| '-'}}
                      </span>
                    </div>
                  </div>
                  <div class="row right-align-display">
                    <div class="col-xl-3 col-lg-3-75 col-md-3-75 col-sm-3-75 col-xs-3-75 m-b-5">
                      <span class="label-display-info">{{translatedLangText.YARD}}:</span>
                    </div>
                    <div class="col-xl-9 col-lg-8-25 col-md-8-25 col-sm-8-25 col-xs-8-25 m-b-5">
                      <span class="value-display-info">
                        {{getYardDescription(getLastLocation())}}
                      </span>
                    </div>
                  </div>
                </div> -->
            </mat-card-content>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>