.table-label-bold {
    min-height: 23px;
}

.empty-purpose {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icon-large {
    font-size: 3rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.position-absolute.purpose-absolute-menu {
    top: 10px;
    right: 0px;
}

/* Class for striped rows */
.striped-rows .mdc-data-table__row:nth-child(even) {
  background-color: lighten(#b3cbff, 10%);
}

.striped-rows .mdc-data-table__row:nth-child(odd) {
  background-color: #ffffff;
}

//-------- For the Gate Details table section -------------
::ng-deep .table.table-bordered tbody tr td,
::ng-deep .table.table-bordered tbody tr th {
  border: 1px solid #cfcfd4;
}

// .curve-table.table-striped > tbody > tr:nth-of-type(odd) {
//   background-color: lighten(#b3cbff, 10%) !important;
// }

.curve-table {
  th {
    width: 200px;
    white-space: nowrap;
    text-align: left;
  }

  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
//-------------------------------------------------------