.table-label-bold {
    min-height: 23px;
}

.empty-purpose {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icon-large {
    font-size: 3rem; /* Adjust the size of the icon */
    width: 3rem;     /* Ensure the width matches the font size */
    height: 3rem;    /* Ensure the height matches the font size */
    display: flex;   /* Center the icon content */
    align-items: center;
    justify-content: center;
  }