td div {
    //display: flex;
    flex-wrap: nowrap; /* Prevent wrapping */
    justify-content: center;
    align-items: center;
    height: 95%;
    //overflow: hidden;
  }

  .adjust-button {
    position: relative;
    top: 8px; /* Move the button down by 20px */
  }

  mat-chip {
    margin: 2px 4px;
  }
  
  .example-full-width {
    width: 100%;
  }

  mat-chip-row[color="primary"] {
    background: transparent !important;
    background-color: transparent !important;
    border-radius: 6px;
    // box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2),
    //             -2px -2px 5px rgba(255, 255, 255, 0.7); /* strong 3D shadow */
    padding: 2px 5px;
    font-weight: 500;
    color: #333;
    transform: translateZ(0);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  /* Optional: Ensure the remove button icon is also white */
  mat-chip-row[color="primary"] button[matChipRemove] mat-icon {
    color: red !important;
  }

  
.checkbox-option {
  display: flex;          /* Enable flex layout */
  align-items: center;    /* Vertically center items */
  gap: 8px;               /* Space between checkbox and text */
  width: 100%;            /* Full width */
}

.checkbox-item {
 // margin-top: 4px;
  flex-shrink: 0;
}

.horizontal-container {
  display: flex;
  align-items: flex-start;
}

/* Ensure text wraps properly */
.option-text {
  margin-top: 4px;
  white-space: normal;    /* Allow text wrapping */
  line-height: 1.5;       /* Improve readability */
}

::ng-deep .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after {
 display:none
}