<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="pageTitle" [items]="breadcrumsMiddleList" [active_item]="pageTitle"></app-breadcrumb>
      </div>
     
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <mat-accordion>
              <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                  </mat-panel-title>
                  <mat-panel-description>
                    <div class="m-l-" [matTooltip]="translatedLangText.ADD">
                      <button mat-mini-fab color="primary" (click)="addCall()"  (click)="$event.stopPropagation()">
                        <mat-icon class="col-white">add</mat-icon>
                      </button>
                    </div>
                    <!-- <div class="m-l-10" [matTooltip]="translatedLangText.EDIT" >
                      <button mat-mini-fab color="primary" (click)="adjustCost()" (click)="$event.stopPropagation()">
                        <mat-icon class="col-white">edit</mat-icon>
                      </button>
                    </div> -->
                    <!-- <div class="m-l-10" [matTooltip]="translatedLangText.CANCEL" (click)="$event.stopPropagation()">
                      <button mat-mini-fab color="warn" (click)="cancelSelectedRows(soSelection.selected)"
                        [disabled]="canCancelSelectedRows()">
                        <mat-icon class="col-white">cancel</mat-icon>
                      </button>
                    </div> -->
                    <div class="export-button m-l-10" [matTooltip]="translatedLangText.EXPORT">
                      <img src="assets/images/icons/xlsx.png" alt="" (click)="exportExcel()"
                        (click)="$event.stopPropagation()" />
                    </div>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <form class="ms-0" [formGroup]="pcForm!"  #formDirective="ngForm">
                  <div class="row">
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm3 mb-1">
                          <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.DESCRIPTION}}</mat-label>
                              
                              <input matInput formControlName="description" type="string">
                              <!-- <mat-select [formControl]="customerCodeControl" formControlName="customer_code" multiple>
                                  <mat-option *ngFor="let cc of ccDS.connect() | async" [value]="cc">
                                   
                                      {{ ccDS.displayName(cc) }}
                                   
                                  </mat-option>
                                </mat-select> -->
                             
                            </mat-form-field>
                      </div>
                      <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm3 mb-1">
                          <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.CARGO_CATEGORY}}</mat-label>
                              <mat-select [formControl]="categoryControl" formControlName="cleaning_category" multiple>
                                  @for (cn of cleaning_categoryList; track cn) {
                                      <mat-option [value]="cn.guid">
                                        {{cn.name}}
                                      </mat-option>
                                      }
                                </mat-select>
                             
                            </mat-form-field>
                      </div> -->
                  
                      <div class="col-xl-2 col-lg-2 col-md-2 col-sm2 mb-1">
                          <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.PACKAGE_MIN_COST}}</mat-label>
                              <input matInput formControlName="min_cost" type="number">
                             
                            </mat-form-field>
                      </div>
                      <div class="col-xl-2 col-lg-2 col-md-2 col-sm2 mb-1">
                          <mat-form-field class="example-full-width">
                              <mat-label>{{translatedLangText.PACKAGE_MAX_COST }}</mat-label>
                              <input matInput formControlName="max_cost" type="number">
                             
                            </mat-form-field>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 mb-0 d-flex align-items-center">
                      <button mat-mini-fab color="primary" (click)="search()" >
                        <mat-icon>search</mat-icon>
                        </button>
                        <button mat-flat-button class="m-l-10 bg-light-gold" (click)="resetDialog($event)">
                          {{translatedLangText.CLEAR_ALL}}
                        </button>
                      </div>
                  </div>
                  </form>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
            <div class="body overflow-auto">
              <div class="responsive_table">
                <table mat-table [dataSource]="tariffResidueItems" matSort class="mat-cell advance-table">
                  <!-- Checkbox Column -->
                  <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-1'">
                      <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [ngClass]="'tbl-checkbox'">
                      </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-1'">
                      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)" [ngClass]="'tbl-checkbox'">
                      </mat-checkbox>
                    </mat-cell>
                  </ng-container>
                  <!-- ID Column -->
                  <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="img">
                    <mat-header-cell mat-header-cell *matHeaderCellDef>{{PROCEDURE_NAME | translate}}</mat-header-cell>
                    <mat-cell mat-cell *matCellDef="let row"><span
                        class="mobile-label">{{PROCEDURE_NAME | translate}}:</span>
                      <img [src]="row.img" />
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="fName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{this.translatedLangText.DESCRIPTION }}</mat-header-cell>
                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                      <span class="mobile-label">{{this.translatedLangText.DESCRIPTION }}:</span>{{row.description}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="lName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{this.translatedLangText.COST }}</mat-header-cell>
                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                      <span class="mobile-label">{{this.translatedLangText.COST }}:</span>{{row.cost.toFixed(2)}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{this.translatedLangText.LAST_UPDATED}}</mat-header-cell>
                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                      <span class="mobile-label">{{this.translatedLangText.LAST_UPDATED}}:</span> {{this.displayLastUpdated(row)}}</mat-cell>
                  </ng-container>
                  <!-- <ng-container matColumnDef="gender">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{this.translatedLangText.PACKAGE_CLEANING_ADJUSTED_COST }}</mat-header-cell>
                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                      <span class="mobile-label">{{this.translatedLangText.PACKAGE_CLEANING_ADJUSTED_COST }}:</span> {{row.adjusted_price}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="bDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{CLEANING_BAY | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                      <span class="mobile-label">{{CLEANING_BAY | translate}}:</span> {{row.bDate | date: 'MM/dd/yyyy' }}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="mobile">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{CLEANING_LAST_UPDATED_DT | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                      <span class="mobile-label">{{CLEANING_LAST_UPDATED_DT | translate}}:</span> {{row.mobile}}</mat-cell>
                  </ng-container> -->
                  <!-- actions -->
                  <ng-container matColumnDef="actions">
                    <mat-header-cell class="pr-0" *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                      <button mat-icon-button color="accent" (click)="$event.stopPropagation()" (click)="addCall()"
                        class="tbl-action-btn">
                        <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                      </button>
                      <button mat-icon-button color="accent" (click)="$event.stopPropagation()" (click)="deleteItem(row)"
                        class="tbl-action-btn">
                        <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                      </button>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editCall(row)"
                    [style.cursor]="'pointer'" matRipple>
                  </mat-row>
                </table>
              </div>
              <!-- Loading spinner -->
              @if (!(tariffResidueDS.loading$ | async) && !tariffResidueItems.length) {
                <mat-divider></mat-divider>
                <div class="no-results m-l-20 pt-3" [style.display]="tariffResidueItems.length === 0 ? '' : 'none'">
                  <h5 class="m-b-15">{{translatedLangText.NO_RESULT }}</h5>
                </div>
                }
                <!-- Loading spinner -->
                @if (tariffResidueDS.loading$ | async) {
                <div class="tbl-spinner">
                  <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                  </mat-progress-spinner>
                </div>
                }
            
              <!-- context menu start -->
              <!-- <div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
                [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
              </div> -->
              <!-- <mat-menu #contextMenu="matMenu">
                <ng-template matMenuContent let-item="item">
                  <button mat-menu-item (click)="addCall()">
                    <mat-icon>add_box</mat-icon>
                    <span>Add Record</span>
                  </button>
                  <button mat-menu-item (click)="editCall(item)">
                    <mat-icon>create</mat-icon>
                    <span>Edit Record</span>
                  </button>
                  <button mat-menu-item (click)="deleteItem(item)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete Record</span>
                  </button>
                  <button mat-menu-item (click)="refresh()">
                    <mat-icon>refresh</mat-icon>
                    <span>Refresh Record</span>
                  </button>
                  <button mat-menu-item disabled>
                    <mat-icon>no_encryption</mat-icon>
                    <span>Disable</span>
                  </button>
                  <button mat-menu-item [matMenuTriggerFor]="nestedmenu">
                    <mat-icon>list_alt</mat-icon>
                    <span> Nested Menu</span>
                  </button>
                </ng-template>
              </mat-menu>
              <mat-menu #nestedmenu="matMenu">
                <button mat-menu-item>
                  <mat-icon>mail_outline</mat-icon>
                  <span>Item 1</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>call</mat-icon>
                  <span>Item 2</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>chat</mat-icon>
                  <span>Item 3</span>
                </button>
              </mat-menu> -->
              <!-- context menu end -->
             
              <mat-paginator #paginator [length]="tariffResidueDS.totalCount" [pageIndex]="0" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 50]" (page)="onPageEvent($event)">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>