<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="pageTitle" [items]="breadcrumsMiddleList" [active_item]="langText.EDIT"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form class="ms-0" [formGroup]="roForm!" (ngSubmit)="onSOFormSubmit()" #formDirective="ngForm">
          <div class="card">
            <div class="header">
              <h2>
                {{translatedLangText.HEADER}}
                @if (releaseOrderItem.ro_no) {
                ({{releaseOrderItem.ro_no}})
                }
              </h2>
            </div>
            <div class="body">
              @if (soDS.loadingSubject | async) {
              <div class="tbl-spinner">
                <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                </mat-progress-spinner>
              </div>
              }
              @if (!(soDS.loadingSubject | async)) {
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <span class="font-bold">{{translatedLangText.CUSTOMER}}:</span>
                  {{ccDS.displayName(releaseOrderItem.customer_company)}}
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <span class="font-bold">{{translatedLangText.STATUS}}:</span> {{releaseOrderItem.status_cv}}
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.RELEASE_ORDER_DATE}}</mat-label>
                    <input matInput formControlName="release_dt" [matDatepicker]="release_dt_picker"
                      [min]="startDateRO">
                    <mat-datepicker-toggle matSuffix [for]="release_dt_picker"></mat-datepicker-toggle>
                    <mat-datepicker #release_dt_picker [startAt]="startDateRO"></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.RO_NOTES}}</mat-label>
                    <input matInput formControlName="ro_notes" required>
                    @if (roForm?.get('ro_notes')?.hasError('required')) {
                    <mat-error>
                      {{translatedLangText.RO_NOTES}} {{translatedLangText.SO_REQUIRED}}
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.HAULIER}}</mat-label>
                    <input matInput formControlName="haulier">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                  <div class="responsive_table">
                    <table mat-table [dataSource]="schedulingList" matSort class="mat-cell advance-table table-hover">
                      <!-- Checkbox Column -->
                      <ng-container matColumnDef="select">
                        <mat-header-cell *matHeaderCellDef
                          [ngClass]="'tbl-col-width-per-0_5-xl tbl-col-width-per-0_5-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="schedulingSelection.hasValue() && isAllSelected()"
                            [indeterminate]="schedulingSelection.hasValue() && !isAllSelected()"
                            [ngClass]="'tbl-checkbox'">
                          </mat-checkbox>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"
                          [ngClass]="'tbl-col-width-per-0_5-xl tbl-col-width-per-0_5-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? schedulingSelection.toggle(row) : null"
                            [checked]="schedulingSelection.isSelected(row)" [ngClass]="'tbl-checkbox'">
                          </mat-checkbox>
                        </mat-cell>
                      </ng-container>
                      <!-- ID Column -->
                      <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="tank_no">
                        <mat-header-cell *matHeaderCellDef
                          [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-2-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          {{translatedLangText.TANK_NO}}
                        </mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let row"
                          [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-2-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          <span class="mobile-label">
                            {{translatedLangText.TANK_NO}}:
                          </span>
                          {{row.storing_order_tank?.tank_no}}
                          <div [ngClass]="'badge ' + getBadgeClass(getLastAction(row.actions)) + ' ms-1'">{{
                            getLastAction(row.actions) | uppercase }}</div>
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="tank_no_validity">
                        <mat-header-cell *matHeaderCellDef
                          [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-2-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                          mat-sort-header>
                          <i class="fas fa-ellipsis-h"></i>
                        </mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let row"
                          [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-2-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          <span class="mobile-label">Validity:</span>
                          @if (row.tank_no_validity==='valid') {
                          <div>
                            <span class="badge badge-solid-green">
                              <mat-icon>done</mat-icon>
                            </span>
                          </div>
                          }
                          @if (row.tank_no_validity==='invalid') {
                          <div>
                            <span class="badge badge-solid-purple">
                              <mat-icon>clear</mat-icon>
                            </span>
                          </div>
                          }
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="last_cargo">
                        <mat-header-cell *matHeaderCellDef
                          [ngClass]="'tbl-col-width-per-2_5-xl tbl-col-width-per-2_5-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                          mat-sort-header>
                          {{translatedLangText.LAST_CARGO}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"
                          [ngClass]="'tbl-col-width-per-2_5-xl tbl-col-width-per-2_5-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          <span class="truncate-text" [matTooltip]="row.storing_order_tank.tariff_cleaning?.cargo">
                            <span class="mobile-label">{{translatedLangText.LAST_CARGO}}:</span>
                            {{row.storing_order_tank.tariff_cleaning?.cargo}}
                          </span>
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="job_no">
                        <mat-header-cell *matHeaderCellDef
                          [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-1_5-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                          mat-sort-header>
                          {{translatedLangText.JOB_NO}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"
                          [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-1_5-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          <span class="mobile-label">{{translatedLangText.JOB_NO}}:</span>
                          {{row.storing_order_tank.release_job_no}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="purpose_storage">
                        <mat-header-cell *matHeaderCellDef
                          [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-0_75-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                          mat-sort-header>
                          {{translatedLangText.STORAGE}}
                        </mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let row"
                          [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-0_75-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          <span class="mobile-label">{{translatedLangText.STORAGE}}:</span>
                          @if (row.storing_order_tank.purpose_storage) {
                          <div>
                            <span class="badge badge-solid-green">
                              <mat-icon>done</mat-icon>
                            </span>
                          </div>
                        } @else {
                          <div>
                            <span class="badge badge-solid-purple">
                              <mat-icon>clear</mat-icon>
                            </span>
                          </div>
                          }
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="purpose_cleaning">
                        <mat-header-cell *matHeaderCellDef
                          [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-0_75-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                          mat-sort-header>
                          {{translatedLangText.CLEANING}}
                        </mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let row"
                          [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-0_75-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          <span class="mobile-label">{{translatedLangText.CLEANING}}:</span>
                          @if (row.storing_order_tank.purpose_cleaning) {
                          <div>
                            <span class="badge badge-solid-green">
                              <mat-icon>done</mat-icon>
                            </span>
                          </div>
                          } @else {
                          <div>
                            <span class="badge badge-solid-purple">
                              <mat-icon>clear</mat-icon>
                            </span>
                          </div>
                          }
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="purpose_steam">
                        <mat-header-cell *matHeaderCellDef
                          [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-0_75-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                          mat-sort-header>
                          {{translatedLangText.STEAM}}
                        </mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let row"
                          [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-0_75-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          <span class="mobile-label">{{translatedLangText.STEAM}}:</span>
                          @if (row.storing_order_tank.purpose_steam) {
                          <div>
                            <span class="badge badge-solid-green">
                              <mat-icon>done</mat-icon>
                            </span>
                          </div>
                          } @else {
                          <div>
                            <span class="badge badge-solid-purple">
                              <mat-icon>clear</mat-icon>
                            </span>
                          </div>
                          }
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="purpose_repair_cv">
                        <mat-header-cell *matHeaderCellDef
                          [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-0_75-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                          mat-sort-header>
                          {{translatedLangText.REPAIR}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"
                          [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-0_75-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          <span class="mobile-label">{{translatedLangText.REPAIR}}:</span>
                          {{getRepairDescription(row.storing_order_tank.purpose_repair_cv)}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="status_cv">
                        <mat-header-cell *matHeaderCellDef
                          [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-0_75-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                          mat-sort-header>
                          {{translatedLangText.STATUS}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"
                          [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-0_75-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          <span class="mobile-label">{{translatedLangText.STATUS}}:</span>
                          <span [matTooltip]="row.remarks ? ('Remarks: ' + row.remarks) : ''">{{row.status_cv}}</span>
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="certificate_cv">
                        <mat-header-cell *matHeaderCellDef
                          [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-0_75-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                          mat-sort-header>
                          {{translatedLangText.CERTIFICATE}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"
                          [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-0_75-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          <span class="mobile-label">{{translatedLangText.CERTIFICATE}}:</span>
                          {{getYesNoDescription(row.storing_order_tank.certificate_cv)}}
                        </mat-cell>
                      </ng-container>
                      <!-- actions -->
                      <ng-container matColumnDef="actions">
                        <mat-header-cell class="pr-0" [ngClass]="''" *matHeaderCellDef>
                        </mat-header-cell>
                        <!-- <mat-cell *matCellDef="let row; let i=index;" class="pr-0"
                          [ngClass]="'tbl-col-width-per-10 justify-content-end'">
                          <button mat-icon-button color="primary" (click)="handleDuplicateRow($event, row)"
                            [matTooltip]="translatedLangText.DUPLICATE" class="tbl-action-btn">
                            <mat-icon [class]="''">add_to_photos</mat-icon>
                          </button>
                          @if (row.status_cv === "WAITING" || !row.status_cv) {
                          <button mat-icon-button color="accent" (click)="handleDelete($event, row, i)"
                            [matTooltip]="translatedLangText.DELETE" class="tbl-action-btn">
                            <mat-icon [class]="'tbl-fav-delete'">delete_forever</mat-icon>
                          </button>
                          }
                        </mat-cell> -->
                        <mat-cell *matCellDef="let row; let i=index;" class="justify-content-end">
                          <button mat-icon-button [matMenuTriggerFor]="menu" (click)="stopEventTrigger($event)">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            @if (!row.actions?.includes('cancel') && schedulingDS.canCancel(row)) {
                            <button mat-menu-item (click)="cancelItem($event, row)">
                              <mat-icon>cancel</mat-icon>
                              <span>{{schedulingSelection.hasValue() ? translatedLangText.BULK + " " :
                                ""}}{{translatedLangText.CANCEL}}</span>
                            </button>
                            }
                            @if (!row.actions?.includes('rollback') &&
                            sotDS.canRollbackStatus(row)) {
                            <button mat-menu-item (click)="rollbackItem($event, row)">
                              <mat-icon>undo</mat-icon>
                              <span>{{schedulingSelection.hasValue() ? translatedLangText.BULK + " " :
                                ""}}{{translatedLangText.ROLLBACK_STATUS}}</span>
                            </button>
                            }
                            @if (row.actions?.includes('cancel')) {
                            <button mat-menu-item (click)="undoAction($event, row, 'cancel')">
                              <mat-icon>undo</mat-icon>
                              <span>{{translatedLangText.UNDO}} {{translatedLangText.CANCEL}}</span>
                            </button>
                            }
                            @if (row.actions?.includes('rollback')) {
                            <button mat-menu-item (click)="undoAction($event, row, 'rollback')">
                              <mat-icon>undo</mat-icon>
                              <span>{{translatedLangText.UNDO}} {{translatedLangText.ROLLBACK_STATUS}}</span>
                            </button>
                            }
                          </mat-menu>
                        </mat-cell>
                      </ng-container>
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; let i=index; columns: displayedColumns;"
                        [ngClass]="{'deleted-row': row.delete_dt, 'edited-row': row.guid && !row.delete_dt && row.edited}"
                        (click)="editOrderDetails($event, row, i)" [style.cursor]="'pointer'" matRipple>
                      </mat-row>
                    </table>
                  </div>
                  @if (!schedulingList.data.length) {
                  <mat-divider></mat-divider>
                  <div class="no-results m-l-20 pt-3" [style.display]="schedulingList.data.length === 0 ? '' : 'none'">
                    <h5 class="m-b-15">{{translatedLangText.NO_RESULT}}</h5>
                  </div>
                  }
                  @if (sotDS.loading$ | async) {
                  <div class="tbl-spinner">
                    <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                    </mat-progress-spinner>
                  </div>
                  }
                </div>
              </div>
              }
              <mat-divider></mat-divider>
              @if (roForm?.get('sotList')?.hasError('required')) {
              <mat-error class="ps-3">
                {{translatedLangText.ADD_ATLEAST_ONE}}
              </mat-error>
              }
              <div class="row m-t-10">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                  <button mat-flat-button type="button" aria-label="Back to previous page"
                    (click)="$event.preventDefault();" [routerLink]="['/admin/inventory/release-order']">
                    <mat-icon>chevron_left</mat-icon>{{translatedLangText.BACK}}
                  </button>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 align-right">
                  @if (soDS.canAdd(storingOrderItem)) {
                  <button mat-flat-button color="accent" type="button" [ngClass]="'m-r-10'"
                    (click)="addOrderDetails($event)">
                    <mat-icon class="col-white">add</mat-icon>{{translatedLangText.ORDER_DETAILS}}
                  </button>
                  }
                  @if (isAnyItemEdited()) {
                  <button mat-flat-button color="primary" [disabled]="(soDS.loading$ | async)">
                    <mat-icon>
                      @if (!(soDS.loading$ | async)) {
                      save
                      } @else if ((soDS.loading$ | async)) {
                      <mat-spinner color="primary" [diameter]="18"></mat-spinner>
                      }
                    </mat-icon>
                    {{translatedLangText.SAVE_AND_SUBMIT}}
                  </button>
                  }
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>