<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="pageTitle" [items]="breadcrumsMiddleList" [active_item]="langText.EDIT"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form class="ms-0" [formGroup]="roForm!" (ngSubmit)="onSOFormSubmit()" #formDirective="ngForm">
          <div class="card">
            <div class="header">
              <h2>
                {{translatedLangText.HEADER}}
                @if (releaseOrderItem.ro_no) {
                ({{releaseOrderItem.ro_no}})
                }
              </h2>
            </div>
            <div class="body">
              @if (soDS.loadingSubject | async) {
              <div class="tbl-spinner">
                <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                </mat-progress-spinner>
              </div>
              }
              @if (!(soDS.loadingSubject | async)) {
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <span class="font-bold">{{translatedLangText.CUSTOMER}}:</span>
                  {{ccDS.displayName(releaseOrderItem.customer_company)}}
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <span class="font-bold">{{translatedLangText.STATUS}}:</span> {{releaseOrderItem.status_cv}}
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.RELEASE_ORDER_DATE}}</mat-label>
                    <input matInput formControlName="release_dt" [matDatepicker]="release_dt_picker"
                      [min]="startDateRO">
                    <mat-datepicker-toggle matSuffix [for]="release_dt_picker"></mat-datepicker-toggle>
                    <mat-datepicker #release_dt_picker [startAt]="startDateRO"></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.RO_NOTES}}</mat-label>
                    <input matInput formControlName="ro_notes" required>
                    @if (roForm?.get('ro_notes')?.hasError('required')) {
                    <mat-error>
                      {{translatedLangText.RO_NOTES}} {{translatedLangText.SO_REQUIRED}}
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.HAULIER}}</mat-label>
                    <input matInput formControlName="haulier">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                  <div formArrayName="scheduling">
                    @for(row of getSchedulingArray().controls; track row; let index = $index){
                    <mat-card [formGroupName]="index" [ngClass]="{'card-content p-0 m-b-10': true}" matRipple>
                      <mat-card-content [ngClass]="'pb-0'">
                        <div class="row">
                          <div class="col-xl-6-5 col-lg-6-5 col-md-12 col-sm-12 mb-1">
                            <span class="font-bold">{{translatedLangText.TANK_NO}}:</span>
                            {{row.get('tank_no')?.value}}
                            @if (row.get('scheduled')?.value){
                            <div [ngClass]="'badge badge-solid-green ms-1'">{{translatedLangText.SCHEDULED}}</div>
                            }
                            @else if (row.get('booked')?.value){
                            <div [ngClass]="'badge badge-solid-orange ms-1'">{{translatedLangText.BOOKED}}</div>
                            }
                          </div>
                          <div class="col-xl-2-5 col-lg-2-5 col-md-12 col-sm-12 mb-1">
                            <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>{{translatedLangText.REFERENCE}}</mat-label>
                              <input matInput formControlName="reference">
                            </mat-form-field>
                          </div>
                          <div class="col-xl-2-5 col-lg-2-5 col-md-12 col-sm-12 mb-1">
                            <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>{{translatedLangText.JOB_NO}}</mat-label>
                              <input matInput formControlName="release_job_no" required>
                              @if (row.get('release_job_no')?.hasError('required')) {
                              <mat-error>
                                {{translatedLangText.JOB_NO}} {{translatedLangText.SO_REQUIRED}}
                              </mat-error>
                              }
                            </mat-form-field>
                          </div>
                          <div class="col-xl-0-5 col-lg-0-5 col-md-12 col-sm-12 mb-1">
                            <button mat-icon-button [matMenuTriggerFor]="menu" (click)="stopEventTrigger($event)">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                              <button mat-menu-item>
                                <mat-icon>cancel</mat-icon>
                                <span>{{translatedLangText.CANCEL}}</span>
                              </button>
                            </mat-menu>
                          </div>
                        </div>
                      </mat-card-content>
                    </mat-card>
                    }
                  </div>
                </div>
              </div>
              }
              <mat-divider></mat-divider>
              @if (roForm?.get('sotList')?.hasError('required')) {
              <mat-error class="ps-3">
                {{translatedLangText.ADD_ATLEAST_ONE}}
              </mat-error>
              }
              <div class="row m-t-10">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                  <button mat-flat-button type="button" aria-label="Back to previous page"
                    (click)="$event.preventDefault();" [routerLink]="['/admin/inventory/release-order']">
                    <mat-icon>chevron_left</mat-icon>{{translatedLangText.BACK}}
                  </button>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 align-right">
                  <button mat-flat-button color="accent" type="button" [ngClass]="'m-r-10'"
                    (click)="addOrderDetails($event)">
                    <mat-icon class="col-white">add</mat-icon>{{translatedLangText.ADD_TANK}}
                  </button>
                  @if (isAnyItemEdited()) {
                  <button mat-flat-button color="primary" [disabled]="(soDS.loading$ | async)">
                    <mat-icon>
                      @if (!(soDS.loading$ | async)) {
                      save
                      } @else if ((soDS.loading$ | async)) {
                      <mat-spinner color="primary" [diameter]="18"></mat-spinner>
                      }
                    </mat-icon>
                    {{translatedLangText.SAVE_AND_SUBMIT}}
                  </button>
                  }
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>