// .card {
//     background-color: #e4e5f0; /* light gray background */
//     padding: 16px;
//     border-radius: 8px;
//     border:5px #3343f0;
//     box-shadow: 0 2px 8px rgba(16, 108, 245, 0.1);
//   }

.badge-sm {
  font-size: 0.70rem;
  padding: 8% 10%;
  border-radius: 5px;
 }

 .underline {
  text-decoration: underline;
}