td div {
    //display: flex;
    flex-wrap: nowrap; /* Prevent wrapping */
    justify-content: center;
    align-items: center;
    height: 95%;
    //overflow: hidden;
  }

  .adjust-button {
    position: relative;
    top: 8px; /* Move the button down by 20px */
  }

  mat-chip-row[color="primary"] {
    background-color: #b3cbde !important
  }
  
  /* Optional: Ensure the remove button icon is also white */
  mat-chip-row[color="primary"] button[matChipRemove] mat-icon {
    color: red !important;
  }