<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="this.temp_guid ? pageTitleEdit : pageTitleNew" [items]="breadcrumsMiddleList"
        [active_item]="this.temp_guid ? langText.EDIT : langText.NEW"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              {{translatedLangText.TANK_DETAILS}}
            </h2>
          </div>
          <!-- <div class="body">
            @if (sotDS.loading$ | async) {
            <div class="tbl-spinner">
              <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
              </mat-progress-spinner>
            </div>
            }
            @if (!(sotDS.loading$ | async)) {
            <mat-card-content>
              <div class="row">
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xs-12 m-b-5">
                  <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5 m-b-5 align-right">
                      <span>{{translatedLangText.TANK_NO}}:</span>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-7 m-b-5">
                      <div class="contact-detail-info font-bold">{{sotItem?.tank_no}}</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5 m-b-5 align-right">
                      <span>{{translatedLangText.CUSTOMER}}:</span>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-7 m-b-5">
                      <div class="contact-detail-info font-bold">
                        {{ccDS.displayName(sotItem?.storing_order?.customer_company)}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5 m-b-5 align-right">
                      <span>{{translatedLangText.LAST_CARGO}}:</span>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-7 m-b-5">
                      <div class="contact-detail-info font-bold">
                        {{sotItem?.tariff_cleaning?.cargo}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5 m-b-5 align-right">
                      <span>{{translatedLangText.OWNER}}:</span>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-7 m-b-5">
                      <div class="contact-detail-info font-bold">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xs-12 m-b-5">
                  <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5 m-b-5 align-right">
                      <span>{{translatedLangText.EIR_NO}}:</span>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-7 m-b-5">
                      <div class="contact-detail-info font-bold">
                        {{igDS.getInGateItem(sotItem?.in_gate)?.eir_no}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5 m-b-5 align-right">
                      <span>{{translatedLangText.EIR_DATE}}:</span>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-7 m-b-5">
                      <div class="contact-detail-info font-bold">
                        {{displayDateTime(igDS.getInGateItem(sotItem?.in_gate)?.eir_dt)}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5 m-b-5 align-right">
                      <span>{{translatedLangText.PURPOSE}}:</span>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-7 m-b-5">
                      <div class="contact-detail-info font-bold">{{displayTankPurpose(sotItem!)}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5 m-b-5 align-right">
                      <span>{{translatedLangText.LAST_TEST}}:</span>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-7 m-b-5">
                      <div class="contact-detail-info font-bold">
                        {{getLastTest(igDS.getInGateItem(sotItem?.in_gate)?.in_gate_survey)}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
            }
          </div> -->
        </div>
      </div>
    </div>
    <form class="ms-0" [formGroup]="tempForm!" (ngSubmit)="onTempFormSubmit()" #formDirective="ngForm">
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="header">
              <h2>
                {{translatedLangText.ESTIMATE_DETAILS}}
              </h2>
            </div>
            <div class="body">
              @if (soDS.loadingSubject | async) {
              <div class="tbl-spinner">
                <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                </mat-progress-spinner>
              </div>
              }
              @if (!(soDS.loadingSubject | async)) {
              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.TEMPLATE}}</mat-label>
                    <input matInput formControlName="template_name" required>
                    @if (tempForm?.get('template_name')?.hasError('required')) {
                      <mat-error>
                        {{this.translatedLangText.TEMPLATE}} {{this.translatedLangText.SO_REQUIRED}}
                      </mat-error>
                      }
                    @if (tempForm?.get('template_name')?.hasError('existed')) {
                        <mat-error>
                          {{this.translatedLangText.TEMPLATE}} {{this.translatedLangText.EXISTED}}
                        </mat-error>
                        }
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm3 mb-1">
                  <mat-form-field class="example-full-width">
                      <mat-label>{{translatedLangText.CUSTOMER_CODE }}</mat-label>
                      <mat-select  formControlName="customer_code" multiple>
                          <mat-option *ngFor="let cc of this.customer_companyList" [value]="cc">
                           
                            <ng-container *ngIf="cc !== null">
                              {{ ccDS.displayName(cc) }}
                            </ng-container>
                           
                          </mat-option>
                        </mat-select>
                     
                  </mat-form-field>
                  
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-1">
                  @if (soDS.canAdd(storingOrderItem)) {
                  <button mat-flat-button color="accent" type="button" [ngClass]="'m-r-10'"
                    (click)="addEstDetails($event)">
                    <mat-icon class="col-white">add</mat-icon>{{translatedLangText.ESTIMATE_DETAILS}}
                  </button>
                  }
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                  <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                      <thead class="thead-dark">
                        <tr>
                          <th  [ngClass]="'tbl-col-width-per-0_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">#</th>
                          <th  [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">{{translatedLangText.SUBGROUP}}</th>
                          <th  [ngClass]="'tbl-col-width-per-0_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">{{translatedLangText.DAMAGE}}</th>
                          <th  [ngClass]="'tbl-col-width-per-0_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">{{translatedLangText.REPAIR}}</th>
                          <th  [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">{{translatedLangText.DESCRIPTION}}</th>
                          <th  [ngClass]="'tbl-col-width-per-0_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"> {{translatedLangText.QTY}}</th>
                          <th  [ngClass]="'tbl-col-width-per-0_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">{{translatedLangText.HOUR}}</th>
                          <th  [ngClass]="'tbl-col-width-per-0_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">{{translatedLangText.PRICE}}</th>
                          <th [ngClass]="'tbl-col-width-per-0_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"> {{translatedLangText.MATERIAL}}</th>
                          <th  [ngClass]="'tbl-col-width-per-0_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"></th> <!-- Adding an 'Actions' column -->
                        </tr>
                      </thead>
                      <tbody *ngFor="let section of displayPartGroupSectionList">
                        <!-- Group Name Row -->
                        <tr class="table-info">
                          <td colspan="10">
                            <strong>{{getGroupNameDescription(section.group_name_cv)}}</strong>
                          </td>
                        </tr>
              
                        <!-- Items under each group -->
                        <tr *ngFor="let item of section.items"
                        (click)="editEstDetails($event, item)" 
                        class="clickable-row">
                          <td>{{ item.no }}</td>
                          <td>{{getSubGroupNameDescription(item.tariff_repair?.subgroup_name_cv!)}}</td>
                          <td> 
                            <span class="truncate-text">
                              <span class="mobile-label">{{translatedLangText.DAMAGE}}:</span>
                              <span [matTooltip]="displayDamageRepairCodeDescription(item.tep_damage_repair!,0)">
                                {{displayDamageRepairCode(item.tep_damage_repair!, 0)}}
                              </span>
                            </span>
                          </td>
                          <td> 
                            <span class="truncate-text">
                              <span class="mobile-label">{{translatedLangText.REPAIR}}:</span>
                              <span [matTooltip]="displayDamageRepairCodeDescription(item.tep_damage_repair!,1)">
                                {{displayDamageRepairCode(item.tep_damage_repair!, 1)}}
                              </span>
                            </span>
                          </td>
                          <td>
                            {{item.description}}
                          </td>
                          <td>
                            {{item.quantity}}
                          </td>
                          <td>
                            {{item.hour}}
                          </td>
                          <td>
                            {{item.tariff_repair?.material_cost?.toFixed(2)}}
                          </td>
                          <td>
                            {{this.GetEstimationPrice(item)}}
                          </td>
                          <td>
                            <!-- Action menu with an icon -->
                            <button mat-icon-button [matMenuTriggerFor]="menu" (click)="stopEventTrigger($event)">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" >
                              <button mat-menu-item  (click)="handleAction($event,'delete', item)" >
                                <mat-icon>delete</mat-icon>
                                <span>Delete</span>
                              </button>
                            </mat-menu>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              
         
              
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                  
                 
                  @if (!repList.data.length) {
                  <mat-divider></mat-divider>
                  <div class="no-results m-l-20 pt-3" [style.display]="repList.data.length === 0 ? '' : 'none'">
                    <h5 class="m-b-15">{{translatedLangText.NO_PARTS}}</h5>
                  </div>
                  }
                  @if (sotDS.loading$ | async) {
                  <div class="tbl-spinner">
                    <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                    </mat-progress-spinner>
                  </div>
                  }
                </div>
              </div>
              }
              <mat-divider></mat-divider>
            
              <mat-error *ngIf="tempForm?.get('repList')?.hasError('required')">
                {{ translatedLangText.ADD_ATLEAST_ONE }}
              </mat-error>
            </div>
          </div>
        </div>
      </div>

      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="header">
              <h2>
                {{translatedLangText.ESTIMATE_SUMMARY}}
              </h2>
            </div>
            <div class="body">
              @if (soDS.loadingSubject | async) {
              <div class="tbl-spinner">
                <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                </mat-progress-spinner>
              </div>
              }
              @if (!(soDS.loadingSubject | async)) {
              <div class="row">
                <div class="col-xl-5-5 col-lg-5-5 col-md-12 col-sm-12 m-b-0">
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                      <mat-form-field class="example-full-width full-height">
                        <mat-label>{{translatedLangText.REMARKS}}</mat-label>
                        <textarea matInput formControlName="remarks"  style="height:220px ;"></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                  <!-- <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                      <mat-form-field class="example-full-width">
                        <mat-label>{{translatedLangText.SURVEYOR_NAME}}</mat-label>
                        <mat-select formControlName="surveyor_name_cv" required>
                          @for (codeValue of groupNameCvList; track codeValue) {
                          <mat-option [value]="codeValue">{{codeValue.description}}</mat-option>
                          }
                        </mat-select>
                        @if (tempForm?.get('surveyor_name_cv')?.hasError('required')) {
                        <mat-error>
                          {{translatedLangText.SURVEYOR_NAME}} {{translatedLangText.SO_REQUIRED}}
                        </mat-error>
                        }
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                      <mat-form-field class="example-full-width">
                        <mat-label>{{translatedLangText.INTERNAL_QC_BY}}</mat-label>
                        <mat-select formControlName="internal_qc_by" required>
                          @for (codeValue of groupNameCvList; track codeValue) {
                          <mat-option [value]="codeValue">{{codeValue.description}}</mat-option>
                          }
                        </mat-select>
                        @if (tempForm?.get('internal_qc_by')?.hasError('required')) {
                        <mat-error>
                          {{translatedLangText.INTERNAL_QC_BY}} {{translatedLangText.SO_REQUIRED}}
                        </mat-error>
                        }
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                      {{translatedLangText.ESTIMATE_NO}}
                    </div>
                  </div> -->
                </div>
                <div class="col-xl-6-5 col-lg-6-5 col-md-12 col-sm-12 m-b-0">
                  <div class="row">
                    <div class="col-xl-2-5 col-lg-2-5 col-md-2-5 col-sm-2-5 m-b-0">
                      <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 ps-4 border">
                          <span class="font-bold">{{translatedLangText.DESCRIPTION}}</span>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 ps-4 border">
                          {{translatedLangText.LABOUR}}
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 ps-4 border">
                          {{translatedLangText.MATERIAL_COST}}
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 ps-4 border">
                          {{translatedLangText.TOTAL_COST}}
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 ps-4 border">
                          {{translatedLangText.LABOUR_DISCOUNT}}
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 ps-4 border">
                          {{translatedLangText.MATERIAL_DISCOUNT}}s
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 ps-4 border">
                          {{translatedLangText.NET_COST}}
                        </div>
                       
                      </div>
                    </div>
                    <div class="col-xl-1-5 col-lg-1-5 col-md-1-5 col-sm-1-5 m-b-0">
                      <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 ps-4 border text-center">
                          <span class="font-bold">{{translatedLangText.RATE}}</span>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                          <div class="table-label cost-label">
                            <span>$</span><span>{{tempForm?.get("labour_rate")?.value | number: '1.2-2'}}</span>
                          </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                          <div class="table-label"></div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                          <div class="table-label"></div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-1 pb-2 border">
                          <tlx-form-field customClass="example-full-width">
                            <mat-form-field>
                              <input class="text-end" tlxFormInput matInput formControlName="labour_discount"
                                 [placeholder]="translatedLangText.LABOUR_DISCOUNT"
                                type="number" min="0" required>
                              @if (tempForm?.get('labour_discount')?.hasError('required')) {
                              <mat-error>
                                {{translatedLangText.LABOUR_DISCOUNT}} {{translatedLangText.SO_REQUIRED}}
                              </mat-error>
                              }
                            </mat-form-field>
                          </tlx-form-field>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-1 pb-2 border">
                          <tlx-form-field customClass="example-full-width">
                            <mat-form-field>
                              <input class="text-end" tlxFormInput matInput formControlName="material_discount"
                                [placeholder]="translatedLangText.MATERIAL_DISCOUNT"
                                type="number" required>
                              @if (tempForm?.get('material_discount')?.hasError('required')) {
                              <mat-error>
                                {{translatedLangText.MATERIAL_DISCOUNT}} {{translatedLangText.SO_REQUIRED}}
                              </mat-error>
                              }
                            </mat-form-field>
                          </tlx-form-field>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                          <div class="table-label"></div>
                        </div>
                       
                      </div>
                    </div><!-- test -->
                    <!-- <div class="col-xl col-lg col-md col-sm m-b-0">
                      <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 ps-4 border text-center">
                          <span class="font-bold">{{translatedLangText.OWNER}}</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                          <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 m-b-0">
                              <div class="row">
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label cost-label">
                                    <span>$</span><span>{{0 | number: '1.2-2'}}</span>
                                  </div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label"></div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label"></div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 border">
                                  <div class="table-label"></div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 border">
                                  <div class="table-label"></div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label"></div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label"></div>
                                </div>
                              </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 m-b-0">
                              <div class="row">
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label cost-label">
                                    <span>$</span><span>{{0 | number: '1.2-2'}}</span>
                                  </div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label cost-label">
                                    <span>$</span><span>{{0 | number: '1.2-2'}}</span>
                                  </div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label cost-label">
                                    <span>$</span><span>{{0 | number: '1.2-2'}}</span>
                                  </div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label cost-label">
                                    <span>$</span><span>{{0 | number: '1.2-2'}}</span>
                                  </div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label cost-label">
                                    <span>$</span><span>{{0 | number: '1.2-2'}}</span>
                                  </div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label cost-label">
                                    <span>$</span><span>{{0 | number: '1.2-2'}}</span>
                                  </div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label cost-label font-bold">
                                    <span>$</span><span>{{0 | number: '1.2-2'}}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl col-lg col-md col-sm m-b-0">
                      <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 ps-4 border text-center">
                          <span class="font-bold">{{translatedLangText.LESSEE}}</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                          <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 m-b-0">
                              <div class="row">
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label cost-label">
                                    <span>$</span><span>{{0 | number: '1.2-2'}}</span>
                                  </div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label"></div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label"></div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 border">
                                  <div class="table-label"></div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 border">
                                  <div class="table-label"></div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label"></div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label"></div>
                                </div>
                              </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 m-b-0">
                              <div class="row">
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label cost-label">
                                    <span>$</span><span>{{0 | number: '1.2-2'}}</span>
                                  </div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label cost-label">
                                    <span>$</span><span>{{0 | number: '1.2-2'}}</span>
                                  </div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label cost-label">
                                    <span>$</span><span>{{0 | number: '1.2-2'}}</span>
                                  </div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label cost-label">
                                    <span>$</span><span>{{0 | number: '1.2-2'}}</span>
                                  </div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label cost-label">
                                    <span>$</span><span>{{0 | number: '1.2-2'}}</span>
                                  </div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label cost-label">
                                    <span>$</span><span>{{0 | number: '1.2-2'}}</span>
                                  </div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label cost-label font-bold">
                                    <span>$</span><span>{{0 | number: '1.2-2'}}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> -->
                    <div class="col-xl col-lg col-md col-sm m-b-0">
                      <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 ps-4 border text-center">
                          <span class="font-bold">{{translatedLangText.TOTAL}}</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                          <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 m-b-0">
                              <div class="row">
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label cost-label">
                                    <span></span><span>{{tempForm!.get('labour_hour')?.value | number: '1.2-2'}}</span>
                                  </div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label"></div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label"></div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 border">
                                  <div class="table-label"></div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 border">
                                  <div class="table-label"></div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label"></div>
                                </div>
                               
                              </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 m-b-0">
                              <div class="row">
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label cost-label">
                                    <span>$</span><span>{{tempForm!.get('labour_total')?.value | number: '1.2-2'}}</span>
                                  </div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label cost-label">
                                    <span>$</span><span>{{tempForm!.get('total_material_cost')?.value | number: '1.2-2'}}</span>
                                  </div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label cost-label">
                                    <span>$</span><span>{{tempForm!.get('total_cost')?.value | number: '1.2-2'}}</span>
                                  </div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label cost-label">
                                    <span>$</span><span style="color: #af0404;">{{tempForm!.get('labour_discount_amount')?.value | number: '1.2-2'}}</span>
                                  </div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label cost-label">
                                    <span>$</span><span style="color:  #af0404;">{{tempForm!.get('material_discount_amount')?.value | number: '1.2-2'}}</span>
                                  </div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label cost-label">
                                    <span>$</span><span>{{tempForm!.get('net_cost')?.value | number: '1.2-2'}}</span>
                                  </div>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              }
              <div class="row m-t-5">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                  <button mat-flat-button type="button" aria-label="Back to previous page"  (click)="GoBackPrevious($event)">
                    <mat-icon>chevron_left</mat-icon>{{translatedLangText.BACK}}
                  </button>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 align-right">
                  @if (isAnyItemEdited()) {
                  <button mat-flat-button color="primary" [disabled]="(soDS.loading$ | async)">
                    <mat-icon>
                      @if (!(soDS.loading$ | async)) {
                      save
                      } @else if ((soDS.loading$ | async)) {
                      <mat-spinner color="primary" [diameter]="18"></mat-spinner>
                      }
                    </mat-icon>
                    {{translatedLangText.SAVE_AND_SUBMIT}}
                  </button>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="header">
              <h2>
                {{translatedLangText.ESTIMATE_SUMMARY}}
              </h2>
            </div>
            <div class="body">
              @if (soDS.loadingSubject | async) {
              <div class="tbl-spinner">
                <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                </mat-progress-spinner>
              </div>
              }
              @if (!(soDS.loadingSubject | async)) {
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 m-b-0">
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0" style="background-color: lightgray;">
                      {{translatedLangText.REMARKS}}
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                      <mat-form-field class="example-full-width">
                        <textarea matInput formControlName="remarks" style="height:120px ;"></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 m-b-0">
                  <div class="row">
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 mb-0">
                      <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0" style="background-color: lightgray;">
                          {{translatedLangText.DESCRIPTION}}
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0" style="font-size: 18px;">
                          {{translatedLangText.LABOUR}}
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0" style="font-size: 18px;">
                          {{translatedLangText.MATERIAL_COST}}
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0" style="font-size: 18px;">
                          {{translatedLangText.TOTAL_COST}}
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0" style="font-size: 18px;">
                          {{translatedLangText.LABOUR_DISCOUNT}}
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0" style="font-size: 18px;">
                          {{translatedLangText.MATERIAL_DISCOUNT}}
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0" style="font-size: 18px;">
                          {{translatedLangText.NET_COST}}
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 mb-0" >
                      <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0" style="background-color: lightgray;text-align: center;">
                          {{translatedLangText.RATE}}
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                          <input matInput formControlName="labour_rate" type="number"  style="text-align: right;width:100%" readonly>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                          <input matInput  type="number"  style="visibility: hidden;width:100%" >
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                          <input matInput  type="number"  style="visibility: hidden;width:100%" >
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                          <input matInput formControlName="labour_discount" type="number"  style="text-align: right;width:100%" >
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                          <input matInput  formControlName="material_discount" type="number"  style="text-align: right;width:100%" >
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                          <input matInput  type="number" style="visibility: hidden; width:100%" >
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-0" >
                      <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0" style="background-color: lightgray;text-align: center;">
                          {{translatedLangText.TOTAL}}
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 m-b-0">
                          <input matInput  formControlName="labour_additional" type="number"  style="text-align: right; width:100%" readonly>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 m-b-0">
                          <input matInput  formControlName="labour_total" type="number"  style="text-align: right; width:100%" readonly>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 m-b-0">
                          <input matInput  type="number"  style="visibility: hidden; width:100%">
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 m-b-0">
                          <input matInput  formControlName="total_material_cost" type="number"  style="text-align: right; width:100%" readonly>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 m-b-0">
                          <input matInput  type="number"  style="visibility: hidden; width:100%">
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 m-b-0">
                          <input matInput formControlName="total_cost" type="number"  style="text-align: right; width:100%" readonly>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 m-b-0">
                          <input matInput formControlName="labour_discount_amount" type="number"  style="visibility: hidden; width:100%" readonly>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 m-b-0">
                          <input matInput formControlName="labour_discount_amount" type="number"  style="text-align: right; width:100%" readonly>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 m-b-0">
                          <input matInput  type="number"  style="visibility: hidden; width:100%">
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 m-b-0">
                          <input matInput formControlName="material_discount_amount" type="number"  style="text-align: right; width:100%" readonly>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 m-b-0">
                          <input matInput  type="number"  style="visibility: hidden; width:100%">
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 m-b-0">
                          <input matInput formControlName="net_cost" type="number"  style="text-align: right; width:100%" readonly>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              }
              <div class="row m-t-5">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                   <button mat-flat-button type="button" aria-label="Back to previous page"
                    (click)="GoBackPrevious($event)" >
                    <mat-icon>chevron_left</mat-icon>{{translatedLangText.BACK}}
                  </button>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 align-right">
                  @if (isAnyItemEdited()) {
                  <button mat-flat-button color="primary" [disabled]="(soDS.loading$ | async)">
                    <mat-icon>
                      @if (!(soDS.loading$ | async)) {
                      save
                      } @else if ((soDS.loading$ | async)) {
                      <mat-spinner color="primary" [diameter]="18"></mat-spinner>
                      }
                    </mat-icon>
                    {{translatedLangText.SAVE_AND_SUBMIT}}
                  </button>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </form>
  </div>
</section>