<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="this.temp_guid ? pageTitleEdit : pageTitleNew" [items]="breadcrumsMiddleList"
        [active_item]="this.temp_guid ? langText.EDIT : langText.NEW"></app-breadcrumb>
    </div>
    <form class="ms-0" [formGroup]="tempForm!" (ngSubmit)="onTempFormSubmit()" #formDirective="ngForm">
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="header">
              <h2>
                {{translatedLangText.ESTIMATE_DETAILS}}
              </h2>
            </div>
            <div class="body">
              @if (soDS.loadingSubject | async) {
              <div class="tbl-spinner">
                <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                </mat-progress-spinner>
              </div>
              }
              @if (!(soDS.loadingSubject | async)) {
              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.TEMPLATE}}</mat-label>
                    <input matInput formControlName="template_name" required>
                    <!-- @if (tempForm?.get('template_name')?.hasError('required')) {
                      <mat-error>
                        {{this.translatedLangText.TEMPLATE}} {{this.translatedLangText.SO_REQUIRED}}
                      </mat-error>
                      } -->
                    @if (tempForm?.get('template_name')?.hasError('existed')) {
                        <mat-error>
                          {{this.translatedLangText.TEMPLATE}} {{this.translatedLangText.EXISTED}}
                        </mat-error>
                        }
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm3 mb-1">
                  <mat-form-field class="example-full-width">
                      <mat-label>{{translatedLangText.CUSTOMER_CODE }}</mat-label>


                      <mat-select  formControlName="customer_code" multiple>
                          <mat-option *ngFor="let cc of this.customer_companyList" [value]="cc">

                            <ng-container *ngIf="cc !== null">
                              {{ ccDS.displayName(cc) }}
                            </ng-container>

                          </mat-option>
                        </mat-select>

                  </mat-form-field>

                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-1">
                  @if (soDS.canAdd(storingOrderItem)) {
                  <button mat-flat-button color="accent" type="button" [ngClass]="'m-r-10'"
                    (click)="addEstDetails($event)">
                    <mat-icon class="col-white">add</mat-icon>{{translatedLangText.ESTIMATE_DETAILS}}
                  </button>
                  }
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                  <div class="responsive_table">
                    <table mat-table [dataSource]="repList.data" matSort
                      class="mat-cell advance-table hover-highlight dark-header" multiTemplateDataRows>
                      <ng-container matColumnDef="group_name_cv">
                        <mat-header-cell *matHeaderCellDef
                          [ngClass]="'tbl-col-width-per-12-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          {{translatedLangText.GROUP}}
                        </mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length"
                          [ngClass]="'tbl-col-width-per-12-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          {{getGroupNameDescription(row.tariff_repair?.group_name_cv)}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="seq">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>No.</mat-header-cell>
                        <mat-cell *matCellDef="let row;">{{row.index+1}}</mat-cell>
                      </ng-container>
                      <!-- ID Column -->
                      <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.guid}}</mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="subgroup_name_cv">
                        <mat-header-cell *matHeaderCellDef
                          [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                          mat-sort-header>
                          {{translatedLangText.SUBGROUP}}
                        </mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let row"
                          [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          <span class="mobile-label">{{translatedLangText.SUBGROUP}}:</span>
                          {{getSubGroupNameDescription(row.tariff_repair?.subgroup_name_cv)}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="damage">
                        <mat-header-cell *matHeaderCellDef
                          [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                          mat-sort-header>
                          {{translatedLangText.DAMAGE}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"
                          [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          <span class="truncate-text">
                            <span class="mobile-label">{{translatedLangText.DAMAGE}}:</span>
                            <!-- <span  matTooltip="A very long long line:&#13;
                            1. First Point.&#13;
                            2. Second Point.&#13;
                            Final line very long very long very long very long very long very long."
                                    matTooltipClass="custom-tooltip">
                              {{displayDamageRepairCode(row.tep_damage_repair, 0)}}
                            </span> -->
                            <span [matTooltip]="displayDamageRepairCodeDescription(row.tep_damage_repair, 0)" matTooltipClass="custom-tooltip">
                              {{displayDamageRepairCode(row.tep_damage_repair, 0)}}
                            </span>
                          </span>
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="repair">
                        <mat-header-cell *matHeaderCellDef
                          [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                          mat-sort-header>
                          {{translatedLangText.REPAIR}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"
                          [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          <span class="mobile-label">{{translatedLangText.REPAIR}}:</span>
                          <!-- <span  matTooltip="A very long long line:&#13;
                          1. First Point.&#13;
                          2. Second Point.&#13;
                          Final line very long very long very long very long very long very long."
                                  matTooltipClass="custom-tooltip">
                            {{displayDamageRepairCode(row.tep_damage_repair, 1)}}
                          </span> -->
                          <span [matTooltip]="displayDamageRepairCodeDescription(row.tep_damage_repair, 1)" matTooltipClass="custom-tooltip">
                            {{displayDamageRepairCode(row.tep_damage_repair, 1)}}
                          </span>
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="description">
                        <mat-header-cell *matHeaderCellDef
                          [ngClass]="'tbl-col-width-per-3-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                          mat-sort-header>
                          {{translatedLangText.DESCRIPTION}}
                        </mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let row"
                          [ngClass]="'tbl-col-width-per-3-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          <span class="mobile-label">{{translatedLangText.DESCRIPTION}}:</span>
                          {{getDescription(row)}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="quantity">
                        <mat-header-cell *matHeaderCellDef
                          [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                          mat-sort-header>
                          {{translatedLangText.QTY}}
                        </mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let row"
                          [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          <span class="mobile-label">{{translatedLangText.QTY}}:</span>
                          {{row.quantity}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="hour">
                        <mat-header-cell *matHeaderCellDef
                          [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                          mat-sort-header>
                          {{translatedLangText.HOUR}}
                        </mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let row"
                          [ngClass]="'tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          <span class="mobile-label">{{translatedLangText.HOUR}}:</span>
                          {{row.hour}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="price">
                        <mat-header-cell *matHeaderCellDef
                          [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                          mat-sort-header>
                          {{translatedLangText.PRICE}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"
                          [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          <span class="mobile-label">{{translatedLangText.PRICE}}:</span>
                          <div class="cost-label">
                            <span>$</span><span>{{parse2Decimal(row.tariff_repair.material_cost)}}</span>
                          </div>
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="material">
                        <mat-header-cell *matHeaderCellDef
                          [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                          mat-sort-header>
                          {{translatedLangText.MATERIAL}} $
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"
                          [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          <span class="mobile-label">{{translatedLangText.MATERIAL}} $:</span>
                          <div class="cost-label">
                            <span>$</span><span>{{parse2Decimal(row.quantity * row.tariff_repair.material_cost)}}</span>
                          </div>
                        </mat-cell>
                      </ng-container>
                      <!-- <ng-container matColumnDef="isOwner">
                        <mat-header-cell *matHeaderCellDef [ngClass]="''" mat-sort-header>
                          @if (isOwner) {
                          {{translatedLangText.OWNER}}
                          }
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" [ngClass]="''">
                          @if (isOwner) {
                          <span class="mobile-label">{{translatedLangText.OWNER}}:</span>
                          <mat-checkbox (click)="selectOwner($event, row)" [checked]="row.owner"
                            [ngClass]="'tbl-checkbox'">
                          </mat-checkbox>
                          }
                        </mat-cell>
                      </ng-container> -->
                      <!-- actions -->
                      <ng-container matColumnDef="actions">
                        <mat-header-cell class="pr-0" [ngClass]="''" *matHeaderCellDef>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row;" class="justify-content-end">
                          <button mat-icon-button [matMenuTriggerFor]="menu" (click)="stopEventTrigger($event)">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            @if (sotDS.canAddRemove(row)) {
                            <button mat-menu-item (click)="handleDelete($event, row, row.index)">
                              <mat-icon>delete_forever</mat-icon>
                              <span>{{translatedLangText.DELETE}}</span>
                            </button>
                            }
                          </mat-menu>
                        </mat-cell>
                      </ng-container>
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: ['group_name_cv'];"
                        [hidden]="!row.isGroupHeader" [ngClass]="{'bg-lightest-blue font-bold': true}"
                        [style.cursor]="'pointer'" matRipple>
                      </mat-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;"
                        [ngClass]="{'deleted-row': row.action === 'cancel', 'edited-row': row.guid && !row.delete_dt && row.edited}"
                        (click)="editEstDetails($event, row, row.index)" [style.cursor]="'pointer'" matRipple>
                      </mat-row>
                    </table>
                  </div>
                  @if (!repList.data.length) {
                  <mat-divider></mat-divider>
                  <div class="no-results m-l-20 pt-3" [style.display]="repList.data.length === 0 ? '' : 'none'">
                    <h5 class="m-b-15">{{translatedLangText.NO_RESULT}}</h5>
                  </div>
                  }
                  @if (sotDS.loading$ | async) {
                  <div class="tbl-spinner">
                    <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                    </mat-progress-spinner>
                  </div>
                  }
                </div>
              </div>



              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">


                  @if (!repList.data.length) {
                  <mat-divider></mat-divider>
                  <div class="no-results m-l-20 pt-3" [style.display]="repList.data.length === 0 ? '' : 'none'">
                    <h5 class="m-b-15">{{translatedLangText.NO_PARTS}}</h5>
                  </div>
                  }
                  @if (sotDS.loading$ | async) {
                  <div class="tbl-spinner">
                    <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                    </mat-progress-spinner>
                  </div>
                  }
                </div>
              </div>
              }
              <mat-divider></mat-divider>

              <mat-error *ngIf="tempForm?.get('repList')?.hasError('required')">
                {{ translatedLangText.ADD_ATLEAST_ONE }}
              </mat-error>
            </div>
          </div>
        </div>
      </div>

      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="header">
              <h2>
                {{translatedLangText.ESTIMATE_SUMMARY}}
              </h2>
            </div>
            <div class="body">
              @if (soDS.loadingSubject | async) {
              <div class="tbl-spinner">
                <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                </mat-progress-spinner>
              </div>
              }
              @if (!(soDS.loadingSubject | async)) {
              <div class="row">
                <div class="col-xl-5-5 col-lg-5-5 col-md-12 col-sm-12 m-b-0">
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                      <mat-form-field class="example-full-width full-height">
                        <mat-label>{{translatedLangText.REMARKS}}</mat-label>
                        <textarea matInput formControlName="remarks"  style="height:220px ;"></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6-5 col-lg-6-5 col-md-12 col-sm-12 m-b-0">
                  <div class="row">
                    <div class="col-xl-2-5 col-lg-2-5 col-md-2-5 col-sm-2-5 m-b-0">
                      <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 ps-4 border">
                          <span class="font-bold">{{translatedLangText.DESCRIPTION}}</span>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 ps-4 border">
                          {{translatedLangText.LABOUR}}
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 ps-4 border">
                          {{translatedLangText.MATERIAL_COST}}
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 ps-4 border">
                          {{translatedLangText.TOTAL_COST}}
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 ps-4 border">
                          {{translatedLangText.LABOUR_DISCOUNT}}
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 ps-4 border">
                          {{translatedLangText.MATERIAL_DISCOUNT}}
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 ps-4 border">
                          {{translatedLangText.NET_COST}}
                        </div>

                      </div>
                    </div>
                    <div class="col-xl-1-5 col-lg-1-5 col-md-1-5 col-sm-1-5 m-b-0">
                      <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 ps-4 border text-center">
                          <span class="font-bold">{{translatedLangText.RATE}}</span>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                          <div class="table-label cost-label">
                            <span>$</span><span>{{tempForm?.get("labour_rate")?.value | number: '1.2-2'}}</span>
                          </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                          <div class="table-label"></div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                          <div class="table-label"></div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-1 pb-2 border">
                          <tlx-form-field customClass="example-full-width">
                            <mat-form-field>
                              <input class="text-end" tlxFormInput matInput formControlName="labour_discount"
                                 [placeholder]="translatedLangText.LABOUR_DISCOUNT"
                                type="number" min="0" required>
                              <!-- @if (tempForm?.get('labour_discount')?.hasError('required')) {
                              <mat-error>
                                {{translatedLangText.LABOUR_DISCOUNT}} {{translatedLangText.SO_REQUIRED}}
                              </mat-error>
                              } -->
                            </mat-form-field>
                          </tlx-form-field>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-1 pb-2 border">
                          <tlx-form-field customClass="example-full-width">
                            <mat-form-field>
                              <input class="text-end" tlxFormInput matInput formControlName="material_discount"
                                [placeholder]="translatedLangText.MATERIAL_DISCOUNT"
                                type="number" min="0" required>
                              <!-- @if (tempForm?.get('material_discount')?.hasError('required')) {
                              <mat-error>
                                {{translatedLangText.MATERIAL_DISCOUNT}} {{translatedLangText.SO_REQUIRED}}
                              </mat-error>
                              } -->
                            </mat-form-field>
                          </tlx-form-field>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                          <div class="table-label"></div>
                        </div>

                      </div>
                    </div>
                    <div class="col-xl col-lg col-md col-sm m-b-0">
                      <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 ps-4 border text-center">
                          <span class="font-bold">{{translatedLangText.TOTAL}}</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                          <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 m-b-0">
                              <div class="row">
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label cost-label">
                                    <span></span><span>{{tempForm!.get('labour_hour')?.value | number: '1.2-2'}}</span>
                                  </div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label"></div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label"></div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 border">
                                  <div class="table-label"></div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 border">
                                  <div class="table-label"></div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label"></div>
                                </div>

                              </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 m-b-0">
                              <div class="row">
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label cost-label">
                                    <span>$</span><span>{{tempForm!.get('labour_total')?.value | number: '1.2-2'}}</span>
                                  </div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label cost-label">
                                    <span>$</span><span>{{tempForm!.get('total_material_cost')?.value | number: '1.2-2'}}</span>
                                  </div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label cost-label">
                                    <span>$</span><span>{{tempForm!.get('total_cost')?.value | number: '1.2-2'}}</span>
                                  </div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label cost-label">
                                    <span>$</span><span style="color: #af0404;">{{tempForm!.get('labour_discount_amount')?.value | number: '1.2-2'}}</span>
                                  </div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label cost-label">
                                    <span>$</span><span style="color:  #af0404;">{{tempForm!.get('material_discount_amount')?.value | number: '1.2-2'}}</span>
                                  </div>
                                </div>
                                <div
                                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                  <div class="table-label cost-label">
                                    <span>$</span><span>{{tempForm!.get('net_cost')?.value | number: '1.2-2'}}</span>
                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              }
              <div class="row m-t-5">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                  <button mat-flat-button type="button" aria-label="Back to previous page"  (click)="GoBackPrevious($event)">
                    <mat-icon>chevron_left</mat-icon>{{translatedLangText.BACK}}
                  </button>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 align-right">
                  @if (isAnyItemEdited()) {
                  <button mat-flat-button color="primary" [disabled]="(soDS.loading$ | async)">
                    <mat-icon>
                      @if (!(soDS.loading$ | async)) {
                      save
                      } @else if ((soDS.loading$ | async)) {
                      <mat-spinner color="primary" [diameter]="18"></mat-spinner>
                      }
                    </mat-icon>
                    {{translatedLangText.SAVE_AND_SUBMIT}}
                  </button>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
</section>