<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="pageTitle" [items]="breadcrumsMiddleList" [active_item]="pageTitle"></app-breadcrumb>
      </div>
     
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
        
            <mat-accordion>
              <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                  </mat-panel-title>
                  <mat-panel-description>
                    <div class="m-l-" [matTooltip]="translatedLangText.ADD">
                      <button mat-mini-fab color="primary" (click)="addCall($event)"  (click)="$event.stopPropagation()">
                        <mat-icon class="col-white">add</mat-icon>
                      </button>
                    </div>
                    <div class="m-l-10" [matTooltip]="translatedLangText.EDIT">
                      <button mat-mini-fab color="primary" (click)="adjustCost()"  (click)="$event.stopPropagation()">
                        <mat-icon class="col-white">edit</mat-icon>
                      </button>
                    </div>
                    <div class="export-button m-l-10" [matTooltip]="translatedLangText.EXPORT">
                      <img src="assets/images/icons/xlsx.png" alt="" (click)="exportExcel()"
                        (click)="$event.stopPropagation()" />
                    </div>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <form class="ms-0" [formGroup]="pcForm!"  #formDirective="ngForm">
                    <div class="row">
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm3 mb-1">
                        <mat-form-field class="example-full-width">
                            <mat-label>{{translatedLangText.CUSTOMER_CODE }}</mat-label>
                            <mat-select formControlName="customer_code" multiple>
                                <mat-option *ngFor="let cc of custCompDS.connect() | async" [value]="cc">
                                 
                                  <ng-container *ngIf="cc !== null">
                                    {{ custCompDS.displayName(cc) }}
                                  </ng-container>
                                 
                                </mat-option>
                              </mat-select>
                           
                        </mat-form-field>
                        
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm3 mb-1">
                        <mat-form-field class="example-full-width">
                            <mat-label>{{translatedLangText.ALIAS_NAME}}</mat-label>
                            <input matInput formControlName="alias_name" type="text">
                        </mat-form-field>
                        
                      </div>
                  
                    </div>
                    <div class="row">
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm3 mb-1">
                        <mat-form-field class="example-full-width">
                            <mat-label>{{translatedLangText.COUNTRY}}</mat-label>
                            <input matInput formControlName="country" type="text">
                        </mat-form-field>
                      </div>  
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm3 mb-1">
                        <mat-form-field class="example-full-width">
                            <mat-label>{{translatedLangText.CONTACT_PERSON }}</mat-label>
                            <input matInput formControlName="contact_person" type="text">
                        </mat-form-field>
                        
                      </div>
                      <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-0 d-flex align-items-center">
                      <button mat-mini-fab color="primary" (click)="search()" style="margin-top: 10px; margin-left:15px">
                        <mat-icon>search</mat-icon>
                      </button>
                      <button mat-flat-button class="m-l-10 bg-light-gold" (click)="resetDialog($event)">
                        {{translatedLangText.CLEAR_ALL}}
                      </button>
                      </div>
                    </div>
                 
                   </form> 
                </div>
              </mat-expansion-panel>
            </mat-accordion>
            <div class="body overflow-auto">
              <div class="responsive_table">
                <table mat-table [dataSource]="customer_companyList" matSort class="mat-cell advance-table">
            
                  
                  <ng-container matColumnDef="fName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'tbl-col-width-per-1'">{{this.translatedLangText.CUSTOMER_CODE }}</mat-header-cell>
                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)" [ngClass]="'tbl-col-width-per-1'">
                      <span class="mobile-label">{{this.translatedLangText.CUSTOMER_CODE }}:</span>{{row.code}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="lName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header >{{this.translatedLangText.CUSTOMER_COMPANY_NAME }}</mat-header-cell>
                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                      <span class="mobile-label">{{this.translatedLangText.CUSTOMER_COMPANY_NAME }}:</span>{{row.name}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="mobile">
                    <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'tbl-col-width-per-2'">{{this.translatedLangText.PHONE }}</mat-header-cell>
                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)" [ngClass]="'tbl-col-width-per-2'">
                      <span class="mobile-label">{{this.translatedLangText.PHONE }}:</span> {{row.phone}}</mat-cell>
                  </ng-container>
                  <!-- <ng-container matColumnDef="gender">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{this.translatedLangText.DID }}</mat-header-cell>
                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                      <span class="mobile-label">{{this.translatedLangText.DID}}:</span> {{row.did}}</mat-cell>
                  </ng-container> -->
                  <ng-container matColumnDef="bDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{this.translatedLangText.EMAIL }}</mat-header-cell>
                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                      <span class="mobile-label">{{this.translatedLangText.REMARKS}}:</span> {{row.email}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{this.translatedLangText.LAST_UPDATE }}</mat-header-cell>
                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                      <span class="mobile-label">{{this.translatedLangText.LAST_UPDATE}}:</span> {{this.displayLastUpdated(row)}}</mat-cell>
                  </ng-container>
                  <!-- actions -->
                  <ng-container matColumnDef="actions">
                    <mat-header-cell class="pr-0" *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                      <button mat-icon-button color="accent" (click)="$event.stopPropagation()" (click)="editCall(row)"
                        class="tbl-action-btn">
                        <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                      </button>
                      <button mat-icon-button color="accent" (click)="$event.stopPropagation()" (click)="deleteItem(row)"
                        class="tbl-action-btn">
                        <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                      </button>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editCall(row)"
                    [style.cursor]="'pointer'" matRipple>
                  </mat-row>
                </table>
              </div>
              <!-- Loading spinner -->
              @if (!(ccDS.loading$ | async) && !customer_companyList.length) {
                <mat-divider></mat-divider>
                <div class="no-results m-l-20 pt-3" [style.display]="customer_companyList.length === 0 ? '' : 'none'">
                  <h5 class="m-b-15">{{translatedLangText.NO_RESULT}}</h5>
                </div>
                }
                <!-- Loading spinner -->
                @if (ccDS.loading$ | async) {
                <div class="tbl-spinner">
                  <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                  </mat-progress-spinner>
                </div>
                }
            
              <!-- context menu start -->
              <div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
                [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
              </div>
              <mat-menu #contextMenu="matMenu">
                <ng-template matMenuContent let-item="item">
                  <button mat-menu-item (click)="addNew()">
                    <mat-icon>add_box</mat-icon>
                    <span>Add Record</span>
                  </button>
                  <button mat-menu-item (click)="editCall(item)">
                    <mat-icon>create</mat-icon>
                    <span>Edit Record</span>
                  </button>
                  <button mat-menu-item (click)="deleteItem(item)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete Record</span>
                  </button>
                  <button mat-menu-item (click)="refresh()">
                    <mat-icon>refresh</mat-icon>
                    <span>Refresh Record</span>
                  </button>
                  <button mat-menu-item disabled>
                    <mat-icon>no_encryption</mat-icon>
                    <span>Disable</span>
                  </button>
                  <button mat-menu-item [matMenuTriggerFor]="nestedmenu">
                    <mat-icon>list_alt</mat-icon>
                    <span> Nested Menu</span>
                  </button>
                </ng-template>
              </mat-menu>
              <mat-menu #nestedmenu="matMenu">
                <button mat-menu-item>
                  <mat-icon>mail_outline</mat-icon>
                  <span>Item 1</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>call</mat-icon>
                  <span>Item 2</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>chat</mat-icon>
                  <span>Item 3</span>
                </button>
              </mat-menu>
              <!-- context menu end -->
             
              <mat-paginator #paginator [length]="ccDS.totalCount" [pageIndex]="0" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageEvent($event)">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>