::ng-deep .mat-mdc-dialog-content {
  max-height: none;
}

.small-font-tbl table.advance-tab-table mat-header-cell,
table.advance-table mat-header-cell,
table.advance-table mat-cell {
  font-size: 0.8rem;
}

.card .body {
  padding-left: 2px;
  padding-right: 2px;
}

::ng-deep .mat-table {
  border-collapse: separate;
  border-spacing: 0 6px; // spacing between rows to reveal curves
}



::ng-deep .custom-body-row:last-of-type {
  border-radius: 0px 0px 12px 12px;
  overflow: hidden;
  //background-color: #fff;
  //box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

::ng-deep .custom-body-row:first-of-type {
  border-radius: 12px 12px 0 0;
}