<div mat-dialog-title class="ms-3 mt-3">
  <h4>{{translatedLangText.PREVIEW_PDF}} : {{this.GetReportTitle()}} </h4>
</div>
<div #pdfTable id="pdfTable" mat-dialog-content>
  

  <div id="pdf-form-body" class="pdf-container pdf-body">
    <!-- @for (bCust of report_customer_tank_activity; track bCust) { -->
  <div class="card">
     
      <div class="row pdf-body">
        <table  id="table_customer_info" class="table_customer_info">
          <tr>
            <td>  {{translatedLangText.INVENTORY_PERIOD}} :</td>
            <td> {{this.date}}</td>
            <td class="sp20">({{this.invType}})</td>
            <td class="sp"> {{translatedLangText.DATE}} :</td>
            <td>{{GeneratedDate()}}</td>
          </tr>
        </table>
      </div> 
      <table id="repair-part-table" class="repair-part-table">
        <tr class="group-header">
          <th>{{translatedLangText.NO}}</th>
          <th>{{translatedLangText.CODE}}</th>
          <th>{{translatedLangText.CUSTOMER}}</th>
          <th>{{translatedLangText.NO_OF_TANKS}}</th>
        </tr>
        @for (itm of report_customer_tank_activity; track itm;let index = $index) {
          <tr>
            <td>{{ index + 1 }}</td> <!-- Row number -->
            <td>{{ itm.code }}</td> 
            <td>{{ itm.customer }}</td> 
            <td>{{ itm.number_tank }}</td> 
            <!-- <td>{{ itm.last_cargo }}</td> 
            <td>{{ itm.in_date }}</td> 
            <td>{{ itm.out_date }}</td> 
            <td>{{ (itm.clean_cost==="0.00"?'':itm.clean_cost) }}</td> 
            <td>{{ (itm.repair_cost==="0.00"?'':itm.repair_cost) }}</td> 
            <td>{{ (itm.preins_cost==="0.00"?'':itm.preins_cost) }}</td> 
            <td>{{ (itm.lolo_cost==="0.00"?'':itm.lolo_cost) }}</td> 
            <td>{{ itm.days }}</td> 
            <td>{{ (itm.storage_cost==="0.00"?'':itm.storage_cost)}}</td> 
            <td>{{ (itm.steam_cost==="0.00"?'':itm.steam_cost)}}</td> 
            <td>{{ (itm.residue_cost==="0.00"?'':itm.residue_cost)}}</td> 
            <td>{{ (itm.gateio_cost==="0.00"?'':itm.gateio_cost)}}</td> 
            <td>{{ (itm.total==="0.00"?'':itm.total) }}</td>  -->
          </tr>
        }
      </table>
    
  </div>
  <!-- } -->
  </div>

 
</div>
<div mat-dialog-actions class="m-2 align-right">
  <button mat-flat-button color="accent" (click)="onDownloadClick()" tabindex="-1"
    [disabled]="(steamDS.actionLoading$| async) || (isFileActionLoading$| async) || (generatingPdfLoading$| async)">
    <mat-icon>
      @if (!(steamDS.actionLoading$ | async) && !(isFileActionLoading$| async) && !(generatingPdfLoading$| async)) {
        file_download
      } @else {
      <mat-spinner color="primary" [diameter]="18"></mat-spinner>
      }
    </mat-icon>
    {{translatedLangText.DOWNLOAD}}
  </button>
  @if ((generatingPdfLoading$| async)) {
  <mat-progress-bar mode="determinate" [value]="generatingPdfProgress"></mat-progress-bar>
  }
</div>