::ng-deep {
  .multiline-tooltip {
    white-space: pre-line;

    .mdc-tooltip__surface {
      max-width: unset;
    }
  }
}

table.curve-table {
  border-collapse: separate; /* Important for border-radius to work */
  border-spacing: 0;
  border-radius: 15px;
  overflow: hidden; /* Helps apply the radius to inner content */
}