// .mat-expansion-panel-header-title {
//     flex-grow: 0.4 !important;
// }

// .mat-expansion-panel-header {
//     padding-left: 3%;
// }

// .mat-mdc-card-content {
//     display: block;
//     padding: 0 10px;
// }

// .table-wrapper {
//     position: relative;
//     max-width: 100%;
//     overflow: hidden;
// }

// .pagination-indicator {
//     display: flex;
//     justify-content: center;
//     gap: 6px;
//     margin-top: 8px;

//     .dot-shape {
//         width: 8px;
//         height: 8px;
//         border-radius: 50%;
//         background-color: #ccc;
//         transition: background-color 0.3s ease, transform 0.3s ease;
//         cursor: pointer;
//         transform: scale(1);

//         &.active {
//             background-color: #3f51b5;
//         }
//     }
// }

// .table-wrapper {
//     width: 100%;
//     overflow: hidden;
//     position: relative;
// }

// .table-slide-track {
//     display: flex;
//     width: 300%;
//     /* 3 items */
//     transition: transform 0.3s ease-in-out;
// }

// .table-slide-item {
//     flex: 0 0 100%;
//     width: 100vw;
//     /* Critical: limits to viewport width */
//     box-sizing: border-box;
// }

.mat-expansion-panel-header-title {
    flex-grow: 0.4 !important;
}

.mat-expansion-panel-header{
    padding-left: 3%;
}

.mat-mdc-card-content{
    display: block;
    padding: 0 10px;
}