<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="pageTitle" [items]="breadcrumsMiddleList" [active_item]="pageTitle"></app-breadcrumb>
    </div>
    <div class="card">
      <div class="body">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card p-0">
              <form class="ms-0" [formGroup]="searchForm!" #formDirective="ngForm">
                <mat-accordion>
                  <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                      </mat-panel-title>
                      <mat-panel-description>
                        <div class="m-l-" [matTooltip]="translatedLangText.SEARCH">
                          <button mat-mini-fab color="primary" (click)="search()" (click)="$event.stopPropagation()">
                            <mat-icon>search</mat-icon>
                          </button>
                        </div>
                        <div class="m-l-10" [matTooltip]="translatedLangText.CLEAR_ALL">
                          <button mat-mini-fab color="accent" (click)="resetDialog($event)"
                            (click)="$event.stopPropagation()">
                            <mat-icon>clear_all</mat-icon>
                          </button>
                        </div>
                        <!-- <div class="export-button m-l-10" [matTooltip]="translatedLangText.EXPORT">
                            <img src="assets/images/icons/xlsx.png" alt="" (click)="exportExcel()"
                              (click)="$event.stopPropagation()" />
                          </div> -->
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row">
                      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>{{translatedLangText.TANK_NO}}</mat-label>
                          <input matInput formControlName="tank_no">
                        </mat-form-field>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>{{translatedLangText.CUSTOMER}}</mat-label>
                          <input matInput [formControl]="customerCodeControl" [matAutocomplete]="customerCode">
                          <mat-autocomplete #customerCode="matAutocomplete" [displayWith]="displayCustomerCompanyFn">
                            @for (cc of customer_companyList; track cc) {
                            <mat-option [value]="cc">
                              {{ccDS.displayCodeDashName(cc)}}
                            </mat-option>
                            }
                          </mat-autocomplete>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>{{translatedLangText.LAST_CARGO}}</mat-label>
                          <input matInput [formControl]="lastCargoControl" [matAutocomplete]="lastCargo">
                          <mat-autocomplete #lastCargo="matAutocomplete" [displayWith]="displayLastCargoFn">
                            @for (tc of last_cargoList; track tc) {
                            <mat-option [value]="tc">
                              {{tc.cargo}}
                            </mat-option>
                            }
                          </mat-autocomplete>
                          @if (lastCargoControl.hasError('invalidAutocompleteSelection')) {
                          <mat-error>
                            {{translatedLangText.INVALID_SELECTION}}
                          </mat-error>
                          }
                        </mat-form-field>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>{{translatedLangText.EIR_DATE}}</mat-label>
                          <mat-date-range-input [rangePicker]="eir_picker" [max]="getMaxDate()">
                            <input matStartDate placeholder="Start date" formControlName="eir_dt_start">
                            <input matEndDate placeholder="End date" formControlName="eir_dt_end">
                          </mat-date-range-input>
                          <mat-datepicker-toggle matSuffix [for]="eir_picker"></mat-datepicker-toggle>
                          <mat-date-range-picker #eir_picker></mat-date-range-picker>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>{{translatedLangText.ESTIMATE_DATE}}</mat-label>
                          <input matInput formControlName="est_dt" [matDatepicker]="est_dt_picker" [max]="getMaxDate()">
                          <mat-datepicker-toggle matSuffix [for]="est_dt_picker"></mat-datepicker-toggle>
                          <mat-datepicker #est_dt_picker></mat-datepicker>
                          <!-- <mat-label>{{translatedLangText.ESTIMATE_DATE}}</mat-label>
                            <mat-date-range-input [rangePicker]="est_picker">
                              <input matStartDate placeholder="Start date" formControlName="est_dt_start">
                              <input matEndDate placeholder="End date" formControlName="est_dt_end">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="est_picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #est_picker></mat-date-range-picker> -->
                        </mat-form-field>
                      </div>
                      <!-- <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-2">
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>{{translatedLangText.APPROVAL_DATE}}</mat-label>
                            <mat-date-range-input [rangePicker]="approval_picker">
                              <input matStartDate placeholder="Start date" formControlName="approval_dt_start">
                              <input matEndDate placeholder="End date" formControlName="approval_dt_end">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="approval_picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #approval_picker></mat-date-range-picker>
                          </mat-form-field>
                        </div> -->
                      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>{{translatedLangText.ESTIMATE_STATUS}}</mat-label>
                          <mat-select multiple formControlName="est_status_cv">
                            @for (codeValue of processStatusCvList; track codeValue) {
                            @if (availableProcessStatus.includes(codeValue.code_val ?? '')) {
                            <mat-option [value]="codeValue.code_val">
                              {{codeValue.description}}
                            </mat-option>
                            }
                            }
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <!-- <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-2">
                          <mat-form-field class="example-full-width">
                            <mat-label>{{translatedLangText.TANK_STATUS }}</mat-label>
                            <mat-select formControlName="tank_status" multiple>
                              @for (ts of tankStatusCvList; track ts) {
                              @if (availableTankStatus.includes(ts.code_val ?? '')) {
                              <mat-option [value]="ts.code_val">
                                {{ts.description}}
                              </mat-option>
                              }
                              }
                            </mat-select>
                          </mat-form-field>
                        </div> -->
                      <!-- <div
                          class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 mb-0 d-flex align-items-center ms-auto justify-content-end">
                          <button mat-mini-fab color="primary" (click)="search()" matTooltip={{translatedLangText.SEARCH}}>
                            <mat-icon>search</mat-icon>
                          </button>
                          <button mat-mini-fab class="m-l-5 bg-dark-gold" (click)="resetDialog($event)"
                            matTooltip={{translatedLangText.CLEAR_ALL}}>
                            <mat-icon>clear_all</mat-icon>
                          </button>
                        </div> -->
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </form>
              <div class="body overflow-auto">
                <!-- <div class="scroll-x-container"> -->
                @if (copiedSteamEst) {
                <mat-card [ngClass]="{'card-content p-0 m-b-10 card-copied': true}" matRipple>
                  <mat-card-content class="copied-content">
                    <div class="row">
                      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-auto m-b-0">
                        <strong>{{translatedLangText.ESTIMATE_NO}}</strong>: {{copiedSteamEst.estimate_no}}
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-5 col-sm-5 col-auto m-b-0">
                        <strong>{{translatedLangText.NO_OF_PARTS}}</strong>:
                        {{filterDeleted(copiedSteamEst.steaming_part)?.length}}
                      </div>
                      <div class="col m-b-0 d-flex justify-content-end">
                        <mat-icon (click)="clearCopiedRepairEst()"
                          [matTooltip]="translatedLangText.REMOVE_COPIED">close</mat-icon>
                      </div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions class="empty-card-actions">
                  </mat-card-actions>
                </mat-card>
                }
                <!-- @for(item of sotList; track item)
                {
                <mat-card [ngClass]="{'card-content p-0 m-b-10': true}" matRipple>
                  <mat-accordion>
                    <mat-expansion-panel [ngClass]="{}" class="alternate-panel" [expanded]="false">
                      <mat-expansion-panel-header class="tank-header">
                        <mat-panel-description>
                          <div class="w-xl-24 w-lg-50">
                            <span class="font-bold">{{item.tank_no}}</span>
                          </div>
                          <div class="w-xl-47 w-lg-50">
                            <span class="font-bold">{{translatedLangText.CUSTOMER}}:</span>
                            {{item.storing_order?.customer_company?.name}}
                          </div>
                          <div class="w-xl-15 w-lg-50">
                            <span class="font-bold">{{translatedLangText.EIR_DATE}}:</span>
                            {{displayDate(igDS.getInGateItem(item.in_gate)?.eir_dt)}}
                          </div>
                          <div class="m-l-">
                            @if (copiedSteamEst) {
                            <button mat-mini-fab color="accent" [matTooltip]="translatedLangText.SELECT_TANK"
                              (click)="pasteSteamEstimate($event, item, copiedSteamEst)">
                              <mat-icon class="col-white">content_paste</mat-icon>
                            </button>
                            }
                            @else {
                            <button mat-mini-fab class="primary-light" [matTooltip]="translatedLangText.NEW"
                              (click)="addSteamEstimate($event, item)">
                              <mat-icon class="col-white">add</mat-icon>
                            </button>
                            }
                          </div>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <mat-card-content [ngClass]="'p-0'">
                        @if ((filterDeleted(item.steaming || [])?.length ?? 0) > 0) {
                        <div class="responsive_table">
                          <table mat-table [dataSource]="filterDeleted(item.steaming || [])" matSort
                            class="mat-cell advance-table striped-rows hover-highlight dark-header curve-table">
                            <ng-container matColumnDef="id">
                              <mat-header-cell *matHeaderCellDef></mat-header-cell>
                              <mat-cell *matCellDef="let steamRow">{{steamRow.guid}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="estimate_no">
                              <mat-header-cell mat-header-cell *matHeaderCellDef [ngClass]="''">
                                {{translatedLangText.ESTIMATE_NO}}
                              </mat-header-cell>
                              <mat-cell mat-cell *matCellDef="let steamRow" class="">
                                <span
                                  class="mobile-label">{{translatedLangText.ESTIMATE_NO}}:</span>{{steamRow.estimate_no}}
                              </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="net_cost">
                              <mat-header-cell *matHeaderCellDef>
                                {{translatedLangText.COST}}
                              </mat-header-cell>
                              <mat-cell *matCellDef="let steamRow">
                                <span class="mobile-label">{{translatedLangText.COST}}:</span>
                                <span>{{steamRow.net_cost}}</span>
                              </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="status_cv">
                              <mat-header-cell mat-header-cell *matHeaderCellDef [ngClass]="''">
                                {{translatedLangText.STATUS}}
                              </mat-header-cell>
                              <mat-cell mat-cell *matCellDef="let steamRow" class="">
                                <span
                                  class="mobile-label">{{translatedLangText.STATUS}}:</span>{{getProcessStatusDescription(steamRow.status_cv)}}
                              </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="remarks">
                              <mat-header-cell mat-header-cell *matHeaderCellDef [ngClass]="''">
                                {{translatedLangText.REMARKS}}
                              </mat-header-cell>
                              <mat-cell mat-cell *matCellDef="let steamRow" class="">
                                <span class="mobile-label">{{translatedLangText.REMARKS}}:</span>{{steamRow.remarks}}
                              </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="actions">
                              <mat-header-cell
                                [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                                *matHeaderCellDef></mat-header-cell>
                              <mat-cell *matCellDef="let steamRow; let i=index;"
                                [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm justify-content-end'">
                                @if (isMobile) {
                                @if (steamDS.canCopy(steamRow)) {
                                <button mat-icon-button (click)="copySteamEst(steamRow)"
                                  (click)="stopEventTrigger($event)" matTooltip="{{translatedLangText.COPY}}">
                                  <mat-icon>content_copy</mat-icon>
                                </button>
                                }
                                @if (steamDS.canRollbackEstimate(steamRow)) {
                                <button mat-icon-button (click)="rollbackRow(steamRow)"
                                  (click)="stopEventTrigger($event)" matTooltip="{{translatedLangText.ROLLBACK}}">
                                  <mat-icon>undo</mat-icon>
                                </button>
                                }
                                @if (steamDS.canCancel(steamRow)) {
                                <button mat-icon-button (click)="cancelRow(steamRow)" (click)="stopEventTrigger($event)"
                                  matTooltip="{{translatedLangText.DELETE}}">
                                  <mat-icon>delete_forever</mat-icon>
                                </button>
                                }
                                } @else {
                                <button mat-icon-button [matMenuTriggerFor]="menu" (click)="stopEventTrigger($event)">
                                  <mat-icon>more_vert</mat-icon>
                                </button>
                                }

                                <mat-menu #menu="matMenu">
                                  @if (steamDS.canCopy(steamRow)) {
                                  <button mat-menu-item (click)="copySteamEst(steamRow)">
                                    <mat-icon>content_copy</mat-icon>
                                    <span>{{translatedLangText.COPY}}</span>
                                  </button>
                                  }
                                  @if (steamDS.canRollbackEstimate(steamRow)) {
                                  <button mat-menu-item (click)="rollbackRow(steamRow)">
                                    <mat-icon>undo</mat-icon>
                                    <span>{{translatedLangText.ROLLBACK}}</span>
                                  </button>
                                  }
                                  @if (steamDS.canCancel(steamRow)) {
                                  <button mat-menu-item (click)="cancelRow(steamRow)">
                                    <mat-icon>delete_forever</mat-icon>
                                    <span>{{translatedLangText.DELETE}}</span>
                                  </button>
                                  }
                                </mat-menu>
                              </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let residueRow; columns: displayedColumns;" [style.cursor]="'pointer'"
                              matRipple (click)="updateSteamEstimate($event, item, residueRow)">
                            </mat-row>
                          </table>
                        </div>
                        }
                      </mat-card-content>
                    </mat-expansion-panel>
                  </mat-accordion>
                </mat-card>
                } -->

                <tlx-card-list [items]="sotList">
                  <ng-template #cardTemplate let-item>
                    <div class="d-flex align-items-center ms-3">
                      <div class="flex-grow-1">
                        <div class="row align-items-center">
                          <div class="col-xl-1-5 col-lg-2 col-md-6 col-sm-6 col-xs-6 m-b-0">
                            <span class="header-label font-bold">{{ item.tank_no }}</span>
                          </div>
                          <div class="col-xl-4-5 col-lg-4-5 col-md-12 col-sm-12 m-b-0 d-none d-md-block">
                            <span class="header-label font-bold">{{ translatedLangText.CUSTOMER }}:</span>
                            <span class="value-label">{{ item.storing_order?.customer_company?.name }}</span>
                          </div>
                          <div class="col-xl-2-5 col-lg-3 col-md-12 col-sm-12 m-b-0 d-none d-md-block">
                            <span class="header-label font-bold">{{ translatedLangText.EIR_DATE }}:</span>
                            <span class="value-label">{{ displayDate(igDS.getInGateItem(item.in_gate)?.eir_dt) }}</span>
                          </div>
                          <div
                            class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-6 m-b-0 d-flex d-md-none justify-content-center">
                            <span class="header-label font-bold">{{ item.storing_order?.customer_company?.code }}</span>
                          </div>
                          <!-- <div class="m-l-">
                            @if (copiedSteamEst) {
                            <button mat-mini-fab color="accent" [matTooltip]="translatedLangText.SELECT_TANK"
                              (click)="pasteSteamEstimate($event, item, copiedSteamEst)">
                              <mat-icon class="col-white">content_paste</mat-icon>
                            </button>
                            }
                            @else {
                            <button mat-mini-fab class="primary-light" [matTooltip]="translatedLangText.NEW"
                              (click)="addSteamEstimate($event, item)">
                              <mat-icon class="col-white">add</mat-icon>
                            </button>
                            }
                          </div> -->
                        </div>
                      </div>

                      <div class="ms-2 flex-shrink-0">
                        <div class="d-flex justify-content-end">
                          @if (copiedSteamEst) {
                          <button mat-mini-fab color="accent" [matTooltip]="translatedLangText.SELECT_TANK"
                            (click)="pasteSteamEstimate($event, item, copiedSteamEst)">
                            <mat-icon class="col-white">content_paste</mat-icon>
                          </button>
                          }
                          @else {
                          <button mat-mini-fab class="primary-light" [matTooltip]="translatedLangText.NEW"
                            (click)="addSteamEstimate($event, item)">
                            <mat-icon class="col-white">add</mat-icon>
                          </button>
                          }
                        </div>
                      </div>
                    </div>
                  </ng-template>

                  <ng-template #expandedTemplate let-item>
                    <div class="responsive_table">
                      <div class="table-wrapper" (touchstart)="onTouchStart($event)"
                        (touchend)="onTouchEnd($event, item)">
                        <table mat-table [dataSource]="isMobile ? pagedSteamData[item.guid] : item.steaming || []"
                          matSort class="mat-cell advance-table striped-rows hover-highlight dark-header curve-table">
                          <ng-container matColumnDef="id">
                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                            <mat-cell *matCellDef="let steamRow">{{steamRow.guid}}</mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="estimate_no">
                            <mat-header-cell mat-header-cell *matHeaderCellDef [ngClass]="''">
                              {{translatedLangText.ESTIMATE_NO}}
                            </mat-header-cell>
                            <mat-cell mat-cell *matCellDef="let steamRow" class="">
                              <span
                                class="mobile-label">{{translatedLangText.ESTIMATE_NO}}:</span>{{steamRow.estimate_no}}
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="net_cost">
                            <mat-header-cell *matHeaderCellDef>
                              {{translatedLangText.COST}}
                            </mat-header-cell>
                            <mat-cell *matCellDef="let steamRow">
                              <span class="mobile-label">{{translatedLangText.COST}}:</span>
                              <span>{{steamRow.net_cost}}</span>
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="status_cv">
                            <mat-header-cell mat-header-cell *matHeaderCellDef [ngClass]="''">
                              {{translatedLangText.STATUS}}
                            </mat-header-cell>
                            <mat-cell mat-cell *matCellDef="let steamRow" class="">
                              <span
                                class="mobile-label">{{translatedLangText.STATUS}}:</span>{{getProcessStatusDescription(steamRow.status_cv)}}
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="remarks">
                            <mat-header-cell mat-header-cell *matHeaderCellDef [ngClass]="''">
                              {{translatedLangText.REMARKS}}
                            </mat-header-cell>
                            <mat-cell mat-cell *matCellDef="let steamRow" class="">
                              <span class="mobile-label">{{translatedLangText.REMARKS}}:</span>{{steamRow.remarks}}
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="actions">
                            <mat-header-cell
                              [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                              *matHeaderCellDef></mat-header-cell>
                            <mat-cell *matCellDef="let steamRow; let i=index;"
                              [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm justify-content-end'">
                              @if (isMobile) {
                              @if (steamDS.canCopy(steamRow)) {
                              <button mat-icon-button (click)="copySteamEst(steamRow)"
                                (click)="stopEventTrigger($event)" matTooltip="{{translatedLangText.COPY}}">
                                <mat-icon>content_copy</mat-icon>
                              </button>
                              }
                              @if (steamDS.canRollbackEstimate(steamRow)) {
                              <button mat-icon-button (click)="rollbackRow(steamRow)" (click)="stopEventTrigger($event)"
                                matTooltip="{{translatedLangText.ROLLBACK}}">
                                <mat-icon>undo</mat-icon>
                              </button>
                              }
                              @if (steamDS.canCancel(steamRow)) {
                              <button mat-icon-button (click)="cancelRow(steamRow)" (click)="stopEventTrigger($event)"
                                matTooltip="{{translatedLangText.DELETE}}">
                                <mat-icon>delete_forever</mat-icon>
                              </button>
                              }
                              } @else if(IsEnable3Dots(steamRow)) {

                              <button mat-icon-button [matMenuTriggerFor]="menu" (click)="stopEventTrigger($event)">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              }

                              <mat-menu #menu="matMenu">
                                @if (steamDS.canCopy(steamRow)) {
                                <button mat-menu-item (click)="copySteamEst(steamRow)">
                                  <mat-icon>content_copy</mat-icon>
                                  <span>{{translatedLangText.COPY}}</span>
                                </button>
                                }
                                @if (steamDS.canRollbackEstimate(steamRow)) {
                                <button mat-menu-item (click)="rollbackRow(steamRow)">
                                  <mat-icon>undo</mat-icon>
                                  <span>{{translatedLangText.ROLLBACK}}</span>
                                </button>
                                }
                                @if (steamDS.canCancel(steamRow)) {
                                <button mat-menu-item (click)="cancelRow(steamRow)">
                                  <mat-icon>delete_forever</mat-icon>
                                  <span>{{translatedLangText.DELETE}}</span>
                                </button>
                                }
                              </mat-menu>
                            </mat-cell>
                          </ng-container>
                          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                          <mat-row *matRowDef="let residueRow; columns: displayedColumns;" [style.cursor]="'pointer'"
                            matRipple (click)="updateSteamEstimate($event, item, residueRow)">
                          </mat-row>
                        </table>

                        @if (isMobile && pagedSteamDataFull[item.guid].length > 1) {
                        <div class="pagination-indicator text-center">
                          @for (page of pagedSteamDataFull[item.guid]; track page; let i = $index) {
                          <span class="dot-shape" [class.active]="i === currentSteamIndex[item.guid]"
                            (click)="goToPage(item, i)">
                          </span>
                          }
                        </div>
                        }
                      </div>
                    </div>
                  </ng-template>
                </tlx-card-list>

                <!-- @for(row of sotList; track row){
                  <mat-card [ngClass]="{'card-content p-0 m-b-10': true}" matRipple>
                    <mat-accordion>
                      <mat-expansion-panel [ngClass]="{}" class="alternate-panel" [expanded]="false">
                        <mat-expansion-panel-header class="tank-header">
                          <mat-panel-description>
                            <div class="w-xl-23 w-lg-51">
                              <span class="font-bold">{{row.tank_no}}</span>
                            </div>
                            <div class="w-xl-47 w-lg-50 m-l-5">
                              <span class="font-bold">{{translatedLangText.CUSTOMER}}:</span>
                              {{row.storing_order?.customer_company?.name}}
                            </div>
                            <div class="w-xl-20 w-lg-50 m-l-5">
                              <span class="font-bold">{{translatedLangText.EIR_DATE}}:</span>
                              {{displayDate(igDS.getInGateItem(row.in_gate)?.eir_dt)}}
                            </div>
                            <div class="m-l-">
                              @if (copiedSteamEst) {
                              <button mat-mini-fab color="accent" [matTooltip]="translatedLangText.SELECT_TANK"
                                (click)="pasteSteamEstimate($event,row,copiedSteamEst)">
                                <mat-icon class="col-white">content_paste</mat-icon>
                              </button>
                              }
                              @else {
                              <button mat-mini-fab class="primary-light" [matTooltip]="translatedLangText.NEW"
                                (click)="addSteamEstimate($event,row)">
                                <mat-icon class="col-white">add</mat-icon>
                              </button>
                              }
                            </div>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-card-content [ngClass]="'p-0'">
                          @if ((filterDeleted(row.steaming || [])?.length ?? 0) > 0) {
                          <div class="responsive_table">
                            <table mat-table [dataSource]="filterDeleted(row.steaming || [])" matSort
                              class="mat-cell advance-table striped-rows hover-highlight dark-header curve-table">
                              <ng-container matColumnDef="id">
                                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                <mat-cell *matCellDef="let steamRow">{{steamRow.guid}}</mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="estimate_no">
                                <mat-header-cell mat-header-cell *matHeaderCellDef [ngClass]="''">
                                  {{translatedLangText.ESTIMATE_NO}}
                                </mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let steamRow" class="">
                                  <span
                                    class="mobile-label">{{translatedLangText.ESTIMATE_NO}}:</span>{{steamRow.estimate_no}}
                                </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="net_cost">
                                <mat-header-cell *matHeaderCellDef>
                                  {{translatedLangText.COST}}
                                </mat-header-cell>
                                <mat-cell *matCellDef="let steamRow">
                                  <span class="mobile-label">{{translatedLangText.COST}}:</span>
                                  <span>{{steamRow.net_cost}}</span>
                                </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="status_cv">
                                <mat-header-cell mat-header-cell *matHeaderCellDef [ngClass]="''">
                                  {{translatedLangText.STATUS}}
                                </mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let steamRow" class="">
                                  <span
                                    class="mobile-label">{{translatedLangText.STATUS}}:</span>{{getProcessStatusDescription(steamRow.status_cv)}}
                                </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="remarks">
                                <mat-header-cell mat-header-cell *matHeaderCellDef [ngClass]="''">
                                  {{translatedLangText.REMARKS}}
                                </mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let steamRow" class="">
                                  <span class="mobile-label">{{translatedLangText.REMARKS}}:</span>{{steamRow.remarks}}
                                </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="actions">
                                <mat-header-cell
                                  [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                                  *matHeaderCellDef></mat-header-cell>
                                <mat-cell *matCellDef="let steamRow; let i=index;"
                                  [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm justify-content-end'">
                                  <button mat-icon-button [matMenuTriggerFor]="menu" (click)="stopEventTrigger($event)">
                                    <mat-icon>more_vert</mat-icon>
                                  </button>
                                  <mat-menu #menu="matMenu">
                                    @if (steamDS.canCopy(steamRow)) {
                                    <button mat-menu-item (click)="copySteamEst(steamRow)">
                                      <mat-icon>content_copy</mat-icon>
                                      <span>{{translatedLangText.COPY}}</span>
                                    </button>
                                    }
                                    @if (steamDS.canRollbackEstimate(steamRow)) {
                                    <button mat-menu-item (click)="rollbackRow(steamRow)">
                                      <mat-icon>undo</mat-icon>
                                      <span>{{translatedLangText.ROLLBACK}}</span>
                                    </button>
                                    }
                                    @if (steamDS.canCancel(steamRow)) {
                                    <button mat-menu-item (click)="cancelRow(steamRow)">
                                      <mat-icon>delete_forever</mat-icon>
                                      <span>{{translatedLangText.DELETE}}</span>
                                    </button>
                                    }
                                  </mat-menu>
                                </mat-cell>
                              </ng-container>
                              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                              <mat-row *matRowDef="let residueRow; columns: displayedColumns;"
                                [style.cursor]="'pointer'" matRipple
                                (click)="updateSteamEstimate($event,row,residueRow)">
                              </mat-row>
                            </table>
                          </div>
                          }
                        </mat-card-content>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </mat-card>
                  } -->
                <!-- </div> -->

                <!-- testing group header -->
                <!-- <tlx-table-card [items]="repairData" [columns]="columns" [footers]="footers" [groups]="groupedRepairs"
                  [enablePagination]="true" [pageSize]="5" [enableSwipe]="true" rowLabel="Repair"
                  (rowClick)="onRepairClick($event)" (groupToggle)="onGroupToggle($event)"
                  (pageChange)="onPageChange($event)">

                  <ng-template #rowTemplate let-repair let-i="index" let-group="group">
                    <div class="row-cell" [style.width]="'5%'">{{ i + 1 }}</div>
                    <div class="row-cell" [style.width]="'12%'">{{ group?.groupLabel }}</div>
                    <div class="row-cell" [style.width]="'8%'">{{ repair.damage_code }}</div>
                    <div class="row-cell" [style.width]="'8%'">{{ repair.repair_code }}</div>
                    <div class="row-cell" [style.width]="'37%'">{{ repair.description }}</div>
                    <div class="row-cell" [style.width]="'6%'">{{ repair.quantity }}</div>
                    <div class="row-cell" [style.width]="'8%'">{{ repair.hour }}</div>
                    <div class="row-cell" [style.width]="'8%'">\${{ repair.material_cost }}</div>
                    <div class="row-cell" [style.width]="'8%'">\${{ repair.price }}</div>
                  </ng-template>

                  <ng-template #mobileRowTemplate let-repair let-i="index" let-group="group">
                    <div class="mobile-field">
                      <span class="field-label">Group:</span>
                      <span class="field-value">{{ group?.groupLabel }}</span>
                    </div>
                    <div class="mobile-field">
                      <span class="field-label">Damage:</span>
                      <span class="field-value">{{ repair.damage_code }}</span>
                    </div>
                    <div class="mobile-field">
                      <span class="field-label">Repair:</span>
                      <span class="field-value">{{ repair.repair_code }}</span>
                    </div>
                    <div class="mobile-field">
                      <span class="field-label">Description:</span>
                      <span class="field-value">{{ repair.description }}</span>
                    </div>
                    <div class="mobile-field">
                      <span class="field-label">Qty:</span>
                      <span class="field-value">{{ repair.quantity }}</span>
                    </div>
                    <div class="mobile-field">
                      <span class="field-label">Hour:</span>
                      <span class="field-value">{{ repair.hour }}</span>
                    </div>
                    <div class="mobile-field">
                      <span class="field-label">Material Cost:</span>
                      <span class="field-value">\${{ repair.material_cost }}</span>
                    </div>
                    <div class="mobile-field">
                      <span class="field-label">Price:</span>
                      <span class="field-value">\${{ repair.price }}</span>
                    </div>
                  </ng-template>

                  <ng-template #footerTemplate let-footer let-i="index">
                    <div class="footer-content" [style.flex]="footer.colspan">
                      <strong>{{ footer.content }}</strong>
                    </div>
                  </ng-template>
                </tlx-table-card> -->

                <!-- testing normal table -->
                <!-- <tlx-table-card [items]="repairData" [columns]="columns" [footers]="footers" [groups]="groupedRepairs"
                  [enablePagination]="true" [pageSize]="5" [enableSwipe]="true" rowLabel="Repair"
                  (rowClick)="onRepairClick($event)" (groupToggle)="onGroupToggle($event)"
                  (pageChange)="onPageChange($event)">

                  <ng-template #rowTemplate let-repair let-i="index" let-group="group">
                    <div class="row-cell" [style.width]="'5%'">{{ i + 1 }}</div>
                    <div class="row-cell" [style.width]="'12%'">{{ group?.groupLabel }}</div>
                    <div class="row-cell" [style.width]="'8%'">{{ repair.damage_code }}</div>
                    <div class="row-cell" [style.width]="'8%'">{{ repair.repair_code }}</div>
                    <div class="row-cell" [style.width]="'37%'">{{ repair.description }}</div>
                    <div class="row-cell" [style.width]="'6%'">{{ repair.quantity }}</div>
                    <div class="row-cell" [style.width]="'8%'">{{ repair.hour }}</div>
                    <div class="row-cell" [style.width]="'8%'">\${{ repair.material_cost }}</div>
                    <div class="row-cell" [style.width]="'8%'">\${{ repair.price }}</div>
                  </ng-template>

                  <ng-template #mobileRowTemplate let-repair let-i="index" let-group="group">
                    <div class="mobile-field">
                      <span class="field-label">Group:</span>
                      <span class="field-value">{{ group?.groupLabel }}</span>
                    </div>
                    <div class="mobile-field">
                      <span class="field-label">Damage:</span>
                      <span class="field-value">{{ repair.damage_code }}</span>
                    </div>
                    <div class="mobile-field">
                      <span class="field-label">Repair:</span>
                      <span class="field-value">{{ repair.repair_code }}</span>
                    </div>
                    <div class="mobile-field">
                      <span class="field-label">Description:</span>
                      <span class="field-value">{{ repair.description }}</span>
                    </div>
                    <div class="mobile-field">
                      <span class="field-label">Qty:</span>
                      <span class="field-value">{{ repair.quantity }}</span>
                    </div>
                    <div class="mobile-field">
                      <span class="field-label">Hour:</span>
                      <span class="field-value">{{ repair.hour }}</span>
                    </div>
                    <div class="mobile-field">
                      <span class="field-label">Material Cost:</span>
                      <span class="field-value">\${{ repair.material_cost }}</span>
                    </div>
                    <div class="mobile-field">
                      <span class="field-label">Price:</span>
                      <span class="field-value">\${{ repair.price }}</span>
                    </div>
                  </ng-template>

                  <ng-template #footerTemplate let-footer let-i="index">
                    <div class="footer-content" [style.flex]="footer.colspan">
                      <strong>{{ footer.content }}</strong>
                    </div>
                  </ng-template>
                </tlx-table-card> -->

                <!-- No result -->
                @if (!(sotDS.loading$ | async) && !sotList.length) {
                <div class="no-results m-l-20 pt-3" [style.display]="sotList.length === 0 ? '' : 'none'">
                  <h5 class="m-b-15">{{translatedLangText.NO_RESULT}}</h5>
                </div>
                }
                <!-- Loading spinner -->
                @if (sotDS.loading$ | async) {
                <div class="tbl-spinner">
                  <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                  </mat-progress-spinner>
                </div>
                }
                <mat-paginator #paginator [length]="sotDS.totalCount" [pageIndex]="pageIndex" [pageSize]="pageSize"
                  [pageSizeOptions]="[25, 50, 75, 100]" (page)="onPageEvent($event)">
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>