<form class="register-form" [formGroup]="pcForm" #formDirective="ngForm">
<div class="container mt-3 mb-2">
  <h4 mat-dialog-title>{{confirmStatement}}</h4>
  <mat-card [ngClass]="{'card-content p-0 m-b-10': true, 'bg-light-grey': false}" matRipple>
    <mat-card-content>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <h5>{{data.langText.TANK_NO}}: {{sotItem.tank_no}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
          <mat-form-field class="example-full-width">
            <mat-label>{{data.langText.REMARKS}}</mat-label>
            <textarea matInput formControlName="remarks"></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions [ngClass]="'empty-card-actions'">
    </mat-card-actions>
  </mat-card>
  <div mat-dialog-actions class="mb-3 align-right">
      <button mat-flat-button color="warn" [mat-dialog-close]="1" (click)="confirmDelete()">
          {{data.langText.CONFIRM}}
      </button>
      <button mat-flat-button (click)="onNoClick()" tabindex="-1">
          {{data.langText.CLOSE}}
      </button>
  </div>
</div>
</form>