.card_min_width {
  min-width: 520px;
}

.pointer {
  cursor: pointer;
}

.card.info-card.pointer {
  height: 110px;
  /* adjust as needed */
  // overflow: hidden; /* hides overflow if child content is too tall */
}