.dashboard-logo {
    height: calc(100vh - 120px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-content {

    // width: 90vw;
    img {
        max-width: 600px;
    }
}

.dashboard-content-info {
    min-height: calc(100vh - 120px);
}