.custom-select {
    width: 300px; /* Adjust the width as needed */
  }
  
  ::ng-deep .cdk-overlay-pane .mat-select-panel {
    max-height: 200px; /* Adjust the height as needed */
  }
  mat-form-field {
    width:100%;
    margin-top: 3px;
    margin-left: 10px ;
    
  }


  .auto-height {
    height: auto;
    max-height: none; /* Ensures there's no max-height limiting the container */
    overflow: auto;   /* Ensures scrollbars appear if content exceeds container size */
  }

  .left-padding-cell {
  padding-left: 5%; /* or margin-left: 16px; depending on your layout needs */
}



::ng-deep .truncate-one-line {
   display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

::ng-deep .truncate-three-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// ::ng-deep mat-option .mat-option-text {
//   display: flex;
//   align-items: center;
// }

// ::ng-deep .mat-option-text .truncate-one-line {
//   flex: 1 1 auto;
// }
