<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card p-0">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
            </mat-panel-title>
            <mat-panel-description>
              <div class="m-l-" [matTooltip]="translatedLangText.SEARCH">
                <button mat-mini-fab color="primary" (click)="search()" (click)="$event.stopPropagation()">
                  <mat-icon>search</mat-icon>
                </button>
              </div>
              <div class="m-l-10" [matTooltip]="translatedLangText.CLEAR_ALL">
                <button mat-mini-fab color="accent" (click)="resetDialog($event)" (click)="$event.stopPropagation()">
                  <mat-icon>clear_all</mat-icon>
                </button>
              </div>
              <div class="m-l-10" [matTooltip]="translatedLangText.NEW">
                <button mat-mini-fab class="primary-light" (click)="addCall($event)" (click)="$event.stopPropagation()">
                  <mat-icon class="col-white">add</mat-icon>
                </button>
              </div>
              @if (modulePackageService.isGrowthPackage() || modulePackageService.isCustomizedPackage()) {
              <!-- <div class="export-button m-l-10" [matTooltip]="translatedLangText.EXPORT"
                matTooltip={{translatedLangText.EXPORT}}>
                <img src="assets/images/icons/xlsx.png" alt="" (click)="exportExcel()"
                  (click)="$event.stopPropagation()" />
              </div> -->
              }
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-0">
            <form class="ms-0" [formGroup]="pcForm!" #formDirective="ngForm">
              <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>{{translatedLangText.CUSTOMER}}</mat-label>
                    <input matInput formControlName="customer_code" [formControl]="customerCodeControl"
                      [matAutocomplete]="customerCode">
                    <mat-autocomplete #customerCode="matAutocomplete" [displayWith]="displayCustomerCompanyFn">
                      @for (cc of customer_companyFilterList; track cc) {
                      <mat-option [value]="cc">
                        {{ccDS.displayCodeDashName(cc)}}
                      </mat-option>
                      }
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.COUNTRY }}</mat-label>
                    <mat-select formControlName="country">
                      <!-- <mat-option [value]="">{{'--Select--'}}</mat-option> -->
                      @for (country of countryCodes; track country) {
                      <mat-option [value]="country.country">{{country.country}}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>
                <!--TODO-->
                <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.DEFAULT_PROFILE}}</mat-label>
                    <mat-select formControlName="default_profile">
                      @for (option of unit_typeList; track option) {
                      <mat-option [value]="option">{{option.unit_type}}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>
                <!-- <div
                  class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 mb-0 d-flex align-items-center ms-auto justify-content-end pe-4">
                  <button mat-mini-fab color="primary" (click)="search()" matTooltip={{translatedLangText.SEARCH}}>
                    <mat-icon>search</mat-icon>
                  </button>
                  <button mat-mini-fab class="m-l-5 bg-dark-gold" (click)="resetDialog($event)"
                    matTooltip={{translatedLangText.CLEAR_ALL}}>
                    <mat-icon>clear_all</mat-icon>
                  </button>
                </div> -->
              </div>
            </form>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="body overflow-auto">
        <div class="responsive_table">
          <table mat-table [dataSource]="customer_companyResultList" matSort
            class="mat-cell advance-table striped-rows hover-highlight dark-header curve-table">
            <ng-container matColumnDef="customer_code">
              <mat-header-cell *matHeaderCellDef
                [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-12-lg justify-content-center'">{{this.translatedLangText.CUSTOMER_CODE}}</mat-header-cell>
              <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-12-lg justify-content-center'">
                <span class="mobile-label">{{this.translatedLangText.CODE
                  }}:</span>{{row.customer_company?.code}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="customer_name">
              <mat-header-cell [ngClass]="''" *matHeaderCellDef>{{this.translatedLangText.CUSTOMER_COMPANY_NAME
                }}</mat-header-cell>
              <mat-cell [ngClass]="''" *matCellDef="let row">
                <span class="mobile-label">{{this.translatedLangText.CUSTOMER_COMPANY_NAME
                  }}:</span>{{row.customer_company?.name}}</mat-cell>
            </ng-container>
            <!-- <ng-container matColumnDef="mobile">
              <mat-header-cell *matHeaderCellDef 
                [ngClass]="'tbl-col-width-per-1_5-xl'">{{this.translatedLangText.CONTACT_NO}}</mat-header-cell>
              <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"
                [ngClass]="'tbl-col-width-per-1_5-xl'">
                <span class="mobile-label">{{this.translatedLangText.CONTACT_NO }}:</span> {{row.phone}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="email">
              <mat-header-cell [ngClass]="''" *matHeaderCellDef
                >{{this.translatedLangText.EMAIL }}</mat-header-cell>
              <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                <span class="mobile-label">{{this.translatedLangText.REMARKS}}:</span> {{row.email}}</mat-cell>
            </ng-container> -->
            <ng-container matColumnDef="last_update_dt">
              <mat-header-cell [ngClass]="'tbl-col-width-per-2-xl justify-content-center'"
                *matHeaderCellDef>{{this.translatedLangText.LAST_UPDATE
                }}</mat-header-cell>
              <mat-cell [ngClass]="'tbl-col-width-per-2-xl justify-content-center'" *matCellDef="let row">
                <span class="mobile-label">{{this.translatedLangText.LAST_UPDATE}}:</span>
                {{this.displayLastUpdated(row.customer_company)}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="category">
              <mat-header-cell [ngClass]="'tbl-col-width-per-3-xl justify-content-center'"
                *matHeaderCellDef>{{this.translatedLangText.DEFAULT_PROFILE
                }}</mat-header-cell>
              <mat-cell [ngClass]="'tbl-col-width-per-3-xl justify-content-center'" *matCellDef="let row">
                <span class="mobile-label">{{this.translatedLangText.DEFAULT_PROFILE}}:</span>
                {{row.customer_company?.tank?.unit_type}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
              <mat-header-cell
                [ngClass]="'pr-0 tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let row; let i=index;"
                [ngClass]="'pr-0 justify-content-end tbl-col-width-per-0_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                @if (isShowDeleteIcon(row)) {
                <button mat-icon-button (click)="$event.stopPropagation()" (click)="cancelItem(row.customer_company)"
                  [matTooltip]="translatedLangText.DELETE" class="tbl-action-btn text-custom-danger">
                  <mat-icon>delete_forever</mat-icon>
                </button>
                }
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editCall(row.customer_company)"
              [style.cursor]="'pointer'" matRipple>
            </mat-row>
          </table>
        </div>
        <!-- Loading spinner -->
        @if (!(ccDS.loading$ | async) && !customer_companyResultList.length) {
        <mat-divider></mat-divider>
        <div class="no-results m-l-20 pt-3" [style.display]="customer_companyResultList.length === 0 ? '' : 'none'">
          <h5 class="m-b-15">{{translatedLangText.NO_RESULT}}</h5>
        </div>
        }
        <!-- Loading spinner -->
        @if (ccDS.loading$ | async) {
        <div class="tbl-spinner">
          <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
          </mat-progress-spinner>
        </div>
        }
        <mat-paginator #paginator [length]="ccDS.totalCount" [pageIndex]="pageIndex" [pageSize]="pageSize"
          [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageEvent($event)">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>