<div class="addContainer">
  <div class="modalHeader_left_align">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <h4 mat-dialog-title>{{dialogTitle}}</h4>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form" [formGroup]="overwriteForm" #formDirective="ngForm">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
          <mat-form-field class="example-full-width">
            <mat-label>{{data.translatedLangText.LAST_CARGO}}</mat-label>
            <input matInput [formControl]="lastCargoControl" [matAutocomplete]="lastCargo" formControlName="last_cargo"
              required>
            <mat-autocomplete #lastCargo="matAutocomplete" [displayWith]="displayLastCargoFn">
              @for (tc of last_cargoList; track tc) {
              <mat-option [value]="tc">
                {{tc.cargo}}
              </mat-option>
              }
            </mat-autocomplete>
            <!-- @if (lastCargoControl.get('last_cargo')?.hasError('required')) {
            <mat-error>
              {{data.translatedLangText.LAST_CARGO}} {{data.translatedLangText.SO_REQUIRED}}
            </mat-error>
            } -->
            @if (lastCargoControl.hasError('invalidAutocompleteSelection')) {
            <mat-error>
              {{data.translatedLangText.INVALID_SELECTION}}
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-0">
          <mat-form-field class="example-full-width">
            <mat-label>{{data.translatedLangText.REMARKS}}</mat-label>
            <textarea matInput formControlName="last_cargo_remarks" required></textarea>
          </mat-form-field>
        </div>
      </div>
      <div mat-dialog-actions class="mb-1 align-right">
        @if (canEdit()) {
        <button mat-flat-button color="primary" (click)="submit()">
          <mat-icon>
            save
          </mat-icon>
          {{data.translatedLangText.UPDATE}}</button>
        }
        <button mat-flat-button (click)="onNoClick()" tabindex="-1">{{data.translatedLangText.CANCEL}}</button>
      </div>
    </form>
  </div>
</div>