<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <h4>{{this.translatedLangText.PAGE_TITLE}} - {{this.getAction()}} </h4>
      </div>
    </div>
    <!-- <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button> -->
  </div>

  <div mat-dialog-content>
    <form class="register-form" [formGroup]="pcForm" #formDirective="ngForm">
      <div class="row justify-content-center">
        <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 mb-1">

          <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="header">
                  <h2>
                    {{translatedLangText.BAY_ALLOCATION}}
                  </h2>
                </div>
                <div class="body">
                  <div class="team-container">
                    <div class="team-buttons">

                      @for (team of teamList; track team) {

                      <button mat-button (click)="toggleTeam(team)" [ngClass]="{'selected': team.isSelected}"
                        [disabled]="team.isOccupied" class="team-button">
                        <!-- Team description at the top-left -->
                        <span class="team-description">
                          @if(team.isOccupied)
                          {
                          {{team.tank_no}}
                          }
                          @else{
                          {{team.description}}
                          }


                        </span>


                      </button>

                      }
                    </div>
                  </div>
                  <div class="spacer"></div>
                  <div mat-dialog-actions class="align-right m-r-55">
                    @if(canRollBack())
                    {

                    <button mat-flat-button color="accent" (click)="onRollback($event)" class="m-r-5">
                      <mat-icon>undo</mat-icon>
                      <span>{{translatedLangText.ROLLBACK}}</span>
                    </button>
                    }

                    @if(canAbort())
                    {

                    <button mat-flat-button color="warn" (click)="onAbort($event)"
                      class="m-r-5">{{translatedLangText.ABORT}}</button>
                    }

                    @if (canEdit() && !buttonViewOnly()) {
                    <button mat-flat-button color="primary" (click)="save()" [disabled]="!canSave()"
                      class="m-r-5">{{translatedLangText.SAVE_AND_SUBMIT}}
                      <mat-icon>
                        save
                      </mat-icon>
                    </button>
                    }

                    <button mat-flat-button (click)="onNoClick()" tabindex="-1" class="m-r-5">
                      @if(canEdit()){
                      {{translatedLangText.CANCEL}}
                      }
                      @if(!canEdit()){
                      {{translatedLangText.CLOSE}}
                      }

                    </button>
                  </div>
                </div>
                <!-- <div class="body">
                
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                      <mat-form-field class="example-full-width">
                        <mat-label>{{translatedLangText.TEAM}}</mat-label>
                        <mat-select formControlName="team_allocation" required>
                          @for (team of teamList; track team) {
                          <mat-option [value]="team">{{team.description}}</mat-option>
                          }
                        </mat-select>

                        @if (pcForm.get('team_allocation')?.hasError('required')) {
                          <mat-error>
                            {{translatedLangText.TEAM | translate}} {{data.langText.SO_REQUIRED | translate}}
                          </mat-error>
                          }
                      </mat-form-field>

                    </div>
                  </div>
                  <div mat-dialog-actions class="mb-1 align-right">
                    @if (canEdit()) {
                      <button mat-flat-button color="primary" (click)="save()">{{translatedLangText.SAVE_AND_SUBMIT}}</button>
                    }
                    <button mat-flat-button (click)="onNoClick()" tabindex="-1">
                      @if(canEdit()){
                      {{translatedLangText.CANCEL}}
                      }
                      @if(!canEdit()){
                        {{translatedLangText.CLOSE}}
                      }
                    </button>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
          @if (this.getBackgroundColorFromNature() && this.getNatureInGateAlert()) {
          <div class="card l-bg-{{this.getBackgroundColorFromNature()}} cargo-nature">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-0 d-flex align-items-center">
                <mat-icon>error</mat-icon>
                <mat-label>{{this.getNatureInGateAlert()}}</mat-label>
              </div>
            </div>
          </div>
          }
          <div class="card">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
                    <mat-form-field class="example-full-width">
                      <mat-label>{{translatedLangText.TANK_NO}}</mat-label>
                      <input matInput formControlName="tank_no" readonly="true">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
                    <mat-form-field class="example-full-width">
                      <mat-label>{{translatedLangText.CUSTOMER_CODE}}</mat-label>
                      <input matInput formControlName="customer" readonly="true">
                    </mat-form-field>
                  </div>

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-11 mb-1">
                    <mat-form-field class="example-full-width">
                      <mat-label>{{translatedLangText.EIR_NO}}</mat-label>
                      <input matInput formControlName="eir_no" readonly="true">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-11 mb-1">
                    <mat-form-field class="example-full-width">
                      <mat-label>{{translatedLangText.EIR_DATE}}</mat-label>

                      <input matInput formControlName="eir_dt" readonly="true">

                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-11 mb-1">
                    <mat-form-field class="example-full-width">
                      <mat-label>{{translatedLangText.QUOTATION_DATE }}</mat-label>
                      <input matInput formControlName="quotation_dt" type="text" readonly="true">

                    </mat-form-field>
                  </div>
                </div>
              </div>


            </div>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1">
                    <mat-form-field class="example-full-width">
                      <mat-label>{{translatedLangText.CARGO_NAME}}</mat-label>
                      <input matInput formControlName="cargo" readonly="true">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
                    <mat-form-field class="example-full-width">
                      <mat-label>{{translatedLangText.JOB_NO}}</mat-label>
                      <input matInput formControlName="job_no" readonly="true">

                    </mat-form-field>
                  </div>
                </div>
              </div>


            </div>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1" [hidden]="!this.ShowStatusView()">
                    <mat-form-field class="example-full-width">
                      <mat-label>{{translatedLangText.STATUS}}</mat-label>
                      <input matInput formControlName="status_cv" readonly>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1" [hidden]="!this.ShowApproveDtView()">
                    <mat-form-field class="example-full-width">
                      <mat-label>{{translatedLangText.APPROVED_DATE}}</mat-label>
                      <input matInput formControlName="approve_dt" readonly>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1" [hidden]="!this.ShowNoActionDtView()">
                    <mat-form-field class="example-full-width">
                      <mat-label>{{translatedLangText.NO_ACTION}}</mat-label>
                      <input matInput formControlName="na_dt" readonly>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-11 mb-1" [hidden]="!this.ShowRemarksView()">
                    <mat-form-field class="example-full-width">
                      <mat-label>{{translatedLangText.REMARKS}}</mat-label>
                      <input matInput formControlName="remarks" readonly>

                    </mat-form-field>
                  </div>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 text-center ">
                <mat-label style="display: flex; justify-content: left;">* {{translatedLangText.REMARKS}} -
                  {{this.getTariffCleaningRemarks()}}</mat-label>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 text-center ">
                <mat-label style="display: flex; justify-content: left;">&nbsp;</mat-label>
              </div>
            </div>

            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 m-b-0">
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 ps-4 border text-center bg-light-grey">
                        <span class="font-bold">{{translatedLangText.DESCRIPTION}}</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                        <div class="row">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                            <div class="row">
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                <div class="table-label cost-label">
                                  {{translatedLangText.APPROVAL}}
                                </div>
                              </div>
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                <div class="table-label cost-label">
                                  {{translatedLangText.JOB_ALLOCATION}}
                                </div>
                              </div>
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                <div class="table-label cost-label">
                                  {{translatedLangText.JOB_COMPLETION}}
                                </div>
                              </div>
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 border">
                                <div class="table-label cost-label">
                                  {{translatedLangText.BILLING_DETAILS}}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 m-b-0">
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 ps-4 border text-center bg-light-grey">
                        <span class="font-bold">{{translatedLangText.UPDATED_BY}}</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                        <div class="row">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                            <div class="row">
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                <div class="table-label cost-label">
                                  <span></span><span>{{this.pcForm.get('update_by')?.value?this.pcForm.get('update_by')?.value:'-'}}</span>
                                  <!-- <span></span><span>+</span> -->
                                </div>
                              </div>
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                <div class="table-label cost-label">
                                  <span></span><span>{{this.selectedItem?.job_order?.create_by?this.selectedItem?.job_order?.create_by:"-"}}</span>
                                </div>
                              </div>
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                <div class="table-label cost-label">
                                  <span></span><span>{{this.selectedItem?.job_order?.complete_dt?this.selectedItem?.job_order?.update_by:"-"}}</span>
                                </div>
                              </div>
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                <div class="table-label cost-label">
                                  <span></span><span>-</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                  </div>
                  <div class="col-xl col-lg col-md col-sm m-b-0">
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 ps-4 border text-center bg-light-grey">
                        <span class="font-bold">{{translatedLangText.UPDATED_ON}}</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                        <div class="row">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0">
                            <div class="row">
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                <div class="table-label cost-label">
                                  <span></span><span>{{this.pcForm.get('update_on')?.value!=='-'?this.displayDateFromEpoch(this.pcForm.get('update_on')?.value):'-'}}</span>
                                </div>
                              </div>
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                <div class="table-label cost-label">
                                  <span></span><span>{{this.selectedItem?.job_order?.create_dt?this.displayDateFromEpoch(this.selectedItem?.job_order?.create_dt):"-"}}</span>
                                </div>
                              </div>
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                <div class="table-label cost-label">
                                  <span></span><span>{{this.selectedItem?.job_order?.complete_dt?this.displayDateFromEpoch(this.selectedItem?.job_order?.complete_dt):"-"}}</span>
                                </div>
                              </div>
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-0 pt-2 pb-2 pe-4 text-end border">
                                <div class="table-label cost-label">
                                  <span></span><span>-</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>