<div mat-dialog-title class="ms-3 mt-3">
  <h4>{{translatedLangText.PREVIEW_PDF}} : {{this.GetReportTitle()}} </h4>
</div>
<div #pdfTable id="pdfTable" mat-dialog-content>
  
  <div class="clearfix">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="card">
        <div class="pdf-body">
          <table  id="table_customer_info" class="table_customer_info">
            <tr>
              <td class="sp60 text-right">{{translatedLangText.INVENTORY_DATE}} : {{date}}</td>
              <td class="sp20">&nbsp;</td>
              <td class="sp40 text-right"> {{translatedLangText.DATE}} :{{GeneratedDate()}}</td>
              
            </tr>
          </table>
        </div> 
        <table id="repair-part-table" class="repair-part-table">
          <tr class="group-header">
            <th class="th-w3">{{translatedLangText.NO}}</th>
            <th class="th-w15">{{translatedLangText.CUSTOMER_CODE}}</th>
            <th class="th-w30">{{translatedLangText.CUSTOMER_NAME}}</th>
            <th class="th-w8">{{translatedLangText.IN_GATE}}</th>
            <th class="th-w8">{{translatedLangText.OUT_GATE}}</th>
          </tr>
          @for (itm of report_inventory; track itm;let index = $index) {
          <tr class="fixed_height_40px">
            <td class="text-center">{{ index + 1 }}</td> <!-- Row number -->
            <td class="text-center">{{ itm.code }}</td>
            <td class="text-center">{{itm.name }}</td>
            <td class="text-center">{{displayInGate(itm)}}</td>
            <td class="text-center">{{displayOutGate(itm)}}</td>
          </tr>
          }
          <tr>
            <td class="text-right text-bold" colspan="3">{{translatedLangText.TOTAL}}</td>
            <td class="text-center">{{displayTotalInGate()}}</td>
            <td class="text-center">{{displayTotalOutGate()}}</td>
          </tr>
        </table>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <table class="repair-part-table">
          <tr class="group-header">
            <th class="th-w3">{{translatedLangText.NO}}</th>
            <th class="th-w30">{{translatedLangText.LOCATION}}</th>
            <th class="th-w8">{{translatedLangText.OPENING_BALANCE}}</th>
            <th class="th-w8">{{translatedLangText.IN_GATE}}</th>
            <th class="th-w8">{{translatedLangText.OUT_GATE}}</th>
            <th class="th-w8">{{translatedLangText.CLOSING_BALANCE}}</th>
          </tr>
          @if(report_inventory.length>0){
            @if(report_inventory[0].opening_balance){
              @for (itm of report_inventory[0].opening_balance; track itm;let index = $index) {
                <tr class="fixed_height_40px">
                  <td>{{ index + 1 }}</td> <!-- Row number -->
                  <td class="text-center">{{ itm.yard }}</td>
                  <td class="text-center">{{itm.open_balance }}</td>
                  <td class="text-center">{{itm.in_count}}</td>
                  <td class="text-center">{{itm.out_count}}</td>
                  <td class="text-center">{{displayClosingBalanceForYard(itm)}}</td>
                </tr>
                }
            }
          }
            <tr>
              <td class="text-right text-bold" colspan="2">{{translatedLangText.TOTAL}}</td>
              <td class="text-center">{{displayOpeningBalance()}}</td>
              <td class="text-center">{{displayTotalInGate()}}</td>
              <td class="text-center">{{displayTotalOutGate()}}</td>
              <td class="text-center">{{displayClosingBalance()}}</td>
            </tr>
        </table>
      </div>
    </div>
  </div>
</div>