<div mat-dialog-title class="ms-3 mt-3">
  <h4>{{translatedLangText.PREVIEW_PDF}} : {{this.GetReportTitle()}} </h4>
</div>
<div #pdfTable id="pdfTable" mat-dialog-content>
  
  <div class="row clearfix">
    
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
      <div class="card">
        <div class="header">
          <h2>{{this.translatedLangText.TANK_STATUS}}</h2>
        </div>
        <div class="card-body">
          <div style="height: 400px">
            <ngx-charts-bar-horizontal [scheme]="horizontalBarOptions.colorScheme!" [results]="horizontalBarOptions.single" [gradient]="horizontalBarOptions.gradient!"
              [xAxis]="horizontalBarOptions.showXAxis" [yAxis]="horizontalBarOptions.showYAxis" [legend]="horizontalBarOptions.showLegend!" [legendPosition]="horizontalBarOptions.legendPosition!"
              [showXAxisLabel]="horizontalBarOptions.showXAxisLabel!" [showYAxisLabel]="horizontalBarOptions.showYAxisLabel!" [xAxisLabel]="horizontalBarOptions.hbarxAxisLabel!"
              >
            </ngx-charts-bar-horizontal>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
      <div class="card">
        <table id="repair-part-table" class="repair-part-table">
          <tr class="group-header">
            <th class="th-w3">{{translatedLangText.NO}}</th>
            <th class="th-w8">{{translatedLangText.TANK_NO}}</th>
            <th class="th-w6">{{translatedLangText.IN_DATE}}</th>
            <th class="th-w8">{{translatedLangText.TAKE_IN_REFERENCE}}</th>
            <th class="th-w6">{{translatedLangText.CAPACITY}}</th>
            <th class="th-w8">{{translatedLangText.TARE_WEIGHT}}</th>
            <th class="th-w12">{{translatedLangText.LAST_CARGO}}</th>
            <th class="th-w7">{{translatedLangText.CLEAN_DATE}}</th>
          </tr>
          @for (itm of report_inventory; track itm;let index = $index) {
          <tr class="fixed_height_40px">
            <td>{{ index + 1 }}</td> <!-- Row number -->
            <td>{{ itm.code }}</td>
            <td>{{itm.customer }}</td>
            <td>{{itm.tank_no_in_gate}}</td>
            <td>{{itm.tank_no_out_gate}}</td>
            <td>{{itm.tank_no_in_yard}}</td>
            <td>{{itm.tank_no_pending}}</td>
            <td>{{itm.tank_no_ro}}</td>
          </tr>
          }
        </table>
  
      </div>
    </div>
  </div>
</div>