<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4204cec3-bffc-4396-afef-9f7d0dc20893/resourcegroups/tetralogix/providers/Microsoft.Web/sites/tlx-idms-gateway</ResourceId>
    <ResourceGroup>tetralogix</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tlx-idms-gateway.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>41c1f7cb-6b65-4e02-8e8e-1843167f5e2b</ProjectGuid>
    <PublishUrl>https://tlx-idms-gateway.scm.azurewebsites.net/</PublishUrl>
    <UserName>$tlx-idms-gateway</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>