<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="pageTitle" [items]="breadcrumsMiddleList" [active_item]="pageTitle"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <mat-accordion>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                </mat-panel-title>
                <mat-panel-description>
                  <div class="m-l-" [matTooltip]="translatedLangText.SEARCH">
                    <button mat-mini-fab color="primary" (click)="search()" (click)="$event.stopPropagation()">
                      <mat-icon>search</mat-icon>
                    </button>
                  </div>
                  @if (isAllowAdd()) {
                  <div class="m-l-10" [matTooltip]="translatedLangText.NEW">
                    <button mat-mini-fab (click)="addBookingDetails($event)"
                      (click)="$event.stopPropagation()" [disabled]="!sotSelection.hasValue()" [ngClass]="{ 'primary-light': sotSelection.hasValue() }">
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                  }
                  @if (isAllowAdd() || isAllowEdit()) {
                  <div class="m-l-10">
                    <mat-checkbox color="primary" class="card-checkbox ms-1" (change)="masterToggle()"
                      (click)="$event.stopPropagation()" [checked]="sotSelection.hasValue() && isAllSelected()"
                      [indeterminate]="sotSelection.hasValue() && !isAllSelected()" [disabled]="!sotList.length">
                      {{translatedLangText.SELECT_ALL}}
                    </mat-checkbox>
                  </div>
                  }
                  <div class="m-l-10" [matTooltip]="translatedLangText.CLEAR_ALL">
                    <button mat-mini-fab color="accent" (click)="resetDialog($event)"
                      (click)="$event.stopPropagation()">
                      <mat-icon>clear_all</mat-icon>
                    </button>
                  </div>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <form class="ms-0" [formGroup]="searchForm!" #formDirective="ngForm">
                <div class="row">
                  <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.TANK_NO}}</mat-label>
                      <input matInput formControlName="tank_no">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.CUSTOMER}}</mat-label>
                      <input matInput formControlName="customer_code" [formControl]="customerCodeControl"
                        [matAutocomplete]="customerCode">
                      <mat-autocomplete #customerCode="matAutocomplete" [displayWith]="displayCustomerCompanyFn">
                        @for (cc of customer_companyList; track cc) {
                        <mat-option [value]="cc">
                          {{ccDS.displayCodeDashName(cc)}}
                        </mat-option>
                        }
                      </mat-autocomplete>
                      @if (customerCodeControl.hasError('invalidAutocompleteSelection')) {
                      <mat-error>
                        {{translatedLangText.INVALID_SELECTION}}
                      </mat-error>
                      }
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.LAST_CARGO}}</mat-label>
                      <input matInput [formControl]="lastCargoControl" [matAutocomplete]="lastCargo"
                        formControlName="last_cargo">
                      <mat-autocomplete #lastCargo="matAutocomplete" [displayWith]="displayLastCargoFn">
                        @for (tc of last_cargoList; track tc) {
                        <mat-option [value]="tc">
                          {{tc.cargo}}
                        </mat-option>
                        }
                      </mat-autocomplete>
                      @if (lastCargoControl.hasError('invalidAutocompleteSelection')) {
                      <mat-error>
                        {{translatedLangText.INVALID_SELECTION}}
                      </mat-error>
                      }
                    </mat-form-field>
                  </div>
                  <!-- <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.CLEAN_DATE}}</mat-label>
                      <mat-date-range-input [rangePicker]="clean_dt_picker">
                        <input matStartDate placeholder="Start date" formControlName="clean_dt_start">
                        <input matEndDate placeholder="End date" formControlName="clean_dt_end">
                      </mat-date-range-input>
                      <mat-datepicker-toggle matSuffix [for]="clean_dt_picker"></mat-datepicker-toggle>
                      <mat-date-range-picker #clean_dt_picker></mat-date-range-picker>
                    </mat-form-field>
                  </div> -->
                  <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.EIR_DATE}}</mat-label>
                      <mat-date-range-input [rangePicker]="eir_picker" [max]="todayDt">
                        <input matStartDate placeholder="Start date" formControlName="eir_dt_start">
                        <input matEndDate placeholder="End date" formControlName="eir_dt_end">
                      </mat-date-range-input>
                      <mat-datepicker-toggle matSuffix [for]="eir_picker"></mat-datepicker-toggle>
                      <mat-date-range-picker #eir_picker></mat-date-range-picker>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.CAPACITY}}</mat-label>
                      <input matInput formControlName="capacity" type="number" min="0" (wheel)="preventDefault($event)">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.TARE_WEIGHT}}</mat-label>
                      <input matInput formControlName="tare_weight" type="number" min="0"
                        (wheel)="preventDefault($event)">
                    </mat-form-field>
                  </div>
                  <!-- <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.EIR_NO}}</mat-label>
                      <input matInput formControlName="eir_no">
                    </mat-form-field>
                  </div> -->
                  <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.BOOKING_TYPE}}</mat-label>
                      <mat-select formControlName="book_type_cv">
                        @for (codeValue of bookingTypeCvList; track codeValue) {
                        <mat-option [value]="codeValue.code_val">
                          {{codeValue.description}}
                        </mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.CURRENT_STATUS}}</mat-label>
                      <mat-select formControlName="tank_status_cv">
                        @for (codeValue of tankStatusCvList; track codeValue) {
                        @if (!codeValue.code_val || availableTankStatus.includes(codeValue.code_val)) {
                        <mat-option [value]="codeValue.code_val">
                          {{codeValue.description}}
                        </mat-option>
                        }
                        }
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>{{translatedLangText.YARD}}</mat-label>
                      <mat-select formControlName="yard_cv">
                        @for (codeValue of yardCvList; track codeValue) {
                        <mat-option [value]="codeValue.code_val">
                          {{codeValue.description}}
                        </mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <!-- <div
                    class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-0 d-flex align-items-center ms-auto justify-content-end">
                    <button mat-mini-fab class="" color="primary" (click)="search()"
                      [matTooltip]="translatedLangText.SEARCH">
                      <mat-icon>search</mat-icon>
                    </button>
                    <button mat-mini-fab color="primary" class="ms-1" (click)="addBookingDetails($event)"
                      [matTooltip]="translatedLangText.ADD_NEW_BOOKING" [disabled]="!sotSelection.hasValue()">
                      <mat-icon>add</mat-icon>
                    </button>
                    <mat-checkbox class="card-checkbox ms-1" (change)="masterToggle()"
                      [checked]="sotSelection.hasValue() && isAllSelected()"
                      [indeterminate]="sotSelection.hasValue() && !isAllSelected()" [disabled]="!sotList.length">
                      {{translatedLangText.SELECT_ALL}}
                    </mat-checkbox>
                    <button mat-mini-fab class="m-l-5 bg-dark-gold" (click)="resetDialog($event)"
                      matTooltip={{translatedLangText.CLEAR_ALL}}>
                      <mat-icon>clear_all</mat-icon>
                    </button>
                  </div> -->
                </div>
              </form>
            </mat-expansion-panel>
          </mat-accordion>
          <div class="body overflow-auto">
            @for(row of sotList; track row){
            <mat-card [ngClass]="{'booking-tbl card-content p-0 m-b-10 cursor-pointer': true}" matRipple>
              <mat-accordion>
                <mat-expansion-panel
                  [ngClass]="{'bg-light-green': checkMatch(filterDeleted(row.scheduling_sot || []), filterDeleted(row.booking || [])), 'bg-light-grey': checkDisable(row)}"
                  [expanded]="false">
                  <mat-expansion-panel-header>
                    <mat-panel-description>
                      @if (isAllowAdd() || isAllowEdit()) {
                      <mat-checkbox color="primary" (change)="$event ? toggleRow(row) : null" [checked]="sotSelection.isSelected(row)"
                        class="card-checkbox" (click)="$event.stopPropagation()" [disabled]="checkDisable(row)">
                      </mat-checkbox>
                      }
                      <div class="w-xl-16 w-lg-33">
                        <span class="font-bold">{{row.tank_no}}</span>
                        @if (checkBooking(filterDeleted(row.booking || []))){
                        <div [ngClass]="'badge badge-solid-green ms-1'"><span>
                            {{filterDeleted(row.booking || [])?.length}}</span></div>
                        }
                        @if (checkScheduling(filterDeleted(row.scheduling_sot || []))){
                        <div [ngClass]="'badge badge-solid-orange ms-1'">
                          {{filterDeleted(row.scheduling_sot || [])?.length}}</div>
                        }
                      </div>
                      <div class="w-xl-27 w-lg-33">
                        <span class="font-bold">{{translatedLangText.CUSTOMER}}:</span>
                        {{ccDS.displayCodeDashName(row.storing_order?.customer_company)}}
                      </div>
                      <div class="w-xl-17 w-lg-33">
                        <span class="font-bold">{{translatedLangText.EIR_NO}}:</span>
                        {{igDS.getInGateItem(row.in_gate)?.eir_no}}
                      </div>
                      <div class="w-xl-14 w-lg-33">
                        <span class="font-bold">{{translatedLangText.EIR_DATE}}:</span>
                        {{displayDate(igDS.getInGateItem(row.in_gate)?.eir_dt)}}
                      </div>
                      <div class="w-xl-15 w-lg-33">
                        <span class="font-bold">{{translatedLangText.STATUS}}:</span>
                        {{getTankStatusDescription(row.tank_status_cv)}}
                      </div>
                      <div class="">
                        <span class="font-bold">{{translatedLangText.YARD}}:</span>
                        {{getYardDescription(igDS.getInGateItem(row.in_gate)?.yard_cv)}}
                      </div>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  @if ((filterDeleted(row.booking || [])?.length ?? 0) > 0) {
                  <div class="responsive_table">
                    <table mat-table [dataSource]="filterDeleted(row.booking || [])" matSort
                      class="mat-cell advance-table striped-rows hover-highlight dark-header curve-table">
                      <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let bookingRow">{{row.guid}}</mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="booking_dt">
                        <mat-header-cell mat-header-cell *matHeaderCellDef
                          [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          {{translatedLangText.BOOKING_DATE}}
                        </mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let bookingRow"
                          [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          <span
                            class="mobile-label">{{translatedLangText.BOOKING_DATE}}:</span>{{displayDate(bookingRow.booking_dt)}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="book_type_cv">
                        <mat-header-cell mat-header-cell *matHeaderCellDef
                          [ngClass]="'tbl-col-width-per-2_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          {{translatedLangText.BOOKING_TYPE}}
                        </mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let bookingRow"
                          [ngClass]="'tbl-col-width-per-2_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          <span
                            class="mobile-label">{{translatedLangText.BOOKING_TYPE}}:</span>{{getBookTypeDescription(bookingRow?.book_type_cv)}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="reference">
                        <mat-header-cell *matHeaderCellDef>
                          {{translatedLangText.REFERENCE}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let bookingRow">
                          <span class="mobile-label">{{translatedLangText.REFERENCE}}:</span>{{bookingRow?.reference}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="surveyor">
                        <mat-header-cell mat-header-cell *matHeaderCellDef
                          [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          {{translatedLangText.SURVEYOR}}
                        </mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let bookingRow"
                          [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          <span
                            class="mobile-label">{{translatedLangText.SURVEYOR}}:</span>{{bookingRow?.test_class_cv}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="status_cv">
                        <mat-header-cell mat-header-cell *matHeaderCellDef
                          [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          {{translatedLangText.STATUS}}
                        </mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let bookingRow"
                          [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                          <span
                            class="mobile-label">{{translatedLangText.STATUS}}:</span>{{getBookingStatusDescription(bookingRow?.status_cv)}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef
                          [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm pr-0'"></mat-header-cell>
                        <mat-cell *matCellDef="let bookingRow; let i=index;"
                          [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm pr-0 justify-content-end'">
                          @if (isAllowDelete() && bookingDS.canCancel(bookingRow)) {
                          <button mat-icon-button color="warn" class="tbl-action-btn p-2"
                            (click)="cancelItem(row, bookingRow, $event)" [disabled]="checkDisable(row)">
                            <mat-icon>cancel</mat-icon>
                          </button>
                          }
                          @else {
                          <span class="me-3">NA</span>
                          }
                        </mat-cell>
                      </ng-container>
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let bookingRow; columns: displayedColumns;" [style.cursor]="'pointer'"
                        (click)="editBookingDetails(row, bookingRow, $event)" matRipple>
                      </mat-row>
                    </table>
                  </div>
                  }
                  @else {
                  {{translatedLangText.NO_RESULT}}
                  }
                </mat-expansion-panel>
              </mat-accordion>
              <!-- <mat-card-header class="pt-2 pe-2 pb-0" (click)="toggleRow(row)">
                <mat-card-title class="pt-1">
                  <mat-checkbox (change)="$event ? toggleRow(row) : null" [checked]="sotSelection.isSelected(row)"
                    class="card-checkbox" (click)="$event.stopPropagation()">
                  </mat-checkbox>
                  {{row.tank_no}}
                  @if (checkBooking(filterDeleted(row.booking || []))){
                  <div [ngClass]="'badge badge-solid-green ms-1'"><span>{{translatedLangText.BOOKED}}
                      {{filterDeleted(row.booking || [])?.length}}</span></div>
                  }
                  @if (checkScheduling(filterDeleted(row.scheduling_sot || []))){
                  <div [ngClass]="'badge badge-solid-orange ms-1'">{{translatedLangText.SCHEDULED}}
                    {{filterDeleted(row.scheduling_sot || [])?.length}}</div>
                  }
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="row" (click)="toggleRow(row)">
                  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-1">
                    <span class="font-bold">{{translatedLangText.CUSTOMER}}:</span> {{
                    ccDS.displayName(row.storing_order?.customer_company)}}
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-1">
                    <span class="font-bold">{{translatedLangText.EIR_NO}}:</span>
                    {{igDS.getInGateItem(row.in_gate)?.eir_no}}
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-1">
                    <span class="font-bold">{{translatedLangText.EIR_DATE}}:</span>
                    {{displayDate(igDS.getInGateItem(row.in_gate)?.eir_dt)}}
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-1">
                    <span class="font-bold">{{translatedLangText.STATUS}}:</span>
                    {{getTankStatusDescription(row.tank_status_cv)}}
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-1">
                    <span class="font-bold">{{translatedLangText.YARD}}:</span>
                    {{getYardDescription(igDS.getInGateItem(row.in_gate)?.yard_cv)}}
                  </div>
                </div>
                <mat-divider></mat-divider>
                @if ((filterDeleted(row.booking || [])?.length ?? 0) > 0) {
                <div class="responsive_table">
                  <table mat-table [dataSource]="filterDeleted(row.booking || [])" matSort
                    class="mat-cell advance-table striped-rows hover-highlight dark-header">
                    <ng-container matColumnDef="id">
                      <mat-header-cell *matHeaderCellDef ></mat-header-cell>
                      <mat-cell *matCellDef="let bookingRow">{{row.guid}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="booking_dt">
                      <mat-header-cell mat-header-cell *matHeaderCellDef
                        [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                        {{translatedLangText.BOOKING_DATE}}
                      </mat-header-cell>
                      <mat-cell mat-cell *matCellDef="let bookingRow"
                        [ngClass]="'tbl-col-width-per-1_5-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                        <span
                          class="mobile-label">{{translatedLangText.BOOKING_DATE}}:</span>{{displayDate(bookingRow.booking_dt)}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="book_type_cv">
                      <mat-header-cell mat-header-cell *matHeaderCellDef
                        [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                        {{translatedLangText.BOOKING_TYPE}}
                      </mat-header-cell>
                      <mat-cell mat-cell *matCellDef="let bookingRow"
                        [ngClass]="'tbl-col-width-per-2-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                        <span
                          class="mobile-label">{{translatedLangText.BOOKING_TYPE}}:</span>{{getBookTypeDescription(bookingRow?.book_type_cv)}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="reference">
                      <mat-header-cell *matHeaderCellDef >
                        {{translatedLangText.REFERENCE}}
                      </mat-header-cell>
                      <mat-cell *matCellDef="let bookingRow">
                        <span class="mobile-label">{{translatedLangText.REFERENCE}}:</span>{{bookingRow?.reference}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="surveyor">
                      <mat-header-cell mat-header-cell *matHeaderCellDef
                        [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                        {{translatedLangText.SURVEYOR}}
                      </mat-header-cell>
                      <mat-cell mat-cell *matCellDef="let bookingRow"
                        [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                        <span class="mobile-label">{{translatedLangText.SURVEYOR}}:</span>{{bookingRow?.test_class_cv}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="status_cv">
                      <mat-header-cell mat-header-cell *matHeaderCellDef
                        [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                        {{translatedLangText.STATUS}}
                      </mat-header-cell>
                      <mat-cell mat-cell *matCellDef="let bookingRow"
                        [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'">
                        <span
                          class="mobile-label">{{translatedLangText.STATUS}}:</span>{{getBookingStatusDescription(bookingRow?.status_cv)}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                      <mat-header-cell *matHeaderCellDef
                        [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm pr-0'"></mat-header-cell>
                      <mat-cell *matCellDef="let bookingRow; let i=index;"
                        [ngClass]="'tbl-col-width-per-1-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm pr-0 justify-content-end'">
                        @if (bookingDS.canCancel(bookingRow)) {
                        <button mat-icon-button color="warn" class="tbl-action-btn p-2"
                          (click)="cancelItem(row, bookingRow, $event)">
                          <mat-icon>cancel</mat-icon>
                        </button>
                        }
                        @else {
                        <span class="me-3">NA</span>
                        }
                      </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let bookingRow; columns: displayedColumns;" [style.cursor]="'pointer'"
                      (click)="editBookingDetails(row, bookingRow, $event)" matRipple>
                    </mat-row>
                  </table>
                </div>
                }
                @else {
                {{translatedLangText.NO_RESULT}}
                }
              </mat-card-content>
              <mat-card-actions [ngClass]="'empty-card-actions'">
              </mat-card-actions> -->
            </mat-card>
            }
            @if (!(sotDS.loading$ | async) && !sotList.length) {
            <mat-divider></mat-divider>
            <div class="no-results m-l-20 pt-3" [style.display]="sotList.length === 0 ? '' : 'none'">
              <h5 class="m-b-15">{{langText.NO_RESULT | translate}}</h5>
            </div>
            }
            @if (sotDS.loading$ | async) {
            <div class="tbl-spinner">
              <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
              </mat-progress-spinner>
            </div>
            }
            <mat-paginator #paginator [length]="sotDS.totalCount" [pageIndex]="pageIndex" [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageEvent($event)">
            </mat-paginator>
            <div class="legend-container d-flex flex-wrap align-items-center border p-3 rounded">
              <div class="legend-item d-flex align-items-center me-4 mb-0">
                <span class="badge badge-solid-green">{{translatedLangText.BOOKED}}</span>
              </div>
              <div class="legend-item d-flex align-items-center me-4 mb-0">
                <span class="badge badge-solid-orange ms-1">{{translatedLangText.SCHEDULED}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>