<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="pageTitle" [items]="breadcrumsMiddleList" [active_item]="pageTitle"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <mat-tab-group dynamicHeight [(selectedIndex)]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">
            <mat-tab>
              <ng-template mat-tab-label>
                <span [ngClass]="'m-r-10 d-flex align-items-center'">
                  {{ translatedLangText.IN_GATE }}
                </span>
              </ng-template>
              <app-in-gate></app-in-gate>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <span [ngClass]="'m-r-10 d-flex align-items-center'">
                  {{ translatedLangText.IN_GATE_SURVEY }}
                </span>
              </ng-template>
              <app-in-gate-survey></app-in-gate-survey>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</section>