<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
            </mat-panel-title>
            <mat-panel-description>
              <div class="m-l-" [matTooltip]="translatedLangText.EDIT">
                <button mat-mini-fab color="primary" (click)="adjustCost()" (click)="$event.stopPropagation()">
                  <mat-icon class="col-white">edit</mat-icon>
                </button>
              </div>
              <div class="export-button m-l-10" [matTooltip]="translatedLangText.EXPORT">
                <img src="assets/images/icons/xlsx.png" alt="" (click)="exportExcel()"
                  (click)="$event.stopPropagation()" />
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form class="ms-0" [formGroup]="pcForm!" #formDirective="ngForm">
              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>{{translatedLangText.CUSTOMER}}</mat-label>
                    <input matInput formControlName="customer_code" [matAutocomplete]="customerCode">
                    <mat-autocomplete #customerCode="matAutocomplete" [displayWith]="displayCustomerCompanyFn">
                      @for (cc of customer_companyList; track cc) {
                      <mat-option [value]="cc">
                        {{ccDS.displayName(cc)}}
                      </mat-option>
                      }
                    </mat-autocomplete>
                    @if (pcForm?.get('customer_code')?.hasError('required')) {
                    <mat-error>
                      {{translatedLangText.CUSTOMER_CODE }} {{translatedLangText.CARGO_REQUIRED }}
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.RESIDUE_TYPE}}</mat-label>
                    <input matInput formControlName="residue_disposal" type="text">
                  </mat-form-field>
                </div>
                <!--TODO-->
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 mb-1">
                  <mat-form-field class="example-full-width">
                    <mat-label>{{translatedLangText.CUSTOMER_COST }}</mat-label>
                    <input matInput formControlName="customer_cost" type="number">
                  </mat-form-field>
                </div>
                <div
                  class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 mb-0 d-flex align-items-center ms-auto justify-content-end pe-4">
                  <button mat-mini-fab color="primary" (click)="search()" matTooltip={{translatedLangText.SEARCH}}>
                    <mat-icon>search</mat-icon>
                  </button>
                  <button mat-mini-fab class="m-l-5 bg-dark-gold" (click)="resetDialog($event)" matTooltip={{translatedLangText.CLEAR_ALL}}>
                    <mat-icon>clear_all</mat-icon>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="body overflow-auto">
        <div class="responsive_table">
          <table mat-table [dataSource]="packResidueItems" matSort
            class="mat-cell advance-table striped-rows hover-highlight dark-header">
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-1 justify-content-start'">
                <mat-checkbox (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()" [ngClass]="'tbl-checkbox'">
                </mat-checkbox>
              </mat-header-cell>
              <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-1'">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)" [ngClass]="'tbl-checkbox'">
                </mat-checkbox>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="residue_type">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{this.translatedLangText.RESIDUE_TYPE
                }}</mat-header-cell>
              <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                <span class="mobile-label">{{this.translatedLangText.DESCRIPTION
                  }}:</span>{{row.tariff_residue.description}}</mat-cell>
            </ng-container>
            <!-- <ng-container matColumnDef="cutomer_code">
              <mat-header-cell *matHeaderCellDef
                [ngClass]="'tbl-col-width-per-1_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                mat-sort-header>{{this.translatedLangText.CUSTOMER_CODE
                }}</mat-header-cell>
              <mat-cell *matCellDef="let row"
                [ngClass]="'tbl-col-width-per-1_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                (contextmenu)="onContextMenu($event, row)">
                <span class="mobile-label">{{this.translatedLangText.CUSTOMER_CODE
                  }}:</span>{{row.customer_company.code}}</mat-cell>
            </ng-container> -->
            <ng-container matColumnDef="customer_name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{this.translatedLangText.CUSTOMER
                }}</mat-header-cell>
              <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                <span class="mobile-label">{{this.translatedLangText.CUSTOMER
                  }}:</span>{{ccDS.displayName(row.customer_company)}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="customer_cost">
              <mat-header-cell *matHeaderCellDef
                mat-sort-header>{{this.translatedLangText.CUSTOMER_COST
                }}</mat-header-cell>
              <mat-cell *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)">
                <span class="mobile-label">{{this.translatedLangText.CUSTOMER_COST}}:</span>
                {{row.cost.toFixed(2)}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="tariff_cost">
              <mat-header-cell *matHeaderCellDef
                mat-sort-header>{{this.translatedLangText.TARIFF_COST
                }} $</mat-header-cell>
              <mat-cell *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)">
                <span class="mobile-label">{{this.translatedLangText.TARIFF_COST}} $:</span>
                {{row.tariff_residue.cost.toFixed(2)}}</mat-cell>
            </ng-container>
            <!-- <ng-container matColumnDef="remarks">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{this.translatedLangText.REMARKS }}</mat-header-cell>
              <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                <span class="mobile-label">{{this.translatedLangText.REMARKS}}:</span> {{row.remarks}}</mat-cell>
            </ng-container> -->
            <ng-container matColumnDef="last_update_dt">
              <mat-header-cell *matHeaderCellDef
                [ngClass]="'tbl-col-width-per-1_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                mat-sort-header>{{this.translatedLangText.LAST_UPDATE
                }}</mat-header-cell>
              <mat-cell *matCellDef="let row"
                [ngClass]="'tbl-col-width-per-1_75-xl tbl-col-width-per-12-lg tbl-col-width-per-12-md tbl-col-width-per-12-sm'"
                (contextmenu)="onContextMenu($event, row)">
                <span class="mobile-label">{{this.translatedLangText.LAST_UPDATE}}:</span>
                {{this.displayLastUpdated(row)}}</mat-cell>
            </ng-container>
            <!-- actions -->
            <ng-container matColumnDef="actions">
              <mat-header-cell class="pr-0" *matHeaderCellDef>Actions</mat-header-cell>
              <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                <button mat-icon-button color="accent" (click)="$event.stopPropagation()" (click)="editCall(row)"
                  class="tbl-action-btn">
                  <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                </button>
                <button mat-icon-button color="accent" (click)="$event.stopPropagation()" (click)="deleteItem(row)"
                  class="tbl-action-btn">
                  <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                </button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editCall(row)" [style.cursor]="'pointer'"
              matRipple>
            </mat-row>
          </table>
        </div>
        <!-- Loading spinner -->
        @if (!(packResidueDS.loading$ | async) && !packResidueItems.length) {
        <mat-divider></mat-divider>
        <div class="no-results m-l-20 pt-3" [style.display]="packResidueItems.length === 0 ? '' : 'none'">
          <h5 class="m-b-15">{{translatedLangText.NO_RESULT}}</h5>
        </div>
        }
        <!-- Loading spinner -->
        @if (packResidueDS.loading$ | async) {
        <div class="tbl-spinner">
          <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
          </mat-progress-spinner>
        </div>
        }
        <mat-paginator #paginator [length]="packResidueDS.totalCount" [pageIndex]="0" [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageEvent($event)">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>