.mat-mdc-dialog-content.mdc-dialog__content {
    overflow-x: hidden;
}

@media (max-width: 575.98px) {
    .mat-mdc-dialog-content.mdc-dialog__content {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}